[2018-09-03 08:04] gabbe commented on #6750
Thank you for submitting this workaround, I also spent too much time getting this to work.
Even though it would be nice to be able to set option "compress" from Luci, I guess the real question is why the option "comp-lzo" is not passed to the openvpn-service.

[2018-09-03 08:47] yangbolu1991 opened #6941 "strangswan build issue"
Below patch introduced a build issue if enabled CONFIG_PACKAGE_strongswan.
2b3784cd strongswan: dont overwrite ipsec.conf and ipsec.user during upgrade

The ipsec.conf won't be found when installed it.
$(INSTALL_CONF) $(PKG_INSTALL_DIR)/etc/ipsec.conf $(1)/etc/

If CONFIG_PACKAGE_strongswan-mod-stroke was enabled together, the issue would gone.

Please help to fix. Thanks a lot.

[2018-09-03 09:35] andsontan opened #6943 "php intl modle compile error"
Please make sure that the issue subject starts with `<package-name>: `

This repo here is only for packages maintained in this repo.  For base packages residing in the same repo as the build system and maintained by core devs, please consider opening tickets there for more timely responses

 - OpenWrt base system: https://bugs.openwrt.org
 - Most LuCI packages: https://github.com/openwrt/luci/issu

[2018-09-03 12:55] dibdot commented on #6943
This release is several years old & unsupported. Please update to 17.01 or latest 18.06.

[2018-09-03 12:55] #6943 closed

[2018-09-03 13:54] dibdot commented on #6941
Which OpenWrt version, which package release? Also please always inform the maintainer if you raise a ticket (as mentioned in the ticket template): @stintel

[2018-09-03 15:59] wvdakker commented on #6863
@wjohnson-metroland

I did a new clean pull and menuconfig.
The default option I get CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_NEWER=y.

[2018-09-03 20:07] EricLuehrsen commented on #6925
OpenSSL is having fatal memory allocation errors at `/buffer.c: int BUF_MEM_grow(BUF_MEM *str, size_t len)`. I am unsure how to repeat your situation to capture it. Not much appears on the web. Generally however others have reported similar issues, but OpenSSL responses appear to be "unhelpful."

[2018-09-03 20:26] mhei commented on #6536
@nxhack: I'm not so familiar with icu. Could you please have a look into this issue? It seems that including ICU data into the library make this library useful. However, I could imagine that there are use-cases where people are shocked by the new size of around 30 MB the new package. So I think we should add an opt-in or opt-out for the data...

[2018-09-03 22:33] EricLuehrsen commented on #6925
OpenSSL is having fatal memory allocation errors at `/buffer.c: int BUF_MEM_grow(BUF_MEM *str, size_t len)`. I am unsure how to repeat your situation to capture it. Not much appears on the web. Generally however others have reported similar issues, but OpenSSL responses appear to be "unhelpful." Try using one entry for only Cloudflare or only Quad9 and see what happens. Maybe one of the certificat

[2018-09-03 23:53] nxhack commented on #6536
If you want to process i18n, it will inevitably increase in size. I agree to change icu package to choose options as you say.

[2018-09-04 00:28] wjohnson-metroland commented on #6863
Hi @wvdakker

This is strange because I also just did a default build and it's not checked. Perhaps this has something to do with the base system configuration when the Target Profile is set to my router type? These were my steps to replicate:

1. Vagrant build of Ubuntu 16.04 (VM from scratch)
2. installed all prerequisite tools (build-essential, git, etc)
3. Install as follows:

`git clone -b ch

[2018-09-04 04:59] wvdakker commented on #6863
@wjohnson-metroland

I followed your steps. Not for CC but for the latest stable OpenWrt 18.06.1.
The CONFIG_BUSYBOX_DEFAULT_FEATURE_FIND_NEWER is enabled.

I think the version you use (Chaos Chalmer) has a older Busybox configuration setting. Because CC is not maintained anymore the issue cannot be fixed.
Perhaps you switch to a newer OpenWrt version. The router you use is well supported. If it i

[2018-09-04 05:47] dibdot commented on #6863
CC is no longer supported - close this by now.

[2018-09-04 05:47] #6863 closed

[2018-09-04 07:51] nxhack commented on #6536
I tried ICU Data as a separate package. In order to reduce ICU Data, processing such as limiting to the required language is necessary. It can not correspond with general purpose package. So I also made the tools necessary for creating ICU Data in a separate package.

If this does not seem to be a problem, I will send a pull request.

https://github.com/nxhack/packages/commit/89c7e945db303ff2e4df8

[2018-09-04 13:01] mhei commented on #6536
@nxhack: Thanks a lot, this looks exactly as I had imagined. I'll give it a test run later this evening...

[2018-09-04 19:04] mhei commented on #6536
@nxhack: As promised, here are my test results:

1. I cherry-picked your commit in a test branch. I recommend also use leading tabs in the Package/icu-tools/install section - looks more consistent.
2. I only installed the icu library - without tools and without data package -> the problem reported above exists.
3. I additionally installed the data package -> the problem is gone.

So this works as

[2018-09-05 01:49] EricLuehrsen commented on #6787
That would not be much to add but not advised. Again Stubby is a reference example of GetDNS and experimental. It has no persistent cache, so resolving each full DNSSEC chain is a continuous burden. If down stream clients are DNSSEC aware or validating, then the load can balloon. If DNSSEC is desired, then consider alternate package `dnsmasq-full` with switch enabled, and use Stubby merely as TLS

[2018-09-05 03:41] nxhack commented on #6536
Modified. I think that it is clear than before.

https://github.com/nxhack/packages/commit/38c150dfa37fc52e4d2b4b897876907560f70f05

[2018-09-05 06:39] mhei commented on #6536
LGTM, thank you very much.

[2018-09-05 07:49] jonathanunderwood commented on #6787
I think with stubby doing dnssec, and dnsmasq option dnssec-proxy set, you get the caching by dnsmasq, and Stubby validating. Empirically, this seems to perform better than having dnsmasq do the dnssec validation.

[2018-09-05 08:42] Andy2244 opened #6954 "Using the package sdk's, cant reproduce any of the packages (hash, size)?"
I have a hard time understanding why using the package sdk's i cant reproduce any of the packages? If i compare the manifest's install size, ipk size and hashes never match, for all packages. Even more confusing on two consecutive clean runs, all resulting packages are also different?

I see `SOURCE_DATE_EPOCH ` set to a static value in the `version.mk`, so this should ensure reproducible builds?

[2018-09-05 09:47] danielg4 commented on #6769
Apparently, the RE that would've matched dnsmasq's behavior would really be
```/^[[:alnum:]]([-_[:alnum:]]*[[:alnum:]])?$/```, but that's not so important now that the code doesn't cause actual breakage. Going forward, this is being added to odhcpd, too: https://git.openwrt.org/?p=project/odhcpd.git;a=commitdiff;h=881f66b0c2526bff6a2a51b30d314c512df813b4

[2018-09-05 13:53] EricLuehrsen commented on #6769
Underscore is not a valid A, AAAA, or PTR hostname in DNS. It is used in SRV to indicate sevices rather than real targets. dnsmasq may take some liberty for DHCP lease record, but it shouldn't be in DNS that way.

[2018-09-05 15:03] danielg4 commented on #6769
Agreed. Just wanted to add it to the record.

[2018-09-05 15:03] #6769 closed

[2018-09-05 21:43] skath opened #6957 "unbound: DNS resolver process gradually consumes RAM until none left, stops resolving"
# Issue template (remove lines from top till here)

Maintainer: @EricLuehrsen
Environment: arm_cortex-a9_vfpv3, wrt3200acm, OpenWrt 18.06.0 r7188-b0b5c64c22

Description: the unbound DNS resolver gradually consumes RAM over the course of up to three weeks, until all 512M are consumed at which point DNS resolution stops working.

[code]
[code]
[code]
[code]
[code]

[2018-09-05 21:46] skath commented on #6957
root@link:~# uci export unbound
package unbound

config unbound
        option add_extra_dns '0'
        option add_local_fqdn '1'
        option add_wan_fqdn '0'
        option dhcp_link 'none'
        option dns64 '0'
        option domain_type 'static'
        option edns_size '1280'
        option hide_binddata '1'
        option localservice '1'
        option manual_conf '0'
        option p

[2018-09-06 00:02] sindastra opened #6958 "jamvm: Package missing for aarch64_cortex-a53 (bcm2710: Raspberry Pi 3 B)"
Maintainer: @uxgood @champtar @danak6jq
Environment: aarch64_cortex-a53, Raspberry Pi 3 B, 18.06.1

Description:

Package missing for aarch64_cortex-a53 (bcm2710: Raspberry Pi 3 B)

[2018-09-06 00:58] EricLuehrsen commented on #6925
Issues are converging. I would like to continue discussion in #6957 (one spot). Keep or close this issue as you see fit.

[2018-09-06 01:15] EricLuehrsen commented on #6957
This appears to relate to #6925 because the error code string is sniffing around a high candidate area. The root cause seems to ooze from OpenSSL own buffer (resize) allocations. Unbound would extend the time to failure if it kept TLS connections open for a minimum time (fewer of them), but at the core, I think OpenSSL has a memory leak.

I have a TL-Archer-C7v2 (ath79) running DoT as a long term

[2018-09-06 05:39] hnyman commented on #6957
No direct help, but just an observation.
Finding out if that leak is inside unbound or openssl itself might be the first step.
Test with mixing the current and previous versions of openssl and unbound, try to identify the culprit.

Luckily we seem have very few local patches here in Openwrt, so it likely originates upstream.

[2018-09-06 15:55] anomeome commented on #6957
As another datapoint; using openssl 1.1.1-pre9 on a mamba, and 1.0.2p on a rango, both devices eventually exhibit the same failure

[2018-09-06 17:15] cotequeiroz commented on #6957
I hope I can offer some help.  I've added libressl as an openssl-option, just like I did for the different openssl versions.  This was a quick attempt at it, so don't expect much, but  I've compile it, along with unbound.  I haven't run-tested them yet, but if anyone wish to, it is at https://github.com/cotequeiroz/openwrt-1/tree/libressl.

[2018-09-07 02:51] EricLuehrsen commented on #6957
Yeah. I am generally not fond of code level patches being the "_permanent-temporary_" solution. Test it, pretty it up, and ship it upstream.

[2018-09-07 08:26] tofurky opened #6966 "nut: hotplug script includes leading zeroes in PRODUCT case, leading to undetected hw"
Maintainer: @cshoredaniel
Environment: ath79, ubnt,routerstation-pro, r8011+2-6bbb220255

'nut' package was compiled from latest commit as of 9/7/18 (2e624f983329d98cac99fc3f8a334a988196814e)

Description:

`/etc/hotplug.d/usb/30-libhid-ups` has a case statement like so:
[code]
however, adding "env >> /tmp/debug" to the script showed that PRODUCT does not include the leading 0 for my ups:
[code]
s

[2018-09-07 08:51] tofurky commented on #6966
seems the issue is in the sed expression in the Makefile.

changing:
[code]

to:
[code]
seems to make the hotplug script usable for *my* ups.

specifically:
`*0x0{0,3}([^ ][^ ]*)  *0x{0,3}*([^ ][^ ]*)`
to:
`*0x0{0,3}([^ ][^ ]*)  *0x0{0,3}*([^ ][^ ]*)`

[2018-09-07 09:18] cshoredaniel commented on #6966
@tofurky Ooops....yeah the VendorId is right (strips leading 0), but ProductId is wrong (and of course my hardware doesn't have a leading zero on the ProductId so I didn't catch it).

Also, for the RUNAS, if you look carefully, there is a function called between the local and use of runas that sets runas to what's in the config file.

[2018-09-07 14:31] tofurky commented on #6966
i think i noticed another issue with the hotplug script. it has the following which is called early in boot, before the init script runs (and before /var/run/nut is created):
[code]
either removing `[ -d /var/run/nut/ ]` or adding `mkdir -p /var/run/nut` seems to fix it and allows the driver to start.

[2018-09-07 18:22] ivankravets opened #6967 "python-cryptography: update to 2.3.1"
Maintainer: @commodo

# Description

Home Assistant depends on the fixed `python3-cryptography` v2.3.1 https://github.com/home-assistant/home-assistant/blob/dev/setup.py#L44

Could you update this package?

See https://pypi.org/project/cryptography/#history

Thanks!

[2018-09-07 21:56] tallero commented on #4970
The issue has been solved in #4994

[2018-09-07 21:56] #4970 closed

[2018-09-07 22:13] #6536 closed

[2018-09-07 23:20] lexxai commented on #5630
c-MM : Can some where post how you do it for 18.06.1 ar71xx-generic for an Tplink wdr4300?
Need replace libudev-fbsd by libudev-eudev (https://github.com/gentoo/eudev.git)?

[2018-09-08 11:01] uxgood commented on #6832
Hi, @cshoredaniel @tripolar
openssh with pam almost breaks on all targets.
[http://downloads.lede-project.org/snapshots/faillogs/x86_64/packages/openssh/with-pam/compile.txt](url)
[http://downloads.lede-project.org/snapshots/faillogs/mips_24kc/packages/openssh/with-pam/compile.txt](url)
[http://downloads.lede-project.org/snapshots/faillogs/arm_cortex-a9/packages/openssh/with-pam/compile.txt](url)

[2018-09-08 12:08] uxgood commented on #6832
#6968

[2018-09-08 14:00] plntyk commented on #6832
There is a proposed patch for this problem afaics that should remove pthread stuff
Upstream Bugtracker: https://bugzilla.mindrot.org/show_bug.cgi?id=2548

However it seems to be lost and has to be resubmitted to apply to current OpenSSH

[2018-09-08 19:28] mark0n opened #6977 "ddns-scripts_route53-v1: fails to start"
### Maintainer
@chris5560, @maxberger

### Environment
OpenWRT 18.06.1

### Description
DDNS script for AWS Route 53 updates the IP successfully but then aborts with the following error:
[code]
`/etc/config/ddns` contains
[code]
I also have some entries for dyn.com which are working fine.

### Package versions
[code]
Note: I edited `/usr/lib/ddns/dynamic_dns_functions.sh` to apply my [fix for the

[2018-09-09 09:31] SirDMZ commented on #6530
Can confirm. Works fine in 18.06.1

[2018-09-09 10:41] dibdot commented on #6977
ddns-scripts is currently unmaintained. Maybe you'll find a fix on your own and provide an appropriate PR!?

[2018-09-09 20:48] thuehn opened #6982 "mwan3: periodic packet loss since commit 46ed09408e554f182a688e0a7c47cdf85fc6c15d"
Maintainer: @feckert
Environment: latest OpenWrt trunk from 9.9.2018, x86_64, PCengies APU 2c4

Description:
since commit 46ed09408e554f182a688e0a7c47cdf85fc6c15d wman3 does not work properly on my side, which has worked for several years before with 2x vdsl lines load balanced

troubleshootiing steps:
mwan3 forwards periodically some packets coming from the wan side to the wan side again at the m

[2018-09-09 23:51] pprindeville commented on #6844
@cshoredaniel So what's the fix?

[2018-09-09 23:55] pprindeville commented on #6915
Have you looked at `feeds/packages/lang/perl-*/Makefile`?

[2018-09-10 00:08] pprindeville commented on #6844
Try this https://github.com/openwrt/packages/pull/6984 and let me know if that fixes your problem.

[2018-09-10 00:28] lucize commented on #6915
yes, they have something like

but I think none of them have dependencies on perl-* packages, but only perl core packages that are getting copied in the staging dir

[2018-09-10 02:17] pprindeville commented on #6915
No, you're looking in the wrong place.  Have a look at [perl-uri](https://github.com/openwrt/packages/blob/master/lang/perl-uri/Makefile) for instance.

[2018-09-10 04:54] deqoder commented on #6246
不错，我正好要用，发现openwrt下没这个东东。Good.

[2018-09-10 09:22] 2e0byo opened #6987 "mpd-full: missing in mips_mips32"
Maintainer: @\thess
Environment: mips_mips32/brcm63xx 18.06

Description:  Package doesn't seem to be available as per https://forum.openwrt.org/t/mpd-package-gone-in-18-06/20902

Any chance someone could look at why it's failing?

[2018-09-10 11:04] thuehn commented on #6982
Hi,

Just installed the latest mwan3_2.7.0-1_all.ipk on my gateway node.
Packet loss happens again. Here is the output of the requested routing info:

[code]

[code]

[code]

[code]

[code]

The obvious difference to the working mwan output from ip r s t 1 & 2 is that the mwan3_2.7.0-1_all.ipk tables have much more entries.

Let me know iof you need anything else for troubleshooting.
I will shwitc

[2018-09-10 11:13] ptpt52 commented on #6982
The output is as good as expected, and please post the output of
 iptables-save

I think there is no problem.

[2018-09-10 14:42] thuehn commented on #6982
So I have just stored the iptables rules for mwan_2.7 (https://pastebin.com/RBQpQ9QJ) and mwan_2.6.18 (https://pastebin.com/LPKjeiFH)

The diff shows that certain mwan3_ifaces_out are specified in version 2.6.18, but missing in 2.7 .. maybe a hint for the packet loss problem.

[code]

Greetings Thomas

[2018-09-10 14:49] ptpt52 commented on #6982
@thuehn
hi, can you try this PR https://github.com/openwrt/packages/pull/6990
it maybe something related

[2018-09-10 15:06] ptpt52 commented on #6982
When the main table changes and is detected by the mwan3rtmon process, it deletes the contents of routing tables 1, 2 and recreates the 1, 2 tables. In this process, there is a gap routing table that is emptied, causing packet forwarding pathfinding errors.

[2018-09-10 15:13] thuehn commented on #6982
@ptpt52
in your pr/6990 you use 'diff' which is not part of the busybox default selection ... so this would need a dependency to get it working!

Could you explain a bit background of your intention with all of this major changes to the routing table to t1 and t2 ? What would you like to achieve ?

Greetings Thomas

[2018-09-10 15:17] thuehn commented on #6982
As we have a full mesh with ~100 nodes behind our gateway nodes, and the routing table is periodically updated by OLSR as routiing deamon ... the main table will change every couple of seconds in our case as the mesh network is quite is dynamic routing wise. ... so it seems to me that your new design will not fit properly in such a 'main routing tables changes constantly' case but the former desig

[2018-09-10 15:33] ptpt52 commented on #6982
1. The data sent by the local does not follow the link selection policy(balanced) to select the link.
for example:

default via 10.0.0.1 dev eth0 proto static src 10.0.0.2 metric 31
default via 20.0.0.1 dev eth1 proto static src 20.0.0.2 metric 32
10.0.0.0/24 dev eth0 proto static scope link metric 31
20.0.0.0/24 dev eth1 proto static scope link metric 32
192.168.1.0/24 dev br-lan proto static sco

[2018-09-10 15:34] ptpt52 commented on #6982
ok, I will fix it with a dependency.

[2018-09-10 15:36] ptpt52 commented on #5055
I think this can be mark as fixed.

[2018-09-10 15:44] thuehn commented on #6982
so are you saying that the loadbalancing for any local process on the router itself does not work by design right now ?

Could'nt you just put local routing for 127.0.0.1 to a separate table ?

[2018-09-10 16:32] ptpt52 commented on #6982
dependency updated in PR https://github.com/openwrt/packages/pull/6990

the load balancing works with the latest code, but not without my changes.

that does not do the tricks

[2018-09-10 16:44] ptpt52 commented on #6982
The main routing table is updated frequently for your scenario. so please help test it with the PR  https://github.com/openwrt/packages/pull/6990

[2018-09-10 17:42] nasbdh9 opened #6993 "unbound: build failure caused by `OpenSSL does not support ECDSA:`"
Unbound build failed
Architecture mipsel_24kc
This is true with GCC 7 or GCC 8
...And I didn't choose this package when configuring

[2018-09-10 17:56] feckert commented on #6982
@thuehn This has never worked.
Packages from the router "generated by a local process" never used mwan3 policy based routing. This packages always get routed first see https://upload.wikimedia.org/wikipedia/commons/3/37/Netfilter-packet-flow.svg (green network layer, routing decision) mwan3 hooks are called in the mangle table prerouting and output table. Only forwarded (routed) packages were poli

[2018-09-10 18:21] JasonChalmers opened #6994 "luai2c fails to build on fresh 17.01.x build"
when building with make -j1 V=scw I get the following issue.

make[3]: Entering directory '/home/wrt/openwrt/feeds/packages/lang/luai2c'
mkdir -p /home/wrt/openwrt/dl
SHELL= flock /home/wrt/openwrt/tmp/.luai2c-1.0.0.tar.xz.flock -c ' echo "Checking out files from the git repository..."; mkdir -p /home/wrt/openwrt/tmp/dl && cd /home/wrt/openwrt/tmp/dl && rm -rf luai2c-1.0.0 && [ ! -d luai2c-1.0.0 ]

[2018-09-10 19:07] bilicio commented on #4840
If you change the variable LogLevel  (httpd.conf) to something like "error" you can bypass the Segmentation fault, but it cames with 500 Internal Server Error. Changing the error page to any other page will help show something on the screen. Its just if you are desperate to show a page on this. its only what i could find. :(

[2018-09-10 21:35] karlp commented on #6994
https://github.com/robbie-cao/i2c-lua might be the same, you can try fixing the makefile for that.  The readme at the bottom still refers to mrpace2, so... *shrugs*

Only other option is one of the alternative libraries, and repackaging them, or finding someone who still has a downloaded tarball.

[2018-09-10 22:36] MikePetullo opened #6996 "git: create git user on install?"
Maintainer: @tripolar
Environment: All

Description:

I install the git package on OpenWrt in order to provide a Git service using git-shell. When I do this, I manually create a new user on the OpenWrt host called "git". I wonder if it would be a good idea to create such a user when installing the git package, i.e., add a USERID statement to its Makefile.

[2018-09-11 02:45] EricLuehrsen commented on #6993
We will need something more descriptive to help you. Grep your `.config` file to see if any Unbound flags are set to yes. Also `~# make -j1 V=s` might yield some information.

[2018-09-11 04:04] EricLuehrsen commented on #6957
1.0.2o repeats the error.

[2018-09-11 07:55] mantinan opened #6997 "nut-server: doesn't restart"
Maintainer: @\cshoredaniel
Environment: mips_24kc tp-link TL-MR3420 OpenWrt 18.06.1, r7258-5eb055306f

Description:

Sometimes the riello driver won't load, that is a problem for wich I don't have much data, the kernel says the cable disconnects during boot, don't know why, I believe a similar thing can also happen on other models.

The problem however is that when it fails to load you cannot do a

[2018-09-11 12:00] bogi788 opened #6998 "stubby: image-builder doesn't find stubby"
Maintainer: @iamperson347
Environment: mips_24kc, TP-Link Archer C7 v2, OpenWRT Development Snapshot

Description: The image builder currently fails to build my custom image (with kernel modules and packages for my LTE modem) and stubby for DNS over TLS and DNSSEC. The error message is:

```Unknown package 'stubby'.```

[2018-09-11 13:59] nasbdh9 commented on #6993
I canceled the openvswitch related flags and everything works fine.
The openvswitch makefile updated a few days ago, maybe the problem is here.

[2018-09-11 14:55] #6967 closed

[2018-09-11 14:55] cshoredaniel commented on #6997
This is fixed in master; once master is sufficiently tested hopefully my backport PR will be accepted.

[2018-09-11 15:00] cshoredaniel commented on #6996
If you do this pls notify me so I can remove the git user creation from gitolite package.

[2018-09-11 15:05] cshoredaniel commented on #6966
Hrrm....I'll have to modify that to make sure hotplugging doesn't happen during FSD, but good catch; thanks!

[2018-09-11 15:33] ThomasCr opened #6999 "mc - missing virtual file system support"
Hi,
today I wanted to use mc to browse a tar archiv to extract only some files. I know it is possible to list content with tar command and than extract it manually, but with many files it feels not really comfortable.

thats why I use mc for those tasks, for easer extraction... problem is, that mc is not build with any Virtual File System, and so I can't open

[code]

Is there a way to add it in o

[2018-09-11 16:40] thess opened #7000 "Boost not building on mips32/brcm63xx"
Maintainer: @ClaymorePT
Environment: mips_mips32/brcm63xx 18.06

Odd problem - I think ASM "pause" should only be generated for x86 ?

[code]

[2018-09-11 16:42] thess commented on #6987
Target builds are fixed. However, MPD cannot be built due to a platform problem building the **boost** libraries. See #7000

[2018-09-11 17:55] tripolar commented on #6996
i wouldn't do this in the git package as it implements no server/init file so i see no need for this

[2018-09-11 17:55] #6996 closed

[2018-09-11 19:42] cotequeiroz commented on #6957
I'm starting a test with libressl 2.7.4, using TLS to forward requests to 1.1.1.1.  Is there anything I should do to trigger the bug?

[2018-09-11 21:04] mantinan commented on #6997
Ok, I'll try to see if I can backport it and see if it works.

On the other hand there is the failure to start of the riello driver, which I've seen several times, and I have another router connected to a couple sais that use apcsmart driver and also seem to have failed at least once, are also these kind of failures fixed on master?

If they are not fixed I'll have to investigate it.

I'd like to

[2018-09-11 22:12] 2e0byo commented on #6987
thanks.  I'll watch that bug and see if it gets fixed.

[2018-09-11 22:51] ClaymorePT commented on #7000
I'll check that out ASAP. I may have to disable fiber for that target.

[2018-09-11 23:08] cshoredaniel commented on #6748
As no one seems to actually care all that seems to have really happened is pissing of some folks unnecessarily.   Therefore closing.

[2018-09-11 23:15] cshoredaniel commented on #6997
For the riello, it might be sort of fixed in master (that is when it 'shows up' again in the kernel it should hotplug.

Is the apcsmart a serial driver?  I don't have any serial UPSes to test and most routers aren't really prepared to deal with RS232 inputs so they're not built by default.  Perhaps do a build with/without and show the size difference?  If it's not too much in the common packages t

[2018-09-12 00:28] EricLuehrsen commented on #6957
More look ups accelerate the bug put the router on the "realtime graphs - connections" page which also forces a lot of reverse lookup. Browse normally to exercise rapid growth.

OpenSSL 1.1.0 repeats the error.

[2018-09-12 00:46] yousong commented on #6748
@cshoredaniel  Thank you for the heads up.  Appreciate that.

[2018-09-12 01:27] malakingpusa opened #7001 "nut: Add missing parameters for the options available to the driver (usbhid-ups)"
Maintainer: @cshoredaniel
Environment: (ar71xx, TP-Link AC1750 Archer C7 v4, OpenWrt 18.06.0 master branch)

Description:

This comes from results of testing pull request https://github.com/openwrt/packages/pull/6897.

Add missing parameters e.g. pollinterval, ignorelb, overrride.xxx to the options available to the driver.

The **/etc/config/nut_server** says:
[code]
After **/etc/init.d/nut-server

[2018-09-12 02:35] cotequeiroz commented on #6957
I'm running three instances, one with openssl 1.1.1 final, another with libressl 2.7.4, and another, also with libressl, but without the TLS enabled.  I'm forwarding lookups from my corporate mailserver to all three simultaneously, so they all have the same load.  I'll leave them running for a while and post the results.  I had to abort my first run -- I "accidentally" upgraded openssl, which  kil

[2018-09-12 08:28] dibdot commented on #6999
Enabling VFS support adds round 40KB to resulting binary (tested on mips target, 390KB vs. 433KB). Maybe it doesn't matter much to enable this by default cause it's already a big package ... any thoughts?

[2018-09-12 09:05] DazzyWalkman commented on #6999
VFS support adds libtirpc dependency, that's another few KBs.
To make it more convenient for packages repo users, I will think about adding an extra package (aka mc-full) , as OP suggests.
For those who build packages for themselves, like me, leaving config options in menuconfig is already good enough.

[2018-09-12 11:12] nasbdh9 commented on #6993
This error occurs after choosing to build openvswitch

configure: error: OpenSSL does not support ECDSA: please upgrade or rerun with --disable-ecdsa
Makefile:193: recipe for target '/home/nasbdh9/openwrt/build_dir/target-mipsel_24kc_musl/unbound-1.7.3/.configured_68b329da9893e34099c7d8ad5cb9c940' failed
make[3]: *** [/home/nasbdh9/openwrt/build_dir/target-mipsel_24kc_musl/unbound-1.7.3/.configure

[2018-09-12 12:12] cotequeiroz commented on #6957
Well, after some 8 hours of testing, I think we can conclude that, unless all SSL libraries tested have a memory leak, the culprit is unbound.  Here's my results from the 3 processes handling the same queries for 8 hours:
### Test started at 2018-09-12 03:23 GMT
[code]
### As of 2018-09-12 11:45 GMT
[code]

[2018-09-12 14:50] cshoredaniel commented on #7001
FYI the UCI for what I'm working in is here (not yet available, but soon): https://openwrt.org/docs/guide-user/services/ups/software.nut#nut_server

[2018-09-12 14:52] cshoredaniel commented on #6997
FYI the documentation for what's in and what's being worked on, is here: https://openwrt.org/docs/guide-user/services/ups/software.nut#nut_server

[2018-09-12 17:08] jech commented on #4668
This report doesn't count?

Where do I open a PR?

[2018-09-12 19:43] mhei commented on #6999
Maintainer decided to enable VFS support by default, so I think we can close this issue.

[2018-09-12 19:43] #6999 closed

[2018-09-12 23:28] LipkeGu opened #7005 "odhcpd + bind-server: Should be moved into base-system instead of using dnsmasq"
OpenWrt contains a daemon ```o(penwrt)dhcpd``` and is mostly supported in Luci. For the dns part we could use bind-Server without any zones (forwarder mode). Also we have a few problems with dnsmasq:
* dnsmasq does not Forward SRV entries.
* dnsmasq has a very slow tftp service (no window size Support at all)
* pxe (Apple BSDP and Intel RBCP) is able with two options in odhcpd.
* we should use bin

[2018-09-13 07:49] thagabe opened #7011 "wget: compiler error when building with multiple cores"
Maintainer: @tripolar Peter Wagner <tripolar@gmx.at>
Environment: arm, WRT3200ACM, OpenWrt master

Description:
Compiling an image with libopenssl + luci ssl + wget (with ssl) in my threadripper Arch machine with '-j33' flag causes an error. When ran with the '-j1' flag this issue is non-existent and compile goes through correctly.

As a test case I compiled with base packages and build went throu

[2018-09-13 08:58] #7011 closed

[2018-09-13 08:58] thagabe commented on #7011
It wasn't wget

[2018-09-13 09:17] cshoredaniel commented on #6997
I think I'll enable serial by default after double checking no nasty size surprises on e.g. nut-server (not expecting any).  I'll need some help making sure things work with the master initscripts and such though as I don't have any such hardware.

[2018-09-13 09:27] Rooby69 opened #7012 "Segmentation fault with prosody/liblua (Entware)"
Description:

Hello I got the info from entware member that I should contact you
https://github.com/Entware/Entware/issues/107

I have issues with prosody(v0.9.12) and the liblua (v5.1.5) in entware on ASUS router RT-AC88U.
The prosody daemon crashes. gdb log:

Program received signal SIGSEGV, Segmentation fault.
0x2abf09a0 in luaL_addlstring () from /opt/lib/liblua.so.5.1.5
(gdb) bt
#0  0x2abf09a

[2018-09-13 09:55] dibdot commented on #6977
@a-bali @mark0n please test proposed patch - thank you.

[2018-09-13 09:57] dibdot commented on #7005
please discuss removal of core components on the dev mailing list.

[2018-09-13 09:57] #7005 closed

[2018-09-13 10:14] a-bali commented on #6977
@dibdot Nope this does not help. First, $__MSG is not empty but contains a multi-line string like below, second, with this patch, $__MSE would remain unset if $__MSG is empty, throwing an error on the next line.

Content of $__MSG where urlencode fails:
` 121209       : <?xml version="1.0"?>
<ChangeResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ChangeInfo><Id>/ch

[2018-09-13 10:43] dibdot commented on #6977
thanks for testing & sorry for the mess, I don't use it at all.

[2018-09-13 10:54] mantinan commented on #6997
Ok, it is working great on our setup right now, no problem on testing whatever  you need for that build.

[2018-09-13 12:01] dibdot commented on #6977
@a-bali another approach. I've replaced the shell url encoder with a awk variant (which should produce the same output but much, much quicker and hopefully without the mentioned bug). It's a drop in replacement of urlencode function ... maybe you give it a try ... ;-)
[code]

[2018-09-13 12:08] a-bali commented on #6977
@dibdot This appears to work fine, thanks. No idea why the previous version was not working though in the script, it worked fine via command line.

[2018-09-13 12:50] dibdot commented on #6977
@mark0n please test the proposed patch #7015 - thanks

[2018-09-13 14:31] thess commented on #7000
FYI - Buildroot had same problem and fixed it by disallowing fiber for mips32/64 cpu types.
https://github.com/buildroot/buildroot/commit/914bd57db76941f4ca7c33eb8e217f06f790a6c2

[2018-09-13 14:38] ClaymorePT commented on #7000
Yes, I might have to do the same. Fiber depends upon Boost.context which does not support mips32/64. Still, I want to do some tests if I only need to disable Fiber or if I have to disable Context instead.

[2018-09-13 14:42] thess commented on #7000
Boost.context seemed to build OK if I built --without-fiber

[2018-09-13 14:51] ClaymorePT commented on #7000
:+1:  Thank you for the hint. That makes my life easier. I will open a pull request asap with the fix.

[2018-09-13 17:01] anarcat opened #7016 "cups: missing from newer repositories"
Maintainer: @psycho-nico?
Environment: OpenWRT 18.06

Description:

Cups is missing from latest builds of OpenWRT or LEDE. It seems the package was not migrated from the [old packages repository](https://git.archive.openwrt.org/?p=packages.git;a=tree;f=net/cups;hb=HEAD). The [OpenWRT cups documentation](https://openwrt.org/docs/guide-user/services/print_server/cups.server) refers to a [third-party

[2018-09-13 17:02] anarcat commented on #2407
i have opened an issue about missing cups support in https://github.com/openwrt/packages/issues/7016

In the meantime it seems the canonical feed is https://github.com/Gr4ffy/lede-cups/ but no automated build is currently provided.

[2018-09-14 03:03] mark0n commented on #6977
Thanks for looking into this. A first quick test looks promising. However, the script now aborts when started automatically after booting the system. It works fine when I press the "start" button on the web GUI. Need to investigate more.

[2018-09-14 07:07] dibdot commented on #6977
Thanks for your feedback. I think it's unrelated to my change, but maybe you can replace the direct "awk" call with "/usr/bin/awk" and see if this oddity disappears.

[2018-09-14 08:07] diizzyy commented on #7016
If you want cups to be included again it needs to the current version or at least very close to it including dependencies.

[2018-09-14 08:09] diizzyy commented on #6890
Fixed here:
https://github.com/openwrt/packages/commit/3fc7f7b8cc151ab6490189405cb526b70c9bf6e6

[2018-09-14 08:09] #6890 closed

[2018-09-14 08:46] judepereira commented on #6844
@pprindeville No, that doesn't fix it. I applied the patch locally to test.

[2018-09-14 09:53] dibdot commented on #7016
@anarcat if you need this kind of functionality on your router, feel free to take over the the task to migrate such package from old repo and open an appropriate PR. Thanks.

[2018-09-14 09:53] #7016 closed

[2018-09-14 09:58] dibdot commented on #7012
Please always inform the package maintainer: @heil
Also please try to reproduce your issue with a current/supported OpenWrt release - with logs, dumps etc.

[2018-09-14 10:02] dibdot commented on #6998
stubby is currently broken for your arch, see: https://downloads.openwrt.org/snapshots/faillogs/mips_24kc/packages/stubby/compile.txt, therefore it's not included in image builder.

[2018-09-14 10:10] dibdot commented on #6941
No feedback by TO, close this by now.

[2018-09-14 10:10] #6941 closed

[2018-09-14 10:10] #6914 closed

[2018-09-14 10:12] dibdot commented on #6966
@cshoredaniel can we close this right now?

[2018-09-14 10:16] dibdot commented on #6993
this seems to be pretty unrelated to unbound - close this by now. Feel free to open a openvswitch related issue, if it's still a problem for you ... and please inform the openvswitch maintainer with @-notation, like mentioned in the issue template.

[2018-09-14 10:38] dibdot commented on #6997
Problem seems to be fixed - close this by now.

[2018-09-14 10:38] #6997 closed

[2018-09-14 11:09] bogi788 commented on #6998
Apparently this is caused by the getdns dependency also failing to build: https://downloads.openwrt.org/snapshots/faillogs/mips_24kc/packages/getdns/compile.txt

[2018-09-14 11:17] ClaymorePT commented on #7000
@thess I'm trying to mimic the Buildroot solution, but OpenWRT build system does not have a MIPS32 config variable. Is there a way for me to easily mimic the `BR2_MIPS_CPU_MIPS32` behaviour?

I tried to use the `CPU_TYPE` variable and check if it was equal to `mips32` or `mips64` string but without success.

The only alternative I can think of, is to disable Boost.Fiber for every target which uses

[2018-09-14 12:33] anarcat commented on #7016
well i'm happy to hear that people here are open to this being merged and I hope that @Gr4ffy will take this on. thanks for the feedback.

[2018-09-14 13:02] bogi788 opened #7019 "getdns: missing dependency for libbsd.so.0"
Maintainer: @iamperson347
Environment: mips_24kc, TP-Link Archer C7 v2, OpenWRT Development Snapshot

As mentioned in https://github.com/openwrt/packages/issues/6998 stubby doesn't build because it is missing getdns, which itself fails to build: https://downloads.openwrt.org/snapshots/faillogs/mips_24kc/packages/getdns/compile.txt

The log seems to indicate that a libbsd dependency is not specifie

[2018-09-14 15:25] bboy519 opened #7020 "Freeradius2 Error"
Please make sure that the issue subject starts with `<package-name>: `

This repo here is only for packages maintained in this repo.  For base packages residing in the same repo as the build system and maintained by core devs, please consider opening tickets there for more timely responses

 - OpenWrt base system: https://bugs.openwrt.org
 - Most LuCI packages: https://github.com/openwrt/luci/issu

[2018-09-14 15:26] bboy519 opened #7021 "Freeradius2 Error"
Please make sure that the issue subject starts with `<package-name>: `

This repo here is only for packages maintained in this repo.  For base packages residing in the same repo as the build system and maintained by core devs, please consider opening tickets there for more timely responses

 - OpenWrt base system: https://bugs.openwrt.org
 - Most LuCI packages: https://github.com/openwrt/luci/issu

[2018-09-14 16:01] #6522 closed

[2018-09-14 16:13] Per9 commented on #2429
@gaia : It worked with this commit: https://github.com/openwrt/packages/commit/b6249f1781efc4fefbdf87b661d53c0923ec7438#diff-34590d11545c84b961d1992ce3aefdeb

I think 18.06.1 still contains the version before this commit, so if you download and replace https://github.com/openwrt/packages/blob/b6249f1781efc4fefbdf87b661d53c0923ec7438/net/mwan3/files/lib/mwan3/mwan3.sh on your router ipv6 may work.

[2018-09-14 16:14] dibdot commented on #7021
This doesn't look like a OpenWrt package at all. This repo ships freeradius3 only, the referenced /opt directory structure is not used ... further more the issue template has been ignored (OpenWrt version, maintainer etc.). Close this by now.

[2018-09-14 16:14] #7021 closed

[2018-09-14 16:14] dibdot commented on #7020
Duplicate.

[2018-09-14 16:14] #7020 closed

[2018-09-14 16:18] dibdot commented on #7019
@bogi788 I don't think that we need separate tickets here. Maintainer is informed about stubby, that should do it, thanks.

[2018-09-14 16:18] #7019 closed

[2018-09-14 18:48] tofurky commented on #6966
@dibdot the fixes haven't been merged yet from what i can see

[2018-09-14 20:15] cshoredaniel commented on #6966
@dibdot Still in progress....will include the issue #  in commit and it will auto-close once merged.

[2018-09-14 20:18] cshoredaniel commented on #6997
Are you using master (with working restart) or 18.06 (which doesn't have it yet)?  I'd like to be sure master hasn't broken serial.

[2018-09-14 22:13] mantinan commented on #6997
I'm ussing 18.06 right now, but I have compiled master and I plan to test it next week, I'll report back then.

[2018-09-15 07:03] jpc commented on #6844
The update to perl 5.28 (commit c875de62b36cb0ae6458ff1b2f094a869170d12c) broke building on mac OS.

[2018-09-15 09:06] cminois opened #7024 "Tinyproxy - Enable reverse proxying"
Hi,

Could you modify the configuration of the Tinyproxy package to enable reverse proxying?
Adding --enable-reverse argument in the makefile should do it.

Thanks.

[2018-09-15 11:32] thuehn commented on #6982
@ptpt52
I have just installed the latest mwan3 version with the grep substituting the diff.
It is running since 10min un the gateway without any loss or other issues. So it looks good so far.
Thx for troubleshooting!

Greetings Thomas

[2018-09-15 21:07] Rooby69 commented on #7012
Unfrtunately I do not have anyadditional logs, dumps etc. I' not a linux expert.
I'm running prosody which uses liblua an cashes with the segmentatio fault shown above.
Router is a RT-AC88U running Asus Merlin SW with Entware.

[2018-09-16 06:39] teqlee commented on #6982
Hi.
Lastest ver has error when i'm Diagnostics MWAN Status.
When Check IP Rules:
[code]
When Check routing table:
[code]

[2018-09-16 06:39] neheb opened #7038 "libv4l fails to compile when libudev-fbsd is selected"
The build system is picking it up causing https://downloads.openwrt.org/snapshots/faillogs/arm_cortex-a9_neon/packages/libv4l/compile.txt

[2018-09-16 06:59] neheb commented on #7038
false alarm?

[2018-09-16 06:59] #7038 closed

[2018-09-16 09:05] jech opened #7039 "chrony: "allow" statement doesn't allow IPv6"
Maintainer: @mlichvar
Environment: 18.06.1

Using `option "interface" "lan"` in `/etc/config/chrony` only allows the IPv4 address of the `lan` interface; it doesn't open the IPv6 listening port.  Whilte that's easy worked around by adding suitable directives to `/etc/chrony/chrony.conf`, it's annoying since it forces hard-wiring the IPv6 addresses.

(My clients are configured using the router's DN

[2018-09-16 11:51] Rooby69 commented on #7012
Anoher example:

Program received signal SIGSEGV, Segmentation fault.
0x2ab739a0 in luaL_addlstring (B=B@entry=0x7e9462e4, s=0x1994000 <error: Cannot access memory at address 0x1994000>, l=<optimized out>) at lauxlib.c:448
448     lauxlib.c: No such file or directory.
(gdb) bt
#0  0x2ab739a0 in luaL_addlstring (B=B@entry=0x7e9462e4, s=0x1994000 <error: Cannot access memory at address 0x1994000>, l

[2018-09-16 16:12] lucize opened #7042 "mwan3: MWAN - Rules - Source address & squid"
@feckert adding multiple ip addresses to the `Source address` is possible but then the `iptables -vL -t mangle` will not show the rule in `Chain mwan3_rules`

also I'm trying to make squid work only on one interface (or on any)
if I add multiple source address in the rules (all ip on router as per issue stated above) then squid works but the tcp_outgoing_address will have no importance, testing on

[2018-09-17 18:29] dibdot commented on #6977
@mark0n any news on this, did you find the culprit?

[2018-09-18 00:15] neheb commented on #6841
I recently found out on glib2 that building the documentation broke "make -j 4" for me despite it using autotools. That;s one of many considerations to have while fixing this stuff.

[2018-09-18 00:16] neheb commented on #6830
This can be closed.

[2018-09-18 02:49] ClaymorePT commented on #7000
@thess Please check pull request https://github.com/openwrt/packages/pull/7067

[2018-09-18 11:08] bogi788 commented on #6998
The getdns problem is probably related to https://github.com/openwrt/packages/pull/6960

[2018-09-18 12:40] dibdot commented on #6977
@mark0n @a-bali I've fixed the new urlencode approach (have forgotten to define a min. length for the hex replacement) and protect the answer string in the aws updater with double quotes - please test. Thanks!

[2018-09-18 13:00] a-bali commented on #6977
@dibdot Does not fix the issue reported by @mark0n above, the script still fails on [this(https://github.com/dibdot/packages/blob/a99c7cbed64f9d61f33889f64cbb127ccf6f5da8/net/ddns-scripts/files/dynamic_dns_functions.sh#L289) line. Changing it to `eval $__CMD` eliminates the "not found" error but the script still terminates.

[2018-09-18 13:07] dibdot commented on #6977
@a-bali that's odd - did you update the awk encode function with the latest changes in #7015?

[2018-09-18 13:08] a-bali commented on #6977
I did, seemingly this is an unrelated issue

[2018-09-18 13:09] dibdot commented on #6977
and you still receive the "not found" error?

[2018-09-18 13:09] a-bali commented on #6977
Yes

Yes

[2018-09-18 13:20] dibdot commented on #6977
OK, I'll quit here. Maybe others find a suitable solution, without proper testing this makes no sense. Sorry.

[2018-09-18 16:15] thess commented on #6987
Closed via #7067

[2018-09-18 16:16] thess commented on #7000
Fixed via #7067

[2018-09-18 16:18] thess commented on #6883
Ping @mommmomm -- have you tested the fix?

[2018-09-18 18:21] jeffsf opened #7072 "admin/syslog-ng: Config file needs to be updated to 3.16"
Re-starting syslog-ng with the supplied config file logs

While syslog-ng appears to run, the message can be distracting for users trying to properly configure on their system.

https://github.com/openwrt/packages/blob/master/admin/syslog-ng/files/syslog-ng.conf

See also https://forum.openwrt.org/t/system-log-level-with-logd/16798/10?u=jeff

[2018-09-18 20:10] vshymanskyy opened #7073 "luasec: Update to v0.7"
Maintainer: @MikePetullo @sbyx @cotequeiroz
Environment: any

Please update to v0.7 with official openssl 1.1.0 support.

[2018-09-19 02:38] pprindeville commented on #6844
I’ll need someone to come up with a fix. I don’t have OS X set up to build OpenWrt.

[2018-09-19 03:04] judepereira commented on #6844
@pprindeville Could you describe the problem? I can try to fix it.

[2018-09-19 08:40] hzc9107 opened #7075 "netopeer2: Failed to set hostkey"
Hello, I am trying to setup a netopeer2 server on a software switch using OpenWRT. I have managed to install the server correctly. Nevertheless, when I try to establish a connection I receive the error:

 Failed to set hostkey "ssh_host_rsa_key" (/etc/keystored/keys/ssh_host_rsa_key.pem)

After looking for the problem, I found out that it may be an issue with the libssh library. Also, the maintain

[2018-09-19 19:59] quazardous opened #7077 "mwan3: always shows INFO: MWAN not running"
Maintainer: @Adze1502
Environment: wrt1200ac / ARMv7 Processor rev 1 (v7l) / 18.06.1

Description: mwan3 seams to work (after global enabled, etc)
It detects wan / wan4g (via usb tether) switches (I'm using my laptop connected by wifi to a sub router of the main router with the ISP box shutdown ! nice ! )

but in lci mwan3 keeps telling me : INFO: MWAN not running

so I'm a little disapointed

so

[2018-09-19 20:19] dibdot commented on #6977
@mark0n @a-bali please contact me directly by mail (dev@brenken.org) for further testing & fixing the remaining issues - thanks.

[2018-09-20 00:49] #6335 closed

[2018-09-20 04:31] MikePetullo opened #7078 "git: /usr/bin/git permissions set to 777"
Maintainer: @tripolar
Environment: x86_64 snapshot as of September 18, 2018 (https://downloads.openwrt.org/snapshots/packages/x86_64/packages/)

Description:
The git package appears to install /usr/bin/git with its permissions set to 777. Setting them to 755 seems more reasonable.

[code]

[2018-09-20 15:04] xback opened #7080 "pci.ids cannot be downloaded"
2 issues:
- The main download location has it's certificate expired
- All alts are not valid anymore.

Due to this, package pci-utils cannot be used anymore currently.

mkdir -p /mnt/ramdisk/koen/firmware/builds/generic_imx6/dl
SHELL= flock /mnt/ramdisk/koen/firmware/builds/generic_imx6/tmp/.pci.ids.4ad9327b147ce7bb6ae27b68efe0c1d89d9eb9a1.flock -c '  	/mnt/ramdisk/koen/firmware/builds/generic_imx

[2018-09-20 15:15] thess commented on #7000
@ClaymorePT
We still have a problem with the 'all libs' package when Boost.Fiber is not selected. The package build fails the dependency check at the end of the packaging and boost packages are still missing. Specifically, boost-fiber is still in the $(BOOST_DEPENDS) list which is referenced by Package/boost-libs. Short of removing the all-libs option, I haven't come up with any clever way of doin

[2018-09-20 15:16] thess commented on #6987
Not fixed... see #7000

[2018-09-20 18:53] ClaymorePT commented on #7000
@thess I just saw your pull request to solve this issue. If it solves the issue, for me its ok.

The idea behind the `all libs` _package_ option was to provide an easy way to select all packages without having to go through every single one of them on the list.

What I don't understand is why the dependency check fails, when Fiber is clearly restricted to architectures not equal to mips32 and mips

[2018-09-20 20:07] thess commented on #7000
Well... There is a Kconfig option (not in the help) that by pressing <Z>, all hidden options with prompts defined are displayed but are not selectable "```- -```". You can then use \<Help\> to see the dependency.

[2018-09-20 20:08] #7000 closed

[2018-09-21 05:40] diizzyy commented on #7080
Seems to be a temporary local issue, URL works fine for me

[2018-09-21 09:41] Ansuel commented on #6957
can confirm this issue
so nobody reported this to unbound?

[2018-09-21 10:19] s0m3f00l opened #7082 "unbound-control - Error relocating /usr/sbin/unbound-control"
unbound-control

Maintainer: @\<wcawijngaards>
Environment: TPLINK Archer C7 V2

Description:

Error when running unbound-control with default opkg install:

[code]

The command appears to have no effect.

[2018-09-21 10:38] s0m3f00l commented on #6957
I threw one together add to that

https://www.nlnetlabs.nl/bugs-script/show_bug.cgi?id=4157

[2018-09-21 11:13] congngale opened #7083 "mosquitto package version 1.5 failed to make for OpenWRT 15.05"
I have a problem when trying to build mosquitto package version 1.5 for OpenWRT 15.05.

**The error as below:**

[code]

The mosquitto package version 1.4.15 is no problem, but I want to use the latest version.

Thanks,
Cong Nga Le

[2018-09-21 11:40] karlp commented on #7083
15.05 is unsupported.

[2018-09-21 11:40] #7083 closed

[2018-09-21 11:42] s0m3f00l commented on #6957
They asked if you @cotequeiroz   they are asking for you to run valgrind with the ssl test. Can you take a look at the unbound developers post? I simply put all your comments into my bug report.   Thanks

[2018-09-21 11:52] EricLuehrsen commented on #6957
Please read way up there. OpenSSL was notified (openssl#7128). NLNetlabs was notified (bugzilla?4149). NLNetlabs has been helping to hunt the leak for a few weeks.

[2018-09-21 12:57] cotequeiroz commented on #6957
I’m on vacation until next week. I couldn’t run it under openwrt, even with debugging builds of OpenSSL and unbound. I will run it on x86_64 when I come back.

[2018-09-21 15:11] EricLuehrsen commented on #6957
Note. Valgrind crashes hard almost instantly on MIPS. I dont think it likes the confusion "-Os" causes, necessary for most small targets though, and must be clever compact instructuon sequences it doesnt have a model for ir something like that.

[2018-09-21 15:44] mommmomm commented on #6883
Sorry for the delay, hiding on the other end of the world somehow piled quite a few tasks on my desk.

Today I was able to test the current (snapshot) package on the same install as the one mentioned above (LEDE 17.01.4 TP-Link Archer C7 (MIPS 74Kc)):
https://downloads.openwrt.org/snapshots/packages/powerpc_8540/packages/socat_1.7.3.2-3_powerpc_8540.ipk
(Date: Sun Sep 16 06:07:24 2018)
(This shoul

[2018-09-21 17:15] thess commented on #6883
Good news - thanks for the reply

[2018-09-21 17:15] #6883 closed

[2018-09-22 00:45] tripolar commented on #7078
fixed in https://github.com/openwrt/packages/commit/30898cc49d1fa9e73deb37ae82db5dc466941e1a

[2018-09-22 00:45] #7078 closed

[2018-09-22 02:45] EricLuehrsen commented on #7082
What did you do now, exactly? `unbount-control` depends on `unbound` depends on `libunbound`. `/usr/lib/libunbound` should be visible after default install. Your problem is only this `Error loading shared library libunbound.so.8` and the rest are symptoms.

[2018-09-22 02:48] EricLuehrsen commented on #7082
What did you do now, exactly? `unbount-control` depends on `unbound` depends on `libunbound`. `/usr/lib/libunbound` should be visible after default install. Your problem is only this `Error loading shared library libunbound.so.8` and the rest are symptoms. Also, NLNetlabs <wcawijngaards> is not responsible for unique distribution packages. A distribution has its own maintainers and in this case _m

[2018-09-22 02:50] EricLuehrsen commented on #7082
What did you do now, exactly? `unbount-control` depends on `unbound` depends on `libunbound`. `/usr/lib/libunbound` should be visible after default install. Your problem is only this `Error loading shared library libunbound.so.8` and the rest are symptoms. Also, NLNetlabs \<wcawijngaards\> is not responsible for unique distribution packages. A distribution has its own maintainers and in this case

[2018-09-22 02:52] EricLuehrsen commented on #6925
@dibdot or @hnyman can we close this as duplicate to #6957 where most of the feedback is now appearing?

[2018-09-22 02:57] s0m3f00l commented on #7082
Hey Man,

  Sorry, Not sure. But was getting that error with my openwrt distro. I thought I was missing libunbound.so.8 so I reinstalled my openwrt and then unbound,  from scratch. Now I'm getting this

root@OpenWrt:~# unbound
Error relocating /usr/lib/libunbound.so.8: getentropy: symbol not found
Error relocating /usr/sbin/unbound: getentropy: symbol not found
root@OpenWrt:~#

of course unbound-c

[2018-09-22 04:33] dibdot commented on #6925
Duplicate - let's focus on #6957.

[2018-09-22 04:33] #6925 closed

[2018-09-22 04:35] dibdot commented on #7082
Sounds like a borked custom build - please discuss the follow up in the forum.

[2018-09-22 04:35] #7082 closed

[2018-09-22 04:43] dibdot commented on #7080
As @diizzyy said, works for me as well.

[2018-09-22 04:43] #7080 closed

[2018-09-22 04:44] dibdot commented on #7077
inform current maintainer @feckert

[2018-09-22 04:46] dibdot commented on #7075
At this stage please discuss this in the forum: https://forum.openwrt.org/

[2018-09-22 04:46] #7075 closed

[2018-09-22 04:49] dibdot commented on #7072
Please always inform the package maintainer: @MikePetullo

[2018-09-22 04:50] dibdot commented on #7039
seems to be fixed.

[2018-09-22 04:50] #7039 closed

[2018-09-22 04:51] dibdot commented on #7024
Please always inform the package maintainer: @jow-

[2018-09-22 05:06] #6682 closed

[2018-09-22 07:54] guidosarducci commented on #6682
@cshoredaniel Hi Daniel, IIRC you were also looking into the issues around bundled vs. unbundled certs. Is there a prospect of -- or timeline for -- standardizing on use of `ca-bundle` in OpenWrt due to its smaller size?

Until that can happen, installations might be using bundled or unbundled certs, and a hard `stubby` dependency on either package would often just consume users' flash needlessly.

[2018-09-22 10:32] diizzyy commented on #6841
Most if it is going to be trial and error

[2018-09-22 11:38] quazardous commented on #7077
@feckert wake up Neo !

[2018-09-22 12:16] MikePetullo commented on #7072
The configuration file version issue should be fixed by pull request #6796, which is waiting to be merged.

[2018-09-22 12:52] feckert commented on #7077
@quazardous

I will take a look on this issue next week :-)

[2018-09-22 12:55] feckert commented on #6982
@thuehn I think we could close this issue its solved?

[2018-09-22 12:56] feckert commented on #6455
@cjjdaq Have you tested this with the new 2.7.1 version?
If this solve your issue then please close this.

[2018-09-22 12:58] feckert commented on #6982
@teqlee This is a luci issue so please open a issue in the luci repo
thanks

[2018-09-22 13:00] feckert commented on #7042
What program generates this output?

[2018-09-22 13:02] feckert commented on #5978
@Dimit77 could we close this issue?

[2018-09-22 13:11] feckert commented on #5943
@lucize I think the local_source option was a wrong design decision.
Could you set this to none?
There are a lot of problems with this option on VPN (IPsec and OpenVPN)
The problem is that if you set this option to none no load balancing and no fail-over is working for router initiated traffic.

- Load balancing could not be done with router initiated traffic because we have no firewall mangle tab

[2018-09-22 13:13] feckert commented on #5798
I think this was solved with commit https://github.com/openwrt/packages/commit/b6249f1781efc4fefbdf87b661d53c0923ec7438#diff-34590d11545c84b961d1992ce3aefdeb

[2018-09-22 16:43] lucize commented on #7042
in squid access log, when you try multiple pages with manual proxy setup, no redirect (interception)

[2018-09-22 19:02] dibdot commented on #7072
Should be fixed in master - thanks.

[2018-09-22 19:02] #7072 closed

[2018-09-22 20:58] adagari commented on #6998
I am also having errors on mvebu when trying to use the image builder.

[2018-09-23 17:38] MikePetullo commented on #7078
Confirmed fixed. Thank you!

[2018-09-23 19:26] pprindeville commented on #6844
@judepereira I'm not experiencing the problem, as I don't build under OS X.  I'd ask @symgryph, @emotile, or @ian700518.

[2018-09-23 21:50] dartraiden commented on #6750
Yes, comp-lzo is deprecated in OpenVPN and removed from OpenWrt
https://github.com/openwrt/openwrt/commit/89b8ba96b404d2e412d5573e25348287255671dd#diff-37e75a0201711d64802dc863bc6019f5

[2018-09-23 22:22] dartraiden opened #7090 "OpenVPN ignores options from /etc/config/openvpn if there is a link to an external .ovpn"
My /etc/config/openvpn:

[code]

**Current behavior**
`auth_nocache` is ignored, because there is a link to an external .ovpn

It is better to pass options from /etc/config/openvpn to OpenVPN command line. For example, desktop OpenVPN allows smth like
`openvpn --config /path/to/antizapret-tcp.ovpn --auth-nocache`

[2018-09-24 06:37] OhSoGood opened #7092 "fdm - now that is compiles, can it be included in 18.06.2?"
As per discussion in the forum ( https://forum.openwrt.org/t/fdm-package-not-in-18-06-1-can-anybody-add-it/21861 ),

So... can you include fdm in 18.06.2 ? Thank you a lot!

[2018-09-24 07:17] ian700518 commented on #6844
BAIL on perl package Can't load module List::Util, dynamic loading not available in this perl.
  (You may need to build a new perl executable which either supports
  dynamic loading or has the List::Util module statically linked into it.)
 at files/perlconfig.pl line 229.
Compilation failed in require at files/perlconfig.pl line 229.
BEGIN failed--compilation aborted at files/perlconfig.pl line 22

[2018-09-24 13:52] Leo-PL opened #7095 "jool: build fails on ath79 target with current kernel (4.14.79)"
Maintainer: @danrl
Environment: OpenWrt 18.06, ath79 target, building on Ubuntu 16.04.

Description:
With current OpenWrt master at 958dc59136752ead23124b78ca22ffc41b1cb7bb, build fails with the following error, because INETFRAGS_HASHSZ symbol was removed in kernel 4.14
On ar71xx target with 4.9 kernel, the package builds fine.

[code]

[2018-09-24 13:52] Leo-PL commented on #7095
@neheb

[2018-09-24 13:57] neheb commented on #7095
Weird. I could have sworn it built fine on mvebu. I won't be able to fix this for a while as my laptop is out of commission due to a bad BIOS flash.

[2018-09-24 14:01] neheb commented on #7095
Just add this as a patch to get it to build: https://github.com/NICMx/Jool/commit/de791931d94e972c36bb3c102a9cadab5230c285

[2018-09-24 17:20] ivanich opened #7096 "nut: Broken blazer_usb after PR #6897"
Maintainer: @cshoredaniel
Environment: (ath79, TP-Link wdr4300, OpenWrt 18.06.0 master branch)
Description:
Using blazer_usb nut driver and found that this PR brings https://github.com/openwrt/packages/pull/6897/files#diff-b43121d3cb6f04f9a4f58f93c7970813R150 option which is not available in blazer_usb thus it cannot start with the following error
Wed Sep 19 08:56:12 2018 daemon.info blazer_usb[38

[2018-09-25 09:02] yousong commented on #7090
Openvpn is part of the base system.  Issues or feature request should be directed to bugs.openwrt.org.  I am closing this.

That set aside.  I do not like the added complexity.  It's not much burden to just edit the config file.  It's more clean and clear.  On the other hand, overriding may not always work as expected [1].  These extra caveats/exceptions spoil the fun

 [1] https://forums.openvpn.

[2018-09-25 09:02] #7090 closed

[2018-09-25 09:14] yousong commented on #6998
The getdns missing dependency on libbsd issue should now be worked around by pull request #6960

[2018-09-25 09:14] #6998 closed

[2018-09-25 13:20] mantinan commented on #6997
I solved the error by setting option statepath /var/run/nut on config upsd, but only upsd is run, no sign of the driver, in this case it was apcsmart.

I'm wondering thy did I have to set statepath on the first place :-?

And then, the problem with the driver, is specific to my driver (because it is serial) or will it happen on any other driver?

I'm still at the same place as my previous message.

[2018-09-25 13:40] cotequeiroz commented on #6957
I've looked into the valgrind crash.  I've compiled valgrind, openssl and unbound with `-Og` instead of `-Os`, no stripping, and it fails at the same point. It seems to be related to MIPS64 assembly instructions being present in MIPS32 object files.  It may be trying to execute code that's not executable, or some confusion even with `-Og`.  What I've seen is that valgrind fails an assertion trying

[2018-09-25 14:19] Ansuel commented on #6957
Mvebu here and same problem... I don't think is related to mips64
instructions

Il Mar 25 Set 2018, 15:42 Eneas Queiroz <notifications@github.com> ha
scritto:

[2018-09-26 11:26] thess commented on #6987
Finally closed by #7100 on trunk. Soon to be in 18.06

[2018-09-26 11:26] #6987 closed

[2018-09-26 14:15] thess commented on #7092
Done via: https://github.com/openwrt/packages/commit/218a7a6868fdc2bf8862e6f057a0d13dace33885
Should be in downloads after buildbots catch up in a day or 2.

[2018-09-26 14:15] #7092 closed

[2018-09-26 15:14] thess commented on #6584
OK folks - thanks for all this (mostly) useful feedback. I am going to close this topic now as it has been pretty talked out. For the next step, I propose we draft a document outlining a SIMPLE review process/timeline for handling PRs. Topics covering what happens if no-one responds and the possible auto-merging or closing of neglected PRs should be included. Also, noting the difference of handlin

[2018-09-26 15:14] #6584 closed

[2018-09-26 15:27] thess commented on #6830
OK: https://github.com/openwrt/packages/commit/95cce73642591c708c6553a397b7cd418dce4ac3

[2018-09-26 15:27] #6830 closed

[2018-09-26 18:13] maxberger commented on #6977
Hello,

after updating to 18.06 I now ran into the same issue. (PID exit with error). Interestingly what caused the script for me to fail was the write_log line.  After removing:
  write_log 7 "${ANSWER}"
the script itself returned sucessfully. It is still not starting, so there is something else wrong.

[2018-09-26 19:51] cminois commented on #7024
Hi @jow-, could you have a look at my request? Thanks.

[2018-09-26 20:38] cshoredaniel commented on #6997
Apologies everybody I've gotten drawn into local politics and it's
talking up a *lot* of time.  Election's on October 22 so if I haven't
gotten to this by then (although hopefully I can make time before then)
I should have time after that.

[2018-09-27 03:31] yousong commented on #6958
@uxgood , I just cherry-picked the commit, but it's not enough.   The code in master branch already failed for different reasons.

https://downloads.openwrt.org/snapshots/faillogs/aarch64_cortex-a53/packages/jamvm/compile.txt
[code]

[2018-09-27 03:33] yousong commented on #6958
Close this as it's an upstream issue, i.e. jamvm currently does not support aarch64.

http://jamvm.sourceforge.net/
[code]

[2018-09-27 03:33] #6958 closed

[2018-09-27 03:36] daidaiwood opened #7108 "mwan3 start problem and after ping 8.8.8.8 network unreachable"
Environment: (put here arch, model, OpenWrt version)
[code]
Description:
[code]
![qq 20180927111045](https://user-images.githubusercontent.com/43629170/46122109-88e65e00-c249-11e8-9fec-29e834f13354.png)

[2018-09-27 04:27] EricLuehrsen commented on #6957
It appears the Unbound leak will be resolved soon. Tests on select patches show promising results so far. Need to let this simmer for a while and see if it solved the growth or only slowed it.

[2018-09-27 13:02] mantinan commented on #6997
I was testing with a stable installation and master nut packages but as I was not sure if I had to pull any other package from master, I'm now testing with a newly installed machine running master.

When running master (OpenWrt SNAPSHOT, r8165-3fa7e62) I get exactly the same results as explained before, this time I'm using driver riello_usb.

I finally got this to run with a couple of tricks, the

[2018-09-27 14:10] mark0n commented on #6977
@maxberger in the context of this ticket we found a bunch of issues which are fixed by #7015 and https://github.com/dibdot/packages/commits/ddns-fix, respectively (thanks a lot to @dibdot and @a-bali!). We are getting closer (the script keeps running now) but I think there is at least one more issue to fix (seems like the IP doesn't get updated anymore when I manually change the IP in the Route53

[2018-09-27 14:33] hcwhan commented on #5055
I have the same problem, but after I manually updated PR #6515, the problem was solved.
Now works very well.

[2018-09-27 17:14] cshoredaniel commented on #6997
Thank you for the feedback.  I've gotten drawn into local (municipal)
politics and have have been quite busy with 'life' as well so although I
will make an effort to get to this before October 22 election I may not
have a lot of time before then.

[2018-09-28 00:31] daidaiwood commented on #7108
After another version of the test,  found it conflicts with sfe.

[2018-09-28 05:16] mark0n commented on #6977
@dibdot, you commented out the [`set -euo pipefail` line](https://github.com/openwrt/packages/blob/master/net/ddns-scripts/files/update_route53_v1.sh#L10) @maxberger copied from [upstream](https://github.com/yuvadm/route53-ddns/blob/master/route53.sh#L21). Looking at the code I realized that we should definitely remove this line since `dynamic_dns_updater` [calls `send_update`](https://github.com/

[2018-09-28 05:48] dibdot commented on #6977
@mark0n @a-bali final patchset now in #7115 ... last chance for further changes ... ;-))

[2018-09-28 05:56] maxberger commented on #6977
Awesome! I'll try to verify this during the day today (eu time). So if you can hold off submitting for 24h you'll get an extra test data point :)

[2018-09-28 05:58] dibdot commented on #6977
@maxberger take your time, appreciate your feedback!

[2018-09-28 11:47] quazardous commented on #7077
I had to do a rest + restore conf backup and the alert disappeared ...

[2018-09-28 11:47] #7077 closed

[2018-09-28 12:50] mantinan commented on #6997
Hi again!

I tried the new packages on stable with the same results as on master, needed the ption statepath /var/run/nut to avoid the mkdir problems, the fatal errors with the 3 variables, which are not valid for riello_usb or apcsmart either, and the permissions problems.

On the riello_usb the permissions are needed on /dev/bus/usb/... while the apcsmart (which is a serial driver) needs permiss

[2018-09-28 17:28] lollul opened #7116 "domoticz needs to be recompiled"
Maintainer: Stijn Tintel <stijn@linux-ipv6.be>
Environment: Openwrt 18.06

Description: boost components have been upgraded to 1.68 release but looks like domoticz wasn't recompiled.

Error loading shared library libboost_thread.so.1.67.0: No such file or directory (needed by /usr/bin/domoticz)
Error loading shared library libboost_system.so.1.67.0: No such file or directory (needed by /usr/bin/do

[2018-09-29 03:19] SUNJINZE opened #7119 "ddns-scripts additional install ddns-scripts_cloudflare issues"
After compiling ddns-scripts, you need to install "ddns-scripts_cloudflare". Is there a way to add the compiled package? Avoid installing ddns-scripts_cloudflare every time.

[2018-09-29 05:00] dibdot commented on #7119
No, if you use cloudfare you have to install this add-on as well.

[2018-09-29 05:00] #7119 closed

[2018-09-29 05:27] dibdot commented on #3338
let's close dated ddns tickets without further input.

[2018-09-29 05:27] #3338 closed

[2018-09-29 05:27] dibdot commented on #3876
let's close dated ddns tickets without further input.

[2018-09-29 05:27] #3876 closed

[2018-09-29 05:27] dibdot commented on #5971
let's close dated ddns tickets without further input.

[2018-09-29 05:27] #5971 closed

[2018-09-29 07:14] SUNJINZE commented on #7119
Thanks for your answer, Can this add-on be included in the ddns script? Don't need to install ddns-scripts_cloudflare again

[2018-09-29 16:11] maxberger commented on #6977
@dibdot I can confirm: I have both scritps in the current version of #7115 running on my openwrt 18.06.0 box, and they work just fine. Updates work (both ipv4 and ipv6) , and the process stays running. Thanks for the fixes!

[2018-09-30 08:43] reinerotto opened #7120 "coova-chilli: Build does not honor "disable-IPV6 for packages""
Maintainer: Jaehoon You <teslamint@gmail.com>
Environment: trunk

When building image _without_ support for ipv6 for packages, this is not honored for coova-chilli.
May be, to introduce additional option for "make menuconfig" like
$(if $(CONFIG_COOVACHILLI_IPV6),--with,--without)-ipv6 \

Actually, coova-chilli is always built incl. ipv6

[2018-09-30 09:03] Andy2244 commented on #6757
Was just added thanks to Michael Petullo !

[2018-09-30 09:03] #6757 closed

[2018-09-30 16:00] jonathanunderwood commented on #6787
PR #7122  submitted implementing UCI integration.

[2018-09-30 21:36] pprindeville opened #7125 "Seed GitHub PR's with recommended reviewers"
When starting a PR, the package maintainer isn't always listed as a potential reviewer.  Which leaves you wondering, "Okay, who's going to review my PR?"

Per @champtar, GitHub offers some functionality already when one uses a `/.github/CODEOWNERS` files.  Its format is documented here:

https://help.github.com/articles/about-codeowners/

We could synthesize this file based on the `MAINTAINER` fro

[2018-10-01 01:04] champtar commented on #7125
Doesn't handle multi maintainer
[code]

[2018-10-01 01:05] champtar commented on #7125
Also CODEOWNERS feature only warn people with commit access

[2018-10-01 06:49] feckert commented on #5055
@hcwhan thanks for the feedback
@mfullerca i think this is fixed so i think we could close this issue

[2018-10-01 20:52] froodproton opened #7130 "openvswitch: OpenSSL does not support ECDSA: please upgrade or rerun with --disable-ecdsa"
Please make sure that the issue subject starts with unbound or openvswitch

this is the same as https://github.com/openwrt/packages/issues/6993

Building the latest master for ar71xx_generic_DEVICE_archer-c7-v2 on Ubuntu 18.04.1
with config from https://downloads.openwrt.org/releases/18.06.1/targets/ar71xx/generic/config.seed
fails with error
[code]

[2018-10-02 13:58] feckert commented on #6982
@teqlee I think my PR https://github.com/openwrt/luci/pull/2198 will fix this

[2018-10-03 08:31] kurac338 opened #7135 "ddns-scripts_no-ip_com not updating"
Hi, I am having trouble setting up the No-IP.com DDNS on my TP-Link Archer C7.

I am using the Luci web interface to configure the client. My router sits behind a modem, so I have it set up to retrieve the public IP from an URL, which works fine.

The problem is that the newly leased public IP never gets reflected on the provider's side.

The script detects a change in the IP address, and tries to

[2018-10-03 08:57] kofec commented on #7135
There is an issue that you have to install real "wget" as tiny substitution is not working for no-ip.

[2018-10-03 09:00] kofec commented on #7135
Not it is linked to uclient-fetch
/bin/wget -> uclient-fetch

[2018-10-03 13:15] stintel commented on #6751
Fixed by 0e9e0607758311f15bb1b481ee91ae12bc0fc92b

[2018-10-03 13:15] #6751 closed

[2018-10-03 14:10] dartraiden opened #7136 "i2pd needs to be recompiled"
i2pd wasn't recompiled and search boost 1.67, but boost already bumped to 1.68

`Error loading shared library libboost_system.so.1.67.0: No such file or directory`

[2018-10-04 06:44] kurac338 commented on #7135
My wget is located at /usr/bin/wget and points to wget-ssl package, so I think this is configured correctly.

[2018-10-04 15:34] kurac338 commented on #7135
I've diagnosed the issue, the error was on my end. I misunderstood the configuration parameters.

[2018-10-04 15:34] #7135 closed

[2018-10-04 19:56] thess commented on #7136
Is this 18.06 release or master branch orr both?

[2018-10-04 20:05] thess commented on #7136
Fixed in 18.06 by 482d94bf4725f95710369dd31ed0b49cce593ed7

[2018-10-04 20:05] #7136 closed

[2018-10-04 20:06] thess commented on #7116
Fixed in 18.06 by 482d94bf4725f95710369dd31ed0b49cce593ed7

[2018-10-04 20:06] #7116 closed

[2018-10-05 11:10] dibdot commented on #7130
Why didn't you inform the openvswitch maintainer? Mentioned in the referenced ticket and the issue template. Without that you will only produce stale tickets ...

[2018-10-05 11:12] dibdot commented on #7120
Please always use the @-notation to inform the maintainer: @teslamint

[2018-10-05 11:14] dibdot commented on #7108
Please always inform the maintainer, too: @feckert

[2018-10-07 08:07] raineth opened #7148 "watchcat: support for multiple IPs broken"
Maintainer: @nunojpg
Environment: all, OpenWrt 18.06.1 r7258-5eb055306f

Description:
Watchcat is written to support multiple space-separated addresses: https://github.com/openwrt/packages/blob/2e0cb11fe0bc9129e71252eafb5967eaa5bda2d8/utils/watchcat/files/watchcat.sh#L55

...but it doesn't work.  I think the behavior of the shell changed at some point in the past, because the quotes around "$pingh

[2018-10-07 14:37] kukulo2011 commented on #5760
I had the same issue with broken DNS while using multiple wan, while one connection was in failed state.
In interfaces it helped to **uncheck** the option **Use advertised DNS by peer** and **Use custom DNS servers: 8.8.8.8, 8.8.4.4** for both wan interfaces in the advanced options.

[2018-10-07 14:42] kukulo2011 commented on #5760
[https://imgur.com/0xdGmm8](url)

[2018-10-09 00:17] tony-sunjian commented on #6893
Rename 20_mysqli.ini to 30_mysqli.ini, or delete 20_mysqli.ini if both exist. If you also have 20_openssl.ini there, rename that to 10_openssl.ini.

[2018-10-09 06:45] feckert commented on #6559
@camelcamro Now I had time to implement your feature request.
Please test the last two commits from the branch https://github.com/TDT-AG/packages/tree/pr/20181009-net-mwan3. The Information for uptime/downtime are integrated int the ubus call.

If this works for you i will open a PR

[2018-10-09 06:46] cshoredaniel commented on #7096
Permissions issue may be related to https://github.com/openwrt/packages/issues/6966.  Otherwise it's a missing productid/vendorid in NUT upstream I'd think.  Other issue I am working on (the invalid variable).

[2018-10-09 06:58] cshoredaniel commented on #6682
@guidosarducci I'm glad you found the commit ... I mentioned somewhere else you mentioned me.  Sorry for not getting back sooner.  rl's been busy.

[2018-10-09 09:13] feckert commented on #7108
mwan3 does not use **/var/etc/miniupnpd.conf** so maybe the problem has todo with this package?

[2018-10-09 12:32] zokl opened #7162 "openssh-sftp-server: compilation fails without full version of openssh server"
Maintainer: @cotequeiroz
Environment:  all, openssh, OpenWrt 18.06.1

Description:

Affected package openssh 7.8p1

If I use only openssh-sftp-server the compilation fails on this point:

[code]
If openssh-sftp-server is compiled with the openssh-server package all goes well.

[2018-10-09 13:36] cotequeiroz commented on #7162
I will take a look at it, as I probably introduced the bug, but to be proper, package maintainer is @tripolar.

[2018-10-09 18:21] tripolar commented on #7162
@cotequeiroz if you can't find a solution i will drop your openssl patch, because the next version will have the openssl patch in mainline and tested. Somehow i expected bugs like this

[2018-10-09 19:54] cotequeiroz commented on #7162
Here's the PR I've opened upstream:
https://github.com/openssh/openssh-portable/pull/101
I'm opening one here as well.

[2018-10-09 19:56] zokl commented on #7162
Thank you very much for your help.

[2018-10-10 02:28] cshoredaniel commented on #6997
@mantinan FYI you can create /etc/hotplug.d/tty and add a hotplug script under it to set permissions on the serial port.

[2018-10-10 05:47] tony-sunjian opened #7168 "<php7>: some problem with zlib"
Please make sure that the issue subject starts with `<package-name>: `

This repo here is only for packages maintained in this repo.  For base packages residing in the same repo as the build system and maintained by core devs, please consider opening tickets there for more timely responses

 - OpenWrt base system: https://bugs.openwrt.org
 - Most LuCI packages: https://github.com/openwrt/luci/issu

[2018-10-10 10:43] diizzyy commented on #7168
(lib)curl doesn't support zlib encoding by default, you need to build your own package.

[2018-10-10 14:54] yousong commented on #7130
I am afraid this is an unbound issue ;) let's move further discussion there at #6993

[2018-10-10 14:54] #7130 closed

[2018-10-10 15:04] yousong commented on #6993
The error message was from unbound configure script.  Open vSwitch 2.10 contains no mentions of `ECDSA_sign` while the code is present in unbound configure.ac

[code]

If we look more closely, the posted error message also confirmed this

[code]

[2018-10-10 15:08] yousong commented on #6993
Ping unbound's current maintainer @EricLuehrsen ;)

[2018-10-10 15:22] yousong commented on #6993
unbound is now at 1.8.0 on master.  Both unbound and openvswitch compile fine according to contents at downloads.openwrt.org [1,2]

If the issue still persists, you will need to provide OpenWrt version information and relevant bits in config.log which should reside in the PKG_BUILD_DIR.

 [1] https://downloads.openwrt.org/snapshots/faillogs/mipsel_24kc/packages/
 [2] http://downloads.lede-project.

[2018-10-10 15:58] leonardpitzu opened #7171 "<python>: Python 2.7.15 Darwin compile error"
Maintainer: @jan-kardell
Environment: (ath79, archer c7 v2, OpenWrt Master)

Description: python 2.7.15 fails to compile on macos mojave

[code]

[2018-10-10 19:55] EricLuehrsen commented on #6993
Lets apply IS and IS-NOT. IS when `openvswitch` is installed. IS NOT any other `unbound` install I we know of. Conlude likely openvswitch Makefile sets a persistent switch or env variable that poisons other packages. Please close as not a Unbound issue.

[2018-10-11 01:55] tony-sunjian commented on #7168
thanks for reply @diizzyy @mhei

[2018-10-11 04:15] yousong commented on #6993
openvswitch selects libunound in commit 483e12a9ec82ae594f4686629cb85af67259482c, a change to support asynchronous dns resolving introduced in openvswitch-2.10

The then travis build checks and my local build/run tests all worked fine.  I just re-checked with the following config options and cannot reproduce the said issues.

[code]

@froodproton @nasbdh9 , please provide relevant bits of unbound'

[2018-10-11 07:18] akavish12 opened #7174 "Aircrack-ng 1.4 Makefile"
is there a Makefile for the new version of aircrack-ng?
tried to cross compile using the toolchain and had too many dependency problems :(

thanks!

[2018-10-11 15:33] rossbcan commented on #7171
x86_64 also...

HOST_LDFLAGS += \
        $$$$(pkg-config --static --libs libcrypto libssl) -L$(STAGING_DIR_HOST)/lib -Wl$(comma)-rpath-link=$(STAGING_DIR_HOST)/lib

gets U past this, then to:
checking whether the C compiler works... yes
checking for C compiler default output file name... a.out
checking for suffix of executables...
checking whether we are cross compiling... configure: error: in `/

[2018-10-11 16:20] rossbcan commented on #7171
Adding:
define Host/Configure
        export LD_LIBRARY_PATH=$(LD_LIBRARY_PATH):$(STAGING_DIR_HOST)/lib; $(call Host/Configure/Default)
endef

gets you to:

./python -E -S -m sysconfig --generate-posix-vars ;\
if test $? -ne 0 ; then \
	echo "generate-posix-vars failed" ; \
	rm -f ./pybuilddir.txt ; \
	exit 1 ; \
fi
./python: error while loading shared libraries: libcrypto.so.1.0.0: cannot open sh

[2018-10-11 19:18] neheb opened #7180 "mc: Buildbot is failing due to missing librpc dependency"
@dibdot

https://downloads.openwrt.org/snapshots/faillogs/mipsel_24kc/packages/mc/compile.txt

[2018-10-12 01:43] daidaiwood commented on #7108
/etc/hotplug.d/50-miniupnpd cause this problem.
move this file to other place,then run wman3,it's good.

[2018-10-12 01:43] #7108 closed

[2018-10-12 04:00] EricLuehrsen commented on #7130
How is this a Unbound problem? ECDSA is a supported algorithm for DNSSEC and TLS. DSKEY records label it `13` in the algo field. If you compile OpenSSL without it, then Unbound **should** complain the library is short of its requirements. Worth reading: https://www.cloudflare.com/dns/dnssec/ecdsa-and-dnssec/

[2018-10-12 06:28] jow- commented on #7180
@dibdot  @neheb - try `CONFIGURE_VARS += ac_cv_func_pmap_set=no`

[2018-10-12 06:30] dibdot commented on #7180
@jow- many thanks, I'll try that.

[2018-10-12 07:13] teqlee commented on #6982
Fixed, tks @feckert

[2018-10-12 09:11] dibdot commented on #7180
@jow- I've added this variable to my Makefile but mc generation dies here locally as long as I build librpc in parallel.

[2018-10-12 20:28] dibdot commented on #7174
Obviously "No". Please discuss your issue in the forum and maybe come back with a proper PR for an updated aircrack-ng package.

[2018-10-12 20:28] #7174 closed

[2018-10-13 08:02] daztucker commented on #5559
You can also work around it by symlinking /root/.ssh /.ssh

[2018-10-13 09:44] camelcamro commented on #6559
@feckert
ok, tested and working .. sorry for the delay.
would be nice, if you can now add it to the luci-mwan3 package to get the online+downline time + interface uptime
like as described above:

`Interface status:
interface 4G is unknown and tracking is down
interface 4GA is unknown and tracking is down
interface VPN_ROUT02 is online 00h:01m:18s , uptime 00h:34m:58s and tracking is active
interfa

[2018-10-13 09:46] zxdavb opened #7195 "ddns-scripts: incorrectly interprets response from namecheap"
Firstly thanks for a great package!

Maintainer: @dibdot
Environment:  OpenWrt 18.06-SNAPSHOT, r7317-f506de2cda

Description: When chasing a bug of my own devising (the `192.168.0.100`, below), I found this in the logs:
[code]

Part of the issue is caused by `ddns-scripts` incorrectly interpreting the response from **namecheap** as successful, when it was not, due to an incorrect password (below i

[2018-10-13 12:33] tripolar commented on #7180
librpc should get dropped/removed. See https://github.com/openwrt/openwrt/pull/1280

[2018-10-13 14:15] zxdavb commented on #6409
FWIW: These are the changes I make to **lxc-checkconfig** to fix various issues that are resolved in a later release than that currently used by OpenWrt:
[code]

[2018-10-14 17:06] dibdot commented on #7195
@zxdavb Nice try - I'm **not** maintainer of this epic script eldorado. Anyway I try to keep this running, but I'm not using this package ... you have been warned! ;-))

Looking at the code I think it works as designed. In "services" file the namecheap definition looks like this:

[code]
There is no third column with a possible update answer string defined.
In dynamic_dns_functions.sh whithin the

[2018-10-14 17:55] jonathanunderwood commented on #6787
Closing now that #7122 has been merged.

[2018-10-14 17:55] #6787 closed

[2018-10-15 12:45] zxdavb commented on #7195
Ha! I meant to write @chris5560 & got confused (**adblock** is my other go-to package).

Fair enough about the PR - I will add this to my list!

For my own reference, in: https://www.namecheap.com/support/api/methods/domains-dns/set-custom.aspx, we have an example response:
[code]

This is not in the same format as my error, above - but it's using a much different URL!

[2018-10-15 13:03] zxdavb commented on #7195
Options to try would be
a) use answer = `<ErrCount>0`,
b) use api.namecheap.com rather than dynamicdns.park-your-domain.com,
c) re-write scripts to handle answers of failure (otherwise assume OK), as well as answers of success (otherwise assume failed)

I will try a) & b) & report back...

[2018-10-16 02:51] Student414 opened #7202 "gcc: cannot compile GCC package to .ipk"
Env:
VirtualBox uBuntu 16.04.10
OpenWrt target: X86 normal

Log:
[code]

[2018-10-16 06:05] SUNJINZE opened #7203 "cloudflare.com-v4 subdomain update question"
Packages:ddns-scripts_cloudflare.com-v4
Luci has only three variables [PASSWORD], [DOMAIN] and [IP], and I want DDNS to update x.xx.com under the xxx.com domain name.
I hope you can add sub domain variables in Luci, and HOST=DOMAIN in the script now.
Thanks!

[2018-10-16 06:50] dibdot commented on #7203
Seems to be a configuration issue - please ask in the forum, cause this package is unmaintained.

[2018-10-16 06:50] #7203 closed

[2018-10-16 06:57] dibdot commented on #7202
@noblepepper

[2018-10-17 02:18] yousong commented on #6993
cannot reproduce and no further response happened.  close this for now.

[2018-10-17 06:16] #7120 closed

[2018-10-17 15:58] mendel129 opened #7210 "libexif"
Maintainer: @MikePetullo
Environment: OpenWrt 18.06

Description: could https://github.com/libexif/libexif/commit/c39acd1692023b26290778a02a9232c873f9d71a#diff-830e348923810f00726700b083ec00cd be added to the OpenWRT version of libexif?
They migrated to that GitHub in the meantime including some other fixes as well.
https://github.com/libexif/libexif

It's the same issue as originally followed via

[2018-10-18 08:12] zimiao815 commented on #2720
yes，  thanks ! i got it too

[2018-10-19 00:29] daniel-santos commented on #5347
hrmm. Shouldn't this be auto-selected by whatever triggers its use?

[2018-10-19 08:02] diizzyy commented on #7210
Perhaps you can do a pull request that uses the master branch instead?
You can use this as a template for using codeload on master branch
https://github.com/openwrt/packages/pull/6010/files#diff-93a681dc930689e08c33cee51a9aad1bR17

[2018-10-19 10:11] mantinan commented on #7096
Hi!
I have downloaded master from cshoredaniel:pr-nut-more-fixes and compiled it.

I'm finding that even though I have set it to run as nut I get upsd running as root, this used to be user nut on -8 version, so -9 has a regression here.

On -8 a ps would tell:
 1172 nut       2900 S    /usr/sbin/upsd -D -u nut
On -9 I get:
 1258 root      2896 S    /usr/sbin/upsd -D

This is my nut_server config:

[2018-10-19 11:45] cotequeiroz commented on #7162
Openssh 7.9p1 was released, but they didn't address my bug report.  Your problem in particular might have been fixed if you build without openssl at all.  However, if openssl is selected and ECC is turned off, the problem remains.  I've updated the pull request to use 7.9p1.

[2018-10-19 11:56] mantinan commented on #6997
Hi!

I have now tested it with an APC UPS running serial apcsmart with this /etc/hotplug.d/tty/99-USB script for the permissions problem and everything runs ok:
#!/bin/sh

[ -n "$DEVNAME" -a -z "${DEVNAME%ttyUSB*}" -a "$ACTION" = "add" ] &&
  chown nut "/dev/$DEVNAME"

The only problem that remains is the user problem (upsd running as root as I explained already on the wrong bug, sorry about that,

[2018-10-19 19:56] cshoredaniel commented on #6997
On 2018-10-19 7:56 a.m., mantinan wrote:

Unfortunately forcing the 'nut' user to ttyUSB is probably a non-starter
as it NUT is not the only consumer of serial USB.  I am thinking though
that it might be worthwhile to have a 'nut_server' option that such a
script reads to determine whether to run or not (so it only comes into
play for NUT users).

Ah, I'll have to document that better -- runas as

[2018-10-19 20:11] cotequeiroz commented on #7162
I've run some more tests, and 7.9p1 does not fix this.  I now understand why it is failing: If you select openssh-sftp-server, then openssl does not get selected as a dependency, but it is built anyway (I don't understand why it is getting built).  Since it was not selected in .config, no options are set either, not even the default ones.  So, a bare openssl library gets built, not including ECC s

[2018-10-20 11:39] SirDMZ commented on #6530
and for some reason this bug is back... unsure what changed.

[2018-10-20 17:38] adriankirchner commented on #5835
Since Zabbix Agent is running as user `zabbix` it need an ubus ACL (based on [this post](https://forum.openwrt.org/t/solved-zabbix-server-cant-discover-lede-interfaces/10454/12)):

File: `/usr/share/acl.d/zabbix-agent.json`
[code]

Reload ubus with `killall -HUP ubusd`

[2018-10-20 17:38] #5835 closed

[2018-10-20 18:12] champtar commented on #5835
@adriankirchner do you want to try to create a PR to add this ACL ?

[2018-10-20 18:32] adriankirchner commented on #5835
Would love to but I'm not sure if I'll find time in the near future to learn stuff like building stuff locally on my openwrt device and understanding how opkg works (eg. for ubus reloading). Maybe you can get me some hints.

[2018-10-21 01:00] cshoredaniel opened #7227 "CONTRIBUTING.md -- squashing PR's into a single commit?"
Hi,

I always thought that commits to packages (or OpenWrt) were preferred to be minimal atomic commits (i.e. do one thing, should work standalone, except bumping PKG_RELEASE), but on at least one PR I was asked to squash a set of commits on a package into a single commit.

What is the packages feed policy on this, and should it be added to CONTRIBUTING.md file?

Is the difference that is was a ba

[2018-10-21 02:30] pprindeville commented on #7227
My understanding is the same as yours, assuming "do one thing" equates to "fix one issue" or "add one enhancement" at that granularity.

[2018-10-21 07:54] kissg1988 opened #7228 "seafile-seahub: fails to build due to missing build dependency"
Maintainer: @kissg1988 (adding @cotequeiroz as the most recent contributor)
Environment: ar71xx, openwrt HEAD (issue exists for all archs)

Description:

According to the [build log](https://downloads.openwrt.org/snapshots/faillogs/mipsel_74kc/packages/seafile-seahub/compile.txt) the build fails due to being unable to locate the pytz python module which is available as a [package](https://github.c

[2018-10-21 11:32] HeadLessHUN opened #7230 "[mariadb] SIGSEGV during access"
Maintainer: Sebastian Kemper
Environment: mips32r2, mir3g, r8353-d27d87c
Package version: mariadb-server - 10.2.17-1 (built on 2018.10.20.)

Description:

 -Start mysql server (mariadb)
 -Attempt to connect to the server through socket or tcp.
 -server stop because of invalid memory write

[code]

[2018-10-21 11:53] diizzyy commented on #7230
Can you try getting global CFLAGS to -O2 instead of -Os and do a full recompile?
There are reports where -Os miscompiles on mips so it might be worth testing as a quick fix.

[2018-10-21 15:06] HeadLessHUN commented on #7230
I did not mention that before but the default Target/Package CFLAGS are already O2. In the makefile i don't see any overwrites, so it should be O2.

Now I'm trying to compile with glibc instead of musl, but that is not permanent solution.

Maybe it is connected with [this?](https://forum.openwrt.org/t/mariadb-illegal-instruction/21984)

I do not remember clearly but i think i built my previous ima

[2018-10-21 15:52] the-eric-kwok commented on #7095
Built failed with master at `e1db49310e9912f4076789e704180ab3b9ea0184`.

Enviroment: Allwinner A20, built on Deepin Linux 15.7

Before I add the patch I got this
[code]

And then I add the patch, `make dirclean` and recompile, I somehow got this:
[code]

I have no idea what's going on.

[2018-10-21 15:58] neheb commented on #7095
This fixes is: https://github.com/openwrt/packages/pull/7176

Someone needs to merge

[2018-10-21 17:43] mhei commented on #7227
I'd agree to this. However, there is always some room for interpretation, so I don't know who/why you was requested to squash the commits. I'd also prefer to see each individual backported commit as is, squashing at this point could make it harder to follow what was backported and what was modified during the backporting process.

[2018-10-22 05:52] mantinan commented on #7096
Great!

[2018-10-22 06:50] mantinan commented on #6997
Hi again!

I'd like you to note something, I was talking that the upsd was run as root, while on my config it says that upsd is run as nut. This is what I think is wrong.

On the other hand as I hadn't specified a user for the riello driver it is started as nut by default, which looks ok.

Regards.

[2018-10-22 10:39] HeadLessHUN commented on #7230
I temporarily solved my issue.
I tried to build with glibc, that wouldn't be a good solution and didn't built. So i checkout the 18.06 branch.. Here is the problem, my database was used with 10.2.17 as i remembered i built previous image on 2018.09.06. So mysql could'nt use that database i didn't want to roll back to previous backup it was one week old. So i modified the feeds.conf to use master u

[2018-10-22 10:39] #7230 closed

[2018-10-22 17:17] garrymar opened #7235 "isc-dhcp-relay-v4 installs the /etc/config/dhcrelay.conf file instead of /etc/config/dhcrelay"
Dear maintainers,

Recently I noticed that the package `isc-dhcp-relay-v4` installs default configuration file as `/etc/config/dhcrelay.conf`, but the corresponding init script looks for the `/etc/config/dhcrelay`. Thanks.

[2018-10-23 13:04] feckert commented on #5055
@hnyman no answer from issue reported but i think this issue is fixed. I think we could close thjis issue now.

[2018-10-23 14:28] DonkZZ opened #7248 "[unbound]: the script odhcpd.sh doesn't remove DHCP-DNS records"
Maintainer: @EricLuehrsen
Environment: ar71xx, NETGEAR WNDR3700, OpenWrt 18.06.1 (r7258-5eb055306f)
unbound - 1.8.1-1
odhcpd - 1.10-1

Description:
By following this [how-to](https://github.com/openwrt/packages/blob/openwrt-18.06/net/unbound/files/README.md#unbound-and-odhcpd), I configured odhcpd and unbound to add and remove DHCP-DNS records in my local zone.

The script odhcpd.sh can't remove D

[2018-10-23 16:47] champtar commented on #5835
fixed with https://github.com/openwrt/packages/commit/1afcc61601cb1e4c6238525f5d07c20e66e32ad9
Thanks @adriankirchner

[2018-10-23 16:54] #5055 closed

[2018-10-23 23:32] champtar commented on #5835
@adriankirchner i've also reimplemented network discovery using ubus, see https://github.com/openwrt/packages/commit/5d1aa99648bc2e22d7db7cc12926ea79e130bb04

[2018-10-23 23:33] adriankirchner commented on #5835
Nice one!

[2018-10-24 12:49] chris5560 commented on #7203
using following options from /etc/config/ddns
option username  - your cloudflare e-mail
option password  - cloudflare api key, you can get it from cloudflare.com/my-account/
option domain    - "hostname[.subdomain]@yourdomain.TLD"

this should do the job

[2018-10-24 13:02] SUNJINZE commented on #7203
I found the reason because I filled in the hostname.yourdomain without adding @ so the update was unsuccessful
Thank you @chris5560

[2018-10-24 14:15] cotequeiroz commented on #7162
This was fixed with 08c5f7cfabf6f01890b11905dd12661d7a33a9b6, so this issue should be closed.

[2018-10-24 14:54] cotequeiroz commented on #7228
Sorry for not getting back to you earlier.  I will take a look at it, and see what I can do.

[2018-10-24 14:57] zokl commented on #7162
Thank you!

S pozdravem,
Zbyněk Kocur
--
email: zbynek.kocur@fel.cvut.cz
phone: +420 22435 4054
web: http://www.fel.cvut.cz
Department of Telecommunications Engineering
Faculty of Electrical Engineering
Czech Technical University in Prague
Technicka 2
166 27 Praha 6

24. 10. 2018 v 16:15, Eneas Queiroz <notifications@github.com>:

[2018-10-24 17:46] #7162 closed

[2018-10-25 01:04] EricLuehrsen commented on #7227
As with everything the answer is "it depends." Considerations include the mess in front of you and your future plans to reuse it. If you have a major refactoring that has no chance of back porting cleanly anyway, then just squash it to one commit. If you have clean fixes that could be cherry-picked, then keep them separate.

[2018-10-25 07:15] 805447391 commented on #7202
OK, i have solved this problem temporary. Here is a very ugly solution.
File:{openwrt-ROOT}/build_dir/target-x86_64-glibc/gcc-5.4.0/x86_64-openwrt-linux-gnu/libgcc/md-unwind-support.h
Fix1:@line 61:
if (*(unsigned char *)(pc+0) == 0x48
      && *(unsigned long long *)(pc+1) == RT_SIGRETURN_SYSCALL)
    {
      // struct ucontext *uc_ = context->cfa;
	ucontext_t *uc_ = context->cfa;
      /* The vo

[2018-10-25 08:52] rossbcan opened #7250 "uwsgi-cgi: Stalls / deadlocks under heavy load"
Hi;

This may be more of a default configuration issue. I encountered deadlock under heavy load, discussed here:

https://forum.openwrt.org/t/solved-default-postinst-hangs/22946/8

solved (or at least reduced) by "limit-as = 1000" (from 200)

I am using OpenWrt X86_64, SMP (2 processors), 4GB RAM, 4GB VMEM (swap).

Seeking advice on how to set other related parameters in uwsgi.conf to tune perform

[2018-10-25 14:35] #7248 closed

[2018-10-25 14:47] dibdot commented on #7195
@zxdavb any news on this?

[2018-10-25 19:23] artynet opened #7252 "gcc: build of native gcc 7.x.x series fails"
Environment: (x86, generic, OpenWrt 18.06.1)

Hello folks, I am trying to build the native gcc7 compiler for OpenWrt leveraging the same patches of the toolchain itself (as done for the gcc v5.4.0 release).

The build crashes with this linking error :

[code]

which has to do with missing symbols in the ***.a** archives. Can you give me some pointers about that ?

Regards, Arturo

[2018-10-25 19:49] chmorgan opened #7253 "poco: being built for --minimal, why not --typical?"
I have use for poco libraries that are excluded in the --minimal build, such as crypto and netssl.

Would a PR to change from minimal to typical be accepted? If not is it easy to replace the poco recipe with my own version that builds for --typical?

[2018-10-25 20:12] zxdavb commented on #7195
Option a) works great, although I am using: `"<ErrCount>0<\ErrCount>"` in the third column.

[2018-10-26 21:00] n00bundercover opened #7256 "[FEATURE REQUEST] adblock: add energized sources"
I hope this is the right way to propose something rather than filing a bug. Just let me know if I'm wrong!

I want to propose to add the sources from energized as predefined options in adblock.

https://energized.pro/
https://github.com/EnergizedProtection/block

I could add a single energized "pack" like described in the readme, looking something like this:

`config source 'reg_ro'
  option enabl

[2018-10-26 21:29] cotequeiroz commented on #7228
In my system pytz always gets built before seafile-seahub.  I've tried it with `CONFIG_BUILDBOT=y`  to emulate the bots, but I'm unable to reproduce the problem.  I'll open a PR to see if travis has a similar problem, and see if the PKG_BUILD_DEPENDS fixes it.

[2018-10-28 12:27] #7095 closed, assigned to nobody

[2018-10-28 20:34] pprindeville commented on #7202
I suggest doing a PR instead of a pseudo-fix in the comments of an issue.

[2018-10-28 20:41] pprindeville commented on #7235
On it.

[2018-10-28 20:57] pprindeville commented on #7235
Resolved with PR #7270.

Thanks

[2018-10-28 20:57] #7235 closed

[2018-10-29 18:10] diizzyy commented on #7252
I think your best bet (for now) is to look at similar distros (ie musl and cross compiling)
Alpine Linux, Arch Linux, buildroot, Yocto and Openembedded comes to mind

[2018-10-29 20:06] diizzyy commented on #6841
https://github.com/openwrt/openwrt/pull/1508

[2018-10-29 21:28] cotequeiroz commented on #7228
I've tried you suggestion, but it did not work.  I found a way to get an error locally now, but it is in seafile-ccnet.  If I get the config.seed from the buildbot and select seanet-server, `make -j3` fails. If I run it again, it builds.  It takes forever to try again, though.  I'll study it some more, and keep you posted.

[2018-10-29 22:43] kissg1988 commented on #7228
Not sure what could be wrong here, unreproducible build issues are always nasty. :(

As a quick tip, it's worth checking whether pytz installs to the correct location and/or PYTHONPATH is correctly set during the build process (most likely it is). I don't see a faillog for pytz so it should be built and installed to its expected location, yet it's still not available. Maybe trying a clean rebuild

[2018-10-30 01:01] yousong commented on #6993
@NeoRaider Thanks for looking into this.

It's openvswitch userspace packages having a runtime dependencies on libunbound.  kmod-openvswitch should not.

[2018-10-30 04:31] witten opened #7280 "dnsmasq: Assigning the same static IP address to two different hosts breaks everything"
Maintainer: Kevin Darbyshire-Bryant (could not find GitHub user)
Environment: TP-Link Archer C7 v2, openwrt-18.06 branch (git-18.228.31946-f64b152) / OpenWrt 18.06.1 r7258-5eb055306f

Description:

When configuring static leases in LuCI's UI, I accidentally assigned the same IPv4 IP address to two different devices with different hostnames and different MAC addresses. When I hit save, dnsmasq comp

[2018-10-30 14:50] dibdot commented on #7195
Great, thanks for your efforts. Since this a configuration issue, I will close this issue. Feel free to open a PR with that changed config.

[2018-10-30 14:50] #7195 closed

[2018-10-30 14:58] ldir-EDB0 commented on #7280
I'm at the openwrt conference at the moment but when I get back I'll take a look.

[2018-10-30 15:19] ldir-EDB0 commented on #7280
ok, so I had a very quick look at this.  In the scenario you describe, luci will restart dnsmasq and dnsmasq will throw an error on the resulting config file because duplicate host IP addresses are a bad idea:

Tue Oct 30 15:12:15 2018 daemon.crit dnsmasq[9477]: duplicate dhcp-host IP address 192.168.219.14 at line 47 of /var/etc/dnsmasq.conf.cfg01411c
Tue Oct 30 15:12:15 2018 daemon.crit dnsmasq[

[2018-10-30 15:38] dibdot commented on #7256
Thanks for your input!

Please use always the 'domains.txt' format, e.g.:

[code]

you can't, energized doesn't provide an archive with different categories (like shalla or ut_capitole).

I don't plan to add this to the default adblock config. Even the basic energized variant provides more than 400k domains (compressed only ~280k), simply too much for average routers.
Anyway, feel free to add this

[2018-10-30 15:38] #7256 closed

[2018-10-30 16:55] jow- commented on #7280
Duplicate of https://github.com/openwrt/luci/issues/1079 - will add a fix to LuCI later.

[2018-10-30 16:55] #7280 closed

[2018-10-30 17:03] velainur opened #7283 "collectd-mod-openvpn: does not create all luci-statistics needed files."
Maintainer: @\<github-user> (find it by checking history of the package Makefile)
Environment: (x86, generic, OpenWrt 18.06.1)

Firstly, i know that there are some other post similar to this one, but without any solution, so i think it was better to start a clean one instead. (since they are so old, and maybe file version dont match with mines).

This is the (UCI) config related the custom "status

[2018-10-30 19:28] NeoRaider commented on #6993
Ugh, the issue is more annoying than I thought at first: OPENSSL_WITH_EC (which --disable-ecdsa can workaround) is not the only required symbol: OPENSSL_WITH_DEPRECATED is necessary as well (and AFAICT we can't get around that one without patching libunbound or upgrading to OpenSSL 1.1).

The main issue here is that all dependencies on config symbols (like +@OPENSSL_WITH_DEPRECATED) are only effec

[2018-10-30 20:20] xabolcs opened #7285 "v4l-utils: /dev/radio0 support"
### Maintainer: @thess

### Environment:
[code]

[code]
---

### Description:

I have a little USB FM Transmitter with `046d:0a0e` IDs.

It has a nice controller program, called [`keene`](https://github.com/kenchy/keene-usb-audio) which I was able to refresh it's OpenWrt support.

But nowadays there is `v4l-ctl`, which is able to control the transmitter on my desktop environment:
[code]

Example u

[2018-10-31 01:50] davidc502 opened #7289 "minidlna failing to build"
minidlna is failing to build. I've noticed it is also failing to build in the openwrt daily snapshots.

This is the error I'm seeing:

configure: error: libavutil headers not found or not usable
Makefile:83: recipe for target '/home/davidc502/Desktop/lede-build/openwrt/build_dir/target-arm_cortex-a9+vfpv3_musl_eabi/minidlna-1.2.1/.configured_889556d2f423f99e091beece9c8d870a' failed
make[3]: *** [/

[2018-10-31 12:04] locojohn commented on #6844
I have exactly the same issue as the above poster.  And I am pretty certain this error is related with collectd stuff.   Please could anyone look into this and provide a fix?

`/Volumes/OpenWrt/NETGEAR_R7800/staging_dir/hostpkg/usr/bin/perl5.28.0 files/perlconfig.pl -Dowrt:target_cc='arm-openwrt-linux-muslgnueabi-gcc' -Dowrt:gccversion="7.3.0" -Dowrt:target_cross='arm-openwrt-linux-muslgnueabi-' -

[2018-10-31 14:51] cotequeiroz commented on #7228
You were right: pytz is missing InstallDev. I guess seafile finds pytz at pytz's build dir, but the bots clean it after building it, and seafile-seahub fails.  I'll open a PR right away to see if travis builds it or not.  I suspect travis has another issue as pytz is not even on the list when it fails.

[2018-11-01 14:14] #7228 closed

[2018-11-02 11:11] diizzyy commented on #7289
This is most likely because it uses libffmpeg as dependency which isn't a package however it is defined.
https://github.com/openwrt/packages/blob/master/multimedia/ffmpeg/Makefile#L738

I tried compiling minidlna against ffmpeg40 which works fine
https://github.com/diizzyy/packages/commit/b94e499ac6ef6aa5f7cfbd8ca852cae4cde8105b

You can use it if you want (works fine on mvebu) however you need to

[2018-11-02 12:02] thess commented on #7289
This is a known problem with the way CONFIG dependencies work and soft vs hard float. For building minidlna, selecting libffmpeg-mini should work for you. That was the intended use for -mini.
I am working on a solution for libffmpeg-full on hard float but haven't been successful yet.

[2018-11-02 14:42] davidc502 commented on #7289
Thanks, I saw it was associated with ffmpeg and was going to do Full, but will go ahead and try -mini instead.

Appreciate the research.

[2018-11-02 19:42] jpereira commented on #4840
+1 still failing with the 18.06.1.

[2018-11-03 13:15] gnustomp opened #7303 "rng-tools: outdated, version 6.6 is available"
Maintainer: @nwf
Environment: 18.06.1, x86_64 (but widely applicable)

Description:

rng-tools now lives at https://github.com/nhorman/rng-tools , and 6.6 is available.

There are also some new entropy sources for rngd to use, notably `jitterentropy`.
It may be desirable to use this instead of `/dev/urandom` for additional entropy.

[2018-11-03 17:55] nwf commented on #7303
Thanks for the heads up.  I'm away from my openwrt build system right now, but I'll package the new version when I get a chance.

How does `jitterentropy` compare to havege?  Do I read right that `jitterentropy` requires a kernel module?  Should we deprecate the havege packages if `jitterentropy` supersedes it?  Is there harm in having both installed at the same time? :)

[2018-11-04 03:46] simontretter opened #7305 "ldns: build fails"
Maintainer: @neheb @damianorenfer
Environment: ramips_mt7621, WG3526, OpenWrt trunk)

Description:
ldns build is fails (gcc 7).

[code]

[2018-11-04 04:32] neheb commented on #7305
https://github.com/openwrt/packages/pull/7300

Enable deprecated APIs.

[2018-11-04 04:33] simontretter commented on #7305
That indeed fixes things.

[2018-11-04 05:21] simontretter opened #7306 "mmc-utils: Build fails with gcc8"
Maintainer: @mhei
Environment: ramips_mt7621, WG3526, OpenWrt trunk)

Description: Builds fine with gcc7, fails with gcc8.

[code]

[2018-11-04 06:36] mhei commented on #7306
Did you already report upstream about this issue?

[2018-11-04 10:31] jonathanunderwood commented on #7227
I think better criteria would be:

- Only fix a single issue, or implement a single feature in a PR
- Each commit should be self contained and testable when compiled (so that git blame remains useful

I think insisting on squashing commits is unhelpful, particularly when multiple people are collaborating on a feature/fix: the requirement to squash implicitly assumes a single author.

[2018-11-04 13:33] hnyman commented on #7303
Hmmm. Apparently legit new site for haveged, as the old site mentions new github development in the page http://www.issihosts.com/haveged/

[2018-11-04 13:33] mhei commented on #7306
Just for the record, after posting my own fix on the mailing list,
I noticed that there was already another proposal:
https://www.spinics.net/lists/linux-mmc/msg51803.html
Let's wait a few hours for feedback...

[2018-11-04 19:48] fennsen64 opened #7309 "snmpd: ipAdEntIfIndex: shows wrong interface index"
# Issue template (remove lines from top till here)

Maintainer: @\Stijn Tintel (find it by checking history of the package Makefile)
Environment: (put here MIPSBE, AR7161, OpenWrt 18.06)

Description:
The value of some ipAdEntIfIndex are pointing to wrong interface index values.
With this my opennms management engine gets silly :-(

Example here:
Interface with IP 172.16.0.1 which sits on eth1.1 (

[2018-11-04 22:13] karlp commented on #7309
So, just to be sure, what version of net-snmp are you actualyl running?

[2018-11-05 00:46] velainur commented on #7283
no clues?

[2018-11-05 19:04] fennsen64 commented on #7309
NET-SNMP version:  5.7.3

[2018-11-05 19:08] jgloss opened #7313 "<odhcpd-ipv6only> DHCPv6 announcements interrupt wifi momentarily"
DHCPv6 announcements interrupt wifi momentarily

Linux and android wifi clients will automatically reconnect. Windows clients need to be reconnected manually.

[2018-11-06 03:29] rafaeldomi commented on #7285
$00$0 p$0xp,p0$0xp$0,p,p

[2018-11-06 10:28] kofec opened #7324 "<python3-cryptography> missing libs *.so"
Maintainer: @jefferyto @commodo
Environment: Raspberry Pi, arm_arm1176jzf-s_vfp,

Description:
It looks looks like ther is no files *.so in directory which seems to be required:
[code]
This files are present on branch
`[](https://downloads.openwrt.org/releases/packages-18.06/arm_arm1176jzf-s_vfp/packages/python3-cryptography_2.1.4-2_arm_arm1176jzf-s_vfp.ipk)`
but not in snapshot:
`[](https://downl

[2018-11-06 10:29] commodo commented on #7324
Will check.
Assign it to me if you can

[2018-11-06 11:19] karlp commented on #7309
best I can suggest is to talk to upstream about it.  we're not using any legacy old kernels here.

[2018-11-07 08:34] ViperRu opened #7343 "openvpn: Add proto netifd proto handler"
Maintainer: Daniel Engberg <daniel.engberg.lists@pyret.net>
Environment:

Description:

The problem was described [here](https://github.com/openwrt/luci/issues/845).
[This pull request](https://github.com/lede-project/source/pull/1103) was not implemented in openvpn package.

[2018-11-07 08:42] fennsen64 commented on #7309
what do you mean with old kernels? I'm using:
OpenWrt 18.06 (the actual kernel) and latest SNMP version (5.7.3) from the distro

The provided links are only a hint that this problem seems to be quite old.

[2018-11-08 08:47] silvah2 opened #7348 "mariadb is crashing after first connection attempt"
OpenWrt SNAPSHOT, r8431-df1191bcea, linksys wrt1200ac, mariadb 10.2.17

After migration from older snapshot (about maybe 3 months old) first connection attempt makes mariadb crash. (mysqld is going down)

All the configs are fine. Something is broken.

[2018-11-08 10:06] camelcamro opened #7349 "mc (midnight commander) - package missing in TRUNK"
mc (midnight commander) - package missing in TRUNK
only available in stable builds which is very old, but in trunk missing

[2018-11-08 10:12] camelcamro commented on #6559
can i help anything to add the "ONLINE/OFFLINE/UPTIME/DOWNTIME to the mwan3 luci package ? (as already added to the mwan3 to get this infos ....) to close the ticket ?

[2018-11-08 10:56] #6954 closed

[2018-11-08 11:06] fennsen64 commented on #7309
ah ok, thanks for the clarification.
Yes it seems to be a new bug; what do you mean with 'speak to upstream'?
Sorry I'm not very familar with the development processes / taxonmy used here as I'm not a developer.
I guess you mean that the net-snmp bug is not an openwrt release issue, but a net-snmp bug which impacts all distros, correct?
So: what do I have to do to adress the right channel that thi

[2018-11-08 11:21] diizzyy opened #7350 "python3 variant of python-urllib3"
@kissg1988
Hi,
Could you if possible please add a python3 variant of this package?

Best regards,
Daniel

[2018-11-08 12:02] feckert commented on #6559
I will do this maybe next week. The Problem is that I want to use **ubus** to get the status information. Because on this place the information was added. On the luci-app-mwan3  -> status -> detail page we use there the command **mwan3 status**. With this command the information your look for is not present.

The preferred method is to use **ubus**. But there are some information missing which the

[2018-11-08 12:04] karlp commented on #7309
file a bug in that same bugzilla you linked earlier, or try posting to that mailing list.  Include any and all information you can on how to reproduce it.  I have a simplet setup here, but the indcies all match on my device.

[2018-11-08 12:58] camelcamro commented on #6559
ok, great .. let me know when it is ready to help testing .. thx cu

[2018-11-08 13:18] dibdot commented on #7349
Duplicate of #7180 ... probably I will disable VFS support (again) with the next mc update as long as the underlying librpc issue has not been fixed.

[2018-11-08 13:18] #7349 closed

[2018-11-08 13:28] kissg1988 commented on #7350
@diizzyy
Sorry, but I'm no longer actively maintaining my packages.

For anyone interested, information gathered in #6933 might be useful to create the python3 variant.

[2018-11-09 08:51] ynezz opened #7360 "net/openvswitch: Build broken if IPV6 is disabled"
Maintainer: @yousong
Environment: x86-64, openwrt: f975ab8f4e3d5b8a8e81870c70d427f9d84b203b, packages: 4453a8d30e7eac6dde033404852d0d77746783f7

Description:

I'm building OpenWrt with `CONFIG_IPV6` disabled which leads to the following failure:

[code]

[2018-11-09 09:54] yousong commented on #7360
Looks like you have enabled `CONFIG_DEVEL` to build in-tree kernel module.  Please consider providing a patch or solution if possible.  It may take a while for me to set aside time to track this down for the moment.  Thank you.

[2018-11-09 10:00] ynezz commented on #7360
@yousong

Thanks for your quick response!

[code]

Any other idea? Packages from `openwrt-18.06` at 5552214d822c7e5de5bda0633016a0be8c24ae7f builds fine with the same config.

[2018-11-09 10:07] yousong commented on #7360
Please share the output of `./script/diffconfig.sh` (with sensitive parts clipped out).

The log showed that configure command was supplied with `--with-linux=` option which should only happen when intree kernel module was selected, which depends on `CONFIG_DEVEL`.  If that's not the case, it's a bug.

[2018-11-09 10:11] yousong commented on #7360
This is the relevant snippet in the code https://github.com/openwrt/packages/blob/master/net/openvswitch/Makefile#L299-L304

As for the in-tree datapath code build failure when IPv6 was enabled, it's fact in the upstream code.  I may consider making the relevant config options dependent on `CONFIG_IPV6`.

[2018-11-09 10:19] ynezz commented on #7360
[code]

[2018-11-09 13:06] ahmadrasyidsalim opened #7363 "/utils/open2300 build failed, project is no longer maintained, repository has removed"
Maintainer: @szogi
Environment: brcm63xx, generic, OpenWrt-18.06

Description: I try to build all of the feeds but some repository has removed!

[code]
Is this package has abandoned?

[2018-11-09 14:07] szogi commented on #7363
Thanks for your ticket.
From the developers' site: Project is no longer maintained
http://www.lavrsen.dk/foswiki/bin/view/Open2300/WebHome

I'll ask him about the svn repo.

[2018-11-09 17:33] micmac1 commented on #7348
Hello @silvah2

I've seen reports before that there are problems on mvebu. Are you also seeing "illegal instruction" in the syslog when this happens?

I won't be able to debug this myself as I don't have this hardware.

Kind regards,
Sebastian

[2018-11-09 18:02] micmac1 commented on #7348
I've had some feedback that this may not be related to a kernel version bump. I see the following changes not too long ago which might be of interest:

1) commit [kernel: only optimized for size if small_flash](https://github.com/openwrt/openwrt/commit/cf7154db07c0b8746be290c9e11dcab3c91d237e)
2) commit [binutils: Use 2.31.1 by default](https://github.com/openwrt/openwrt/commit/fface27db82e7926c86

[2018-11-09 19:01] #7313 closed

[2018-11-09 19:03] jgloss commented on #7313
I don't believe the problem is caused by dhcp. I rescind this bug report.

[2018-11-09 19:50] silvah2 commented on #7348
where is this in menuconfig?

[2018-11-09 20:14] micmac1 commented on #7348
1. Global build settings  --->
      Kernel build options  --->
        Compiler optimization level (Optimize for performance)  --->

2. Advanced configuration options (for developers)  --->
      Toolchain Options  --->
        Binutils Version (Binutils 2.30)  --->

[2018-11-09 20:39] silvah2 commented on #7348
ok, compiling

[2018-11-09 21:09] frymezim opened #7367 "Packages that needs fix without deprecated APIs for OpenSSL"
@neheb
Their are 3 packages that I know causing breakage on compilation without deprecated APIs. Can you provide a patch for this?
lighttpd
wget
libssh2

Also is there a easier way to apply the pull request on my own buildroot because I was able to do this on openwrt git, editing the .git/config and use git merge origin/pr/####.

[2018-11-09 21:10] silvah2 commented on #7348
still not working:
first connection attempt:
ERROR 2013 (HY000): Lost connection to MySQL server at 'handshake: reading inital communication packet', system error: 11

and then
root@LEDE:~# ps|grep mysql
 4014 root      1052 S    grep mysql

[2018-11-09 22:28] neheb commented on #7367
Is this on OpenSSL 1.1.x? I've only been testing 1.0.2. Wget patch to fix that has been submitted upstream.

As far as pull requests go, I used to use git-pr for that. Just git-pr ### and git checkout original followed by git cherry-pick.

Nowadays I add the branch directly using git remote and cherry pick that.

[2018-11-10 01:30] frymezim commented on #7367
Yes it's OpenSSL 1.1.x been trying that patch and those three have problems with compilation.

[2018-11-10 03:10] neheb commented on #7367
I tried fixing wget. Didn't work. Some autoconf problem.

[2018-11-10 07:42] #7360 closed

[2018-11-10 07:45] yousong commented on #7360
Hi, @ynezz , it's a bug in the package Makefile.  I just pushed a fix to the master branch.  Feel free to report back if the issue still persists.

Thank you for the feedback ;)

[2018-11-10 09:14] ynezz commented on #7360
Hi @yousong, thanks for such a quick fix! It's working fine now, thanks!

[2018-11-10 10:03] frymezim commented on #7367
Ok cool, so I want to test those patches can you give me an example how to merge your pull request on my  build environment from the /home/username/openwrt/ folder thanks!

[2018-11-10 21:35] nwf commented on #7303
This can be closed now, I think.

[2018-11-10 21:37] thess commented on #7285
I think you first need to get your device recognized by the system with an appropriate driver.
The v4l2-ctl error message "Failed to open /dev/video0: No such file or directory" is just its way of saying it found NO compatible devices. Also, you probably don't have a /dev/radio0 device either as you see on your PC.

First step is to install the driver(s) you need. From what I find on the web about

[2018-11-10 21:41] thess commented on #7285
Going forward - perhaps you should also ask for help to configure your device on our forum (https://forum.openwrt.org) since AFAICT, this is not a bug in v4l-utils. There are more people there to help with such issues.

[2018-11-10 21:41] #7285 closed

[2018-11-10 23:50] micmac1 commented on #7230
Hello @HeadLessHUN

I asked on the musl mailing list for help. Here's the reply: [link](https://www.openwall.com/lists/musl/2018/11/10/8)

Kind regards,
Seb

[2018-11-11 00:32] micmac1 commented on #7348
Hello,

Could you try out the pull request #7379? That issue caused a segfault for me on mips. I'm not sure if your issue is the same (different arch, no debug provided). But timeline-wise it might be.

Regards,
Seb

[2018-11-11 01:40] champtar commented on #7348
Just merged #7379

[2018-11-11 07:15] #7303 closed

[2018-11-11 13:49] xabolcs commented on #7285
Thanks for the link!

I suspected that there is a missing driver, but I had no clue which one. But your link helped:

Desktop log:
[code]

I checked the `kmod`s, but did not found any related group, only `kmod-video-*`.

So my problem would be fixed with introducing the `kmod-radio-keene` package, which would be the first `kmod-radio-*` package?

[2018-11-11 16:49] frymezim commented on #7367
Another issue I found that needed OpenSSL deprecated API.

[code]

[2018-11-11 17:33] dibdot commented on #7349
done, let's see if buildbot is happy again ...;-)

[2018-11-11 23:28] ahmadrasyidsalim commented on #6994
See : https://github.com/openwrt/packages/issues/3040#issue-170167295

[2018-11-12 01:37] jsalatiel opened #7397 "mwan3: set option local_source 'lan' breaks DHCP"
Maintainer: @feckert
Environment: (openwrt 18.06.1 running on microtik )

Description:
After enabling the "option local_source 'lan'" in the /etc/config/mwan3 my wired devices  stop acknowledge the DHCP offer so they just do not get IP. ( Wireless devices somehow still get it )

See the log for two of my devices right after enabling option local_source lan:

[code]

The moment i set the option loc

[2018-11-12 08:30] feckert commented on #7397
This was fixed in the master with the following commit https://github.com/openwrt/packages/commit/46ed09408e554f182a688e0a7c47cdf85fc6c15d#diff-34590d11545c84b961d1992ce3aefdeb
The option **local_source** should not be used anymore there are a lot of problems with them.
On owrt-18.06 this should be set to **none** so you will not have **fail over** and **load balancing** on router initiate traffic

[2018-11-12 10:41] silvah2 commented on #7348
works now, thx

[2018-11-12 10:41] #7348 closed

[2018-11-12 14:03] DanielRIOT opened #7401 "gpsd : add service triggers to gpsd.init"
Description:

I'm building a "luci-app-gpsd"- I attempted to get the restart after config changes working using ucitrack without success and found that if procd does the file monitoring it successfully restarts gpsd.

Could we add the service triggers section to the gpsd.init file so it is sensitive to changes made to /etc/config/gpsd ?

[code]
[code]

[2018-11-12 17:16] neheb commented on #7367
Ha. Ha. Ha.

Python is a mess. I have a patch in my local tree that fixes Python itself. 2 and 3 actually. python-cryptography requires such massive patch that it's not even worth it. I don't expect python-openssl to be much better.

It's probably better to add a dependency on OPENSSL_WITH_DEPRECATED.

[2018-11-12 17:37] thess commented on #7289
c44e1d43a36343564972b48809357fa7cef3fa5c resolves ambiguities with BUILD_PATENTED and hard/soft float options in libffmpeg. Closing this,

[2018-11-12 17:37] #7289 closed

[2018-11-13 01:19] lynxis commented on #5757
it got fixed

[2018-11-13 01:19] #5757 closed

[2018-11-13 13:12] jsalatiel commented on #7397
I have updated to mwan3 - 2.7.5-1.
Now i have a problem that i still cant understand. If i try to bind to a specific interface in the router itself, the traffic is always going out on the default interface. Shouldn't it respect the interface where the app bount itself ?
[code]

Both connections are leaving through the cabo (eth0.20) interface ( external ip 186.236.216.143)

[2018-11-13 13:46] feckert commented on #7397
This has changed (@ptpt52).
Router initiate traffic is now load_balanced as well.
if you want this then you have to add a mwan3 rule and specify on which interface the traffic has to leave the router.
What mwan3 config do you have?

[2018-11-13 15:42] jsalatiel commented on #7397
Thanks for the explanation!
I have added the folowing rule:
[code]
and it works now. It will prefer to use gvt(wan2), but fallback to cabo(wan1) if wan2 is unavailable.

**Unfortunatelly** the interface is pppoe with dynamic IP. is there a way to use something like:
	option src_ip_from 'gvt' ( interface name in /etc/config/network )
and the mwan3 script automatically detect the ip of the interface

[2018-11-13 21:52] thess commented on #6045
Should be fixed by #7413

[2018-11-13 22:59] dwb opened #7416 "forked-daapd: build failing for ipq806x?"
Maintainer: @ejurgensen
Environment: OpenWRT 18.06.1 r7258-5eb055306f on `ipq806x` `arm_cortex-a15_neon-vfpv4`
Description:
`forked-daapd` v26.4 is currently unavailable for the above environment, the latest version being v25.0. Is the build failing for this target? I tried to run it individually, using your CI Docker image, the CI build scripts, and changing the SDK base URL for the `ipq806x` one

[2018-11-14 00:31] jsalatiel commented on #7397
@ptpt52  i want to be able to force an application running inside the router to leave from an specific interface, but auto load balancing was not helping.
I am closing this issue, the title is misleading. I was thinking that the  local_source option was a way to disable load balancing from local traffic in the router itself.

[2018-11-14 00:31] jsalatiel commented on #7397
Thanks!

[2018-11-14 00:31] #7397 closed

[2018-11-14 00:38] ptpt52 commented on #7397
if the application could bind interface, it should work. like `ping -I eth0`
but most application could not bind, it is better to change  the application to do binding. https://stackoverflow.com/questions/14478167/bind-socket-to-network-interface

[2018-11-14 00:45] ptpt52 commented on #7397
You can also setup some mwan3 rule to archive the goal if your application access a specific target IP
[code]

[2018-11-14 00:48] ptpt52 commented on #7397
There are many ways to adjust automatically according to the specific situation.
^_^

[2018-11-14 00:51] jsalatiel commented on #7397
yeah =)
mwan3 is amazing.

[2018-11-14 00:56] jsalatiel commented on #7397
I know most applications cant bind, but you can always use the trick from https://www.x4b.net/kb/BindProcessToIPonLinux

[2018-11-14 01:00] ptpt52 commented on #7397
Here, the simple binding of the ip address is not effective, mwan3's balacned policy will change the outgoing interface. You need to bind the interface device like `ping -I eth0` to get it work.

[2018-11-14 01:52] jsalatiel commented on #7397
Yeah, i noticed that! Unfortunately most applications wont allow bind to the interface, thats the reason i have patched the mwan3 script to allow use a rule to match the ip from the interface.

[2018-11-14 06:07] KYegres commented on #2506
I solved same problem with follow commands:
[code]
Now it works.

After it I found that package mariadb-client-extra contains file mysqladmin :) I didn't try it.

[2018-11-14 10:38] commodo commented on #7324
@kofec
Not sure what changed, I guess there was maybe an intermittent failure somewhere [in the build].
But now the libraries are present.

I checked the archive:  https://downloads.openwrt.org/snapshots/packages/arm_arm1176jzf-s_vfp/packages/python3-cryptography_2.3.1-1_arm_arm1176jzf-s_vfp.ipk

[2018-11-14 12:39] commodo commented on #7367
@frymezim
can you provide a `.config` file that reproduces this ? and some details
i can't seem to reproduce it on my end

[2018-11-14 13:35] #6045 closed

[2018-11-14 14:02] thess commented on #7416
Yes, you are correct - v26.4 is the current version in the trunk/snapshots branch. v25.0 is the version released in 18.06 packages. In general, we do not automatically backport newer package versions to released branches. We do consider critical errors (preventing use) and security patches as necessary and time-permitting.

If I read your comments correctly, you are interested in building v26.4 us

[2018-11-14 16:10] neheb commented on #7367
@commodo compile without deprecated APIs on OpenSSL.

[2018-11-14 17:02] thess opened #7420 "Moving docker images to openwrt Docker Hub repository."
@champtar - If I can successfully get the openwrt account on Docker Hub set as an organization and with teams similar to what we do here on GitHub, would you like to move your CircleCI Docker container to a project repo? I will add the same Owners and Members (or an initial sub-set) as we have here.

Currently there is an `openwrt` account on Docker Hub with no repositories which was created 3yrs

[2018-11-14 21:29] neheb commented on #7367
@frymezim https://github.com/neheb/packages/commits/pydep

[2018-11-15 10:36] mistepien opened #7433 "openvpn (in r8459-3a6bddd)"
Nov 15 11:16:27 thorgal uhttpd[1440]: /usr/lib/lua/luci/dispatcher.lua:565: Invalid controller file found
Nov 15 11:16:27 thorgal uhttpd[1440]: The file '/usr/lib/lua/luci/controller/openvpn.lua' contains an invalid module line.
Nov 15 11:16:27 thorgal uhttpd[1440]: Please verify whether the module name is set to 'luci.controller.openvpn' - It must correspond to the file path!
Nov 15 11:16:27 thor

[2018-11-15 11:29] commodo commented on #7367
Python still seems to build for me.
Tried it on a Marvel Kirkwood, since that looks like it was in the report.

SSL section looks like this:
[code]

[2018-11-15 11:34] dibdot commented on #7433
Wrong repo, please report LuCI issues in the corresponded luci repo.
Anyway to fix your issue, reset your LuCI caches `rm -rf /tmp/luci-*`

[2018-11-15 14:43] velainur commented on #7283
Help, pls!

[2018-11-15 16:08] neheb commented on #7367
Oh right. He's talking about the OpenSSL patch for 1.1 on the main repo.

[2018-11-16 22:46] neheb commented on #7367
ACK. The original code is totally wrong.

[2018-11-17 00:10] diizzyy commented on #7180
Close this issue as it's fixed

[2018-11-17 04:31] SirDMZ commented on #6530
I installed the 2.0 version of this package from lede 17 packages. works great. yes, installed in on openwrt 18.06.2

[2018-11-17 05:30] dibdot commented on #7180
@diizzyy I would like to keep this open as long as the underlying librpc issue hasn't be fixed.

[2018-11-17 12:55] jow- commented on #7420
Please keep Debian as base for now, its also currently is used as baseline for release builds.

While I have no objects to Alpine per-se, I think its better to concentrate on our target related breakage and not fight with musl/Alpine host related quirks.

[2018-11-17 13:02] thess commented on #7420
@diizzyy - Buildbots are Debian and they work. I see no compelling reason to take on the headaches of another platform.

[2018-11-17 13:30] diizzyy commented on #7420
It was merely a suggestion as more and more projects are moving that way due to overhead as far as CI-goes and there are people on musl hosts trying to get OpenWrt working from time to time so it might be of interest for contributors.

@thess
Most of the time that is...

[2018-11-17 13:40] champtar commented on #7420
@thess no objections at all, I just went the easy way at first. I recommend to continue using container digest even if it means asking people to rebase sometimes
@diizzyy from what I remember container download is super fast

[2018-11-17 14:19] jkle112 opened #7457 "simple adblock problem in openwrt"
running error
![image 0](https://user-images.githubusercontent.com/17021524/48662072-4b6ab800-eab7-11e8-8f40-0db1b219b125.jpg)
![image 1](https://user-images.githubusercontent.com/17021524/48662073-4f96d580-eab7-11e8-9980-d29680f27236.jpg)

[2018-11-17 15:50] dibdot commented on #7457
Please always inform the maintainer: @stangri

[2018-11-17 15:51] dibdot commented on #7433
No more feedback - seems to be fixed.

[2018-11-17 15:51] #7433 closed

[2018-11-18 05:21] frymezim commented on #7367
Python Patches are working fine.
Compiled & Tested NSA325 / Kirkwood

@neheb
Another issue I found is for OpenSSH FYI this need I'm using OpenSSL 1.1.1
[code]

[2018-11-18 05:25] neheb commented on #7367
Most parts of the OpenSSH stuff have been fixed upstream. Just needs to be backported. Or wait for a new version to be released.

[2018-11-18 20:56] tripolar commented on #7367
@frymezim this code is part of 7.9_p1

[2018-11-18 21:03] xypron opened #7468 "packages/utils/sispmctl: new upstream version 4.1"
@neheb @rkunze  @champtar

I have created a new upstream version (4.1)

The most prominent change is added support for Gembird EG-PMS2 with idVendor=04b4, idProduct=fd15.

Best regards

Heinrich

[2018-11-18 21:04] neheb commented on #7468
https://github.com/openwrt/packages/pull/7466

[2018-11-18 21:05] xypron commented on #7468
duplicate

[2018-11-18 21:05] #7468 closed

[2018-11-18 21:39] hailfinger opened #7470 "strongswan: OpenWrt 18.06 branch missing upstream security fixes"
Maintainer: @dedeckeh @stintel
Environment: OpenWrt 18.06 branch

Description:
AFAICS the patches for CVE-2018-16151, CVE-2018-16152 and CVE-2018-17540 are missing from the strongswan 5.6.3 packages as shipped in OpenWrt 18.06.
strongswan 5.7.1 as shipped in master is not affected.
Vendor info:
https://www.strongswan.org/blog/2018/09/24/strongswan-vulnerability-(cve-2018-16151,-cve-2018-16152).htm

[2018-11-19 03:45] SeSeKenny opened #7472 "6in4 - Troubles with multiple DHCP wans and secure updates"
Maintainer: @jow-
Environment: any, OWRT 18.06.1

Description:
I have been dealing with a weird issue for sometime now and thought I would try and get some traction here. Basically I have 2 dhcp based wans and 1 static wan. If I avoid all dynamic updating I can get things to work (although broken local addressing gets assigned to the interface (link/sit address)). What I am hoping to do is assign

[2018-11-19 04:01] SeSeKenny commented on #7472
Looking at this a bit further it looks like an undocumented (for this interface type anyways) parameter tunlink may be partially implemented? libuclient also appears to not have the option for source interface/address selection perhaps some conditional logic for using wget instead if the parameter is specified?

[2018-11-19 09:51] rvbglas opened #7473 "upmpdcli crashes on sunxi"
Maintainer: @ignisf
Environment: sunxi, H2+, Orange Pi Zero, trunk build

Description: upmpdcli crashes on start when creating worker threads

[code]
on 18.06.1 works normally.

[2018-11-19 12:55] dedeckeh commented on #7470
@stintel Any objection if I cherry-pick https://github.com/openwrt/packages/commit/fe973d181b9d1825d547f2ee806fe1e4e22bb301 to 18.906 branch ?

[2018-11-19 14:19] stintel commented on #7470
@dedeckeh ACK

[2018-11-19 15:21] leotian111 opened #7474 "mwan3: About policy route"
Hi, I'm testing newest version 2.7.6 of mwan3.
But I can't succeed through lan.  I must modify from "iif $2 lookup $id" to "iif $2 lookup main" in shell function mwan3_create_iface_rules. then we can work in br-lan

I wonder if there are any special settings!
thks!!

[2018-11-19 21:04] dedeckeh commented on #7470
Done in commit https://github.com/openwrt/packages/commit/b6f6df1d771ebbfe1a4ca0b498443754ccd9ef9c

[2018-11-19 21:04] #7470 closed

[2018-11-20 05:52] frymezim commented on #7367
@neheb
I got an error in wget

[code]

[2018-11-20 09:34] dibdot commented on #7474
@feckert

[2018-11-20 09:45] leotian111 commented on #7474
@feckert

[2018-11-20 09:46] leotian111 commented on #7474
@dibdot
thks

[2018-11-20 09:52] leotian111 commented on #7474
@feckert
Hi, Can I ask you a question about mwan3-2.7.6?

[2018-11-20 10:13] leotian111 commented on #7474
@feckert
Hi, I'm testing newest version 2.7.6 of mwan3.
But I can't succeed through lan. I must modify from "iif $2 lookup $id" to "iif $2 lookup main" in shell function mwan3_create_iface_rules. then we can work in br-lan

I wonder if there are any special settings!
thks!!

[2018-11-20 10:46] hailfinger commented on #7470
Thank you!

[2018-11-20 11:39] leotian111 commented on #7474
I have known reason, mwan3rtmon not work proper,  not update direct route into $id rules!

[2018-11-20 11:39] #7474 closed

[2018-11-20 16:40] ethanbergstrom commented on #6744
The latest version available out on the default repo shipped with OpenWRT (http://downloads.openwrt.org/releases/18.06.1/packages/mips_24kc/packages/) is 2.7.8-1. Manually splicing in the changes did fix it, but it doesnt look like revision 5 has been published.

[2018-11-20 19:22] dibdot commented on #6744
It's currently only available in snapshot repo, see here:
https://downloads.openwrt.org/snapshots/packages/x86_64/packages/ddns-scripts_2.7.8-5_all.ipk

[2018-11-20 19:31] stangri commented on #7457
@jkle112 -- set verbosity to 2 and check the logs to see which list failed to download. Download errors are not the package bugs, provided you find out which list is failing to download, you may want to seek additional help at forums.

[2018-11-21 00:00] #7324 closed

[2018-11-21 04:22] mark0n opened #7492 "ddns-scripts_route53-v1: request rejected because Route53 is processing a prior request"
### Maintainer
@chris5560, @maxberger
### Environment
OpenWRT 18.06.0
DDNS version: 2.7.8-5

### Description
I have multiple host names that need to be updated using the Route53 DDNS script. After starting the scripts only one or two of them are submitting their first update to Route53 successfully. The others fail with the following message:
[code]

After 5 min the scripts retry and one or two mo

[2018-11-21 04:54] maxberger commented on #7492
Hi Martin,

In first glance a shared lock sounds like it could work. I don't know if
there are any "openwrt standards" regarding this.

The proper way to get this included would be if you try to solve the issue
and create a pull request. I can then test your changes to ensure that also
work on a different system, Chris is the main maintainer here.

Max

Am 21.11.2018 09:52 schrieb "Martin Konrad"

[2018-11-21 10:54] feckert commented on #6982
@hnyman no reaction from issue creater and the problem themes to be solved
I think we could close this issue

[2018-11-21 10:57] feckert commented on #6559
@camelcamro I have added this to the ubus output
https://github.com/openwrt/packages/commit/1ee9fb4aff3ee78ab015a32de0a3ab1e594210bf#diff-34590d11545c84b961d1992ce3aefdeb
https://github.com/openwrt/packages/commit/12360037332176f9a286ec754d340a9721479abf#diff-34590d11545c84b961d1992ce3aefdeb
So please test and close this issue/feature request
If we need this info in the LuCI we have to add another

[2018-11-21 10:58] feckert commented on #6455
@hnyman no reaction from issue creater and I think this is solved. So could you also please this issue?

[2018-11-21 10:59] feckert commented on #5978
@hnyman No reaction from issue creator. Could you please close this issue?

[2018-11-21 11:00] feckert commented on #5798
@hnyman No reaction from issue creator and I think this is solved. So please close this issue :-)

[2018-11-21 11:00] feckert commented on #4488
@hnyman Since newest mwan3 this is not needed any more and this could be also closed

[2018-11-21 11:04] feckert commented on #7474
@leotian111 did you solved your issue?

[2018-11-21 11:35] leotian111 commented on #7474
yes, thank you,  i see the shell function mwan3_rtmon_ipv4 detailed and found that we must have option family in file /etc/config/mwan3,  after adding it the problem solved!

[2018-11-21 14:42] #6982 closed

[2018-11-21 15:12] speedster-pta opened #7494 "Time based rule on mwan3"
Please make sure that the issue subject starts with `<package-name>: `

This repo here is only for packages maintained in this repo.  For base packages residing in the same repo as the build system and maintained by core devs, please consider opening tickets there for more timely responses

 - OpenWrt base system: https://bugs.openwrt.org
 - Most LuCI packages: https://github.com/openwrt/luci/issu

[2018-11-21 15:35] dibdot commented on #7457
as @stangri said, probably a temporary download issue.

[2018-11-21 15:35] #7457 closed

[2018-11-21 17:19] #6455 closed

[2018-11-21 17:19] #5978 closed

[2018-11-21 17:21] #5798 closed

[2018-11-22 13:12] camelcamro commented on #6559
ok, closing it ... now we need to add to the luci-mwan3 to see the status.
i will try to open a new ticket for it

[2018-11-22 13:12] #6559 closed

[2018-11-22 13:22] camelcamro opened #7501 "luci-mwan3 - adding ubus status => online + offline to status page)"
feature request
luci-mwan3 - adding ubus status => online + offline to status page)

@feckert
tested via ubus and is fine to collect the wanted informations to show them on the detail status page of mwan3.

ubus call mwan3 status
to get infos for the mwan3 status interface ONLINE / DOWNTIME in sec.

ubus call network.interface.4G status
to get infos for the mwan3 status interface UPTIME "online" i

[2018-11-23 19:08] mark0n commented on #7492
Locking solves the problem reliably for me.

[2018-11-23 21:29] maxberger commented on #7492
Great! Can you create a pull request?

Am Fr., 23. Nov. 2018, 23:08 hat Martin Konrad <notifications@github.com>
geschrieben:

[2018-11-24 05:33] #7492 closed

[2018-11-24 15:01] ccaapton opened #7508 "shadowsocks-libev: "Dst ip/net forward file" does not accept ipv6 address"
Maintainer: @yousong

Environment: ramips, Netgear R6220, OpenWrt SNAPSHOT r7526-02d53e6

Description:
I'm trying to add a file with ipv6 address as ''Dst ip/net forward file", but the 'ss-rules' script does not accept it and give such error:
`ipset v6.34: Error in line 487: Syntax error: cannot parse 2001:4860::: resolving to IPv4 address failed`

[2018-11-25 02:38] luizluca commented on #5798
Yes, solved now with the 18.06 backport. Thanks @feckert

[2018-11-25 03:10] cshoredaniel commented on #6997
Thanks, that should be fix the recently merged PR

[2018-11-25 06:46] dibdot commented on #7343
openvpn is not part of this repo.

[2018-11-25 06:46] #7343 closed

[2018-11-26 07:33] leotian111 opened #7519 "mwan3: Comparing two wan's delay, And make the lowest delay of wan as main output interface dynamicly!"
@feckert
hi, Do you any plan to realize the following functionality?
we have two LTES on our board.  the 2 SIMs are from different ISPs,  we want to use the lte with lowest delay  as the only output interface.  do you have any better methods to compare two lte's delay, And then make the decision dynamically!
Thanks a lot!

[2018-11-26 10:53] obsy commented on #7519
Or other things like roaming, signal strength, technology etc.

[2018-11-26 14:04] feckert commented on #7519
I don't think that's suitable for the mwan3 package.
These are mobile phone parameters.
But you could think about implementing something like this in a separate service that makes the decision and then tells this to mwan3.

[2018-11-26 14:09] obsy commented on #7519
This is probably best option, in this way we can also implement https://github.com/openwrt/packages/issues/7494

[2018-11-26 14:10] leotian111 commented on #7519
@feckert
Thank you!
firstly there is not relavent lte mobile parameters.  we want to make the decision
 only according to the tcp/ip delay.  ok i'll write a new mwan3track by myself!
Thank you again if you have any plans about this!

[2018-11-26 15:13] feckert commented on #7519
@leotian111
Ok if you want to to network decision this could go into mwan3track.
But I though you want to use LTE parameters

[2018-11-27 10:53] mistoll opened #7526 "mwan3: httping not detecting when interface up again"
Maintainer: @feckert
Environment: Linksys WRT1200AC / ARMv7 Processor rev 1 (v7l) / OpenWrt 18.06.1 r7258-5eb055306f

Description:

I'm using mwan3 with a wired and a mobile broadband connection. The mobile broadband is used as a fallback, when the wired connection is unavailable. That works fine using standard ping. However the wired connection isn't under my control and somtimes there's a firewa

[2018-11-27 12:15] mantinan commented on #6997
Hi!

I have upgraded to the latest snapshots available and upsd still runs as root.
This happens both if you don't devine a config upsd section and if you define it specifying a runas nut.

So this doesn't seem to be fixed yet.

If you want me to test anything, just tell me.

Regards.

[2018-11-27 12:47] corecode commented on #1517
the mdns support commit seems to be dangling in the repo; certainly it's not in master.  could you please cherry pick it into master?

[2018-11-27 13:34] pkerling commented on #1517
I don't think anyone tested it yet

[2018-11-28 10:38] gitoriu commented on #7494
+1 for time based rules, like  firwall iptables time based rules, options for:

- Week Days
- Month Days
- Start Time (hh:mm:ss)
- Stop Time (hh:mm:ss)
- Start Date (yyyy-mm-dd)
- Stop Date (yyyy-mm-dd=

[2018-11-29 09:59] corecode commented on #1517
I applied the additional code to the init file, and I can confirm that it works.

[2018-11-30 18:13] feckert commented on #7494
I think this is a good feature request I will have to think about this.

[2018-11-30 18:22] feckert commented on #7526
The following lines are responsible for tracking https://github.com/openwrt/packages/blob/07e17bfe4a8760483548722b68edba2acd87902c/net/mwan3/files/lib/mwan3/mwan3.sh#L711-L722

I am not sure why this would not work with httping. Does it has todo with connection tracking?

I have not setup a httping tracking for a while. But I have to verify this next week.

[2018-11-30 18:29] feckert commented on #4802
@joaochainho Could you please close this issue?
The option local_source is not supported anymore in openwrt master.
And the problem was fixed and should work now out of the box

[2018-11-30 18:31] feckert commented on #2347
@kubco2 could we close this issue?
It´s very old and there were a lot of changes in openwrt master.

[2018-11-30 18:36] feckert commented on #7526
I think the problem is that we need a SRC_IP
https://github.com/openwrt/packages/blob/07e17bfe4a8760483548722b68edba2acd87902c/net/mwan3/files/usr/sbin/mwan3track#L140-L150

[2018-11-30 19:50] #4802 closed

[2018-11-30 20:41] ec1oud commented on #3040
Now https://github.com/mrpace2/i2c-lua is also gone, but I found it here https://github.com/LuaDist2/i2c

[2018-12-01 12:35] mistoll commented on #7526
I don't think there's something wrong with the mwan3 tracking implementation. When I run the commands directly the result is the same (See listing in first comment). Thus I think it's more an issue of routing.

I can do some more tests and publish the results. I already did some experiments with nping, which also supports tcp connections and binding to a device. I think it behaved the same way as

[2018-12-01 14:40] feckert commented on #7526
that would be great :+1: thanks for your research.

[2018-12-01 15:55] ng-0 opened #7549 "lang/erlang: wrong license"
Maintainer: @cretingame

Description:

In https://github.com/openwrt/packages/blob/master/lang/erlang/Makefile#L18
it states that Erlang is (still) released under the Erlang Public License. This is
wrong, since OTP 18.0 Erlang uses the Apache Software License 2.0

[2018-12-01 17:14] fmenne opened #7550 "freeradius3 3.0.17 fails to compile (libtool)"
I tried to compile freeradius3. Took vanilla openwrt - development snapshot (current).
But the same issue can be seen on openwrt 18.06 production.

Selected freeradius3 Default - Config for ATH79 target. Result:

# Compile jlibtool for the host once the configuration is done
(cd /data/home/fm/workdir/openwrt_4.4/build_dir/target-mips_24kc_musl/freeradius-server-release_3_0_17; mkdir -p build/make;

[2018-12-02 06:57] #7305 closed

[2018-12-02 22:46] pprindeville opened #7559 "travis: build against xenial"
Maintainer: @champtar
Environment: n/a

Description:

Now that Travis supports Xenial (16.04), can we build under that instead of Trusty Tahr (14.04)?

[2018-12-02 23:47] thess commented on #7559
I don't know what Etienne thinks, but I would rather proceed with CircleCI and drop Travis altogether. The current Travis app we have setup for our repo will no longer be supported in January.

[2018-12-03 08:24] tapper82 opened #7568 "Update E2guardian"
From this link it seems that  e2guardian could do with updateing. https://openwrt.org/packages/pkgdata/e2guardian
From Version:
3.2.0-1 to E2guardian 5.2.2
http://e2guardian.org/cms/index.php/news/24-e2guardian-5-2-2

[2018-12-03 09:41] kubco2 commented on #2347
I would like to try it , but later this month.

[2018-12-03 11:01] diizzyy commented on #7568
Yes, however e2guardian seems quite memory hungry which isn't a good thing as most routers are quite a "dinky" even when it comes to ARM-based ones. Combine that with general interest and you have a (very) stale package...

[2018-12-03 20:12] mistoll commented on #7526
I did some tests, see attachment for detailed protocol ([mwan3.txt](https://github.com/openwrt/packages/files/2640984/mwan3.txt))

* The tests were done on a different external network than the first test, so is seems not to be an issue of the external network.
* The value of flush_conntrack has no influence. 'never', 'always' and no value give the same results.
* Also tried nping (--tcp and --icm

[2018-12-04 07:42] feckert commented on #7526
Thanks again  for the very well prepared logs.

The local_source issue is deprecated in master now. This should not be used anymore. There were a lot of problems with this config option. Does nping work too?

The option **local_source** was used to also have a fail-over and load-balancing on router initiated traffic. But this introduced a lot problems. So it was removed and some changes where made

[2018-12-04 13:53] mistoll commented on #7526
Is the default (non deprecated) beahavior the same as when local_source is 'none'? In that case this issue is solved and can be closed.

AFAIK nping works too. I experimented with nping, but didn't finish it, maybe you can make use of this: 6673c2c46df7e4dfcba5fe0e49dc9df82742f6f9

[2018-12-05 07:07] cshoredaniel commented on #6997
On 2018-11-27 7:15 a.m., mantinan wrote:

Thank you for you report.  I forgot to push my changes for this. I'm
rebasing and testing again and will push again.

Regards,

Daniel

[2018-12-05 14:59] cretingame commented on #7549
I will correct this, thank you for your remark

[2018-12-05 15:12] cretingame commented on #7549
I did a pull request
https://github.com/openwrt/packages/pull/7584

Thank you

[2018-12-05 20:45] thess commented on #7420
After not being able to get a response from Docker Hub support, I have created the **openwrtorg** organization repository for our use. Currently, @champtar, @yousong and myself have admin/checkin rights.

PR #7588 updates the CircleCI docker image location and other script updates

Anyone in the @members group here AND who has a Docker Hub account can be added to the team which has check-in privs

[2018-12-05 20:59] thess commented on #7559
Travis CI is currently integrated as a "service" in the repo. GitHub is discontinuing this type of service integration in January (https://developer.github.com/changes/2018-04-25-github-services-deprecation/). If it is desirable to use Travis over CircleCI then our current integration needs to be updated and re-installed. I am not planning to do this and I don't think @champtar is either.

My curr

[2018-12-05 21:08] champtar commented on #7559
Hi @thess

My plan was always to drop Travis
Regarding DCO I would like to make it required, so we never merge commit without SoB.
Also with DCO check you know why it fail right away without doing 10 clicks to get to the logs

[2018-12-05 21:34] thess commented on #7559
OK - we keep DCO.

[2018-12-05 21:42] champtar commented on #7559
BTW when I say I would like to make it required, I'm not admin so if people agree I need an admin to flip the switch ;)

[2018-12-05 21:45] thess commented on #7559
Roger that...

[2018-12-06 04:37] cshoredaniel commented on #6997
@mantinan Ok, so the problem wasn't what I thought, but I know have a solution and will be pushing (hopefully in the AM).

[2018-12-06 06:55] #7227 closed

[2018-12-06 15:15] feckert commented on #7526
On master **local_source** is removed so you do not need this anymore.
Load-balancing and fail-over works out of the box for router initiated traffic.

On openwrt-18.06 **local_source** is still included and is set to **lan** per default.
if you set this to **none** then you have no fail-over and load-balancing for router initiated traffic.

I will add this maybe next week to mwan3 thanks.

[2018-12-07 12:34] mistoll commented on #7526
Personally I'll wait for the next release.

IMO this is solved. Thanks for your support.

[2018-12-07 12:34] #7526 closed

[2018-12-09 09:04] jkle112 commented on #7457
The same problem in LEDE firmware!

![image 3](https://user-images.githubusercontent.com/17021524/49695332-7d61cc80-fbd4-11e8-8b80-936644bf31fd.png)

[2018-12-09 15:28] #7306 closed, assigned to mhei

[2018-12-09 20:33] thess commented on #7420
CircleCI config seems to be functional with new Docker images and **openwrtorg** Docker Hub repo - closing this

[2018-12-09 20:33] #7420 closed

[2018-12-09 21:35] thess opened #7624 "Enabling mandatory PR checks"
Maintainer: @openwrt/package-maintainers / @openwrt/developer
Environment: Package PR handling in this repo

Discussion:

CircleCI PR checks are working pretty well now. Going forward, I am planning to enable mandatory CI checks before a PR can be merged. Commits must first be pushed to another branch, then merged or pushed directly to the branch with these rules enabled after the status checks ha

[2018-12-09 22:22] dersch81 opened #7625 "mwan3 marks second IPv6 link as down"
OpenWRT 18.06.1 r7258-5eb055306f
mwan3: 2.6.18-1
luci-app-mwan3: git-18.340.83383-3dea6b5-1

Maintainer: @feckert  (find it by checking history of the package Makefile)

Description:
It looks like the mwan3 package is not able to handle 2 ipv6 uplinks at the same time. On interface is always marked as down. That is also resulting in totally no IPv6 route for the clients of the router. The router i

[2018-12-10 06:13] champtar commented on #7624
Thanks @thess for pushing this.
Maybe you can enable DCO on all branches?
I don't think this impact many packages, but svn doesn't produce reproducible tarball, so make check will always fail for now for those packages.

[2018-12-10 08:56] yousong commented on #7624
Thank you for taking care of this.

I'd like to add a minor note that there are packages not available for ar71xx target.   utils/qemu is one at the moment.  It's rare and surely we can cope with that ;)

[2018-12-10 16:13] thess commented on #7624
@champtar - Yes, enabling DCO for all branches. I'll check with @jow to see if we can do something similar for Luci and possibly other repos.

svn non-reproducible tarballs must be problematic for the builds too however, hash checks are warnings currently...

@yousong - I would like to see if we could build more than 1 target in CI - It would help with a lot of corner-case issues that pop up from

[2018-12-10 16:30] champtar commented on #7624
Thanks !

If you don't use HASH it's not problematic

We can definitely configure more taget in //, but this use more of CircleCI free resources, which are shared by the open source community

If a file is modified, check that the Makefile in the same directory or upper directory is modifed
this will introduce some false positive but remove some manual review

buildbots should send and email to th

[2018-12-10 18:47] pprindeville commented on #7559
Sorry, “DCO” and “SoB” are what? Also what distro is CircleCI using?

[2018-12-10 19:04] champtar commented on #7559
Hi @pprindeville,
DCO == developer certificate of origin
SoB == Signed of by
CircleCi is bring your own container, right now we use Debian 9.

[2018-12-10 19:04] champtar commented on #7559
https://github.com/openwrt/packages/blob/master/.circleci/

[2018-12-10 19:29] thess commented on #7559
DCO: https://probot.github.io/apps/dco/

Debian 9.6 when I rebuilt the container last week. Container is in our public Docker Hub repo (see note here: https://github.com/openwrt/packages/issues/7420#issuecomment-444640533) and link provided above.

[2018-12-11 11:34] mistepien opened #7637 "dnsmasq-full/dnsmasq: dhcp-boot option does not work in tftp server mode"
dnsmasq-full - 2.80-3

luci "Network boot image" option resulting in "dhcp-boot" option in config file does not work.
dnsmasq says:
daemon.crit dnsmasq[2756]: error at line 22 of /var/etc/dnsmasq.conf.cfg01411c

commenting out the dhcp-boot options cures dnsmasq but without functional tftp server.

[2018-12-11 12:20] KanjiMonster commented on #7624
As long as we wait for https://github.com/probot/dco/pull/98 being applied before enforcing DCO, I'm fine with it.

[2018-12-11 12:36] cshoredaniel commented on #6843
@malakingpusa FYI I've posted PR: https://github.com/openwrt/packages/pull/7638 which ought to do must of what's now in master except the USB hotplug bits (as that's a new feature IMO).  If you please test and comment!

[2018-12-11 12:37] cshoredaniel commented on #6644
@petvoigt FYI I've posted PR: https://github.com/openwrt/packages/pull/7638 which ought to do must of what's now in master except the USB hotplug bits (as that's a new feature IMO).  If you can, please test and comment!

[2018-12-11 12:38] cshoredaniel commented on #6966
@tofurky FYI I've posted PR: https://github.com/openwrt/packages/pull/7638 which ought to do must of what's now in master except the USB hotplug bits (as that's a new feature IMO).  If you can, please test and comment!

[2018-12-11 12:39] cshoredaniel commented on #6997
@mantinan FYI I've posted PR: https://github.com/openwrt/packages/pull/7638 which ought to do must of what's now in master except the USB hotplug bits (as that's a new feature IMO).  If you can, please test and comment!

[2018-12-11 12:40] cshoredaniel commented on #7096
@ivanich FYI I've posted PR: https://github.com/openwrt/packages/pull/7638 which ought to do must of what's now in master except the USB hotplug bits (as that's a new feature IMO).  If you can, please test and comment!

[2018-12-11 15:08] thess commented on #7624
@KanjiMonster - While I agree with your concern, this should not be a block to going forward. If there turns out to be too many exceptions to handle manually, we can always disable the offending check.

Thanks for the feedback!

[2018-12-11 15:24] 0x5a17ed opened #7639 "lang/golang: Custom package Makefile for delve fails in golang step"
Maintainer: @jefferyto
Environment: Host: Arch Linux, Router: Edge Router X, OpenWrt master

Description:
Building [delve](https://github.com/derekparker/delve) with the attached `Makefile` fails in a rather interesting way:
[code]
Notice the cp failures. It seems that somehow a stray newline found its way into the filename turning `_fixtures/issue239.go` into `_fixtures/is` and `sue239.go`.

The

[2018-12-11 19:31] 0x5a17ed commented on #7639
You're right, there is a [file](https://github.com/derekparker/delve/blob/master/_fixtures/is%20sue239.go) in the delve repository with a space. I didn't believe it at first because there are multiple files named so similar that it seemed to be out of place that this could be the case. But it seems to be intentional that the file name contains a space.

Thank you very much for the right pointer. I

[2018-12-11 20:32] thess commented on #7559
Travis is now disconnected - Closing this

[2018-12-11 20:32] #7559 closed

[2018-12-11 21:03] kim0 commented on #4597
Hello @zorun .. I think I'm hitting this .. Any fixed or workarounds are welcome :)

[2018-12-11 21:09] kim0 commented on #4597
Actually I just figured out a workaround to this. Instead of routing the whole `0.0.0.0/0` through WG, what works is to route `0/1` and `128/1` .. So in code this is
[code]

[2018-12-11 21:11] danrl commented on #4597
I remember that I used the `/1` approach myself to work around the issue. I still wonder what the *right* way to re-install the route would be. Ask `odhcpd` for an update?

[2018-12-12 01:35] malakingpusa commented on #6843
What was the USB hotplug bits about?

Regards,
Jag

Sent from my mobile device

[2018-12-12 03:42] kidome opened #7643 "Dnsmasq-full: ipv6 ipset wrongly working"
commit 8c0f6a010a5b7011acbbf2ac5b345d9cf1c14b1f

after this commit Dnsmasq ipset for ipv6 is filled not correct, it fills not the ip but the network in.

[2018-12-12 10:17] malakingpusa commented on #6843
Thanks Daniel.

Regards,

Jag

*From:* Daniel Dickinson <notifications@github.com>
*Sent:* Wednesday, 12 December 2018 10:28
*To:* openwrt/packages <packages@noreply.github.com>
*Cc:* Jag Glifonea <jag@xeptocomputing.com>; Mention <
mention@noreply.github.com>
*Subject:* Re: [openwrt/packages] nut package (#6843)

On 2018-12-11 8:35 p.m., Jag Glifonea wrote:

When a USB hotplug event creates a new

[2018-12-12 10:23] ldir-EDB0 commented on #7643
I'll take a look

[2018-12-12 12:01] 0x5a17ed commented on #7639
Yep, the PR solves at least the reported issue in building delve for OpenWrt.

Closing this since it's a duplicate of #7127.

[2018-12-12 12:01] #7639 closed

[2018-12-12 12:01] ldir-EDB0 commented on #7643
Fixed by https://git.openwrt.org/?p=openwrt/openwrt.git;a=commit;h=ad8a5aa06a58b22657f7628c3d5eb4aae2db47f1

please test.

[2018-12-12 12:23] kidome commented on #7643
Great, tested and it's fixed.

[2018-12-12 12:23] #7643 closed

[2018-12-12 19:46] dersch81 commented on #7625
I notice the same behaivor with another router where i only have one IPv6 uplink. It is marked as down. The weird thing is that the Router descriped beyond with two IPv6 uplinks only one is marked as down.

[2018-12-12 21:54] luizluca commented on #7625
I'm not mwan3 maintainer but I'll have the same setup next year. Could you share your network config?
Couod you test ping6 -I eth1.111 2001:4860:4860::8888 with and without mwan3 started? A packet sniffer is your friend.

[2018-12-14 09:16] ahmar20 opened #7667 "FreeRadius 3: /usr/lib/ Error"
TP-Link TD-W8980 V1 - OpenWrt v18.06.1

Using FreeRaius3 on Openwrt is not working with `radiusd` command, apparently it looks for its libraries in `/usr/lib` directory. But the libraries get stored in `/usr/lib/freeradius3` directory. Can anyone fix this? I am sure this should be a couple of lines of code which tells radiusd to look for libraries in the correct place. While using `/etc/init.d/rad

[2018-12-14 16:52] dhewg opened #7670 "prometheus-node-exporter-lua: started too early / listen address not available"
Maintainer: @champtar
Environment: arm, cubieboard2, master

Description:
The package is configured to listen on ip x.x.x.x, and that interface is configured via dhcp. The daemon is started too early or not restarted after an interface becomes available, see log below. A manual start after the ip was obtained works just fine.

[code]

[2018-12-15 21:43] adagari opened #7677 "Stubby: Does not automatically start"
Maintainer: @iamperson347 , @jonathanunderwood
Environment: mvebu, WRT3200ACM, snapshot

Description:
Stubby fails to start upon reboot. Current systems runs odhcpd, unbound, and stubby. Dnsmasq has been removed. The startup trigger is set to default 'wan'. System logs do not show Stubby tried to start at all.

Restarting the interface will cause Stubby to start. Stubby can also be started by issu

[2018-12-16 20:42] n8v8R opened #7694 "lxc still being maintained?"
@rmilecki Having looked at the package history and its current version 2.1.1 and compared to upstream version 3.0.3 with various bug fixes and security patches I am curious thus whether the package is still actively maintained?

[2018-12-17 01:57] cshoredaniel commented on #7096
@ivanich Thank you for letting me know!

[2018-12-17 09:37] nurulhuda859 opened #7698 "reaver: stucking at "Waiting for beacon from XX:XX:XX:XX:XX:XX""
Maintainer: @yousong (find it by checking history of the package Makefile)
Environment: (Atheros AR9344 rev 2, TP-Link CPE210 v1.0, OpenWrt 18.06.1 r7258-5eb055306f / LuCI openwrt-18.06)

Description:
I installed reaver, aircrack-ng and airmon-ng using Luci. Created a wireless network named it 'wlan1' from Network-->Wireless-->Add.
Turnde on monitor mode using airmon-ng
[code]
and then I ran reave

[2018-12-17 10:34] yousong commented on #7698
sorry, not an expert on reaver or aircrack-ng.  You may want to debug further with strace to see what reaver was waiting for, then a better chance would be reporting that to the upstream project [1].

 [1] https://github.com/t6x/reaver-wps-fork-t6x/

[2018-12-17 10:39] yousong commented on #7698
As for the repeated warning from `ps` about unrecognized option `a`.  It's because airmon-ng requires `ps` command from procps-ng.  busybox `ps` command does not suffice.  Many people just use `iw` command to create a monitor mode interface instead [1].

I will keep this issue open for a few days in case further progress needed to be tracked here.  Thank you.

 [1] https://github.com/openwrt/packa

[2018-12-17 11:01] nurulhuda859 commented on #7698
How can I solve this problem?

[2018-12-17 12:14] yousong commented on #7698
Install strace and post output of `strace -ff -tt reaver -i mon0 -b XX:XX:XX:XX:XX:XX -vv` (as attachment if it's too big) please.

[2018-12-17 12:17] nurulhuda859 commented on #7698
Wait.. I am sending you these data as soon as I can                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBer

[2018-12-17 12:30] nurulhuda859 commented on #7698
I appreciate your help here is what I got after running your given command.
[code]

[2018-12-17 12:32] karlp commented on #7624
Does this integration only pickup from PRs?  I can't push directly at the moment, despite having correctly formed SoB lines.

[code]

[2018-12-17 12:39] nurulhuda859 commented on #7698
Sorry I am doing that again....

[2018-12-17 12:44] yousong commented on #7698
`strace -f -o o.txt ...` if it's too big to copy from screen.  Copy `o.txt` when it hangs.

[2018-12-17 12:45] nurulhuda859 commented on #7698
Ii is generating same code in a loop.

[2018-12-17 12:52] yousong commented on #7698
You will need to find out what file descriptor number 3 is by going backwards to see how it was open.  Correlate that to the C code, or report your findings to the upstream project.

[2018-12-17 12:54] nurulhuda859 commented on #7698
I ran `strace -ff -tt -o dlog.txt reaver -i mon0 -b 84:16:F9:52:9C:1E -vv` and is hanging in here
[code]

[2018-12-17 13:01] nurulhuda859 commented on #7698
The process is steel hanging their. I copied the file from the midpoint. Here it is
[o.txt](https://github.com/openwrt/packages/files/2686097/o.txt)

[2018-12-17 13:12] yousong commented on #7698
Have you tried putting `mon0` into correct channel?  airmon-ng is different from airodump-ng which switches between different channels for scanning.

[2018-12-17 13:19] nurulhuda859 commented on #7698
I which command should I put mon0 in correct channel.
NOTE: I am currently using the router as client
.

[2018-12-17 14:01] yousong commented on #7698
maybe `-c` will suffice, but I am running out of better advice ;)  It seems to me reaver is there waiting for beacon frames without success.  It did not hang, it just had nothing to report.

[2018-12-17 14:03] thess commented on #7624
I'm not entirely sure what the problem may be here. You should be able to push directly to the repo as a "Package Maintainer" member after status checks. I do think you need to do that from a different branch than the protected one. The following statement in the github help seems to imply that.
[code]
Try pushing from a branch not directly protected via `push upstream <yourbranch>:openwrt-18.06`

[2018-12-17 14:12] nurulhuda859 commented on #7698
I tried `-c ` with correct channel in reaver but same result. But why reaver has nothing to replay?

[2018-12-17 14:31] karlp commented on #7624
nope, same thing
[code]

[2018-12-17 14:50] tripolar commented on #7624
But which security benefits does commit to a new branch and push from
this branch to another branch have? Why doesn't it check the SoB lines
at the time the commit is pushed?

 On Mon, 17 Dec 2018 06:29:19 -0800
Ted Hess <notifications@github.com> wrote:

[2018-12-17 15:00] thess commented on #7624
@karlp - try it now. I added openwrt/package-maintainers to the `Restrict who can push to matching branches` list. The text in this option is a bit ambiguous. I guess "admins" can always push and "writers" must be excepted - subject to status checks.

Thankyou for your patience, I'm still figuring out Github project management subtleties.

[2018-12-17 15:02] thess commented on #7624
@tripolar - Beats me. They write the rules.

[2018-12-17 15:05] tripolar commented on #7624
On Mon, 17 Dec 2018 15:02:10 +0000 (UTC)
Ted Hess <notifications@github.com> wrote:

Was this security by obscurity in place before microsoft bought Github?

[2018-12-17 15:08] karlp commented on #7624
doesn't seem to work?
First is after merging the branch locally, and attempting to push, as I've done historically,
second is attempting to push the branch as is to the openwrt-1806.
[code]

[2018-12-17 15:12] feckert commented on #7625
as mentioned by @luizluca could you send use your network config?

[2018-12-17 15:41] karlp commented on #7624
I'll make a PR, but only to try and get this resolved :)

It's just a single commit:
[code]

See https://github.com/openwrt/packages/pull/7699 for the push of the same branch.

[2018-12-17 15:52] thess commented on #7624
OK - You shouldn't have any trouble merging from the PR. If we cannot allow direct pushes from project maintainers, I'll disable DCO checks for now. I need a non-owner account to debug this.

[2018-12-17 16:37] karlp commented on #7624
I can push to 1806 now, but pushing to master is still locked.  I tried making an explicit PR, hoping it would just match on the commit sha, and once it had been approved on the PR I could push, but still no go there.

[2018-12-17 16:51] blogic commented on #7624
use they cloud they said, it'll be amazing. I [vote] for not using github :-)

[2018-12-17 17:24] thess commented on #7624
@blogic - Really? Is it just because of MS or there is something missing?

[2018-12-17 22:17] tripolar commented on #7624
how about switching to signed commits instead of this unreliable hooks?

[2018-12-17 22:22] tripolar commented on #7624
me too, let's leave github

[2018-12-17 22:31] cshoredaniel opened #7712 "[RFC] Compile but not run testing 'compilation fixes'/updates/uclibc additions etc."
@thess @jow- @dedeckeh @dibdot @hnyman @blogic @champtar @dangowrt @hauke @yousong

I've noticed that a *lot* of recent point release package updates are being compile tested but not run tested.  I'm a little disturbed that some folks feel that being up-to-date with upstream is more important than actually testing what goes into the packages feed, and I was wondering if there was an official posit

[2018-12-17 23:06] blogic commented on #7624
@thess its a walled garden, it just makes my bio correctness filter go f00 ...

[2018-12-17 23:20] thess commented on #7624
For now, until things are sorted, let's disable protected branches.

OK, done - life can return to normal. Bitching about github is still permitted.
Will continue to investigate CI and status checks. I for one, have no interest in moving this beast elsewhere.

[2018-12-17 23:57] karlp commented on #7712
There's a lot of PRs being made that do this, I'm not aware of a lot of them just being blindyly merged.

[2018-12-18 09:18] diizzyy commented on #7712
I also have the same impression that many are merged without any run testing, at least it's not mentioned. I think it should be done for any "update" unless it's cosmetic.

[2018-12-18 20:07] cotequeiroz commented on #7073
Done in a48a5c0e26139f43a9899882529589ce4b69ca49.  I guess this should be closed.

[2018-12-18 20:32] #7073 closed

[2018-12-18 20:32] vshymanskyy commented on #7073
@cotequeiroz Thanks!

[2018-12-18 21:18] jonathanunderwood commented on #7677
That is strange. I can't reproduce it locally. Do you see the same thing with the 18.06 release (using the latest stubby package init so you get the trigger behaviour)?

[2018-12-18 21:32] jonathanunderwood commented on #7677
This could well be a bug with procd; it sounds like early signals are not getting delivered.

I can't immediately see why removing dnsmasq would cause this issue. But it would be worth taking it step by step: install snapshot as stock and confirm whether or not the bug manifests. If it doesn't, then remove dnsmasq and see if it manifests then.

[2018-12-18 21:48] dibdot commented on #7677
@adagari just for testing reduce the START time in the stubby init script (/etc/init.d/stubby) from 50 to 30, reboot and check if the startup issue disappears ...

[2018-12-19 03:57] mcaptur opened #7728 "<ip> and <tc> packages no longer available"
since a week ago ip and tc packages are no longer available and i cannot install banip and sqm scripts since these depend on tc and ip

[2018-12-19 21:06] thess opened #7735 "Using our CircleCI Docker images for integration testing"
I have put together a couple of bash scripts to setup and use the Docker OpenWrt integration test environment along the lines of our current CircleCI 'buildpr' check.

If you don't have Docker installed, you must first do that available for your distro. (I have only tested this on Ubuntu 18.04/bionic with Docker.io)

There are 2 scripts (attached ci-testing.zip) - You can customize the shell varia

[2018-12-19 21:09] thess commented on #7735
@neheb , @cotequeiroz - Here's something I hope you might find useful for testing your builds locally in an SDK environment similar to the packages buildbot production and CircleCI checks.

[2018-12-19 22:03] nobk commented on #7728
@jow- you patch  cause compile error /home/user/git/openwrt/staging_dir/target-mipsel_24kc_musl/usr/lib/libelf.so: undefined reference to 'libintl_dgettext'.

[code]

[2018-12-19 22:17] cshoredaniel commented on #7735
@thess Awesome!  Thank you.  I'm interested in this too.

[2018-12-20 00:59] cshoredaniel commented on #7624
@thess is it possible to more detail about expected run check that have to at least be filled out before the checks pass? (presuming 'Member's can override check pass requirements if there is good reason).

[2018-12-20 09:19] dibdot commented on #7728
@jow with latest master I receive the following error in my local build environment - is this related?

[code]

[2018-12-20 09:21] jow- commented on #7728
I don't know, I cannot reproduce it. In any case this seems to be a different issue.

[2018-12-20 09:47] dibdot commented on #7728
Thanks! Seems to be compiler related, with gcc7 the build runs flawlessly.

[2018-12-20 21:09] neheb commented on #7698
One note: Monitor mode can be activated from LuCI directly instead of using airmon-ng.

[2018-12-21 03:09] cshoredaniel opened #7742 "[RFC] [18.06] nut: default to run as root or backport hotplug feature?"
For #7638 (backport nut fixes to 18.06) there were enhancements I didn't backport (since stable tree shouldn't usually get new stuff that isn't a bug fix) which includes https://github.com/openwrt/packages/pull/6897/commits/1cd4dcfa99f1c619874ee75b978d59118a43934b and related fixes that set the user and permissions so that nut running as user nut can access USB UPS devices without having to doing

[2018-12-21 06:57] cshoredaniel opened #7743 "rtty: for IB, initscript throws errors during build"
@jow-

imagebuilder build process throws

`./etc/init.d/rtty: line 3: /lib/functions/network.sh: No such file or directory`

I'm not sure of how this is handled nowadays, so making an issue until I (or someone else) gets a chance to look at it.

[2018-12-21 07:19] jow- commented on #7742
Took a brief look at the referenced commits and couldn't easily spot what and how permissions are set in the hotplug script. My first thought was whether it would be feasible to introduce an "usb" group in OpenWrt base instead.

[2018-12-21 08:11] ttimasdf commented on #7119
[code]
The curl dependency is the key.

[2018-12-21 08:25] ttimasdf opened #7745 "ddns-scripts: setup TTL with cloudflare api"
Maintainer: @chris5560  (find it by checking history of the package Makefile)
Environment: OpenWrt 18.06

Description:
According to [Cloudflare's Documentation](https://api.cloudflare.com/#dns-records-for-a-zone-update-dns-record), an dns record update without parameter `ttl` will have the TTL value of "automatic", It makes this record's TTL value grows over time, which is not suitable for a DDNS

[2018-12-21 10:14] nurulhuda859 commented on #7698
I have no problem with monitor mode but with reaver. I tried earlier version of reaver and it worked (although not avail to test it).

[2018-12-21 14:23] yousong commented on #7698
@nurulhuda859 please consider opening an issue in the upstream project, mentioning also the working version.  Thank you

[2018-12-21 14:41] nurulhuda859 commented on #7698
I haired that reaver is no longer developed by anyone.

[2018-12-21 17:15] nurulhuda859 commented on #7698
So now I think we can close this issue.

[2018-12-22 00:06] cshoredaniel commented on #7742
@jow- I guess my question is what is best for 18.06 -- from my point of view master is in good shape (at least for setting permissions etc).  I'm not sure catchall usb group is a good idea depending on how many usb devices folks want to add, and what the impact would be on a combination of storage and other devices from a security PoV.

For master:
The hotplug script in tree comes in two parts.  T

[2018-12-22 00:21] #7698 closed

[2018-12-22 18:43] AleksejsC opened #7756 "bluez 5.49: can't connect to BLE device"
My device is TP-link WDR3600:
DISTRIB_RELEASE='18.06.1'
DISTRIB_REVISION='r7258-5eb055306f'
DISTRIB_TARGET='ar71xx/generic'
DISTRIB_ARCH='mips_24kc'

Bluetooth adapter is found:
[code]
hcitool lescan works fine, but when I try to connect with gatttool:
[code]
hcidump while I'm running gatttool returns nothing:
[code]
Logread - nothing.

 With same adapter plugged to my laptop (Ubuntu 18.04 bluez 5

[2018-12-22 19:34] diizzyy commented on #7756
Can you give 5.50 a try?

[2018-12-22 19:38] AleksejsC commented on #7756
If you could give me a brief guide on how to do this, I will give a try.

[2018-12-23 09:57] AleksejsC commented on #7756
Today I've tested the same adapter on OpenWrt Chaos Calmer 15.05.1 ramips/rt305x (A5-V11), bluez 5.30, everything is working fine.

[2018-12-24 13:41] lowjoel commented on #5761
I'm not sure if this is the same issue, but this is what came up in a GitHub search.

With respect to https://github.com/openwrt/packages/issues/5761#issuecomment-374507090, I'm finding that for an IPv6-only interface (a 6in4 tunnel), I can only specify a `track_ip` that is on the same link.

For example, in the following configuration in `/etc/config/mwan3`:
[code]

I'll see messages like these i

[2018-12-24 20:43] wapebira opened #7764 "grep: external routing not working"
Maintainer: @\Zokormazo
Environment: arm_cortex-a9_vfpv3
mvebu/cortexa9; OPenwrt 18.06.1 stable and snapshot;  also with Lede SNAPSHOT, r8810-09004e6e13

Description:
Not sure if grep is the issue or other components, but here is what I did:
- flashed the image and installed grep using "opkg install grep"
- reboot the router
- after router comes back, the routing to internet is broken
- tested wit

[2018-12-24 23:46] diizzyy commented on #7764
I wouldn't be surprised if some script relies on busybox grep specific behaviour and by replacing it with gnu grep stuff breaks. This is why I don't think we shouldn't replace distro applications, perhaps a better solution is to place it in a directory where it doesn't replace busybox grep.

[2018-12-25 01:01] wapebira commented on #7764
It looks like something is trying to use the busybox grep version. But don't know how to take the necessary logs to investigate any further. I tested with grep 2.26 just to make sure is not greo 3.1 issue and the problem persists.

[2018-12-25 20:06] feckert commented on #7401
Add your changes and open a PR and ping the package maintainer.

[2018-12-26 19:09] diizzyy commented on #7756
You need to compile your own firmware or use snapshots
https://oldwiki.archive.openwrt.org/doc/howto/buildroot.exigence

[2018-12-26 20:16] vedikasugano opened #7780 "[Feature Request] cjdns - Add hostname as a peer address."
Greetings

I'd like to put a **hostname** for a peer address on CJDNS, this is a must for peers that have dynamic public addresses. Right now only numeric addresses are allowed...

Happy Holidays!

[2018-12-26 21:17] MikePetullo opened #7785 "jq: running immediately causes segmentation fault"
Maintainer: @ratkaj
Environment: x86_64, OpenWrt master

Description:
Running "jq" immediately generates a segmentation fault.

I tried running jq in GDB. It seems that the line "`jq_set_attr(jq, jv_string("JQ_ORIGIN"), jv_string(dirname(origin)));`" in src/main.c is causing the segmentation fault. I see this just before executing this line:

[code]

Indeed, running "`set origin = argv[0]`" in GDB

[2018-12-27 20:35] stintel opened #7794 "Package libmosquittopp is missing dependencies for the following libraries: libmosquitto.so.1"
Maintainer: @karlp
Environment: OpenWrt master

Description:
Trying to build an image with libmosquittopp included and keep running into this issue:
[code]
[code]

[2018-12-27 22:15] micmac1 commented on #7667
Hello @ahmar20

LD_LIBRARY_PATH=/usr/lib/freeradius3 radiusd -h

Also explained in /etc/freeradius3/radiusd.conf.

Regards,
Seb

[2018-12-28 03:36] ahmar20 commented on #7667
Alright, I am not working on this at the moment so I will just close the issue for now. If something pops up in future, I'll see what I can do. Thanks

[2018-12-28 03:36] #7667 closed

[2018-12-28 10:40] stintel commented on #7694
@ratkaj ?

[2018-12-28 15:31] mistepien commented on #7637
in latest git version all is ok

[2018-12-28 15:31] #7637 closed

[2018-12-29 13:31] sigma74 opened #7800 "firewall: Checking "Enabling logging for this zone" without effect in luci firewall settings for fw3"
Environment: Version: 2018-07-26-aa8846bb-1
Architecture: powerpc_8540

Description:
The per firewall zone logging of rejected packets (see [luci #1286](https://github.com/openwrt/luci/issues/1286)) does not seem to be effective, there is neither output in "Status > System log" nor in logread on the console (tested with telnet attempts to port 25 of the openwrt box). Ticking the box "Enable loggin

[2018-12-29 13:42] jow- commented on #7800
Dupe of https://github.com/openwrt/luci/issues/2407

[2018-12-29 13:42] #7800 closed

[2018-12-29 13:43] jow- commented on #7800
Make sure your `media` network resolves to actual network devices, otherwise no logging rules will be added.

[2018-12-29 13:50] sigma74 commented on #7800
Hmmm,
when ticking the box for the wan zone the log rules appear:
# iptables-save | grep LOG
-A zone_wan_dest_REJECT -o eth0.2 -m limit --limit 10/sec -m comment --comment "!fw3" -j LOG --log-prefix "REJECT wan out: "
-A zone_wan_src_REJECT -i eth0.2 -m limit --limit 10/sec -m comment --comment "!fw3" -j LOG --log-prefix "REJECT wan in: "

So what does your comment mean that I'd have to make sure

[2018-12-29 13:52] jow- commented on #7800
Check `ifstatus media` and see if `l3_device` resolves to a network device. Also check `fw3 reload` for error messages.

[2018-12-29 13:58] sigma74 commented on #7800
Yep, it does:
root@omega:~# ifstatus media
{
	"up": true,
	"pending": false,
	"available": true,
	"autostart": true,
	"dynamic": false,
	"uptime": 4181,
	"l3_device": "wlan0-1",
	"proto": "static",
	"device": "wlan0-1",
	"updated": [
		"addresses"
	],
	"metric": 0,
	"dns_metric": 0,
	"delegation": true,
	"ipv4-address": [
		{
			"address": "192.168.193.254",
			"mask": 24
		}
	],
...

root@omega:~

[2018-12-29 14:31] sigma74 commented on #7800
Got rid of the two conntrack warnings - to me it seems that fw3 only supports adding logging rules for the default firewall zones "lan" and "wan" then?

There you go:
config defaults
	option syn_flood '1'
	option input 'ACCEPT'
	option output 'ACCEPT'
	option forward 'REJECT'

config zone
	option name 'lan'
	option input 'ACCEPT'
	option output 'ACCEPT'
	option forward 'ACCEPT'
	option network 'la

[2018-12-29 14:36] jow- commented on #7800
Your media zone has all input, output and forward policies set to ACCEPT while logging rules are only bound to DROP or REJECT events, this is why no log rules are instantiated for your media zone.

[2018-12-29 14:48] sigma74 commented on #7800
Hmmm,
you have a point there: I modelled the media and guest zones after the lan zone, which in turn wouldn't seem to be covered by logging either (as that uses input, output and forward policies set top ACCEPT as well)...
Thanks for that clarification!

[2018-12-29 15:13] wapebira commented on #7764
Sorry for mentioning you as maintainer. I correct the initial post.

[2018-12-30 12:55] diizzyy commented on #7473
@rvbglas @ignisf
Can you give it a try applying these patches?
https://github.com/diizzyy/packages/commit/6c35f55cdf713a0f0ba2a07ebc8b0d4bf22261e8.patch
https://github.com/diizzyy/packages/commit/c2c4054d21cbb4fe4bdf792effe7c1ea313d6b52.patch
https://github.com/diizzyy/packages/commit/a6638b6627dd20560865a3a4fb414919c9871fc1.patch

[2018-12-30 13:23] teqlee opened #7804 "[mwan3] router initiated traffic working unstable."
My network topo is ERLite router running nonNAT routing, route to other 2 NAT router. mwan3 version before (2.7.6 ?) work normally.
Ver 2.7.8 work unstable when router initiated traffic, like ex:
[code]
Here is MWAN Status - Troubleshooting

[code]
[code]
[code]

@feckert

[2018-12-30 22:11] feckert commented on #7804
since 2.7.6 we have the following changes:

I don't think it has anything to do with your problem:
https://github.com/openwrt/packages/commit/7acb0c3e389401974530ed04506ba56db36f2248#diff-34590d11545c84b961d1992ce3aefdeb add nping to tracking method

The following could explain your problem that you have. But the option local_source is deprecated and should not be used anymore. So I have removed t

[2018-12-30 22:16] feckert commented on #7804
What about the route sections in the network config are this one necessary?

[2018-12-30 22:17] feckert commented on #7501
@camelcamro I have added this future to luci-app-mwan3 so I think we could close this feature request

[2018-12-30 22:30] feckert commented on #7042
@lucize no problem which version of mwan3 do you use on issue creation? The version 2.7.8 is the latest one from master.

[2018-12-30 22:31] lucize commented on #7042
it was the one that had source route option

[2018-12-30 22:34] feckert commented on #7042
It would be better if you could tell me the version ;-) or the openwrt version 17.01 /18.06 with this version information i know the mwan3 version

[2018-12-30 22:47] lucize commented on #7042
I'm always on master,so I did an update to it (one per month or so), but I managed to satisfy my needs using transparent proxy because it was time pressing, I'll try to recreate the scenario with manual proxy setup

[2018-12-30 23:04] teqlee commented on #7804
Because I don't want using double NAT & need clients of 172.x 10.x subnet can connect with my subnet.
When I'm try remove route section & enable masquerading+mssclamping on wan zone or stop mwan3, everything working normally.
Try install & using nping to some dns server, it's completed without loss.
[code]
My config work like expect before ver 2.7.8. Tks.

[2018-12-30 23:30] lucize commented on #7042
I am pretty sure it was 2.7.2

[2018-12-31 13:31] camelcamro commented on #7501
this shows then on the detail page: like:
192.168.1.3/cgi-bin/luci/admin/status/mwan/detail

[2018-12-31 13:41] camelcamro commented on #4910
hmm, very complex topic, i guess we should close as mwan3 feckert fixed that much things, and better close that ticket, and lets make a new if still not fixed.

[2018-12-31 18:49] neheb commented on #7794
@stintel try https://github.com/openwrt/packages/pull/7772

Maybe the libmosquitto depends needs a +.

Or it's not being installed properly.

[2018-12-31 18:54] neheb opened #7822 "ibrdtn failing with uclibc++"
Maintainer: @morgenroth
Environment: trunk

Description:

Switching to uclibc++ causes compilation failure of ibrdtn. This either requires modification of ibrdtn or more likely uclibc++ to fix compilation.

I've already done so for gptfdisk where support for long long in istream was missing but I can't figure it out for ibrdtn. Maybe a missing iterator? Not a C++ expert.

edit: Error can be reprod

[2019-01-01 04:26] andersk opened #7825 "luci-app-acme: Accept keylength ec-256, ec-384"
Maintainer: @tohojo
Environment: ar71xx, TL-WDR3600 v1, OpenWrt 18.06.1

Description:

The `acme.sh --keylength` parameter [accepts](https://github.com/Neilpang/acme.sh#10-issue-ecc-certificates) `ec-256` or `ec-384` to get an ECDSA certificate, instead of just a number to get an RSA certificate. I just verified after manually running `uci set acme.example.keylength=ec-256` that the script success

[2019-01-01 06:38] hereisderek opened #7826 "<blockmount> ntfs auto mount as read only"
despite setting option to 'rw'

[code]

[code]

[2019-01-01 06:50] hereisderek commented on #7826
however, if i maunally run `ntfs-3g /dev/sda2 /mnt/data/` it will mount with rw

[code]

[2019-01-01 10:37] morgenroth commented on #7822
[code]

I do not have the environment to test my hypothesis, but the first error looks like a missing operator within `ibrdtn`. uclibc++ seems to insist on "operator!=" while libstdcpp don't.

Please try this patch:
https://github.com/morgenroth/ibrdtn/commit/199c86591edc7e82b92903efecadc4f69ea63370

[2019-01-01 12:14] hereisderek commented on #7826
sorry for lacking homework, apparently kmod-fs-ntfs only support ntfs read.

wonder if I remove it would it automatically mount as rw?

[2019-01-01 17:33] neheb commented on #7822
That seemed to fix that error. Next one:

[code]

[2019-01-01 18:57] triebelf opened #7831 "p910nd: Process p9100d disappears after some time"
Maintainer: @pkerling
Environment: ARMv7 Processor rev 1 (v7l), Linksys WRT3200ACM, OpenWrt 18.06.1

Description:
After some time (don't know when), process `p9100d` just goes away. Logread or `ps | grep p9100d` shows nothing. The printer is power on very infrequently. After doing `/etc/init.d/p910nd restart`, everything works fine for a while. How can I diagnose and fix this?

I also see this, se

[2019-01-01 21:03] diizzyy commented on #7831
Does logread say anything?

[2019-01-01 21:09] nmeyerhans opened #7832 "ipsec-tools: Removal from the packages repo"
I co-maintain ipsec-tools for both Debian and OpenWRT. After discussion with my co-maintainers in Debian, I opened [bug 917847](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=917847) to propose removing the package from future Debian releases. I'd like to propose the same thing for OpenWRT. My rationale is:

CC some people who have also contributed to ipsec-tools in OpenWRT: @aTanW @jow-

[2019-01-01 21:51] karlp commented on #7794
It can't be a + depends, because you can't autoselect the virtual package.  I'll be back to work tomorrow and will be looking at this.

[2019-01-01 22:09] johnstonjs opened #7834 "findutils-find: Cannot install package due to conflict with busybox"
Maintainer: @ cshoredaniel
Environment: ARMv7, Netgear R7800, OpenWrt 18.06.1 r7258-5eb055306f

Description: I'm trying to build a package for [etckeeper](http://etckeeper.branchable.com) and in the process found that _findutils-find_ conflicts with the version installed by _busybox_.

[code]

In an emulated installation of OpenWRT (in VirtualBox) I was able to override this error by using the fla

[2019-01-02 08:10] cshoredaniel commented on #7834
I'm working on an PR that uses the new ALTERNATIVES mechanism that should fix this.

[2019-01-02 08:35] cshoredaniel commented on #7832
Removal of a dead security sensitive package makes sense to me.

[2019-01-02 08:39] cshoredaniel commented on #7831
Is the device p9100d is supposed to be sharing effectively unplugging and then reconnecting?  Will need to check the hotplug (or lack thereof) script as I'm looking as using this myself soon.

[2019-01-02 08:40] aTanW commented on #7832
Is there any replacement? Can someone make IPSec connection from OpenWRT in any other way?

[2019-01-02 08:50] cshoredaniel commented on #7832
there is at least strongswan that I know of

[2019-01-02 08:51] champtar commented on #7832
@nmeyerhans could you try to cross post to the forum / mailing list ?
I'm in favor of removal, we can also mark it @broken

[2019-01-02 08:54] diizzyy commented on #7420
Just as reference, compiling master and "various" packages (additional from package repo) works fine without any additional patches but I'm not going to claim that everything works.

[2019-01-02 09:39] champtar commented on #7712
It really depends on the software IMO, I know in my case when I was updating SQLite my run test was only doing a dumd select when I was doing one, but I know it's used everywhere, with a ton of tests, and really I never had an issue

[2019-01-02 09:41] diizzyy commented on #7712
@champtar
There's still a difference between doing anything and nothing at all

[2019-01-02 11:04] karlp commented on #7712
I'm very much against "compile only" testing for lua packages, because it doesn't test anything.  Other packages are harder to tell, dot releases from packages where upstream uses (some semblance of) semantic versioning are normally just fine, but others are very hit and miss.  I _generally_ feel it's noise, and things that maintainers should take care of themselves, though they can certainly be p

[2019-01-02 11:12] karlp commented on #7794
@stintel do you reallllly have mosquitto _without_ ssl, but libmosquitto _with_ ssl?  I mean, I guess that should work, but was that the goal?

[2019-01-02 11:37] hnyman commented on #7712
I see the basic problem to be that half of the packages are semi-abandoned by the original maintainers.

Many feed repo commit access holders are maintaining/updating just 1-2 packages by themselves, and most packages have been imported years ago into the repo by somebody, but many of the one-time maintainers have lost interest for the packages. Also some core Openwrt committers have abandoned pac

[2019-01-02 11:47] cshoredaniel commented on #7712
@hnyman I largely agree except that, as I've said, I think there needs to be pruning of the feed instead of the situation as it is.  It won't happen for 19.0x release but I still have a COPR/PPA-style thing for OpenWrt in my sights.  I think  medium to long term it's a way to reduce the pressure to accept / keep packages that aren't maintained, and to concentrate efforts on the subset that are rea

[2019-01-02 12:31] diizzyy commented on #7712
What we're concerned about is **no testing at all** and the removal process of abandoned/very outdated packages is next to impossible so it's not like things are going to improve without a change.

I still personally think that packages should move towards a "community review system" and not have a hard requirement of a resident maintainer unless someone wants to "claim" a package. Only a handful

[2019-01-02 13:15] karlp commented on #7794
I can confirm the issue if you have mosquitto-ssl + libmosquitto-nossl, but it works if you have mosquitto-ssl+libmosquitto-ssl _or_ mosquitto-nossl + libmosquitto-nossl.

I can only presume this is a build system problem with dependency tracking.  I'm not sure what I can do about it really, and while it _should_ be a legal build combination, it's not really a very _useful_ build combination IMO?

[2019-01-02 13:52] cshoredaniel commented on #7712
I have to say I think that at least smoke testing should happen -- and IMO if a package has been so broken for ages that smoke testing is an issue, why are we keeping it in the tree?

[2019-01-02 14:12] cshoredaniel commented on #7712
Could we perhaps add a tag PKG_MAINTAINER:="OpenWrt Packages Community <packages@lists.openwrt.org>" for packages that say at least three (number to be discussed) agree that they'll take care PR's of when members of the wider community submit them, and will step in to take care of CVE's and major bugfixes for those packages?  I also think that point release updates and such should be taken care of

[2019-01-02 18:16] neheb commented on #7712
@cshoredaniel I must admit that my approach is to throw a package on a wall and see if it sticks. Mistakes can always be fixed. And yes, that does mean limited or in some cases, no testing.

As @hnyman alluded to, a lot of the maintainers here don't maintain.

[2019-01-02 19:11] triebelf commented on #7831
Logread output when powering printer on/off:
[code]
Does this mean hotplug? Tell me more about a missing script.

[2019-01-02 19:20] cshoredaniel commented on #7712
@neheb I come from a very different philosophy (I think I've come around more to the way @nbd168 and @blogic approach the question of what should be in the codebase.  There was a time when I got impatient with that but I think I view that as a mistake to not repeat).  I guess the question is what do most of those who have decision making power feel about this question.

That's not personal, as I s

[2019-01-02 19:40] cshoredaniel commented on #7831
@triebelf yep, that means the device in /dev goes away (or at least the app can't use it), so what's needed is probably a a mod to /etc/hotplug.json that does the same thing as the tty subsystem.
The tty subsystem does this:
[code]
which results in scripts in /etc/hotplug.d/tty being executed with add and remove events when there is a match on usb-serial subsystem for a ttyUSB* or ttyACM* device.

[2019-01-03 03:58] neheb commented on #7822
Replacing streampos with streamoff seemed to do the trick.

Next failure seems to be beyond my knowledge. Maybe another missing operator:

[code]

[2019-01-03 09:09] ksp222 opened #7858 "grub-2.0.2 build/compile failure"
Please make sure that the issue subject starts with `<package-name>: `

This repo here is only for packages maintained in this repo.  For base packages residing in the same repo as the build system and maintained by core devs, please consider opening tickets there for more timely responses

 - OpenWrt base system: https://bugs.openwrt.org
 - Most LuCI packages: https://github.com/openwrt/luci/issu