[2018-06-13 11:06] danielg4 commented on #1353
There should be no need to touch default.conf if you set
/etc/config/network up as in the
https://github.com/openwrt/packages/blob/master/net/vpnc/README
directions.

On Tue, Jun 12, 2018 at 11:14 AM, hscadore <notifications@github.com> wrote:

[2018-06-13 14:35] DrUlysses opened #6287 "mpd-full __cxa_init_primary_exception _ZNSt15__exception_ptr13exception_ptrC1EPv"
Hello, I can't start mpd-full because of this issues

[code]

here are the dependencies which are installed

[code]

[2018-06-13 20:17] diizzyy commented on #6287
Platform (router model)?
OpenWrt snapshot, release? Did you compile it yourself?
Please don't cross-post. https://forum.lede-project.org/t/mpd-is-not-starting/15623

[2018-06-13 21:21] DrUlysses commented on #6287
Sorry, I will answer here.
Onion Omega 2 plus
Lede Reboot (17.01-SNAPSHOT, r3497-033367e)
compiled what? I have installed mpd-full using opkg
I have also updated the packages using
opkg list-upgradable | cut -f 1 -d ' ' | xargs opkg upgrade
(But I can not update kernel modules, because somewhy I can not update the kernel)

[2018-06-13 21:33] diizzyy commented on #6287
You can't mix and mash snapshot builds, they need to be synced. Your best bet would to upgrade to the latest available snapshot or preferably compile your own firmware and packages.

[2018-06-13 21:44] hscadore commented on #1353
@danielg4 Thanks for answearing. I didn't read the entire README before posting so I deleted the previous post. So now I have the vpn interface with the IP assigned by the gateway although I can't reach any resource at the gateway end. I have 3 zones, lan, wan and vpn and also two forwarding rule lan->vpn and vpn->wan (ISP connected). I think this would suffice but it's not working, do I need to c

[2018-06-13 22:46] DrUlysses commented on #6287
So how can I upgrade to the latest snaphot? I thinked the opkg command does that.
Also I think this is not a good idea to compile on the Omega2

[2018-06-13 22:58] diizzyy commented on #6287
sysupgrade
https://wiki.openwrt.org/doc/howto/generic.sysupgrade

[2018-06-14 13:13] thess commented on #6287
@DrUlysses - I have answered your posting in the forum and am closing this issue here as a duplicate of:
https://forum.lede-project.org/t/mpd-is-not-starting/15623

Please continue the discussion there.

[2018-06-14 13:13] #6287 closed

[2018-06-14 15:42] SvenRoederer commented on #6282
for a patch see: http://lists.infradead.org/pipermail/openwrt-devel/2018-June/012804.html

[2018-06-14 16:03] SvenRoederer commented on #6282
@bobster-galore the "base-files" do not come from the openwrt-packages feed. This issue must be opened against OpenWrt-core, as per https://github.com/openwrt/openwrt this needs to be send via https://bugs.openwrt.org

[2018-06-15 02:20] danielg4 commented on #1353
It may be more difficult to get the firewall zoning right with more zones. However, if only trusted resources are reachable on the other end of the VPN, you could try just putting the VPN in the LAN zone. Similarly, if only mostly untrusted resources are on the other end, it could make sense to use the WAN zone.

[2018-06-15 19:17] hscadore commented on #1353
Yep, I will keep the two zones scheme for now. It works for me if I just include the vpnc interface to the wan zone. Whats is the point of having option interface 'wan' set? At first I thought it was mandatory because it meant that the tunnel would be estabilished using the wan interface but I just removed this option and it has no influece at all. Am I missing something?

[2018-06-15 19:39] danielg4 commented on #1353
It is possible to have more than one WAN interface, e.g. VDSL+LTE. The option allows choosing one for the VPN endpoint.

[2018-06-18 05:10] #6282 closed

[2018-06-19 22:31] pzskc383 commented on #5692
Happens to me too on openwrt-18.06  brannch.
[code]

[2018-06-20 15:03] #5764 closed

[2018-06-20 15:51] mifadirx opened #6321 "Erlang Need erl_interface"
the erlang package need erl_interface, its a c lib to call c code as erlang process
i wanted to compiled elixir on openwrt, and it need erl_interface, i know its a bit hard in cross compiling it, but if you can fix it it will be good

[2018-06-20 17:32] take99 opened #6323 "node : Build error."
Node.js Version : v8.10.0
OS Version : OpenWrt Chaos Calmer 15.05.1
Model : IPQ40xx/AP-DK01.1-C2

In make menuconfig, Node.js is not normally displayed, so makefile line 39
@ (HAS_FPU || KERNEL_MIPS_FPU_EMULATOR) I removed this content.
It came from make menuconfig, but I get an error when I build it.

[code]
Please tell me how to fix it.

[2018-06-20 17:42] diizzyy commented on #6323
Hi,
OpenWrt Chaos Calmer 15.05.1 isn't supported and deprecated.
Please update to 17.X or newer.

[2018-06-20 19:06] #6323 closed

[2018-06-20 20:32] ThomasCr opened #6324 "MWAN3 and NCM LTE Stick"
Hi,

I use currently mwan3 package version 2.0.2-1 with 17.01 firmware. I am getting trouble again after updating mwan3 package (before I used a manually fixed script). The wwan interface is not getting up (but is connected).

I think, the problem is in the hotplug script. I added some debug outputs (with logger), to see what goes wrong.

[code]

as you can see, wwan has no gateway, so the scripts

[2018-06-21 03:18] zhaojh329 opened #6326 "golang: download failed"
Maintainer: @jefferyto
Compile tested: (mipsel,miwifi-mini, master)

Description:
Cannot access https://go.googlesource.com/go in China.
So I requested to change BOOTSTRAP_SOURCE_URL to https://github.com/golang/go.

[2018-06-21 07:08] kofec commented on #6326
As far As I know there can be more than one sources

[2018-06-21 11:34] ThomasCr commented on #6324
when I configure mwan3 with interface wwan_4 it looks ok... but I don't think, thats this is the final solution. When we have a wwan device with ipv4 and ipv6 we getting again in trouble.

Also the Webinterface-Status doesn't find the right interface to connect the link:

![image](https://user-images.githubusercontent.com/226670/41716674-832d9ac6-7557-11e8-8f0c-c7e1aa88f54a.png)

And other side ef

[2018-06-21 19:45] ThomasCr commented on #4236
yes, it can be closed.. but this ncm thing is not working well...

[2018-06-21 19:45] #4236 closed

[2018-06-21 19:55] ThomasCr opened #6329 "NCM Proto for LTE Sticks.... rework needed?"
Hi,
I want to talk about the ncm protocal implementation which currently exist in openwrt.

What is the reason, that such ncm interface starts a new pseudo interface with _4 or _6 and the end?
I am asking, because it is not well supported in openwrt to do so.

We getting problems in mwan3 and also on luci network pages... we don't get the ip address of the interface displayed, because of the extra

[2018-06-22 11:05] Dimit77 commented on #5978
I tried to write script:)
Am I right?
if [ "$INTERFACE" = "wan1" || "$INTERFACE" = "wan2" ]; then
if [ "$ACTION = "ifdown" ]; then
sleep 70 && touch /etc/banner && reboot
fi
fi
exit 0

[2018-06-23 00:39] jefferyto commented on #6326
Thanks @zhaojh329 and @yousong, I've changed the bootstrap source URL to the GitHub mirror. I also added some mirrors for the main src tarball (thanks @diizzyy for the Gentoo link) as I believe golang.org isn't accessible in China either.

[2018-06-23 05:36] #6326 closed

[2018-06-23 12:09] lucize opened #6335 "luci-app-acme and nginx"
with new LUCI support for nginx one also needs to have luci-app-uhttpd if luci-app-acme is needed, maybe doing a config for nginx also and depend on what webserver is selected ?
@Ansuel @tohojo

[2018-06-23 12:40] Ansuel commented on #6335
think i will have to make a matepackage for nginx...

[2018-06-24 03:55] zero13th opened #6339 "unbound: Error when build custom firmware using imagebuilder "unbound.sh: No such file or directory""
Maintainer: @EricLuehrsen
Environment: imagebuilder ar71xx, imagebuilder ramips-mt7620

Description:
Build custom firmware using imagebuilder:
make image PROFILE="DEVICE_tl-wr1043nd-v1"      PACKAGES="unbound"

there is error line 19: /usr/lib/unbound/unbound.sh: No such file or directory

[code]

[2018-06-24 18:17] EricLuehrsen commented on #6339
I haven't used `imagebuilder` in a long time. I build from source and file is placed in the correct location. Both configured build and in-use package install work. I am not sure how to debug this part of `imagebuilder`.

[2018-06-24 18:19] EricLuehrsen commented on #6339
@hnyman @jow- any hints?

I haven't used imagebuilder in a long time. I build from source and file is placed in the correct location. Both configured build and in-use package install work. I am not sure how to debug this part of imagebuilder.

[2018-06-25 04:41] EricLuehrsen commented on #6339
There are stop and start functions which reuse other content. This makes sourcing or including convenient and from what I see normal. My problem is figuring out where or why image builder trips on this.

[2018-06-26 00:58] EricLuehrsen commented on #6339
Please try PR #6352 and see if this resolves the problem.

[2018-06-26 02:26] ciphermenial opened #6353 "prometheus-node-exporter-lua: Metric names do not follow recommended practices"
Maintainer: @aparcar
Environment: All

Description: Not really a bug, just a problem. I am having to modify downloaded Grafana templates to work with the metrics output since they don't follow the recommended practices from [Prometeus for Metric Naming](https://prometheus.io/docs/practices/naming/).

[2018-06-26 03:19] aparcar commented on #6353
Hi @simplexion and thanks for opening an issue.

Could you elaborate on which metric doesn't fit? I think some parts are not directly comparable with the official `node_exporter` written in Go.

[2018-06-26 04:17] simplexion commented on #6353
It's the suffix/base units that appear to be missing from this exporter. I can easily make the Grafana templates work by removing _bytes or _total from the information it is creating the graphs from and they work with the data from the router. This means requiring separate dashboards for my router as opposed to all the rest of the hosts using the official node exporter.

[2018-06-26 04:51] simplexion commented on #6353
I wouldn't know where to start.

[2018-06-26 04:57] aparcar commented on #6353
it would help me very much if you'd post a list of "bad" metric names and your suggested replacement

[2018-06-26 05:31] aparcar commented on #6353
@champtar I'd be up to create a PR but it somewhat crashes compatibility with previous releases. However, I think it's reasonable to be conform with the official exporters. Thoughts?

[2018-06-26 08:19] champtar commented on #6353
I'm fine following official node_exporter, and they seem to be fine breaking everything :) (https://github.com/prometheus/node_exporter/blob/master/CHANGELOG.md)
@simonswine any thoughts ?
@aparcar if you remember any other user of this package please ping them, else please go ahead
Also as you are the most active contributor to this package, maybe put yourself as `PKG_MAINTAINER`

[2018-06-26 11:03] aparcar commented on #6353
@simplexion please review this PR here https://github.com/openwrt/packages/pull/6356 and complain on odd names, I hope I renamed them all

[2018-06-26 16:23] sjjgo opened #6360 "bind: Missing libatomic dependency"
Maintainer: @nmeyerhans
Environment: MIPS, BT HomeHub 5a, master

Description:
The updated version of BIND doesn't build without the libatomic dependency. I have fixed this issue in https://github.com/openwrt/packages/pull/6359. It's a minuscule change – hopefully you can approve it. Thanks.

[2018-06-26 17:13] pieska opened #6361 "busybox: conflict betwwen busybox and diffutils, both provide cmp"
Maintainer: @\<github-user> (find it by checking history of the package Makefile)
Environment: (put here arch, model, OpenWrt version)

Description:

building an image with imagebuilder lede-imagebuilder-18.06.0-rc1-ar71xx-generic.Linux-x86_64.tar.xz fails with the following error:

[code]

[2018-06-26 18:54] sjjgo commented on #6360
I have done a bit more digging on this bug. In the interests of minimising dependencies I wondered if libatomic was really necessary.

There were changes in bind's configure script between 9.11.2-P1 and 9.11.3. These are the changes:
https://gitlab.isc.org/isc-projects/bind9/commit/fd82c70695888c134287b8018296028c252d100e

It seems that this script means that when building libatomic has gone from

[2018-06-27 00:15] neheb opened #6369 "Travis: Openwrt SDK does not have the proper checksum"
Travis is failing on everything.

[2018-06-27 03:13] pleasantone opened #6370 "luci-app-acme: demands required field for DNS update when not using DNS mode"
Maintainer: @tohojo @azuwis
Environment: master as of 22-june-2018, acme, uhttpd
Description:

As seen in this screenshot, luci-app-acme is requiring the DNS key field to be non-blank, which is broken if you're not using acme in DNS mode. Field needs to be set non-required.

https://www.dropbox.com/s/w5bowjqw0ntsrks/Screenshot%202018-06-26%2020.07.25.png?dl=0

[2018-06-27 06:17] nmeyerhans commented on #6360
No, bind does not have a dependency on libatomic. The upstream change that you referenced was a change to auto-detection of libatomic, if it's available, but is not intended to introduce a hard dependency.

I do not have difficulty building bind on mvebu or omap without libatomic. Can you please provide a complete transcript from the following commands so we can debug this further?
[code]

[2018-06-27 06:18] sjjgo commented on #6361
Does it build if you unselect:
Base system -> Busybox -> Editors -> cmp

[2018-06-27 06:43] nmeyerhans commented on #6360
It may also be worthwhile to look at bind's config.log, or at least the section from the line containing `checking if -latomic is needed` to a couple lines after the one containing `checking architecture type for atomic operations`

You can find this file as `build_dir/*/bind-9.11.3/config.log` in your build tree.

It's possible that libatomic is needed on certain architectures. The config.log det

[2018-06-27 06:59] sjjgo commented on #6360
Thanks for picking this up. I think that change means that if libatomic is present it will try to build with it, though. And then when it can't find a built libatomic the build fails. From my reading 9.11.2-P1 doesn't check for stdatomic.h at all. It seems to be that 9.11.3 configure sees stdatomic.h and says 'great, I'll use that'. At least that's my understanding of it. Perhaps this is not the c

[2018-06-27 07:18] sjjgo commented on #6360
Ah, sorry I didn't get your follow-up until I posted mine. I've checked the config.log as you suggest. Here's the output:

[bind-9.11.3-mips-config.log](https://github.com/openwrt/packages/files/2140135/bind-9.11.3-mips-config.log)

Here are what seems to be the important lines:

[code]
The failure in there just seems to be a test to see if it needs to use 64-bit stdatomic.h primitives. So I think

[2018-06-27 07:42] nmeyerhans commented on #6360
Thanks. I'm not sure what the correct solution will be at this time. The obvious options are:
* Explicitly disable libatomic support in bind on all platforms
* Explicitly enable libatomic support in bind on all platforms and declare it as a build dependency
* Selectively declare it as a build dependency on platforms where it's known to be needed

I don't fully understand the ramifications of the f

[2018-06-27 08:17] easyteacher commented on #6360
ramips needs it...

[2018-06-27 08:17] sjjgo commented on #6360
Are all openwrt platforms able to build libatomic? Presumably the check in bind's `configure` is there because it is not universally supported?

I think musl comes with stdatomic.h, but not sure which architectures are covered. For the platforms you mentioned, what happens with the stdatomic.h checks? Presumably it fails the test and builds without it?

That suggests that forcing it as a dependenc

[2018-06-27 08:21] sjjgo commented on #6360
@easyteacher Have you tried building with `--enable-atomic=no`?

[2018-06-27 09:47] simplexion commented on #6353
Haha! I figured the fault here was on Prometheus. Fingers crossed they don't decide to break it again.
PR makes sense to me and it looks like it should be all right now. Thanks!

[2018-06-27 12:00] easyteacher commented on #6360
@sjjgo I haven't tried. But after I know it can boost performance on multicore platforms,  I decide to keep it enabled.

[2018-06-27 14:06] pieska commented on #6361
I do not build from scratch, i tried to build an image with image builder, thus i'm using the prebuilt packages.

[2018-06-27 15:13] sjjgo commented on #6360
@easyteacher I imagine that any such speed-up would only be noticeable on a machine that is primarily an DNS server and is dealing with a large number of requests. If your use case demands maximum throughput for bind though, I'd be curious to hear about it. If it's an edge case then it might be necessary for you to build it yourself with your own flags set.

[2018-06-27 15:21] nmeyerhans commented on #6360
Yeah, considering that previous versions of the bind package never enabled libatomic support, my inclination is to explicitly disable it everywhere, at least temporarily. This will at least get us back to the previous state on all platforms.

[2018-06-27 16:54] sjjgo commented on #6360
I agree. That will at least mean everything builds.

[2018-06-27 18:13] zero13th commented on #6339
Hi Eric,

just tested on latest trunk imagebuilder. there is no such error.
Thank you

[2018-06-27 18:13] #6339 closed

[2018-06-27 21:08] #6370 closed

[2018-06-28 09:56] feckert commented on #5978
@Dimit77 I do not think this is good to wait in this script for 70 seconds. The **netifd** will kill this service due timeout. I think it will be better to call a helper script witch could be detouched as a service and then could sleep and wait.

[2018-06-28 09:57] feckert commented on #5906
@wackejohn if the RA service is working as expected could close this issue then?

[2018-06-28 15:24] nmeyerhans commented on #6360
Closed via #6375

[2018-06-28 15:24] #6360 closed

[2018-06-28 17:39] #6369 closed

[2018-06-29 00:57] luizluca commented on #5906
@wackejohn , load balancing and failover only works if you use NAT66 (I read that somewhere). mwan3 could configure it for you, but it is a little outside of the scope of mwan3.

[2018-06-29 03:36] bol-van opened #6378 "devel/gcc update to version 7.3.0"
At least for x64  openwrt now builds with gcc 7.3.0
devel/gcc package still on 5.4.0

I had some ABI incompatibilities between some project and libs cross-compiled by openwrt toolchain

[2018-06-29 04:57] wackejohn commented on #5906
@luizluca @feckert
Maybe I should try the NAT66 to see if it will work or not, thanks for all your works.

[2018-06-29 04:57] #5906 closed

[2018-06-29 12:27] localnet opened #6381 "Unbound: configure DNS over TLS with UCI"
Maintainer: @EricLuehrsen

Do you have any plans to permit configure DNS over TLS with UCI?

My better idea is add a config option, for example:
  - option tls_auth_name 'cloudflare-dns.com'

In the unbound script if the option "tls_auth_name" has value assigned, check if exist "/etc/ssl/certs/ca-certificates.crt". if it exist add:
  - tls-cert-bundle: "/etc/ssl/certs/ca-certificates.crt"

In the

[2018-06-29 20:44] justdave opened #6382 "isc-dhcp-server-ipv4: service starts too early and exits because no network is available"
Maintainer: @antonyantony
Environment: ar71xx - WZR-HP-G300NH - Reboot (17.01.4, r3560-79f57e422d)
isc-dhcp-server-ipv4 - 4.3.5-1

Description:

isc-dhcp-server-ipv4 fails at boot because the network isn't available yet when it starts.

[code]

If I log into the router and run `/etc/init.d/dhcpd start` after it boots up, it starts fine.

[2018-06-29 21:04] EricLuehrsen commented on #6381
First a work around and experimental location, if you haven't already been using it. If you use LuCI, you can edit the added conf files in luci-app-unbound.

I have been thinking the same thing. Cloudflare make a good example of standard use for DNS TLS. There are however custom needs and installations. My concern for UCI is it is supposed to make things easier for the _"more average"_ user. We ne

[2018-06-30 07:04] diizzyy commented on #6382
@pprindeville
Probably related to this https://github.com/openwrt/openwrt/pull/1072 (see comments)

[2018-06-30 07:34] justdave commented on #6382
Yeah, that seems likely.

There's a START=60 in the init script which based on seeing it in other scripts like like it's supposed to be startup order, but network has START=20 so apparently that's not used for the order so much anymore?

[2018-07-01 15:55] sjjgo commented on #4409
Please look at the PR I have created to update this package: https://github.com/openwrt/packages/pull/6386

[2018-07-01 15:56] sjjgo commented on #3342
This is fixed in this PR: https://github.com/openwrt/packages/pull/6386

It's turned off by default, but can be added from the build configuration menu.

[2018-07-01 16:25] alirz1 opened #6387 "mwlwifi 06-15-2018 Slow 5G wifi performance vs mwlwifi driver dated 03-30-2018"
I been compiling my own custom builds for my Wrt1900ac Mamba for a while. Recently switched to LEDE from the older CC branch of Openwrt.
Uptil last month i was running LEDE build r6874 that had mwlwifi driver dated 03-30-2018. I had decent 5G wifi speeds on that build. I would average at around 30-35MB/sec.
Recently upgraded to a newer build (r7290) few days ago and i notice that wifi was slow. Di

[2018-07-01 17:58] localnet commented on #6381
I know about "unbound_ext.conf" and "unbound_srv.conf", I am using them.

I thought it was interesting for the _"more average"_ user. But my better idea didn't seems enough solid, so I prefered ask before try to implement it. And you are right, better stability.

One time more, thanks for your great work.

PS: Feel free to close the issue, or maintain it open if you can and want investigate more a

[2018-07-01 20:49] EricLuehrsen commented on #6381
It **is** a good idea. One of the problems I have with Unbound is that the forward-zone: clause is per zone, and it would be nice if that was done in reciprocal order. That is define a forward-server: clause, and assign it zones, so UCI could fix that. Upstream ISP forward has a UCI already which should be reworked to play well with this (special forward IP/Domain "resolve-conf"). Then add a TLS c

[2018-07-01 20:57] EricLuehrsen commented on #6381
[code]

[2018-07-01 22:01] alirz1 commented on #6387
further tests show it might not be the driver itself but the kmod-mwlwifi module from Jun 15th 2015.

[2018-07-02 00:48] jhiswin opened #6388 "ca-certificates broken on lede"
# opkg install ca-certificates
Installing ca-certificates (20170717) to root...
Downloading http://downloads.lede-project.org/releases/17.01.4/packages/mips_24kc/base/ca-certificates_20170717_all.ipk
Configuring ca-certificates.
# ls /etc/ssl/certs/ca-certificates.crt
ls: /etc/ssl/certs/ca-certificates.crt: No such file or directory

[2018-07-02 03:56] luizluca opened #6391 "ddns-scripts: curl should allow to use --interface with ipaddress, not device"
Maintainer: @chris5560
Environment: OpenWrt Trunk

Description:

My ISP is blocking IPv6 WAN address but allow IPv6 LAN (delegated prefix). I need to use
```curl --interface <my_lan_IPv6_address>```
but ddns-scripts forces curl to use LAN device. It's not the same.

Please, allow a way to force curl to use the same bind_network code that wget does. I simply replaced the curl code by the wget one (

[2018-07-02 08:17] chris5560 commented on #6388
#> ls /etc/ssl/certs/* and you will see all the certificates

[2018-07-02 08:42] jow- commented on #6388
`ca-certificates.crt` is part of `ca-bundle`, not `ca-certitificates`.

[2018-07-02 08:42] #6388 closed

[2018-07-02 21:05] NeoRaider commented on #5630
The current version of usbip userspace does not work with out minimal libudev shim anymore. The eudev project is dead, so I see two options:
1. Patch usbip to work with our libudev replacement again (might re-introduce bugs in usbip whose fixes cause the incompatiblity... and the patches might break often, as the usbip sources are bundled with the kernel)
2. Someone would need to package full udev

[2018-07-02 21:54] #6387 closed

[2018-07-04 06:56] osasco commented on #3876
Hello!

I was searching for a similar issue and hit this page. Same hardware here (1043NDv1).

I've tried to apply the solution above and it worked for a while... but this high load issue appeared again after some time powered on.

I've found out that using a USB drive (ext4) as "External Root" instead "External Overlay" made the router rock solid again.
![mountpoint](https://user-images.githubuse

[2018-07-04 17:30] thankeyes opened #6398 "ppp-mod-pptp for the pptp is not working in version 18.06.0-rc1"
The version 18.06.0-rc1 which I install is from here.
https://downloads.openwrt.org/releases/18.06.0-rc1/targets/ramips/mt7620/openwrt-18.06.0-rc1-ramips-mt7620-miwifi-mini-squashfs-sysupgrade.bin

The step what I did is
1.opkg update
2.opkg install ppp-mod-pptp
3.opkg install kmod-nf-nathelper-extra
4.reboot
5.setup the PPTP in the LUCI
##################################
the erro log
############

[2018-07-05 06:49] feckert commented on #5760
@sitcsitc so as you have opened the ticket could you please close this. I have not the privilege to do this.

[2018-07-05 07:28] diizzyy commented on #6378
Hi,
Requesting version bumps for a package isn't a bug (issue), please close
@hnyman

[2018-07-05 07:35] diizzyy commented on #6361
It's always a trade off between naming and convenience. For instance, BSD's usually use g(nameofutility) to avoid clashes with the BSD licensed counterparts.

[2018-07-05 07:39] diizzyy commented on #6152
Is this also true if you use 18.X or master/trunk?

[2018-07-05 07:41] diizzyy commented on #6079
@VersuchUndIrrtum
Hi, dnsmasq is included in the OpenWrt distribution not in the packages repo so please make a bug report over at http://bugs.openwrt.org instead.
Please close this one

@hnyman

[2018-07-05 07:42] diizzyy commented on #6070
Can we close this?

[2018-07-05 07:45] diizzyy commented on #6059
Hi,
Requesting version bumps for a package isn't a bug (issue) and you're providing close to little information on platform, version of OpenWrt etc. 1.14 is already in the tree https://github.com/openwrt/packages/commit/157baf5c65ffbab1f82e3896ba19bf42b84d2c74 btw

Please close
@hnyman

[2018-07-05 07:51] diizzyy commented on #6035
Any updates?

[2018-07-05 07:55] diizzyy commented on #5930
Please close this, do a proper pull request instead
@hnyman @champtar

[2018-07-05 07:58] diizzyy commented on #5757
@lynxis
No longer valid?

[2018-07-05 08:01] diizzyy commented on #5792
@LLE8
Please do a pull request or close this issue as it's not a bug.

[2018-07-05 08:02] #6378 closed

[2018-07-05 08:06] diizzyy commented on #5406
@PraneetKaur
Please close as there's no such package and/or 5.37 isn't supported (deprecated)

@hnyman @champtar

[2018-07-05 08:08] diizzyy commented on #5588
@atyg02
glibc has been bumped several times after this report, is it still an issue?

[2018-07-05 08:10] diizzyy commented on #5573
Does it still fail?

[2018-07-05 08:11] diizzyy commented on #5512
@soundart
fftw3 has been bumped, is it still broken?
If not, please close this issue report.

[2018-07-05 08:11] diizzyy commented on #5485
Superseded by https://github.com/openwrt/packages/commit/153b14cbfb32a7f959b1dffd5c481640413e957c
@hnyman @champtar
Please close

[2018-07-05 08:13] diizzyy commented on #5461
@artynet
I think this can be closed as of https://github.com/openwrt/packages/commit/9ce4d5191f97f2463fb6426fd6bc099a35dbf662 ?

[2018-07-05 08:16] diizzyy commented on #5313
Fixed https://github.com/openwrt/packages/commit/d6eb6f056582c43585215d7a98d8d6de45ee4030
Please close

@hnyman @champtar

[2018-07-05 08:17] diizzyy commented on #5306
@hnyman @champtar
Please close, not a valid bug report (outdated toolchain etc)

[2018-07-05 08:18] diizzyy commented on #5293
@zenitraM @ogarcia
Can you guys give 18.X a try and/or trunk/master?

[2018-07-05 08:19] diizzyy commented on #5229
@thess
Close, reporter timeout?

[2018-07-05 08:20] diizzyy commented on #5075
Please close this one, not a supported toolchain
@jhaakana @hnyman @champtar

[2018-07-05 08:21] diizzyy commented on #6084
@phipolis
Can you provide a pull request?

[2018-07-05 08:41] soundart commented on #5512
I cannot find the fftw3 3.3.8 tag on github currently, but cycle.h on master ist unchanged since november last year and my pull request is still open.

[2018-07-05 08:51] #5485 closed

[2018-07-05 08:52] #5306 closed

[2018-07-05 08:57] #5313 closed

[2018-07-05 09:01] birdie-github commented on #6152
@diizzyy

I'm a bit reluctant to try master/trunk on my hardware. Couldn't you please check it yourself?

The front page will do, e.g. https://www.duckdns.org/

[2018-07-05 09:07] diizzyy commented on #6152
I don't use uclient-fetch (with ssl) or wget and given that 17.X is rather old by now I would expect it to work in 18.X or trunk hence my question.

[2018-07-05 09:08] birdie-github commented on #6152
Are there master/trunk versions which are considered 'stable'?

[2018-07-05 09:09] #5075 closed

[2018-07-05 09:33] #5461 closed

[2018-07-05 11:08] #6070 closed

[2018-07-05 11:09] #6059 closed

[2018-07-05 11:10] #5229 closed

[2018-07-05 12:35] #6079 closed

[2018-07-05 12:55] ClaymorePT commented on #5573
@diizzyy Just tested a build. Everything went out just fine.

[2018-07-05 15:58] pycvalade commented on #6035
For an unknown reason, following the wiki ended up with a 0 byte certificate file. The download would just never retrieve the file.

I ended up downloading it from my computer, scp'ed it to the router and everything worked properly afterwards.

[2018-07-05 15:58] #6035 closed

[2018-07-05 17:05] Mosney commented on #3530
same as you. 2 years pass, looks  still not resolve, I think.

[2018-07-05 17:06] Mosney commented on #3530
so do you have any idea about this issue? I can not fix it because not professional.

[2018-07-05 17:43] Mosney commented on #5097
some versions back the syntax of "domain" was changed to get rid of the need to always update/rebuild tld_names.dat.gz

@sinayion I also have question both your issuse1&2. But I still don't understand how to fix it after read it, so could you explain it specific for me? both of your issue. thanks a lot!

[2018-07-05 20:06] thankeyes commented on #6398
@diizzyy
Yes,it is still broken. I made a snapshots with ppp-mod-pptp and kmod-nf-nathelper-extra.
OpenWrt SNAPSHOT r7402-0f54388 / LuCI Master (git-18.185.66236-26d90f0)
The PPTP client still can not work and all the PC in the LAN can not client to the PPTP server.

[2018-07-05 20:19] birdie-github commented on #6152
@yousong

Doesn't really work for me:

[code]

Perhaps it's fixed in master/trunk but I'll just wait for an official release.

[2018-07-05 20:23] #5760 closed

[2018-07-05 22:46] yousong commented on #6152
I tested using lede 17.01.4 with qemu armvirt-32.  In your test, were wget and wget-ssl the same thing?  Please post output of `strace -e open wget -O /dev/null ...`

[2018-07-06 00:20] flfq commented on #6398
the new SNAPSHOT not work
the 18.06.0-rc1 not work

The PPTP client still can not work and all the PC in the LAN can not client to the PPTP server.

[2018-07-06 00:23] diizzyy commented on #6398
Create a bug report over at https://bugs.openwrt.org and provide as much information as possible including that you've tested both 18.X and trunk.

[2018-07-06 01:51] #5573 closed

[2018-07-06 03:43] yousong commented on #6398
As suggested by @diizzyy , these packages are part of the base system and issue should be opened in the bugs.openwrt.org.  Please also note that it's unlikely that people will go to the length of setting up all the test environment to debug this issue for you, you may need to provide more detailed and specific information to narrow things down.

[2018-07-06 03:43] #6398 closed

[2018-07-06 05:07] PraneetKaur commented on #5406
Sure

--
Thanks
Praneet

[2018-07-06 05:07] PraneetKaur commented on #5406
Sure

--
Thanks
Praneet

[2018-07-06 05:07] #5406 closed

[2018-07-06 09:00] birdie-github commented on #6152
[code]

[2018-07-06 09:02] yousong commented on #6152
Now this actually works ;)

[2018-07-06 09:04] birdie-github commented on #6152
I'm not really willing to run wget under strace at all times - that's not how applications are meant to work.

[2018-07-06 09:06] sjjgo commented on #4409
@hnyman I'm not sure if @sairon is maintaining the package any more. I am happy to take this responsibility on if they no longer wish to be involved in looking after this package.

[2018-07-06 09:08] yousong commented on #6152
Of course, strace is only intended for debugging issues.  But I think it's now more a works-for-me situation (with manually added symlink).

[2018-07-06 09:11] birdie-github commented on #6152
OMG, wget works just fine without `-O /dev/null`

But why?? I don't want to save the output.

[code]

[2018-07-06 09:16] birdie-github commented on #6152
For some reasons uclient-fetch **works** today:

[code]

[2018-07-06 09:23] birdie-github commented on #6152
Now wget also works. I don't know what's going on. I haven't rebooted my router.

Some strange mysteries. Let's close this bug report for a while until I figure out what was really wrong.

[2018-07-06 09:23] #6152 closed

[2018-07-06 11:31] aparcar commented on #6353
Please close this issue if fixed by the previous PR

[2018-07-06 11:50] #6090 closed

[2018-07-07 02:26] #6353 closed, assigned to nobody

[2018-07-07 03:20] ryu4184152419 opened #6408 "JMicron JMS567 USB Storage not detected WZR-1750DHP"
Maintainer: @\<github-user> (find it by checking history of the package Makefile)
Environment: (arch:arm-v7l, model:WZR-1750DHP, OpenWrt 18.06-rc1)

Description:
OpenWrt 18.06-rc1

USB 3.0 case with jms567 chip
I am putting HDD.

It worked with LEDE 17.01.4,
It does not work with OpenWrt 18.06 rc-1

kmod-usb-storage, kmod-fs-ext4, block-mount
I installed, but I do not know if there are missing ite

[2018-07-07 08:17] lukasmrtvy opened #6409 "lxc-checkconfig: Checks for non existing modules in openwrt-18.06"
lxc-checkconfig in openwrt-18.06 is checking for modules 8021q,bridge. But these are not available as kmod-modules.

It seems that these are removed from 3.18 kernel https://git.openwrt.org/?p=openwrt/openwrt.git;a=commitdiff;h=7096ed58fdc908144d2c52bf416e9b3b0e48795a

Can anyone update/patch lxc-checkconfig package?

EDIT:
Rest of modules from misc section:

kmod-veth #veth-> loaded by LXC_NETWOR

[2018-07-07 10:05] damnms opened #6410 "usbip: remove obsolete patches, adapt package to new kernel/libudev / unable to build 18.06 on arm a9"
I still can not build openwrt 18.06

related: https://github.com/openwrt/packages/pull/6062

[code]

[2018-07-07 17:59] localnet commented on #6381
Excuse late response, again I am busy with real live.

The separate configuration section for "forward" seems a more solid solution. But I like the simplicity to use upstream resolvers from "resolv.conf.auto". Maybe a posibility would to do option "list server" optional, if it is not specified use upstream resolvers from "resolv.conf.auto".

[2018-07-07 19:08] EricLuehrsen commented on #6381
Yes, there will need to be a option for resolv.conf.auto which removes the simple (and limited usefulness) of the current forward option. The option in my mind would be a few pre-configured choices including "resolv-auto", "cloudflare", "cloudflare_tls", "quad9" and so on. If empty, "custom," or just unrecognized, then server and TLS options are used. I am trying to think of the best fall back sol

[2018-07-08 16:52] localnet commented on #6381
I think the better solution is the most obvious, that ca-bundle be a dependency of unbound. Or split in two packages unbound-tls and unbound, the first with dependency of ca-bundle and the second without this dependency.

The pre-configured choices are a good idea, too have the risk of changes in upstream but I think this risk is minimal.

[2018-07-09 05:56] EricLuehrsen commented on #6381
I have updated the recipes in both master and openwrt-18.06 as interim actions. [openwrt.org](https://openwrt.org/docs/guide-user/services/dns/unbound) documentation pointer is updated also. It will take some time to scratch out a thorough solution.

[2018-07-09 06:30] #6408 closed

[2018-07-09 07:20] cshoredaniel commented on #2152
This should be closed

[2018-07-09 11:21] thess commented on #2152
OK by me

[2018-07-09 11:21] #2152 closed

[2018-07-09 12:20] anonimou0 commented on #4472
@nunojpg
I've interacted with developers and they have a patch to have nmap with scripting engine working on OpenWrt.
Here is the discussion.
http://seclists.org/nmap-dev/2018/q2/6
After adding that patch, I could compile nmap with NSE. Hope that helps.

[2018-07-09 12:22] nunojpg commented on #4472
@anonimou0 yes, that is great. I will reopen this ticket and test it.

[2018-07-09 12:35] lukasmrtvy commented on #6409
@lperkov ping to package maintainer

[2018-07-09 13:32] alex9434 opened #6446 "lxc-create: Failed to download rootfs.tar.xz"
Environment: amd64, OpenWRT 18.06-RC1
Description:
Creation of LXC container fails:
`lxc-create -t download -n u1 -- --dist ubuntu --release bionic --arch amd64`
`Setting up the GPG keyring`
`Downloading the image index`
`Downloading the rootfs`
`ERROR: Failed to download http://images.linuxcontainers.org//images/ubuntu/bionic/amd64/default/20180709_07:42//rootfs.tar.xz`
`lxc-create: u1: lxccontai

[2018-07-09 19:20] Olim98 opened #6448 "ddns-scripts: GoIP.de Update URL changed"
GoIP.de update URL changed for IPv4 to
[code]

[2018-07-09 21:00] dibdot commented on #6446
Works for me:

[code]
Probably your setup is not complete, check that you've installed the following packages: 'kernel cgroups', 'kernel namespaces' and 'miscellaneous LXC related options' plus 'kmod-veth' for optional network support ... for SSL support you need 'wget', 'ca-certificates', 'gnupg' and 'gnupg-utils' as well.

[2018-07-09 21:00] #6446 closed

[2018-07-09 21:00] pleasantone commented on #4802
Interestingly enough, I'm also seeing this with the same type of device (SiliconDust HDHomeRun).
I'm happy to help further debug, but, as expected, it seems to be a broadcast issue.

I did some more digging. I power-cycled two embedded devices on the lan. We are sending the HDHomeRun (fails) a DHCP offer to 255.255.255.255 per the DHCP spec. The Eagle Rainforest (working) is getting sent to a unic

[2018-07-10 04:27] cjjdaq opened #6455 "Mwan3 cannot load balance traffic through transparent proxy"
Mwan3 2.6.18
Kernel version 4.14.52
I use koolproxy as a transparent proxy to filter tcp 80, 443 port ads.
Koolproxy listens on the tcp 3000 port.
Koolproxy use mark mode, set the socket mark(src ip) when connect to remote host.
Iptables -t nat -N KOOLPROXY
iptables -t nat -A KOOLPROXY -p tcp -m multiport --dport 80,443 -j REDIRECT --to-ports 3000

This can be used to load acl rules in nat->output

[2018-07-10 08:45] nxhack commented on #5728
@godunkchen
The package has been updated.
Is the problem solved?

[2018-07-10 08:56] dibdot commented on #6446
Please post the output of:
[code]

Still, this is a configuration issue and not something we could fix within the package. Therefore it would be much better to ask in the forum (https://forum.lede-project.org/) for this ...

[2018-07-10 12:38] alex9434 commented on #6446
'root@OpenWrt:~# wget -T 30 -q http://images.linuxcontainers.org//images/ubuntu/b
ionic/amd64/default/20180709_07:42//rootfs.tar.xz -O /tmp/rootfs.tar.xz;echo $?
3
root@OpenWrt:~# opkg list-installed
ar - 2.27-1
base-files - 190-r0-5745bbe
bash - 4.4.18-2
busybox - 1.28.3-4
bzip2 - 1.0.6-3
ca-certificates - 20180409
coreutils - 8.23-3
coreutils-chroot - 8.23-3
coreutils-sha1sum - 8.23-3
curl - 7.6

[2018-07-10 13:16] dibdot commented on #6446
Thanks. Root cause is the file i/o error you get in wget (return code 3). Now repeat the slightly modified wget command to see more ...

[code]

[2018-07-10 15:25] benteam10 commented on #4409
Here is Tvheadend 4.2.6 for LEDE 17.1.4     for architecture  AR7xxx
i run it on a Archer C7 V2  MIPS 24Kc
https://drive.google.com/open?id=1k1Bs-GCsIyG68wdNGnPL6B-ybdjyRda5

runs very well

i couldnt compile it for chaos calmer since the built system is not complete it doesnt have the packages anymore.
if it starts and ask for a username and password  edit the /etc/init.d/tvheadend    in the line

[2018-07-10 15:32] hnyman commented on #4409
closing this, as  PR #6386 contains the concrete proposal for the version bump.

[2018-07-10 15:32] #4409 closed

[2018-07-10 19:59] diizzyy commented on #6448
Can you do a pull request?

[2018-07-11 01:36] arrmo opened #6457 "net-snmp: Extend syntax / usage"
Maintainer: @dedeckeh
Environment: WNDR3700v3, OpenWrt 18.06.0-rc1, r7090-d2aa3a1b62

Description:
Similar to Issue #4085, trying to use extend functionality of net-snmp. The package is "new enough" (5.7.3-9), but can't get extend to work. It may be the syntax I'm trying to use in /etc/config/snmpd, but any pointers would be appreciated! Trying to effectively add a line like below,

[code]

Thanks

[2018-07-11 14:43] danielg4 commented on #6004
In the 18.06 branch, this identical issue occurs in the lxc package on x86, so it is neither package-specific nor target-specific, and should perhaps be moved to the OpenWrt bug tracker.

"Allegedly this has been fixed in later gcc versions…" Which versions? Alleged where? @jow-

[2018-07-11 20:06] alex9434 commented on #6446
root@OpenWrt:~# wget -T 30 http://images.linuxcontainers.org//images/ubuntu/bion
ic/amd64/default/20180709_07:42//rootfs.tar.xz -O /tmp/rootfs.tar.xz
--2018-07-11 20:05:51--  http://images.linuxcontainers.org//images/ubuntu/bionic/amd64/default/20180709_07:42//rootfs.tar.xz
Resolving images.linuxcontainers.org... 91.189.91.21, 91.189.88.37, 2001:67c:1560:8001::21, ...
Connecting to images.linuxcon

[2018-07-11 23:57] karlp commented on #6457
well, perhaps share the config you were trying?  UCI support for extend was added in  https://github.com/openwrt/packages/commit/a565ef8eaaa27e586b8759743f2b9188b7b3b42f  #4085 is irrelevant for this, unless you're creating your own config files.

[2018-07-12 01:02] arrmo commented on #6457
Sure, NP! I only made a change right near the top of the file, as below (the rest is unchanged). And of course, this matters ... it's in /etc/config/snmpd
[code]

I have also tried the line noted above (with the mboid added, same result).

Thanks!

[2018-07-12 08:37] dibdot commented on #6446
Great! Thanks for your feedback.

[2018-07-12 11:51] karlp commented on #6457
it's not a magic single option.  that's not how UCI works, for anything, anywhere.  You should try copying how "exec" configs work.  I'd imagine from looking at the code, that you want something like
[code]

[2018-07-12 15:47] arrmo commented on #6457
That makes sense, and sorry - I should have mentioned ... I first tried what you explained here. That didn't work either ... :(. I tried to run in debug mode, but it won't really do that ... it runs the daemon instead, with no logs (was hoping the log would tell me what I did wrong in my syntax ... :()

[2018-07-12 17:42] karlp commented on #6457
have a look at the generated config file CONFIGFILE="/var/run/snmpd.conf"
and see what was put in.  name and prog are both required, as you can see from the commit I linked.

[2018-07-13 02:02] arrmo commented on #6457
That's the odd part - nothing is added to the /var/run/snmpd.conf file (or at least, I mean nothing for the extend line). It's like it's not happy with something there, but no log output to see? I checked logread, nothing there - perhaps the wrong place?

Thanks!

[2018-07-13 04:03] godunkchen commented on #5728
@nxhack
Sorry for late.
I've just verified it from upgrading node to version v8.11.3-1, it works fine now.

Great thanks for your contribution.

[code]

[2018-07-13 04:03] #5728 closed

[2018-07-13 09:19] mariarti opened #6464 "xmail:Failed to create for eventfd"
Maintainer: ??
Environment:
ar71xx
MikroTik RouterBOARD 951G-2HnD
OpenWrt Barrier Breaker 14.07 r44952
Kernel Version	3.10.49
package xmail 	1.27-1

Description:
daemon start failed with error: daemon.err XMail[3182]: Failed to create for eventfd

[2018-07-13 16:05] karlp commented on #6457
you're still not sharing what you're actually tried.

[2018-07-13 18:55] arrmo commented on #6457
Sorry! Here is what I added. Thougts?

[code]

I have also commented out args, and tried adding ''. No joy in any case ... :-(.

Thanks!

[2018-07-14 03:14] arrmo commented on #6457
OK, some more debugging, and a couple interesting findings,
1) If I manually edit /var/run/snmpd.conf, and then kill / manually run snmpd (not from init.d, but just execute /usr/sbin/snmpd -Lf /dev/null -f) => extend does work! So it seems the issue is generating /var/run/snmpd.conf from /etc/config/snmpd. I even stripped the above down to only name and prog, but it's still not happy.
2) If I ente

[2018-07-14 03:32] arrmo commented on #6457
FYI, also tried to add extend using the commands outlined here (but exec => extend),
https://openwrt.org/docs/guide-user/services/snmp/snmpd

Seems to add the info to /etc/config/snmpd, but it still doesn't show up in /var/run/snmpd.conf. Something seems to be messing up processing of the UCI file / code.

[2018-07-14 03:42] arrmo commented on #6457
OK, I think I found it ... :-). The script /etc/init.d/snmpd doesn't seem to include extend support. OK, just checked the repository - it's in the master, but not 18.06 ... :-(. That's why I don't see it, and why this isn't working. Unfortunately - I can build the master, but it fails to boot on my router (just hangs trying to boot the kernel).

I'm open to suggestions!

[2018-07-14 06:22] ibnbd opened #6470 "Problem with latest PPP commit"
Since I pulled the new commit for packages, there were some changes for PPP. I can't compile anymore, every time I try I am getting this error.

[code]

[2018-07-14 07:29] airend commented on #6470
Seems related to e7397eef69.

[2018-07-14 07:32] ibnbd commented on #6470
@airend I guess too, seems this was the last commit.

[2018-07-14 07:52] airend commented on #6470
I meant to add that reverting the LTO build flags fixes the issue. Still, pretty odd bug.

[2018-07-14 07:53] ibnbd commented on #6470
@airend I modified the `Makefile` and I was able to compile again. Hopefully author will change it to something.

[2018-07-14 12:28] nbd168 commented on #6470
Fixed in 888a15ff8312cd157bc968b67c33d2f738883b79

[2018-07-14 13:08] ibnbd commented on #6470
@nbd168 thanks, it worked

[2018-07-14 22:40] Kirya2k opened #6473 "Python3-setuptools: request update package from 39.0.1 ."
Maintainer: @commodo
Environment: Openwrt-18.06 and Master.

Description: Modules pycryptodome and uvloop don't build pip3 with python3-setupttols 39.0.1.
Update package plz.
Thanks a lot.

[2018-07-15 02:38] yousong commented on #6113
Please open a new issue.  With additional issue posted above.

[2018-07-15 06:23] kevinqiu0098 opened #6479 "openwrt 18.06 runs in netgear r6220 , shadowsocks-libev cannot work well"
Description:
openwrt new install version is 18.06
rourter model :netgear r6220
problem : shadowsocks works failed
![1](https://user-images.githubusercontent.com/41245016/42731189-97a0ee22-883a-11e8-8734-b105baeb2a7d.png)
![2](https://user-images.githubusercontent.com/41245016/42731190-99ac9496-883a-11e8-8e60-45649f1de314.png)
can someone show me how to troubleshoot with it ? thanks for your help @

[2018-07-15 06:38] commodo commented on #6473
Hey,

The version of this package is controlled by the python3 package.
Whenever we update python3 we get the version that Python3 has built-in.

Can you update this package via pip3 ?
Would that work ?

Something like: ‘pip3 install —upgrade setuptools ‘
 It could be a good idea to also upgrade pip3 in a similar fashion, if upgrading setuptools.

Thanks
Alex

[2018-07-15 08:20] kevinqiu0098 commented on #6479
![Uploading 4.png…]()
@yousong  i try restart  shadowsocks but got nothing  it looks  didnt install right (btw i install from sofeware )

[2018-07-15 12:33] Kirya2k commented on #6473
build-in pip3 make update setuptools normally.
But me also have to install the gcc-toolchain, which is inconvenient.
So I ask you to update setuptools in ipk of python-stream Openwrt.
pip3 I haven't tried to update.

With best regards, Kirya.

[2018-07-15 13:19] kevinqiu0098 commented on #6479
@yousong
first thanks for the reply it mean so much for me
it's strange I can open google.com and get the search result page once(youtube twitter etc. cannot open) but now it looks like being block again
does dns setting need additional setting ?
I am current live in china I am expecting local website visit directly and the block website just take the ss server

[2018-07-15 13:31] yousong commented on #6479
@kevinmehall , you may want to enable a ss_tunnel instance and point dhcp server to the local endpoint of the tunnel.

[2018-07-15 13:56] kevinqiu0098 commented on #6479
sorry I am not quite familiar with openwrt, kindly check below
![121](https://user-images.githubusercontent.com/41245016/42734606-70571c44-8879-11e8-87ef-7b577d971ba7.png)
instance won't enable correctly
and the red mark I dont konw what to do with it

[2018-07-15 14:14] yousong commented on #6479
Tunnel address can be `8.8.8.8:53`.  You can read an introduction to how each shadowsocks-libev component works at https://github.com/openwrt/packages/tree/master/net/shadowsocks-libev

[2018-07-15 14:42] kevinqiu0098 commented on #6479
ss_tunnel instance still can not running back to the began...
it 's late thanks for your help

[2018-07-15 18:18] alex9434 opened #6480 "lxc-start: compile: network.c: instantiate_veth: 130 Failed to create veth pair "vethLTDK87" and "vethGUMB46": Not supported"
OpewnWRT 18.06-RC1, x64

Working on getting network to lxc container.

1. Set-up standalone bridge under OpenWrt according to https://wiki.debian.org/LXC/SimpleBridge#Additonal_bridge_device_instead_of_changing_a_host_device_to_br0. Named new bridge lxcbr0

2. added the following lines to container config
lxc.network.type = veth
lxc.network.link = lxcbr0
lxc.network.flags = up
lxc.network.hwaddr =

[2018-07-15 18:29] alex9434 opened #6481 "lxc-stop: hangs when trying to stop ubuntu container"
OpenWrt 18.06-rc1 on X64

I have created a ubuntu bionic amd64 container. When I try to stop the container, I get the following message:

sudo shutdown -h
System has not been booted with systemd as init system (PID 1). Can't operate.

When I exit the container and try to stop it with lxc-stop, lxc-stop never finishes. The container continues to run, as demonstrated by the process list (lxc-start -

[2018-07-15 19:11] arrmo commented on #6410
Hi,

I am also seeing similar issues, building for a mips74k device (WNDR3700v3) => building packages fails, also at usbip.

Any workaround?

Thanks!

[2018-07-15 20:18] damnms commented on #6410
i guess the workaround is to delete the patch files, but for me this is not a usable environment when i have to delete stuff - feels somehow alpha stage, not really release candidate

[2018-07-16 06:37] commodo commented on #6473
i will take a look at a solution for this :)
maybe there is something that works in-between for this

[2018-07-16 09:32] erotavlas85 opened #6494 "tvheadend 4.3 support"
Hi,
is there any plan to create a package with tvheadend 4.3? The current version 4.0 does not support a lot of feature [roadmap](https://tvheadend.org/projects/tvheadend/roadmap).
I found this interesting thread on [tvheadend forum](https://tvheadend.org/boards/4/topics/30019?r=33478#message-33478), it seems that an user was able to compile and create tvheadend package for openwrt. Do you know wh

[2018-07-17 09:10] TingyiChen opened #6506 "USB 3.0 died on Xiaomi Router 3G with OpenWrt 18.06.0-rc2 r7141-e4d0ee5af5"
Environment: ARCH: MIPS
Model:Xiaomi Router 3G
OpenWrt Version: OpenWrt 18.06.0-rc2 r7141-e4d0ee5af5 / LuCI openwrt-18.06 branch (git-18.196.56128-9112198)

Description:
USB 3.0 devices died and cannot use them
[code]

[2018-07-17 12:18] yousong commented on #6479
@kevinqiu0098 , any updates on this one?

[2018-07-17 23:00] diizzyy commented on #6506
This is not a package in the package repo, please use https://bugs.openwrt.org/ to reports bugs regarding OpenWrt and its subsystem.

@hnyman
Please close

[2018-07-17 23:03] diizzyy commented on #6335
@Ansuel
This is fixed now as far as I can tell?

[2018-07-17 23:04] diizzyy commented on #6464
OpenWrt BB isn't supported, please upgrade to 17.X, 18.X or Master

Please close this issue report
@hnyman

[2018-07-17 23:08] Ansuel commented on #6335
ummm no... we still need to create e metapackage for acme on nginx...

also i can't understand, acme needs uhttpd to validate the certs or just to autoinstall it? @lucize can you give me some info about it...

(Create a configuration to use nginx to validate the cert is not so easy i think....)

[2018-07-17 23:28] Ansuel commented on #6335
think you were referring to ariang package?

[2018-07-17 23:30] thess commented on #6464
@mariarti - You might want to see if you can get help on this in the forum (if you haven't already).
https://forum.lede-project.org/

[2018-07-17 23:30] #6464 closed

[2018-07-18 01:46] #6506 closed

[2018-07-18 01:47] #6167 closed

[2018-07-18 05:16] lucize commented on #6335
right now the dependency is more like a theoretical one, you need to define a folder for key validation so the dependency makes it easy for you to do that but is not automatically done if you have it installed (luci-app-uhttpd) so not really needed. I can't test right now, I'm on holidays

[2018-07-18 09:48] paour opened #6517 "acme: should check for port-forwards"
Maintainer: @tohojo
Environment:
[code]

Description:
The acme run script checks for existing listeners on port 80, and it adds an accept rule on the firewall, but what it neglects to do is check for port-forward rules, which cause the underlying acme.sh script to fail, because it's not getting the request – it's forwarded to another server.

[2018-07-18 11:48] FrancYescO commented on #4752
i have the same issue on r7490, p910 is not starting have to manually start it each reboot, it will start with no issue ```
root@Xiaomi_Mir3G:~# /etc/init.d/p910nd start
root@Xiaomi_Mir3G:~# ps | grep p910nd
 9493 root       908 S    {p910nd} /usr/sbin/p9100d -d -b -f /dev/usb/lp0 -i 1
 9511 root      1188 S    grep p910nd
[code]

[2018-07-18 12:00] diizzyy commented on #4752
https://github.com/openwrt/packages/blob/master/net/p910nd/files/p910nd.init#L3
In the init script, can you change start to 99 instead?
There might be a race condition where the printer isn't detected when p910nd starts

[2018-07-18 12:21] FrancYescO commented on #4752
Moved start to 99 and rebooted, not started
gone to the start page of luci and p910 was show as disabled, so enabled and rebooted, p910 started on boot!
but was to easy, so i moved back start to 50 (correctly shown as enabled in luci "start" page), rebooted and now is starting on boot

its just trolling me?

[2018-07-18 12:40] ClaymorePT commented on #5588
@diizzyy You can close this issue. Thank you.

[2018-07-18 13:50] diizzyy commented on #5588
@hnyman
Close this please

[2018-07-18 13:51] #5588 closed

[2018-07-18 14:18] hnyman commented on #6494
There is a proposal for going with 4.2.6, but even that is somewhat problematic.
Read #6386

[2018-07-18 14:18] #6494 closed

[2018-07-18 14:18] #6470 closed

[2018-07-18 18:28] tohojo commented on #6517
Pierre-Luc Paour <notifications@github.com> writes:

Why are you trying to run acme while forwarding the port? And what is
the expected behaviour you are trying to get out of it?

[2018-07-18 21:21] karlp commented on #6517
Personally I don't see any reason to try and mangle the package to support you having http and https going to different servers.  You're in the deep end of your own network configuration at this point.

[2018-07-18 22:17] lucize commented on #6517
for me is not working, i'm using ngnix on 80 and uhttpd on 8080, or the last time it didn't

[2018-07-18 23:55] paour commented on #6517
I agree there are many use-cases for port 80 and this package may not be able to account for all of them. Perhaps it should try to curl to localhost:80 just for one last check before invoking acme.sh though.

[2018-07-19 08:18] FrancYescO commented on #4752
just done a sysupgrade to a newer snapshot and again the p910 deamon does not start on boot, so probably the correct fix should be to put the start to 99

[2018-07-19 10:49] tohojo commented on #6517
Pierre-Luc Paour <notifications@github.com> writes:

But that is likely to produce different results than an outside request,
so don't think it's terribly useful.

I think there are too many corner cases that checking for this case
makes sense. For example, a port forward can be installed for IPv4 while
the router is still accessible via IPv6, in which case we *don't* want
to abort (this is the se

[2018-07-19 11:15] Aldaris1985 opened #6521 "Privoxy - broken in recent OpenWrt builds"
There is an issue with the latest OpenWrt Version and Privoxy where the configs seem not to be pulled correctly. I am using David's OpenWrt build and the last version Privoxy is working correctly is r7093. There are some details here:

https://forum.lede-project.org/t/openwrt-snapshot-privoxy-error/15919

[2018-07-19 12:23] Per9 opened #6522 "libprotobuf-c: Requires protobuf to build in v18.06.0-rc2 but dependency is broken"
Maintainer: @jsiverskog
Environment: MediaTek Ralink MIPS, RT3662/RT3883, Asus RT-N56U, 18.06.0-rc2
Build environment: Debian 9.4, x86_64

Description:
I tried to add the OpenConnect server and got this error:
[code]
It works after I selected the protobuf library manually and made sure libprotobuf-c was not selected. I could then reselect it and compile everything successfully.  Including protobuf

[2018-07-19 14:05] paour commented on #6517
Indeed. I guess one way to address this would be to add a troubleshooting link to the luci app, so that in the case of a failure we could list potential pitfalls.

Thank you for taking the time to respond, and let's close this ticket.

[2018-07-19 14:21] #6517 closed

[2018-07-19 14:28] muddyfeet opened #6523 "syslog-ng - broken dependency"
Maintainer: @MikePetullo
Environment: (mvebu, WRT1200ACl, OpenWrt trunk)

Description:

Update to syslog-ng to 3.16.1 removed the dependency of libeventlog. The package no longer compiles as a result.

Error messages on compile is:
[code]

[2018-07-19 17:42] muddyfeet commented on #6523
False alarm. Did a 'make clean', redid all the configuration in 'make menuconfig' and it all compiles happily now.

[2018-07-19 17:42] #6523 closed

[2018-07-19 22:40] karlp commented on #6457
building master or running master is a different problem.  _this_ bug appears to be resolved though.  (you're also free to backport patches yourself if you want to build something based on 18.06 too)

[2018-07-19 22:40] #6457 closed

[2018-07-20 07:22] kevinqiu0098 commented on #6479
Nope ...back to beginning   I will figure another  Way thanks anyway

On Tue, Jul 17, 2018 at 8:18 PM Yousong Zhou <notifications@github.com>
wrote:

[2018-07-20 14:32] phipolis commented on #6084
How best to handle `sysupgrade` for users who've configured v1? To my mind the options are either to stop working until they notice and update their config, or perhaps v1 becomes an alias for v4, perhaps with a log message.

[2018-07-20 17:17] Per9 opened #6525 "luci-mod-admin-full: has_traceroute6 needs to check for /bin/traceroute6 because busybox has moved it"
Maintainer: @jow-
Environment: v18.06.0-rc2, current OpenWrt master, busybox-1.28.3.

Description:
Busybox has moved the location of traceroute6, so has_traceroute6 needs to check both /bin and /usr/bin in https://github.com/openwrt/luci/blob/master/modules/luci-mod-admin-full/luasrc/view/admin_network/diagnostics.htm

Like has_ping6 already does.

[2018-07-20 18:56] diizzyy commented on #6525
Wrong repo, this is the correct one: https://github.com/openwrt/luci
Please close this ticket

[2018-07-20 18:57] diizzyy commented on #6065
@mhei
Fixed?

[2018-07-20 19:00] diizzyy commented on #5871
@gerardr1 @p-wassi @oilervoss
I guess we can close this now?

[2018-07-20 19:01] B0F1B0 commented on #6065
yes. thanks for your help

Daniel Engberg <notifications@github.com> schrieb am Fr., 20. Juli 2018,
20:57:

[2018-07-20 19:02] diizzyy commented on #6065
@B0F1B0
Great, can you please close this issue then? :-)

[2018-07-20 19:03] diizzyy commented on #5930
Ping

[2018-07-20 19:06] diizzyy commented on #1132
Ping
@dibdot

[2018-07-20 19:10] diizzyy commented on #3316
@thess @hnyman @dibdot
CC isn't supported, close this one

[2018-07-20 19:43] #6065 closed

[2018-07-20 19:43] B0F1B0 commented on #6065
done

Daniel Engberg <notifications@github.com> schrieb am Fr., 20. Juli 2018,
21:02:

[2018-07-20 20:05] gerardr1 commented on #5871
Oh, yes, easily.  Sorry,
      if I missed some procedure.

      Thanks ... Gerard Robinson

    On 07/20/18 15:00, Daniel Engberg
      wrote:

      @gerardr1
        @p-wassi
        @oilervoss
        I guess we can close this now?
      —
        You are receiving this because you were mentioned.
        Reply to this email directly, view it on GitHub, or mute the thread.
      {"api_version

[2018-07-20 20:45] #6525 closed

[2018-07-21 00:18] val-kulkov opened #6526 "dovecot-pigeonhole: fails to compile when full language support is enabled"
Maintainer: @MikePetullo
Environment: latest version in the trunk, OpenWrt r7530-7c306ae

Description:

dovecot-pigeonhole fails to compile if the full language support is enabled (CONFIG_BUILD_NLS is set to 'y'). The error message is (paths truncated):
[code]

It appears that including nls.mk in Makefile fixes the problem.

[2018-07-21 00:22] yousong commented on #6479
No problem.  I am closing this one for now.  Feel free to post here in case anything new pops up.

[2018-07-21 00:22] #6479 closed

[2018-07-21 10:24] rasdotsu opened #6530 "miniupnpd not show router with ipv4, ipv6 - works"
Hello,

miniupnpd - 2.1-1

openwrt-18.06.0-rc2-ar71xx-generic-tl-wr1043nd-v2-squashfs-sysupgrade

cat /etc/config/upnpd

config upnpd 'config'
        option download '1024'
        option upload '512'
        option internal_iface 'lan'
        option external_iface 'wan'
        option port '5000'
        option upnp_lease_file '/var/run/miniupnpd.leases'
        option enabled '1'
        optio

[2018-07-21 18:02] #3316 closed

[2018-07-21 22:04] Tatikoma opened #6536 "php7-mod-intl: idn converting doesnt work"
Maintainer: @mhei
Environment: MIPS 74Kc V5.0, TP-Link Archer C7 v4, OpenWrt SNAPSHOT, r7531-03fce62

Description:
PHP functions idn_to_ascii and idn_to_utf8 doesnt work at all.

Code example:
[code]
Expected output (tested on local machine with the same php version):
[code]

Actual output (logged via ssh to router, executed php-cli myscript.php):
[code]

[2018-07-22 01:29] SirDMZ commented on #6530
Can confirm. Disabled IPv6 on lan interface and restarted miniupnp, now it works.

[2018-07-22 07:44] diizzyy commented on #6530
@ldir-EDB0

[2018-07-22 08:18] ldir-EDB0 commented on #6530
No idea.  And the reports are confusing, one says disabled IPv6 and it works, the other says enabled ipv6 and it works.  I don't know what this './listdevices' is?

Is there a difference between the ports miniupnpd is listening to one a working v non working router?  Proving it at least thinks it's listening would be a start 'netstat -nap | grep miniupn'

[2018-07-22 09:06] SirDMZ commented on #6530
##Bad:
root@OpenWrt:~# netstat -nap | grep miniupn
tcp        0      0 :::5000                 :::*                    LISTEN      31306/miniupnpd
udp        0      0 172.30.200.1:55072      0.0.0.0:*                           31306/miniupnpd
udp        0      0 0.0.0.0:1900            0.0.0.0:*                           31306/miniupnpd
udp        0      0 172.30.200.1:5351       0.0.0.0:*

[2018-07-22 13:09] Per9 commented on #2429
The newest version in master seems to work with ipv6 now, but you need to enable the wan6 interface in mwan3.

[2018-07-22 14:48] diizzyy commented on #1132
@yousong
Can you close this one?

[2018-07-22 14:49] diizzyy commented on #1234
@yousong

[2018-07-22 17:13] #1234 closed

[2018-07-22 17:20] ldir-EDB0 commented on #6530
I'm afraid I have absolutely no idea how to progress this.

[2018-07-22 18:13] rasdotsu commented on #6530
listdevices - tool from miniupnpc-2.1
miniupnpd listen only ipv6 and not ipv4

[2018-07-23 12:02] Per9 opened #6551 "mwan3: Can't connect to openvpn when mwan3 is enabled (18.06.0-rc2)"
Maintainer: @FlorianFieber
Environment: Asus RT-N56U, RAMIPS/rt3883, 18.06.0-rc2

Description:
It works fine when mwan3 is disabled and the seemingly same configuration works well in 17.01.5. I used the [OpenVPN server setup guide](https://openwrt.org/docs/guide-user/services/vpn/openvpn/server.setup) from the wiki in both setups.

When I try to connect I get this in the client log (Parts of the e

[2018-07-23 14:33] pkerling commented on #4752
@FrancYescO can you make a PR?

[2018-07-23 17:22] FrancYescO commented on #4752
Jesus Travis. i just need to change two characters LOL

[2018-07-23 22:42] camelcamro opened #6559 "mwan3 - feature request >showing "online/offline --- uptime downtime""
mwan3 - showing "online/offline --- uptime downtime"
would be nice to  show in mwan3- details of luci or/and via status cmd
current mwan3 version:

opkg list | grep mwan3
luci-app-mwan3 - git-18.203.74221-1961ce6-1
mwan3 - 2.6.18-1

#######
with such kind of change could be visible: like:
**Interface status:
 interface 4G is unknown and tracking is down
 interface 4GA is unknown and tracking is do

[2018-07-23 23:02] camelcamro commented on #6559
additional, there are 2 cut cmd, which are giving me always an cut error.
therefore i replaced the ipv4 and ipv6 rules to read ...

in same file: line ~857
`mwan3_report_policies_v4()
{
	local percent policy share total_weight weight iface

	for policy in $($IPT4 -S | awk '{print $2}' | grep mwan3_policy_ | sort -u); do
		echo "$policy:" | sed 's/mwan3_policy_//'

-		[ -n "$total_weight" ] || tota

[2018-07-24 11:52] ldir-EDB0 commented on #6530
ok so I got 'listdevices' to build on my mac and it lists many devices including my openwrt router when run as 'listdevices',  it lists *only* my router when run as 'listdevices -6'.  I have an ancient windows server box that gets quite upset if it can't talk ipv4 to the upnp gateway and that appears to be happy.  So this smells like a config issue rather than any fundamental 'miniupnpd is broken'

[2018-07-24 12:08] diizzyy opened #6563 "collectd fails on buildbots due to dependecy issues"
@hnyman @jow-

http://downloads.lede-project.org/snapshots/faillogs/arm_cortex-a9_neon/packages/collectd/compile.txt

(Pasted here in case it gets lost)

[code]

[2018-07-24 12:11] diizzyy opened #6564 "git fails to compile on buildbot"
@tripolar

http://downloads.lede-project.org/snapshots/faillogs/arm_cortex-a9_neon/packages/git/compile.txt

(Pasted here in case it gets lost)

[code]

[2018-07-24 12:27] diizzyy opened #6566 "syslog-ng fails on buildbots due to dependency issue"
http://downloads.lede-project.org/snapshots/faillogs/mips64_octeonplus/packages/syslog-ng/compile.txt

Pasted here in case it gets lost:

[code]

@MikePetullo

[2018-07-24 12:39] diizzyy opened #6567 "xmlrpc-c fails on buildbots due to missing files"
http://downloads.lede-project.org/snapshots/faillogs/arm_cortex-a9_neon/packages/xmlrpc-c/internal/compile.txt

Pasted here in case it gets lost

[code]

@thess @neheb

[2018-07-24 13:07] feckert commented on #6551
What do you want to achive with mwan3 in this setup?
Failover?
Is wan3 running on the server or the client?

[2018-07-24 13:29] diizzyy commented on #6563
https://github.com/openwrt/openwrt/pull/1207
I've made a curl pull request, lets keep this open just keep track as it's one of the more essential packages.

[2018-07-24 13:40] feckert commented on #6559
@camelcamro please open a PR to get this fixed

[2018-07-24 14:34] patrakov opened #6568 "ddns-scripts: sed error if the password contains a slash"
Maintainer: @michallipka
Environment: mvebu, LEDE 17.01.4 with ddns-scripts installed from 18.04 feed (because of Amazon Route 53 support)

Description: If the ddns password contains a slash, then each attempt to update the dynamic DNS produces errors such as this:

[code]

This is caused by attempts to hide passwords from the logs, which end up running commands such as this:

[code]
So, passwords

[2018-07-24 16:14] Per9 commented on #6551
I use it to be able to connect my mobile phone to the router for failover. Mwan3 is running on the router, which also has the OpenVPN server. I am trying to connect to the OpenVPN server from the outside.

[2018-07-24 18:54] thess commented on #4839
Updated version should be OK. Re-open if not.

[2018-07-24 18:54] #4839 closed

[2018-07-24 20:29] camelcamro commented on #6559
I'm really sorry, but i can't create a Pull Request :(

[2018-07-24 22:38] MikePetullo commented on #6566
The package now uses its internal event log library. Is it possible that this is the same as issue #6523?

[2018-07-25 00:02] diizzyy commented on #6566
This might be is what makes it throw an error (./configure)?

[code]

[2018-07-25 00:15] xabolcs opened #6571 "mpd-full: mpd-full is not a full-blown MPD package compared to mpd-mini since commit 2cedae0aa9befe1135c83f007942d89ec906658e"
Maintainer: @thess
### Environment:
 * arch:
[code]
* version and model:
[code]
### Description:
`mpd-full` package doesn't have `flac` encoder, but `mpd-mini` has.

(Continuing from commit 2cedae0aa9befe1135c83f007942d89ec906658e comment [...](https://github.com/openwrt/packages/commit/2cedae0aa9befe1135c83f007942d89ec906658e#commitcomment-29819856) )

I wanted to use the `httpd` output with a co

[2018-07-25 00:20] xabolcs commented on #6571
An example `audio_output` section in `/etc/mpd.conf`"

[code]

[2018-07-25 03:12] EricLuehrsen commented on #6381
@localnet Please close this issue. Lets continue in PR #6573 including code review, testing, complaints, and whatever. :-)

[2018-07-25 04:40] dibdot commented on #6481
OpenWrt as a container host does not use systemd, therefore most probably some /sys directories/mounts are missing. Anyway, that's an configuration problem we can't solve within the package. Please ask in the forum for support: https://forum.lede-project.org

[2018-07-25 04:40] #6481 closed

[2018-07-25 04:41] dibdot commented on #6480
Please join the forum (see #6481)

[2018-07-25 04:41] #6480 closed

[2018-07-25 10:05] diizzyy commented on #6571
That's easily fixable however mpd needs a refresh, it's a pity that it doesn't support ffmpeg for encoding which would make it a lot nicer instead of having seprate libraries for everything.
I have a private repo however it's not optimized for small flash device (I'm lazy) so ffmpeg (4.02) is like ~4.5mbyte however it includes what you'd expect for normal usage. However you could probably slim it

[2018-07-25 10:12] diizzyy commented on #6571
..as a sidenote, this might be worth a consideration as it would lower the load by not encoding to FLAC however it does depend on what you're using on the other end.
https://undeadly.org/cgi?action=article&sid=20180410063454

[2018-07-25 10:21] diizzyy opened #6574 "libpsl fails due to undefined dependencies"
@MikePetullo

http://downloads.lede-project.org/snapshots/faillogs/mipsel_24kc/packages/libpsl/compile.txt

Pasted here in case it gets lost
[code]

[2018-07-25 10:23] diizzyy commented on #6574
You probably also want to add ```--disable-rpath```

[2018-07-25 10:38] diizzyy opened #6575 "transmission-bt reports bogus version?"
@neheb
https://forum.lede-project.org/t/about-transmission-package-build-version-2-92-0/17587

[2018-07-25 11:00] xabolcs commented on #6571
Sure, I fixed it by manually compiling it.

Of course I'm able add a PR with those flac lines in the `Makefile`, but I'm unsure about the intends of the referenced commit.

[2018-07-25 12:10] thess commented on #6571
@xabolics - Thanks for the additional info. I will handle the update shortly with an MPD update too.
As Daniel mentioned, it's unfortunate that MPD does not use ffmpeg for encoding.

[2018-07-25 14:04] ianthatap opened #6576 "domoticz - fails to launch. boost library problem"
Maintainer: @stintel @dwmw2
Environment: ( OpenWrt version 17.1)

Description:

 New install of openwrt. Have used the inbuilt GUI throughout to do the install.

Errors in finding the boost library (several of them). I think this is because of a hard coding of 1.56.1 for the /usr/lib/boost*
This is likley because looking at the package release feeds, boost updated its libraries a few days after th

[2018-07-25 15:02] xabolcs commented on #6571
OpenWrt boxes on both end! 😉

[2018-07-25 15:58] thess commented on #6571
MPD updated to 0.20.20 and added back flac encoder here: 91171954ea9552298829e495210a0ea5db9865a0
Closing this as fixed.

@diizzyy - Suggestions for building newer versions of mpc and libmpdclient are welcome. Both now require python3/meson/ninja - sigh...

[2018-07-25 15:58] #6571 closed

[2018-07-25 16:24] diizzyy commented on #6571
@thess
It's not pretty but it does work ;-)
Since libmpdclient moves slowly I just ripped out the essential commits, left out the new build stuff and things related to the test directory. The commits should line up just fine using git on upstream repo.
[0001-libs-libmpdclient-Update-to-2.14.zip](https://github.com/openwrt/packages/files/2228688/0001-libs-libmpdclient-Update-to-2.14.zip)

[2018-07-25 17:34] localnet commented on #6381
Thanks you.

[2018-07-25 17:34] #6381 closed

[2018-07-25 18:03] thess commented on #6571
Yes, that is certain gross and not very maintainable. You did give me an idea though... Bring forward the minimum autotools files with a few tweaks (config.h.in, configure.ac, Makefile.am,  libmpdclient.pc.in and m4/ax_check_compiler_flags.m4) -- and, you are good to go! You could probably do without the compiler flags check macro if you trust your environment ;-)
[code]

[2018-07-25 18:23] diizzyy commented on #6571
That said, I'm pretty sure there's at least one new source file. Is that included?

[2018-07-25 18:50] thess commented on #6571
Already fully tested - As I said - you need a few tweaks. I might check them in after I get the latest mpc to build too. I take it from your question, you'd like the patch.

[2018-07-25 19:34] diizzyy commented on #6571
Yeah, that sounds great :-)
I have no idea about mpc as I used ncmpcpp instead (that name) on another platform

[2018-07-25 23:11] neheb commented on #6575
doesn't seem like it.

[2018-07-25 23:45] neheb commented on #6567
Hrm rtorrent select everything except the client. Will fix. The actual error seems to be this:

Package xmlrpc-c-client is missing dependencies for the following libraries:
libmbedcrypto.so.3
libmbedtls.so.11
libmbedx509.so.0

[2018-07-26 00:06] diizzyy commented on #6575
Closing it, in that case

[2018-07-26 00:06] #6575 closed

[2018-07-26 00:55] diizzyy commented on #6563
Fixed

[2018-07-26 00:55] #6563 closed

[2018-07-26 01:01] victors0991 opened #6581 "Imagemagick convert issues"
Hi,

I have IM version 6.7 but I want version 7.0 becasue I want to use feature called -connected-component and IM 6.7 dont have, is there any way to include new features or create a IM 7.0 for openwrt?

[2018-07-26 02:34] MikePetullo commented on #6574
Please see pull request #6582.

[2018-07-26 14:00] panda-mute commented on #6530
I have meet the similar issue, my router will suddenly disappeared when eanble mwan3. If disable it, the upnp device is always there. When met such issue, try to restart firewall also can bring upnp device back.

[2018-07-26 15:53] diizzyy commented on #6574
Great!

[2018-07-26 15:53] #6574 closed

[2018-07-26 15:55] diizzyy commented on #6567
Fixed, https://github.com/openwrt/packages/commit/5399ded5992fb6d8c0b28f6481a95e0493cc16a0

[2018-07-26 15:55] #6567 closed

[2018-07-26 16:21] hscadore commented on #1353
From te README:
"The additional file(s) are also used:
/etc/vpnc/ca-vpn-MYVPN.pem: The server's CA certificate (for auth_mode 'hybrid')"

Does vpnc support client authentication using certificates issued by the server? The way I see it It's only possible to authenticate the server using certificates. Am I right?

[2018-07-26 19:17] thess opened #6584 "Growing lack of package maintainers"
It seems we are collecting a number of packages with no MAINTAINER lately. This was not a direction chosen when the new Github repository was created and we crafted guidelines. The purpose was pretty clear that we wanted individuals responsible (OK for more than 1) for the submission of and updates to each package. The main goal at the time was to cleanup the old repository given that a number of

[2018-07-26 22:22] diizzyy commented on #6584
I personally think your last sentence is what's causing quite a bit of extra workload and makes PRs some more or less come to a grinding halt which in turn makes contributors give up/stop caring.

https://www.freebsd.org/doc/en/books/porters-handbook/makefile-maintainer.html
I think that's reasonable?

Create a generic template on the layout of a Makefile which you should follow in general
Add gen

[2018-07-26 22:29] diizzyy commented on #6584
also, something like this should be taken into consideration
https://lists.freebsd.org/pipermail/freebsd-ports/2014-November/096419.html

In addition there should be something like TravisCI that actually spits out full logs or some other kind of auto testing facility in place and I think a "package manager team" should also have the right to refuse a port if it's for a very limited amount of users

[2018-07-27 07:36] rhyttr opened #6591 "libwebsockets compile error with "TCP_USER_TIMEOUT" undefined"
Maintainer: @karlp
Environment:
mipsel, mt7688, openwrt 15.05
libwebsockets 3.0.0 stable

Description:

libwebsockets 3.0.0 compile error with: "TCP_USER_TIMEOUT" undefined
there was not defined "TCP_USER_TIMEOUT" in <netinet/tcp.h> header

here is the patch tested:
[code]
Is there any other good solution?

[2018-07-27 12:34] luizluca commented on #6584
@thess, I do prefer to accept only packages with maintainers. However, in fact, it is mostly the same situation of a package that was once maintained and became orphan. If we keep orphan packages, we might accept unmaintained new packages as well (it's just an analogy, not my desire).

If a package is unmaintained, should it be removed automatically just after branching a new major release?

Or sh

[2018-07-27 15:34] nouman8 opened #6592 "nfs-kernel-server compile error"
i reported this error here https://bugs.openwrt.org/index.php?do=details&task_id=1694

[2018-07-27 20:34] notnyt opened #6593 "mtr 0.92 missing mtr-packet"
Maintainer: @neheb
Environment: x86  OpenWrt SNAPSHOT, r7545+96-354de22bad

Description:
root@rooter:~# mtr 10.10.10.10
mtr: Failure to start mtr-packet: Invalid argument

[code]

[2018-07-28 10:19] diizzyy commented on #6593
You can do a pull request?

[2018-07-28 15:18] tojestzart opened #6599 "midnight commander (mc) 4.8.20 openwrt 18.06.0-rc2 - mouse control doesnt work at all"
at lede 17.01 does

mc_4.8.18-1_mipsel_24kc.ipk | 363.5 KB | Sat Jul 21 00:11:23 2018
-- | -- | --

[2018-07-28 16:19] dibdot commented on #6599
This is intentionally disabled to save space.

[2018-07-28 16:19] #6599 closed

[2018-07-28 17:59] MikePetullo commented on #6566
Please see https://github.com/openwrt/packages/pull/6601.

[2018-07-28 18:17] tojestzart commented on #6599
@dibdot  funny, routers growing with ram and flash year by year, and you reducing package features , package which is not even in base (required to work openwrt)

[2018-07-28 19:03] diizzyy commented on #6566
Fixed

[2018-07-28 19:03] #6566 closed

[2018-07-29 02:07] notnyt commented on #6593
already is one that contains this and other fixes...

https://github.com/openwrt/packages/pull/6560

[2018-07-29 05:39] dibdot commented on #6584
@thess
I'd prefer to keep the current policy and only accept packages with a (responsible) maintainer. Further on I think it's a good idea to "fade out" those stale packages (without maintainer or maintainer doesn't react over a longer time, e.g. for 3 months) with every new OpenWrt release.

[2018-07-29 05:52] yousong commented on #4752
Should be fixed by #6557

[2018-07-29 05:52] #4752 closed

[2018-07-29 06:15] diizzyy commented on #6593
Ahh, I see

[2018-07-29 06:20] diizzyy commented on #6584
@dibdot
So you're suggesting that we nuke more than half of the tree essentially because packages doesn't have a maintainer that's active?

[2018-07-29 20:23] mhei commented on #5351
I'm closing this issue: as long as nobody wants to maintain imagemagick library for OpenWrt, we do not have package requirements satisfied.

[2018-07-29 20:23] #5351 closed

[2018-07-30 07:40] champtar commented on #6584
I would really love to have usage statistics (send installed packages + version) and / or a list of active user for each packages so it's easy to contact other people that do care about the package and know there usage

[2018-07-30 07:48] cshoredaniel commented on #5692
@pprindeville PIE may not be the culprit.  Perl is failing to build with the warning implicit-fall-through on Fedora 28.  This may be related to *host* version of GCC (see core for CFLAGS that have been used to deal with 'overly aggressive' warnings from GCC 8).

[2018-07-30 14:51] ZeroChaos- commented on #5692
I have had this issue with host on gcc 6.x and gcc 7.x

[2018-07-30 15:07] thess commented on #6584
@Andy2244 - I agree with keeping the packages and when they break , mark them BROKEN (no longer will build). How we deal with PRs and new package submissions without a MAINTAINER, needs to be addressed too.

@champtar - If you are looking for built package downloads, we are attempting to get those stats. There is a WIP, for example, here: http://dowload.lede-package.org/stats. Also, there is no ha

[2018-07-30 16:19] cshoredaniel commented on #2373
ping on closing this

[2018-07-30 17:46] neheb commented on #5692
Last I remember this issue it was on Ubuntu 14.04 WSL.

[2018-07-30 23:42] dangowrt commented on #3407
Please reopen if the issue still exists with current builds

[2018-07-30 23:42] #3407 closed

[2018-07-30 23:45] pprindeville commented on #5692
Most of my builds are on Ubuntu 14.04 LTS (_trusty tahr_) but give me a few minutes to build on F28.

[2018-07-30 23:52] pprindeville commented on #5692
I'm getting read to update to 5.28.0 which resolves the `Archive::Tar` CVE.

Has anyone else tried building that?

[2018-07-31 00:09] pprindeville commented on #6382
60 seems awfully late.

[2018-07-31 03:33] diizzyy commented on #6382
@pprindeville
It seems like it takes at least a few secs to get network interfaces up (both switches and separate nics) on several platforms (ar71xx, octeon etc). I think the last comments in 1072 will give you an idea.

[2018-07-31 05:07] cshoredaniel commented on #5692
I'm planning on trying now that you point it out, probably tomorrow.

[2018-07-31 07:01] jow- commented on #6584
I noticed that sometimes people only assume maintainership for the sole reason of getting the package back into the binary repositories because they have an urgent need for it. I can also understand that not everybody wants to enter a multi year maintainer commitment only to have a specific package available.

I think there are multiple things that can be done to partly address the problem of unma

[2018-07-31 10:14] EnergyMouse opened #6629 "scapy: newest version available"
Maintainer: @MikePetullo

Description:
Two newest version available: 2.3.3 and 2.4.0 — https://github.com/secdev/scapy/releases .

[2018-07-31 15:22] Arduous opened #6630 "6rd - feature request - support subnet"
Hello,

Depending on the providers deploying 6rd, there might be some subnet id bits available to the user if all of the first 64 bits of the IPv6 are not used.

In the example below 64 - 28 - 32 = 4 bits are available to define subnets so the end user can use any network prefix from 2a02:1205:5050:7ab0:: to 2a02:1205:5050:7abf::

![image](https://user-images.githubusercontent.com/115884/43468177-

[2018-07-31 19:19] BUG-reporter opened #6631 "miniupnpd: aMule fails to open ports through upnp in OpenWrt 18.06"
**Environment**:
arch: Atheros AR9132 rev 2
model: TP-Link TL-WR1043N/ND v1
OpenWrt: 18.06

**Description**:
After upgrading to 18.04 and installing luci-upnp package I found aMule fails to open ports through upnp. In both previous version there was no problems with opening ports.

For any additional info, please, ask.

[2018-07-31 19:39] diizzyy commented on #6584
If security is of focus the keep package until it doesn't build argument will in many cases do the exact opposite.

[2018-07-31 19:43] #6526 closed

[2018-07-31 19:49] tchakabum commented on #6631
have you tried enabling IGDv1?

[2018-07-31 20:30] pprindeville commented on #6584
Well when someone uses IB, we can track the downloads of individual packages, right?

[2018-07-31 20:36] pprindeville commented on #6382
@nbd168 @EricLuehrsen @diizzyy @jow- Looking at the comments in https://github.com/openwrt/openwrt/pull/1072, made me wonder if we yet have a well-understood fix for this issue.

[2018-07-31 21:32] pprindeville commented on #6382
And that happens as `S20network`?  So changing the priority to 21 should be enough, right? Because all the services at priority `n` have to complete before `n+1` gets started...

[2018-07-31 22:07] BUG-reporter commented on #6631
Yes, I've tried but it didn't helped.

[2018-08-01 05:37] EricLuehrsen commented on #6382
dnsmasq, Unbound, and Adblock use the `boot()` hook to load `service_triggers()` but avoid the bulk of `start_service()` function. They are called at `START=19` and will wait until a few seconds after a procd network trigger. You will certainly want `service_triggers()` to use `/etc/config/dhcp` to only trigger on DHCP interfaces. WAN6 for example can initiate rapid restarts due to netifd issuing

[2018-08-01 08:18] diizzyy commented on #6382
@pprindeville
I'm by far no expert, but it seems to work. I know FreeBSD uses a different approach however...

[2018-08-01 11:56] damnms commented on #6410
Thats very bad. 18.06 is released but its still not compileable because of that bug. Is no one responsible for that?!

[2018-08-01 18:49] pprindeville commented on #6382
Hi @EricLuehrsen:

I've taken an initial stab as:

https://github.com/openwrt/packages/compare/master...pprindeville:issue/6382

but it seems like I'm still missing a bit, at least the `stop_service()`, but `dnsmasq`'s seems a bit complicated... like the `dnsmask_stop()` function, for instance.  I don't understand when/why there would exist multiple instances, for example.

Can you please walk me

[2018-08-01 21:19] petvoigt opened #6644 "nut-upsmon broken - tmpfs configuration files not created"
Maintainer: @cshoredaniel
Environment: AMD GX-412TC SOC, PC Engines APU2, OpenWrt 18.06.0, x86_64)

Description:
Today I performed a sysupgrade via LUCI webGUI from 17.01.4 to 18.06.0.

Installed NUT packages:
[code]

I have configured NUT as slave to monitor a master in my LAN, e.g. MODE=netclient in /etc/nut.conf.

/etc/init.d//etc/init.d/nut-monitor cannot be started as it complains about missi

[2018-08-02 00:58] EricLuehrsen commented on #6382
It seems I didn't read all the ISC-dhcp scripts. I clicked on a sample and missed DHCPv4 server. All others don't have and need procd. DHCPv4 was close to a reasonable state. `boot()` hook did not need to change. Looping through DHCP interface triggers seems right. Also you can use `procd_add_reload_interface_trigger` as a shortcut but `PROCD_RELOAD_DELAY=` needs to be changed (optional) first. De

[2018-08-02 02:32] arrmo commented on #5630
Hi,

This seems to be fixed with this recent commit,
https://github.com/openwrt/openwrt/commit/4f3082583a0f08bf8329c2a6e754fbf4e0bea544

But ... having issues like this now - thoughts?
[code]

[code]
Thanks!

[2018-08-02 08:05] dwmw2 commented on #6576
I'm a little confused. A current build of OpenWRT 18.06 should work fine, building boost 1.67 and then building Domoticz against that.

You said you're using 17.01? Is that LEDE? And boost 1.56?
Precisely what domoticz package, and what boost package(s) do you have installed? And if you run 'ldd' on domoticz, what version of libboost is it linked to?

I assume you made a symlink from whatever domo

[2018-08-02 08:29] cshoredaniel commented on #6644
Will look into it; it was working for me, but I don't remember if I did upsmon standalone...will review.  I may have had a PR for that that I closed.

[2018-08-02 08:38] cshoredaniel commented on #6644
@petvoigt For your work around you also need ``chown nut:nut /var/etc/nut``

It looks like I missed submitting the fix for upsmon on it's own.  Will create a PR and and backport PR and we'll see if the backport gets accepted for 18.06.

[2018-08-02 08:47] cshoredaniel commented on #6644
@petvoigt Also, after the chmod of '$UPSMON_C' and '/var/etc/nut.conf' you need
        chown ${runas:-root}:$(id -gn ${runas:-root}) $UPSMON_C
        chown ${runas:-root}:$(id -gn ${runas:-root}) /var/etc/nut/nut.conf

I know how I missed it now...didn't test upsmon alone and they I was using nut-server it took care of this business.

[2018-08-02 09:26] cshoredaniel commented on #6644
Will test the above PR and submit.

[2018-08-02 09:34] cshoredaniel commented on #6584
Also, (I've been away a while) are there folks contributing regularly that maybe should have commit access?

[2018-08-02 09:46] petvoigt commented on #6644
@cshoredaniel, ah, sounds good. Thank your for your quick reply and many thanks for the quickly updated NUT documentation under https://openwrt.org/docs/guide-user/services/ups/software.nut.

UID nut and GID nut are present on my system:
[code]
However, I dont' know what to do with $UPSMON_C - in fact it is empty. I tried:
[code]

[2018-08-02 09:46] petvoigt commented on #6644
Accidently closed isse, reopened immetiately.

[2018-08-02 09:48] cshoredaniel commented on #6644
@petvoigt Sorry for not being clear: that needs to be in the initscript

[2018-08-02 09:56] petvoigt commented on #6644
@cshoredaniel, thanks for clarifying.

After the abobe mentioned changes to /etc/init.d/nut-monitor I further have to do after every reboot:
[code]

Could you please tell me, which NUT packages are affected by your patch and could you please report here, when I can update the affected packages to test your changes?

[2018-08-02 10:00] cshoredaniel commented on #6644
Only package nut-upsmon will be affect and it's just updating the initscript appropriately

Ah, I caught /var/etc/nut in my PR, will check nut.conf.

And I wouldn't count on updates to the packages a downloads.openwrt.com until the .1 release (but that probably won't be that long as there are already errata being corrected in core too).

[2018-08-02 10:02] cshoredaniel commented on #6644
I'll post the final initscript revision here (after testing) so you can at least have that on-router until the updated package is available.

[2018-08-02 10:06] cshoredaniel commented on #6644
If you could leave it until PR is merged that would be best!  That way others can find it.

[2018-08-02 10:09] petvoigt commented on #6644
OK, if I understand correctly, this will be after testing the .1 release.

[2018-08-02 10:17] cshoredaniel commented on #6644
Oh, no worries, it'll autoclose when the PR is merged due to commit message.

[2018-08-02 12:56] cshoredaniel commented on #6644
Ok, put the script below in /etc/init.d/nut-monitor on the device and you ought to be good on reboot.

[code]

[2018-08-02 13:26] K2DLS opened #6656 "unbound-control failure"
unbound-control status
[1533215996] unbound-control[14993:0] warning: control-enable is 'no' in the config file.
[1533215996] unbound-control[14993:0] fatal error: could not send: Connection reset by peer

However, config file shows:
option unbound_control '2'

Also tried set to '1'.

Components installed:

libunbound 1.7.3-2
luci-app-unbound git-18.213.60274-7d69fa6-1
unbound 1.7.3-2
unbound-cont

[2018-08-02 13:48] dibdot commented on #6656
If you like to use unbound utilities directly, you have to configure /etc/unbound/unbound.conf - and not the openwrt related uci unbound config in /etc/config/unbound, e.g. set the following options in /etc/unbound/unbound.conf:

[code]
and `unbound-control status` will work, e.g.:

[code]

@EricLuehrsen who knows best about. ;-)

[2018-08-02 13:59] K2DLS commented on #6656
Thank you.  My intent was to view the data from luci.  Shouldn't setting the value of unbound-control-app on the Unbound Resource Settings menu populate the config?  If not, what is the purpose of this luci setting?

The reason I ran from the command line is to determine why I was not seeing any data from within luci.  BTW, manually populating the Files/Extended field with your suggested config do

[2018-08-02 14:05] dibdot commented on #6656
Of course, to re-use the uci generated config try something like that:

`unbound-control status -c /var/lib/unbound/unbound.conf`

[2018-08-02 14:21] K2DLS commented on #6656
unbound-control[17358:0] warning: control-enable is 'no' in the config file.
version: 1.7.3
verbosity: 1
threads: 1
modules: 2 [ validator iterator ]
uptime: 1298 seconds
options: control
unbound (pid 16462) is running...

But to reiterate, if I set the Unbound-Control-App dropdown in luci to "local host, no encryption" (for example), shouldn't luci take care of populating the config so that I can

[2018-08-02 14:39] cshoredaniel commented on #5692
And now a different build is working ... I hate non-deterministic failures....

[2018-08-02 16:47] EricLuehrsen commented on #6656
`LuCI: Admin->Service->Unbound->Status->[4 tabs]` each use unbound-control as @dibdot made example. Considering the chroot protection and flash ROM protection by using /var/lib/unboind/, I should probably set the compiled defaults there and not /etc/. It would be easier then.

[2018-08-02 17:44] no1dea commented on #6631
I'm having the same problem with miniupnp on 18.06. My Router is an TP-Link TL-WDR4900 v1.

The kernel log just says:

[  998.421261] miniupnpd[7770]: unhandled signal 11 at 00000000 nip b7d88400 lr 1000a780 code 30001
[  998.558272] miniupnpd[7781]: unhandled signal 11 at 00000000 nip b7b76400 lr 1000a780 code 30001
[ 1000.212992] miniupnpd[7800]: unhandled signal 11 at 00000000 nip b77d7400 lr 1

[2018-08-02 19:34] cshoredaniel commented on #6644
Excellent!  And thank you for your helping get this fixed!

[2018-08-02 20:16] pprindeville commented on #5692
@cshoredaniel Sorry, not following.  Did you rebase and pick up my fixes?

[2018-08-02 20:56] cshoredaniel commented on #5692
Hmmmm.....actually this was a master build and the other was 18.06, that is probably what's different.   18.06 FTBFS on Fedora 28, but master is okay....I'll crawl back under my rock now...

[2018-08-02 22:12] cshoredaniel commented on #6584
I'm wondering if would help (I could help set it up) to have something like Ubuntu PPA's or Fedora COPR, where users can easily build packages they (and other interested folks) can use on their devices?  I don't think for those repos it'd be required to build for every arch.
If that existed I think being a lot more aggressive about removing packages makes sense.  I think it's desirable to reduce t

[2018-08-03 05:37] pprindeville commented on #5692
@cshoredaniel Just updated 18.06.

[2018-08-03 07:31] EricLuehrsen commented on #6656
#6665 should close this.

[2018-08-03 07:32] EricLuehrsen commented on #6382
Some changes to Unbound may also help here. See PR #6665.

[2018-08-03 07:59] 3xtrah3rb opened #6666 "luajit: Missing libraries: libc.so.6, libm.so.6, libdl.so.2"
Maintainer: @milani
Environment:
    BuildHost: Ubuntu (running in Docker), Kernel -> 4.17.11.a-1-hardened, x86_64
    TargetHost: mips, Easybox 904 xDSL, Openwrt 15.04

Description:
After cloning https://github.com/Quallenauge/Easybox-904-XDSL and setting everything up, I start
make. After some time it dies with this error:

[code]

The libraries missing are installed on my host system:

[code]

[2018-08-03 08:10] yousong commented on #6666
Hello @3xtrah3rb , thanks for the report.  Please be aware that OpenWrt 15.04 is essentially EOL now.  Please try 18.06, 17.04.5 or current master branch and see if they work for you.

[2018-08-03 09:12] feckert commented on #6559
@camelcamro Thanks for your feature request. I have set it to my todo list, but this will take a while.
Please ping me if there is no progress in september :-)

[2018-08-03 10:28] stintel commented on #6666
Also note that you are looking for the wrong libraries - the libraries in /usr/lib are your host libraries, and they are in no way compatible with the target system. Finally, you seem to be using an OpenWrt clone, which we cannot support. Either use plain OpenWrt, or file a ticket at https://github.com/Quallenauge/Easybox-904-XDSL/issues

[2018-08-03 10:28] #6666 closed

[2018-08-03 18:37] ptpt52 commented on #6551
I think this PR is likely to fix your problem
https://github.com/openwrt/packages/pull/6515

[2018-08-03 18:48] ptpt52 commented on #5055
So PR https://github.com/openwrt/packages/pull/6515 is a better solution for this preblem?

[2018-08-04 04:14] neheb commented on #6584
I have ~25 pull requests with most of them having inactive maintainers.

I've thought about this for a bit. Maybe something like arch is needed where you have maintainers but you also have Trusted Users that do the grunt work regardless of the maintainers. Arch Linux has 13039 packages. ~250 are out of date. That's 2%. OpenWrt has less packages and more of them are out of date.

On throwing packag

[2018-08-04 04:28] neheb commented on #6631
Please test the referenced pull request to see if it fixes your issue.

[2018-08-04 05:06] wongsyrone commented on #6584
Which one?

[2018-08-04 06:51] no1dea commented on #6631
Tested  #6674

With miniupnpd updated to 2.1.20180706-1 the kernel log still says

[   46.663532] miniupnpd[3296]: unhandled signal 11 at 00000000 nip b7a87400 lr 10012a48 code 30001

[2018-08-04 09:32] DittelHome opened #6678 "Perl doesnt find same modules .."
Hi,
i am using Version 18.06.00 Perl ist installed under:
/usr/lib/perl5/5.28
**and**
/usr/lib/perl5/5.26
@INC points to 5.28.
Some modules are missing, for example USB.pm, because it resides only under 5.26.

I few days ago all were fine, because all perl stuff was installed under 5.26. Now some things resides in 5.26, others in 5.28.
This cannot work ..., i think
 regards Klaus

[2018-08-04 14:02] karlp commented on #6591
and is it a problem with 17.01, 1806 or master?  I'm not patching 15.05.

[2018-08-04 14:15] karlp commented on #6584
Rosen Penev <notifications@github.com> wrote:

And the vast majority of them are changing packaging for marginal
gain. Inactive is also relative. For a maintainer of a package
that updates once a year, maybe less, being "inactive" just
because they're not approving changes withing a day or two, or
even a week, isn't necessarily "inactive"

And arch users famously complain that things don't work. U

[2018-08-04 17:02] DittelHome commented on #6678
Sorry, maybe a stupid suggestions. Does it make more sense to leave the Version.Release in the folder name ?

[2018-08-04 18:23] jonathanunderwood opened #6682 "stubby: should depend on ca-certificates and/or ca-bundle ?"
# Issue template (remove lines from top till here)

Maintainer: @iamperson347
Environment: OpenWRT 18.06.0

Description:
I couldn't get stubby to work as initially installed. Then I noticed that ca-bundle and ca-certificates weren't installed on the system, so I used opkg to install them, and now stubby seems to be working fine. Should these be dependencies of the stubby package?

Before installin

[2018-08-04 18:57] neheb commented on #6631
I force pushed a new commit that has a new workaround. It uses -O2 vs. Os. This was an issue with dropbear where the transition from GCC5 to GCC7 made it miscompile with Os but where it was fine with O2.

LEDE 17.01.x uses GCC5.

[2018-08-04 22:52] karlp commented on #6682
@iamperson347 Given the readme: https://github.com/openwrt/packages/blame/master/net/stubby/files/README.md#L10-L15  yes, why wasn't this just added as a dependency of the package?

[2018-08-05 08:29] no1dea commented on #6631
thank you @neheb that last commit fixed the issue.

[2018-08-05 17:17] #6631 closed

[2018-08-05 17:32] albertogonb opened #6694 "iptables 1.6.2-1 not load match state (Openwrt 18.06.0)"
Maintainer: <jo@mein.io>
Environment: mips_24kc, Openwrt 18.06.0

Description:
After upgrading from Lede 17.01.5 to Openwrt 18.06.0, iptables fails to load "state" match:
[code]
xt_state module are loaded by kernel, but not used:
[code]

This causes my Fwbuilder-based firewall to stop working, disabling, among other things, management access to the router

[2018-08-05 19:33] neheb commented on #6593
Merged. Please close this.

[2018-08-05 19:34] neheb commented on #6530
Please try with the latest version.

[2018-08-05 19:37] neheb commented on #6522
Looks related to https://github.com/openwrt/packages/issues/6031

[2018-08-05 19:48] hnyman commented on #6694
iptables is in the main Openwrt, not here in the packages feed.

[2018-08-05 19:48] #6694 closed

[2018-08-05 19:49] hnyman commented on #6630
6rd is in the main Openwrt, not here in the packages feed.

[2018-08-05 19:49] #6630 closed

[2018-08-05 19:49] #6593 closed

[2018-08-05 19:55] hnyman commented on #6584
In addition to disappearing maintainers, we also have a challenge of low activity by committers to handle pull requests. There are only a few persons who actively merge PRs on larger scale. Quite many committers in the package feed repo seem to only care for a the few packages that they are maintaining by themselves.

[2018-08-05 19:59] #5871 closed

[2018-08-05 20:00] #4564 closed

[2018-08-05 21:34] pprindeville commented on #6678
Sounds like some of the packages need to be recompiled for 5.28.0.

@Naoir Shouldn't that happen automatically when `lang/perl/Makefile` gets changed?

[2018-08-05 21:44] karlp commented on #6584
Hannu Nyman <notifications@github.com> wrote:

So give more maintainers commit rights. I was given commit rights
in the understanding that it was to streamline the maintennance
of my own packages, and I was being trusted to not step on other
peoples work.

Are other maintainers _not_ given commit rights? Why not?

Cheers,
Karl P

[2018-08-05 22:09] neheb commented on #6584
I maintain 4 currently. I have none.

[2018-08-06 08:33] dibdot commented on #6656
As Eric says, should be "fixed" now.

[2018-08-06 08:33] #6656 closed

[2018-08-06 08:38] dibdot commented on #6592
Fix b1be3f9 your issue? Please retest with a current snapshot - thanks

[2018-08-06 08:55] jow- commented on #6694
State match compatibility is deprecated and has been removed to save space. Use the canonical `-m ctstate --ctstate XXX` instead.

[2018-08-06 08:57] dibdot commented on #6581
Currently imagemagick is not part of this repo, so this issue is invalid.
Feel free to add a new & updated imagemagick package to this repo.

[2018-08-06 08:57] #6581 closed

[2018-08-06 09:28] dibdot commented on #6564
Seems to be fixed a while ago.

[2018-08-06 09:28] #6564 closed

[2018-08-06 09:30] dibdot commented on #6568
Should be fixed.

[2018-08-06 09:30] #6568 closed

[2018-08-06 09:35] dibdot commented on #6321
@cretingame

[2018-08-06 12:41] albertogonb commented on #6694
Thank you very much,```-m conntrack --ctstate``` works perfectly

[2018-08-06 19:59] Andy2244 opened #6700 "Perl: host build under alpine/docker fails (seg fault in corelist.PL)"
Maintainer: @pprindeville @Naoir
Environment: snapshot-sdk (arm-cortexa9)

Description:
Trying to create an alpine based docker image for sdk compilation, but `perl/host` fails.
Any ideas?

`make package/perl/host/compile V=s`

[code]

dockerfile
[code]

[2018-08-06 22:15] pprindeville commented on #6700
Sorry, "alpine" is the target architecture or the build (guest) host OS?  Assume you're explaining this to someone who doesn't use Alpine (I don't).

Also, when you take Docker out of the equation and try to run this natively on whatever OS you're using, what happens then?

Because I reliably build Perl on Ubuntu 16.04-4 and Fedora 28 (updated) with no issues.

Given that both of these work reliab

[2018-08-06 23:11] Andy2244 commented on #6700
Alpine Linux is the Host OS inside Docker, which is one of the main distros used as docker image OS. I just tested Ubuntu and it worked fine, yet the ubuntu image is 5 times bigger, which is why if possible Alpine is preferred. The main difference is that Alpine is based on musl+busybox, thats why the base image is just 5MB.
I was hoping you could maybe give some hints, since the errors seem all i

[2018-08-06 23:33] pprindeville commented on #6700
Sorry, I don't have time to pursue build issues on boutique OSes, but if you root-cause this and come up with a patch I'll look at it.

[2018-08-07 05:02] nouman8 commented on #6592
that commit fixed it.
Thanks.

[2018-08-07 05:26] #6592 closed

[2018-08-07 07:09] Andy2244 commented on #6700
@pprindeville No problem, was just thinking you might have a quick idea on what host package might be missing.

PS: The problem with Ubuntu/Fedora or other "full" host system's is that often the host dependencies and stated [openwrt requirements](https://openwrt.org/docs/guide-developer/build-system/install-buildsystem) are not complete.
Alpine is specifically listed so i was hoping someone alread

[2018-08-07 08:32] dibdot commented on #6592
@nouman8 That's great - please be so kind and set the above referenced master ticket to resolved as well. Thanks.

[2018-08-07 09:11] nouman8 commented on #6592
Done.

[2018-08-07 11:27] cretingame commented on #6321
Hey, I can see that, next week. I will upgrade at the same the erlang package because it's too old.

[2018-08-07 12:00] cretingame commented on #6321
I actually already included erl_interface to openwrt package repository. https://github.com/openwrt/packages/commit/5a56e39f1dc610ca8244fbac67d8a98657c9bf31

[2018-08-07 12:49] Andy2244 commented on #6700
@pprindeville ok, the `Can't find extension Encode/...` are normal for a `-Uusedl` build, the actual error was at:
[code]
I can resolve this by removing `-Duserelocatableinc` from the host compile options? Maybe you have a idea whats going on here and is this needed for the host build?

[2018-08-07 12:57] facled opened #6703 "adblock: missing button text"
how you can see, sometimes i dont see text from both buttons.

Architecture ARMv7 Processor rev 1 (v7l)
Firmware Version OpenWrt 18.06.0 r7188-b0b5c64c22 / LuCI openwrt-18.06 branch (git-18.216.65174-3d5d9dc)
Kernel Version 4.14.54
adblock 3.5.4-2
luci-app-adblock git-18.216.65174-3d5d9dc-1

![c699541c-ff84-4913-9863-e752ebe3d5a6](https://user-images.githubusercontent.com/23004217/43777094-18e7a3d

[2018-08-07 13:03] facled opened #6704 "adblock: empty view logfile"
on adblock -> View Logfile i see every time nothing. only empty
option adb_debug is 1

Architecture ARMv7 Processor rev 1 (v7l)
Firmware Version OpenWrt 18.06.0 r7188-b0b5c64c22 / LuCI openwrt-18.06 branch (git-18.216.65174-3d5d9dc)
Kernel Version 4.14.54
adblock 3.5.4-2
luci-app-adblock git-18.216.65174-3d5d9dc-1

[2018-08-07 13:05] dibdot commented on #6703
Yep, that's a known bug - after the first run you see the buttons, right?

[2018-08-07 13:09] dibdot commented on #6704
Please provide the output of `logread -e "adblock-"`

[2018-08-07 13:34] dibdot commented on #6703
I've looked into it and the bug should already be fixed in 18.06 tree as well. Please reset your luci caches (rm -rf /tmp/luci-*) and check again.

[2018-08-07 13:37] guidosarducci commented on #6682
FYI, I have some fixes and improvements for stubby (including this issue) getting ready for PR.

[2018-08-07 13:45] iamperson347 commented on #6682
Hello All,

@karlp The reason I did not put ca-certificates as a dependency is because there are other ways to manage trusted certificates and I did not want to force ca-certificates on to users. This is why I put it in the openwrt-specific readme instead. However, for 90%+ of users, it probably makes sense to simply make ca-certificates a dependency.

@guidosarducci Please link the PR so we can s

[2018-08-07 14:58] karlp commented on #6682
honestly, the fact that you _could_ manage certificates manually is irrelevant.  It would be true of all dependencies of all packages.

[2018-08-07 17:29] iamperson347 commented on #6682
I have seen other openwrt packages that potentially depend on SSL/TLS connectivity that did not have a ca-cert dependency. However, per your recommendation, we can include it. For this package, since it _requires_ SSL connectivity, it makes sense.

[2018-08-07 18:36] pprindeville commented on #5692
Closing for now

[2018-08-07 18:36] #5692 closed

[2018-08-07 18:42] pprindeville commented on #6382
@EricLuehrsen Can you please markup PR #6709?  That might be clearer than reading your description of changes...

[2018-08-07 19:35] karlp commented on #6682
If you can find other packages that _depend_ on certs in some form, and are not optional, then please just straight up file tickets on them.

[2018-08-08 10:52] Per9 commented on #6551
@ptpt52 is right, it will fix it.

[2018-08-08 10:52] #6551 closed

[2018-08-08 12:19] dibdot commented on #6703
@facled does the cache reset help regarding your issues (#6703, #6704)?

[2018-08-08 13:29] dibdot commented on #6084
fixed in latest snapshot and 18.06 tree with referenced update commit.

[2018-08-08 13:29] #6084 closed

[2018-08-08 13:30] dibdot commented on #6448
fixed in latest snapshot and 18.06 tree with referenced update commit.

[2018-08-08 13:30] #6448 closed

[2018-08-08 13:31] dibdot commented on #5097
fixed in latest snapshot and 18.06 tree with referenced update commit.

[2018-08-08 13:31] #5097 closed

[2018-08-08 13:39] dibdot commented on #6521
this has been fixed with #6531

[2018-08-08 13:39] #6521 closed

[2018-08-08 13:56] dibdot commented on #4288
The PR regarding iotop was not accepted - close this as well.

[2018-08-08 13:56] #4288 closed

[2018-08-08 14:08] jorti opened #6717 "unbound: silently skips TLS certificate validation"
Maintainer: @EricLuehrsen
Environment: x86_64 KVM virtual machine, OpenWrt 18.06.0

Versions:
unbound - 1.7.3-2
libopenssl - 1.0.2o-1

Description:
Unbound silently skips TLS certificate validation. It continues to resolve happily after configuring it like this:

[code]

In this upstream bug report can be seen that OpenSSL 1.1.x is needed for this feature to work.

https://www.nlnetlabs.nl/bugs-sc

[2018-08-08 15:28] Andy2244 commented on #2871
@Xotic750 I'm working on this currently, trying to remove librpc completely and replacing it with libtirpc. Just finished creating the rpcbind package.

[2018-08-08 17:07] kriskate opened #6719 "Adblock: not found in default repos"
My router can't seem to find the Adblock package in any of the default package lists (https://wiki.openwrt.org/doc/packages).

I've tried both ssh and the Luci interface, none showing this package

[code]

Any suggestions?

[2018-08-08 17:31] cshoredaniel commented on #6644
On 2018-08-02 02:22 PM, Dr. Peter Voigt wrote:

Just FYI, because of a CVE it looks like 18.06.1 is going to be built
and may be available this weekend.  If it includes packages you may get
the nice present of the updated NUT a lot sooner than expected!

Also, I've updated the Wiki page for NUT with proper UCI documentation.

Regards,

Daniel

[2018-08-08 18:05] dibdot commented on #6719
That's expected, adblock has never been released for ancient CC.

Yes, update to latest stable OpenWrt release 18.06. If that not works for you, try the adblock packages from the old stable release 17.01 with CC - but no promises at all (completely unsupported!)

**Direct download links**
core package: https://downloads.openwrt.org/releases/17.01.5/packages/x86_64/packages/adblock_3.4.3-1_all.ipk

[2018-08-08 18:05] #6719 closed

[2018-08-09 08:33] petvoigt commented on #6644
On Wed, 08 Aug 2018 10:31:27 -0700
Daniel Dickinson <notifications@github.com> wrote:

Thanks for this hint. I have scheduled upgrade time this weekend for
18.06.1. The NUT documentation has become valuable and comprehensive -
nice.

Regards,
Peter

[2018-08-09 14:01] kriskate commented on #6719
Oh, I see.
Noob here - first time trying out OpenWRT, had it for a month now and it works great!

The thing is, when I installed OpenWRT I was actually recovering from a brick via the serial port and as you can imagine it consumed a lot of time.
... so I opened the [wiki](https://wiki.openwrt.org/about/latest), for a fast install; this states that CC is the latest, so I went for that 😄.

Will be t

[2018-08-09 16:00] n8v8R opened #6723 "[unbound] set separate tls_port per dns upstream server"
Maintainer: @EricLuehrsen

DoT port 853 is not set in stone and some DNS upstream servers have started to provide DoT on port 443 (mind you not DoH).

Unless specified in the upstream format `forward-addr: ip@port#tls_name` the downstream implementation:

[code]

does not appear to cater for ports to be set per server but only allow for one tls_port in the governing zone.

It would be rather be ex

[2018-08-09 16:58] n8v8R commented on #6717
It would be sort of detrimental to the TLS concept if the TLS certificates of the upstream resolver(s) are not being validated.

[2018-08-09 17:06] EricLuehrsen commented on #6723
UCI and Unbound forward-zones are used in order. The UCI zones compact around a provider (cloudflare, quad9, ...). You can merge disparate zones like [example.net->dns.my-isp-provider.net], or like [{example.com, example.org, example.org.de}->dns.it-assets.example.org] in a corporate infrastructure with telecomuting and vpns. On the public dns side, each provider has different terms of sevice, cen

[2018-08-09 17:13] n8v8R commented on #6723
I am familiar with zone et all.

I am running various linux boxes with `unbound ` and up to 10 different resolvers from 6 different providers and different DoT ports in the global `.` zone. All providers are carfully selected and there is no detrimental impact on doing so.

Well, I suppose I do not have to use the OpenWRT implementation for the router and rather utilize the upstream format instead

[2018-08-09 17:13] #6723 closed

[2018-08-09 17:55] EricLuehrsen commented on #6723
I have tried to model the zones after firewall UCI and LuCI both. I have tried to be careful to support novice users in a similar fashion. The structure is mostly a fall out of how to get LuCI to be able to be well presented. which is not polished yet. It seems like you have a enhanced setup, more like firewall extra rules.

Second thought ... The server field is not validated. If you leave port a

[2018-08-09 18:15] n8v8R commented on #6723
I had thought sort of this way

[code]

[2018-08-09 19:38] tru7 commented on #4840
Installed OpenWrt 18.06.0, r7188-b0b5c64c22 on mpc85xx.
Installed apache with default configuration except for port to avoid conflicts. But it does not start successfully, reports many warnings and throws segmentation faults.
It even reports ssl:warn even ssl is not activated.
Same for starting with httpd -X

[2018-08-09 20:38] diizzyy commented on #4840
Hmm... Can someone try setting O2 instead of Os when compiling Apache to avoid potential miscompilation?

[2018-08-09 21:02] tru7 commented on #4840
just checked with snapshot: same problems with out-of-the-box installation, only setting ServerName

[2018-08-09 21:18] EricLuehrsen commented on #6723
UCI is only two tier: config and option (or list). I see what you are asking. That would require a "config server" section that could be symbolically linked to the zone. Its possible, but it could be ugly. I have no idea how to patch that together and make pretty in LuCI.

[2018-08-09 21:29] n8v8R commented on #6723
I find UCI irritating and trying at times for various reasons, one being this 2 tier inhibition for sure.

Never mind. Thank you for having given it some thought.

[2018-08-09 21:35] EricLuehrsen commented on #6717
This is all dependent on openssl version. Unbound has all the support, but will set validation TRUE as a stub if API is missing.

[2018-08-09 23:29] pprindeville commented on #6700
Can you get a stack trace from the core dump?

[2018-08-09 23:56] EricLuehrsen commented on #6717
This same situation existed when HTTPS was rolling out and it wasn't completely anchored everywhere. One argument was half-security was better than none, or the proverbial, locks help keep honest people honest. Pirates may MiM. ISP could be a higher risk for privacy leaks. An ISP could argue they just so happened to observe plain text communications, and they just so happened to share it with mark

[2018-08-10 00:01] Andy2244 commented on #6700
Can try next week, i'm off for the weekend.

[2018-08-10 11:28] megapro17 opened #6731 "sockd: Segmentation fault"
tl-wr842n-v2

root@megapro17:~# sockd
Segmentation fault

[2018-08-10 13:57] dibdot commented on #6703
not reproducible, no more user feedback - close this for now.

[2018-08-10 13:57] #6703 closed

[2018-08-10 13:57] dibdot commented on #6704
not reproducible, no more user feedback - close this for now.

[2018-08-10 13:57] #6704 closed

[2018-08-10 17:38] dibdot commented on #6717
fixed in trunk

[2018-08-10 17:38] #6717 closed

[2018-08-10 18:48] dibdot commented on #6731
Which package are you referring to? Which OpenWrt release did you use? Any logs?

[2018-08-11 15:05] bluegeekgh opened #6735 "ffmpeg: fails to build"
Maintainer: @thess, Espen Jürgensen
Environment: trunk, mips_mips32

Description:

ffmpeg fails to compile. See: https://downloads.openwrt.org/snapshots/faillogs/mips_mips32/packages/ffmpeg/mini/compile.txt

[code]

[2018-08-12 12:21] chris5560 opened #6741 "python-dateutil: remove Python 2.x dependency or build a 3.x version"
@kissg1988
Please remove Python 2.x dependency or build a 3.x version because also used/needed for Python 3.x based software. Looking on "dateutil" project-page https://pypi.org/project/python-dateutil/ it's also supported for Python 3.3 to 3.7.
I.e. Radicale CalDAV/CardDAV-Server 2.x is using it on Python 3.x
Many thanks

[2018-08-12 19:13] MildBub commented on #4117
I can confirm this issue is fixed in the latest 18.06 build and can be closed!

[2018-08-12 20:15] Andy2244 commented on #6700
@pprindeville mhh i found the core files on the docker host, yet i cant get any infos out of them.

`gdb --core=core.perl.0.bcd54d63a4544d839fb79c2ebbddcdf4.15653.1534102622000000`
[code]

[2018-08-12 22:58] #5074 closed

[2018-08-12 23:25] #1517 closed

[2018-08-12 23:55] #6735 closed

[2018-08-13 01:09] mark0n opened #6744 "ddns-scripts_route53-v1: incorrectly complains about curl not being SSL-capable"
### Maintainer
@chris5560, @maxberger
### Environment
OpenWRT 18.06.0

### Description
DDNS script for AWS Route 53 aborts with the following error:
[code]
Root cause: Variable $CURL_SSL [is checked](https://github.com/openwrt/packages/blob/master/net/ddns-scripts/files/update_route53_v1.sh#L5) in `/usr/lib/ddns/update_route53_v1.sh` but not initialized anywhere. The script aborts if this variable

[2018-08-13 02:09] cshoredaniel opened #6745 "tree-wide: [RFC] Flattening menus (i.e. eliminating second-level submenus)"
Especially when getting started with OpenWrt finding things in menuconfig is complicated by the second level menus that are sometimes used and sometimes not, even when the category exists.

Further not everything fits neatly in a category.

Finally when, years ago, I tried to improve the situation the above resulted in titles that I think make it harder to find things (in retrospect).

Therefore I

[2018-08-13 03:17] mark0n commented on #6744
Similar variables like `CURL`, `WGET`, and `WGET_SSL` are being set in `dynamic_dns_functions.sh`. Seems like there is no separate `curl-ssl` executable but only `curl` (which is already SSL-enabled). So we need to find another way to detect if curl has SSL support.

[2018-08-13 04:01] mark0n commented on #6744
https://github.com/openwrt/packages/pull/6747

[2018-08-13 04:27] diizzyy commented on #6745
NACK, it works well in a directory sense but if you need to navigate it's more of a hassle.

[2018-08-13 05:52] cshoredaniel opened #6748 "[RFC] Decision on preference (or not) for the use of codeload"
@neheb Has submitted a number of PR's (referenced in https://github.com/openwrt/packages/issues/6584), full list of his/her PR's (which probably include the codeload thing for any github pulls): https://github.com/openwrt/packages/pulls/neheb

@diizzyy has also mentioned codeload. [EDIT: I misunderstood karlp's comment to be related, it's not] @karlp appears to feel the change is for marginal gain

[2018-08-13 05:56] neheb commented on #6748
Just to clarify, I do it for GitHub projects that lack a release tarball.

[2018-08-13 09:35] Andy2244 commented on #2871
@Xotic750 @tripolar

This can be closed as well.

[2018-08-13 09:43] Andy2244 commented on #6748
I also only use it for medium, large sized github packages, without release tarballs. see #6577

PS: I'm fine either way, the git clone + local tarball creation also worked fine for me in the past.

[2018-08-13 10:28] karlp commented on #6748
Daniel Dickinson <notifications@github.com> wrote:

That's out of context.  I have no objection to the use of a documented github apis.

Cheers,
Karl P

[2018-08-13 11:22] adverserath opened #6750 "luci-app-openvpn : comp-lzo not working, compress lzo needed"
I may have used far to many hours getting my router into a vpn.
The UI for luci-app-openvpn only allows comp-lzo flags to be set. When the server is started up the config writes out into /var/etc/xxxx.conf
if there is a flag for comp-lzo in the openvpn config (etc/config/openvpn) file this does not get reflected in the used config file.
My fix was to manually add "compress lzo" into etc/config/ope

[2018-08-13 11:51] cshoredaniel commented on #6748
@karlp apologies then, I misunderstood (the possibility I had is why I tagged you so you could comment)

[2018-08-13 11:54] cshoredaniel commented on #6748
Please note it is preferred if the responses could be made as followups to http://lists.infradead.org/pipermail/openwrt-devel/2018-August/013570.html (followups to those followups) on [OpenWrt-devel Mailing List](https://lists.openwrt.org/mailman/listinfo/openwrt-devel)

[2018-08-13 11:58] cshoredaniel commented on #6745
Please note it is preferred if replies could be made as followups to http://lists.infradead.org/pipermail/openwrt-devel/2018-August/013568.html on [OpenWrt-devel Mailing List](https://lists.openwrt.org/mailman/listinfo/openwrt-devel)

[2018-08-13 12:56] cshoredaniel commented on #6682
@iamperson347 Can you check of (in master) ca-bundle is all you need? Another contributor had a PR that modified ca-bundle so that openssl and mbedtls should hopefully not need ca-certificates, and ca-bundle is smaller due to less file metadata, and on a number of supported devices this matters.

[2018-08-13 15:24] stintel opened #6751 "libftdi1: doesn't compile"
Maintainer: @Noltari
Environment: OpenWrt master r7843-0578993a41

Description:

[code]

[2018-08-13 18:38] diizzyy commented on #6748
@cshoredaniel
I'm not sure why you insist on having it on the mailing list since it's not related to OpenWrt distribution itself. GitHub has always been where package related discussions occur so it's the preferred forum.

Anyhow, a few advantages

* Reduces data usage considerably in a lot of cases compared to git clone
* Faster
* Better availability as other distributions also use codeload
* Pro

[2018-08-13 18:40] diizzyy commented on #6745
Preferred by who, you?

[2018-08-13 19:51] cshoredaniel commented on #6745
@diizzyy I'm under the impression that for matters which also affect core (such as submenus, since core packages also use them, and it's probably best to keep core and package in sync in that regard) that discussions should occur on the project ML.

[2018-08-13 19:56] cshoredaniel commented on #6748
@diizzyy The infrastracture and tooling of packages, which is shared amongst core and packages is also a core matter in my view.  In particular with codeload and the like the packages feed shouldn't be doing things substantially different from core, in my view.  Also I feel like the mailing list gets more project eyeballs than a random issue on GitHub, and this is an issue that I think should be d

[2018-08-13 20:00] diizzyy commented on #6748
I honestly think that's up for the people actually doing work in the repo but that's just me....

[2018-08-13 20:02] cshoredaniel commented on #6748
Also my single biggest issue that it's a tree-wide change without prior discussion.  I don't really have deep feelings about the actual decision, I just think a discussion should actually happen.

[2018-08-13 21:53] iamperson347 commented on #6682
@cshoredaniel I think that should work. I will have to check it, but I believe stubby (and the getdns library) use openssl for SSL connectivity and ca-bundle appears to have the the root CA that cloudflare's intermediate and cert hang off of.

[2018-08-14 10:00] wongsyrone commented on #6748
I would like to follow the reproducible way.

[2018-08-14 10:48] newUsertoday opened #6753 "libcurl library linking issue with C++ component in openwrt"
libcurl.so.4 linking issue: `
Description:
I have created a new component in openwrt. I could build the component along with openwrt Make.
When linking with libcurl.so.4, the build fails.
"#include <curl/curl.h>
#include <iostream.h>
are included.

CURL *c1;
c1=curl_easy_init();

When i build this code, the build fails with Undefined Reference : curl_easy_init()".

i have included  LIBS+=-L~/targe

[2018-08-14 12:59] pacien opened #6754 "mpd: enable webdav storage back-end"
Maintainer: @thess
Environment: OpenWrt 18.06.0, r7188-b0b5c64c22

Description:
Enabling the WebDAV storage plugin would be really useful in satellite setups. This would not require any additional dependency, `libcurl` and `libexpat` already being used for the curl input plugin.

https://github.com/openwrt/packages/blob/91171954ea9552298829e495210a0ea5db9865a0/sound/mpd/Makefile#L147

---

On a re

[2018-08-14 17:30] thess commented on #6754
I'll take a look at it. Depends on how much it adds to package size whether ```-mini```, ```-full``` or both.

wrt  ```--disable-wildmidi```
I guess I wanted to really turn it off :wink:

[2018-08-14 18:34] diizzyy commented on #6748
@cshoredaniel
Several committers have accepted this procedure by committing several PRs and using it in their own commits. I have no idea why you're trying to make a discussion out of something that's already accepted.

[2018-08-15 00:33] pprindeville commented on #6700
Yeah, not going to be very helpful that way.

[2018-08-15 00:40] pprindeville commented on #6584
I'm not sure that's their motivation.  Some of them might be hesitant to step on someone else's toes, hence they only work in their own sandbox.

I'll very occasionally commit in another package if (a) the commit looks very safe, (b) it's been discussed adequately, and (c) the actual maintainer has had adequate time to speak up but hasn't...

[2018-08-15 11:08] Andy2244 opened #6757 "nfs-kernel-server: nfs4/41 support"
Maintainer: @tripolar

Description:
I checked what needs to-be done to enable nfs4 support and i'm not comfortable adding the kmod changes or maintain all those changes, since i don't use nfs atm. So i just document whats missing here, maybe this might help as a starting point, if someone wants to pick this up.

Thanks to @tobiaswaldvogel most could be copy&pasted over.

Missing:
keyutils/libkeyut

[2018-08-15 11:26] diizzyy commented on #5422
@Strykar
https://github.com/openwrt/packages/pull/6538

You might want to consider using fio which is in the tree and works just fine :-)

[2018-08-15 11:27] diizzyy commented on #5293
@hnyman
Close due to reporter timeout

[2018-08-15 11:27] diizzyy commented on #5691
@hnyman @thess

[2018-08-15 11:28] diizzyy commented on #5310
@kholisrag
Ping

[2018-08-15 11:30] diizzyy commented on #4945
@jammmet
This is fixed as far as I can tell, can you give it a try?

[2018-08-15 11:31] diizzyy commented on #4840
Can you give it a go with O2 instead of Os is it's known to cause miscompilation in some cases?

[2018-08-15 11:31] ogarcia commented on #5293
@diizzyy @hnyman Please not close it. I cannot test 18.X until september because my TL-WDR4900 is in other location. Please wait a few days and I'll give you feedback.

[2018-08-15 11:32] diizzyy commented on #5293
@ogarcia
It's still the wrong repo, this should be filed here: https://bugs.openwrt.org

[2018-08-15 11:47] #5691 closed

[2018-08-15 11:48] veramartins commented on #5691
Thank you for solving it, I just closed the issue.

[2018-08-15 15:50] tru7 commented on #4840
@diizzyy do you mean me? I was only talking about packages from 18.06 and snapshots downloads. But I could give it a try building myself, however I need instruction because I don't see Os in the Makefile.

[2018-08-15 18:43] dibdot commented on #6748
@cshoredaniel
Personally I would prefer to wait with codeload migrations until github will support reproducible release downloads that are automatically generated. On the other hand I have no codeload objection if the maintainer said it's OK.

[2018-08-16 00:26] cshoredaniel commented on #6584
@pprindeville That's a good point; I think the 'owned' packages sentiment tends to that feeling, which (I think) is why @jow- and others have suggested a more general 'packages feed' maintainer over all packages being owned (with uneven levels of participation (for various reasons)) by an individual maintainer or (rarely) team.

[2018-08-16 01:33] leoliu commented on #5811
Excellent. 19.x is receiving updates which means more secure. Unfortunately it might sort of end-of-life soon. I think there needs a way to keep the package reasonably up-to-date. Sorry I didn't contribute anything significant.

[2018-08-16 03:07] EricLuehrsen commented on #6584
@jow- @dibdot @thess my sentiment tends to agree with your statements.

I would think part of the problem is "packages-abandoned" is not much of an option. The choice is regular package or dark abyss of doom. For new packages someone would like to dump in OpenWrt without a maintainer, then maybe "packages-experimental" or "-unstable" or "-bleedingedge" is appropriate. There could be a process to g

[2018-08-16 03:30] EricLuehrsen commented on #6748
FYI as a release option, you can upload any binary as an "asset." A upstream release authority could instead generate the tarball and upload it. That would be static and not subject to cloud based cache churn and tools changes. It would be less expensive to download than a git clone. There is [no limit]( https://help.github.com/articles/distributing-large-binaries/) to storage or bandwidth; see al

[2018-08-16 03:32] cshoredaniel commented on #6584
@thess volunteers for triaging (once process is defined)

[2018-08-16 03:36] cshoredaniel commented on #6748
@EricLuehrsen Agreed.  I think the issue comes when upstream isn't doing proper releases (with uploaded assets) and GitHub's auto-release based on tags is wanted to be used as a formal release (rather than a hash and pull).

[2018-08-16 03:53] cshoredaniel commented on #6584
@EricLuehrsen I have some ideas about using Travis-Ci's deployment option to create a PPA / COPR type option for OpenWrt.  The other piece of course is the deployment 'target' (e.g. something that publishes the built packages - that is is willing to accept them from Travis-CI).  It's a significant chunk of  work, but it's doable.  This RUPA (Random User Package Archive) system would be partly a Tr

[2018-08-16 08:52] newUsertoday commented on #6753
Can someone please help

[2018-08-16 08:56] cshoredaniel commented on #6753
GitHub issues is not a particularly good place to ask support questions.  You might want to try https://forum.openwrt.org/ or StackExchange-esque forum.

[2018-08-16 09:09] newUsertoday commented on #6753
Not getting proper help. Awaiting for a person who can help!!

[2018-08-16 09:11] Arduous opened #6765 "mosquitto-client-nossl Unable to connect error in OpenWRT 18.06"
Maintainer: @karlp
Environment: OpenWRT version: 18.06
Issue noticed on GL.inet AR-150 that as some mileage in terms of upgrades and installed packages
BUILD_ID="r7188-b0b5c64c22"
LEDE_BOARD="ar71xx/generic"
LEDE_ARCH="mips_24kc"

Issue is confirmed on a clean and freshly flashed Linksys E3000
BUILD_ID="r7188-b0b5c64c22"
LEDE_BOARD="brcm47xx/generic"
LEDE_ARCH="mipsel_mips32"

Description: mosquit

[2018-08-16 09:12] jow- commented on #6753
Not a packages issue.

[2018-08-16 09:12] #6753 closed

[2018-08-16 09:26] newUsertoday commented on #6753
if i use -lcurl, my component is getting compiled but not generating .ipk file. it says missing dependencies with libcurl.so.4.

If i dont use -lcurl, then it says undefined references to curl_easy_init().

any settings to be done to link my code with the libcurl library from openwrt. Please help.

[2018-08-16 10:56] karlp commented on #6765
Traced to a bug upstream.  For now, just add "-p 1883" or similar to work around it.  (Or use the ssl versions)

There's a new bug fix of mosquitto "real soon now" so this may or may not roll out with that.

[2018-08-16 10:58] karlp commented on #6765
I'm going to close this, there's nothing further do from OpenWrt, and my regular package maintennance will patch this as it's fixed. Thanks for the report!

[2018-08-16 10:58] #6765 closed

[2018-08-16 15:02] kissg1988 commented on #6741
@chris5560
Unfortunately, I'm not actively maintaining my packages anymore but feel free to make the changes if you have the time and knowledge to do so. I'm happy to review and approve your changes.

As a quick hint, I'd use b61864cdce3bd18388f8b010b5c8d24932a2729a as a template to create a python3 version of the package. Feel free to add yourself as a second maintainer if you wish.

Thanks,
Gerg

[2018-08-16 15:46] #2871 closed

[2018-08-16 17:59] danielg4 opened #6769 "unbound: lack of input validation for odhcpd leases file"
Maintainer: @EricLuehrsen
Environment: x86/64, 18.06

Description:
Unlike dnsmasq, odhcpd blindly accepts invalid hostnames from broken (e.g. IoT) DHCP clients, since it does not actually use that field. This can break DNS resolution of local hosts, and it breaks the awk script's parsing if there are spaces in the name. Attached is a patch to introduce rudimentary input validation. Please apply it

[2018-08-16 21:28] JFtico opened #6771 "miniupnpd: Incomplete support of public IP detection via stun"
Maintainer: @neheb
Original author of commits to miniupnp project: https://github.com/miniupnp/miniupnp/commits?author=pali

Environment: ar71xxx on Archer C7v2 , 8/9/2018 trunk

Description:

It looks like the current implementation of the original miniupnpd added support for resolving public IP via  an option stun server configuration. And while the implementation does support it, there is no UC

[2018-08-17 01:18] nwf opened #6773 "openldap: builds ucgendat for target but tries to run on host"
Maintainer: @MikePetullo
Environment: OpenWRT HEAD compiling for ipq806x (TP-Link C2600)

Description:

Attempting to build `openldap` results in

[code]

This `ucgendat` tool should be compiled for the host or otherwise avoided.

[2018-08-17 01:48] neheb commented on #6771
I don't maintain miniupnpd. Nevertheless, this seems easy to add at first glance.

[2018-08-17 01:53] EricLuehrsen commented on #6769
That part of the scripting was a bit clumsy to start with, so I just reworked it. Non-conforming lease records should be dropped, and there is an faster way. PR #6774 on master. I will cherry pick 18.06 after merge to ensure the correct hash is xref in the commit message.

[2018-08-17 02:07] danielg4 commented on #6769
Discussion to continue via the PR. Closing.

[2018-08-17 12:30] dibdot commented on #6731
no feedback - close this by now.

[2018-08-17 12:30] #6731 closed

[2018-08-17 13:13] dibdot commented on #1353
@danielg4 @hscadore last post of the ticket owner is from 06/2015 ... it might be better to discuss certain aspects of vpnc in the forum - close this endless story now.

[2018-08-17 13:13] #1353 closed

[2018-08-17 13:17] dibdot commented on #1636
no input since 08/2015 - close this by now.

[2018-08-17 13:17] #1636 closed

[2018-08-17 13:27] dibdot commented on #2421
feel free to open a new ticket, if this is still an issue.

[2018-08-17 13:27] #2421 closed

[2018-08-17 13:28] #3936 closed

[2018-08-17 13:28] #2657 closed

[2018-08-17 13:30] #2559 closed

[2018-08-17 13:35] #3292 closed

[2018-08-17 13:38] #3969 closed

[2018-08-17 13:39] dibdot commented on #3808
no feedback - close this by now.

[2018-08-17 13:39] #3808 closed

[2018-08-17 13:39] #4082 closed

[2018-08-17 13:40] dibdot commented on #4878
no feedback - close this by now.

[2018-08-17 13:40] #4878 closed

[2018-08-17 13:41] dibdot commented on #4946
@sequencer feel free to open a PR if you have a better approach.

[2018-08-17 13:41] #4946 closed

[2018-08-17 13:45] dibdot commented on #5293
@ogarcia if this issue still still exsist for you, please use the main project bug tracker as @diizzyy said.

[2018-08-17 13:45] #5293 closed

[2018-08-17 13:46] dibdot commented on #4006
I think that has been fixed already - close this by now.

[2018-08-17 13:46] #4006 closed

[2018-08-17 13:48] dibdot commented on #6576
no feedback - close this by now.

[2018-08-17 13:48] #6576 closed

[2018-08-17 13:51] dibdot commented on #6391
@luizluca ddns-scripts is currently unmaintained. Feel free to open a PR with your enhancement.

[2018-08-17 13:51] #6391 closed

[2018-08-17 13:53] dibdot commented on #6410
Seems to be fixed - close this by now.

[2018-08-17 13:53] #6410 closed

[2018-08-17 13:54] dibdot commented on #5260
feel free to re-open, if this is still an issue.

[2018-08-17 13:54] #5260 closed

[2018-08-17 13:58] dibdot commented on #4294
@msva can this be closed?

[2018-08-17 13:59] dibdot commented on #4795
See also https://github.com/openwrt/luci/issues/2062

[2018-08-17 13:59] #4795 closed

[2018-08-17 14:00] dibdot commented on #4260
no further feedback - close this by now.

[2018-08-17 14:00] #4260 closed

[2018-08-17 14:01] dibdot commented on #4182
Please retry with 18.06.

[2018-08-17 14:01] #4182 closed

[2018-08-17 14:03] #4076 closed

[2018-08-17 14:05] #3400 closed

[2018-08-17 14:07] #3519 closed

[2018-08-17 14:10] dibdot commented on #4667
official buildbot has no problems with netopeer for x86

[2018-08-17 14:10] #4667 closed

[2018-08-17 14:27] dibdot commented on #5285
seems to be fixed.

[2018-08-17 14:27] #5285 closed

[2018-08-17 14:28] #4890 closed

[2018-08-17 14:30] #4293 closed

[2018-08-17 14:33] dibdot commented on #5193
@StevenHessing

[2018-08-17 14:36] dibdot commented on #4655
Sounds not like a package issue - please join the OpenWrt forum (https://forum.openwrt.org) for further support.

[2018-08-17 14:36] #4655 closed

[2018-08-17 14:37] #6629 closed

[2018-08-17 14:39] dibdot commented on #6329
Please join https://forum.openwrt.org

[2018-08-17 14:39] #6329 closed

[2018-08-17 14:39] #4649 closed

[2018-08-17 14:40] #3948 closed

[2018-08-17 14:42] #3843 closed

[2018-08-17 14:43] #4535 closed

[2018-08-17 14:49] dibdot commented on #4635
should be fixed.

[2018-08-17 14:49] #4635 closed

[2018-08-17 14:53] dibdot commented on #5948
This is an issue tracker - feel free to open a PR with yourself as maintainer.

[2018-08-17 14:53] #5948 closed

[2018-08-17 14:54] #4117 closed

[2018-08-17 14:56] dibdot commented on #1922
Seems to be fixed in OpenWrt nowadays.

[2018-08-17 14:56] #1922 closed

[2018-08-17 14:57] #5930 closed

[2018-08-17 14:58] #5811 closed

[2018-08-17 14:59] #5792 closed

[2018-08-17 15:00] dibdot commented on #4054
Probably fixed nowadays.

[2018-08-17 15:00] #4054 closed

[2018-08-17 15:03] dibdot commented on #3308
no feedback - close this by now.

[2018-08-17 15:03] #3308 closed

[2018-08-17 15:03] #2373 closed

[2018-08-17 15:29] karlp commented on #3843
The underlying rootcause here is that the URL in the package isn't available _upstream_   It's working _now_ because it was copied (manually?) to the openwrt mirror.

I've fixed this in https://github.com/openwrt/packages/pull/6756 as well as updating.

[2018-08-17 19:07] neheb commented on #6031
This is fixed in current version. Please close.

[2018-08-17 19:14] neheb commented on #6522
This can be closed.

[2018-08-17 22:09] #6031 closed

[2018-08-18 11:30] jonathanunderwood opened #6787 "stubby: integrate with uci"
Maintainer: @iamperson347
Environment: OpenWRT 18.06.0

Description:
At present, stubby has no uci integration, which makes it difficult to integrate with Luci. It would be great if the stubby package gained uci integration.

[2018-08-18 15:03] tru7 commented on #4840
@diizzyy @0anton @heil @lucize : I did some extensive testing on this one with all the latest (snapshot toolchain, packages master) and found some weired results:
- basically I can confirm all the results from this thread
- no difference when I change compiler options from -Os to -O2 or -O0 or no -O at all
- as soon as --enable-proxy is used the daemon throws segementation fault
- with --disable-p

[2018-08-18 16:05] dibdot commented on #2117
Fixed in 18.06

[2018-08-18 16:05] #2117 closed

[2018-08-18 16:12] dibdot commented on #1846
openvpn is not in the package repo.

[2018-08-18 16:12] #1846 closed

[2018-08-18 16:14] dibdot commented on #153
reference current discussion #6584 and close this one.

[2018-08-18 16:14] #153 closed

[2018-08-18 16:15] dibdot commented on #1382
seems to be fixed.

[2018-08-18 16:15] #1382 closed

[2018-08-18 16:16] dibdot commented on #2059
please retest with current release.

[2018-08-18 16:16] #2059 closed

[2018-08-18 16:34] dibdot commented on #2898
feel free to re-open if this is still an issue.

[2018-08-18 16:34] #2898 closed

[2018-08-18 16:35] #2654 closed

[2018-08-18 16:36] dibdot commented on #2420
please retest with latest release.

[2018-08-18 16:36] #2420 closed

[2018-08-18 16:37] #2153 closed

[2018-08-18 16:41] dibdot commented on #1745
please retest with latest release.

[2018-08-18 16:41] #1745 closed

[2018-08-18 16:44] dibdot commented on #2429
seems to be fixed.

[2018-08-18 16:44] #2429 closed

[2018-08-18 16:45] #3247 closed

[2018-08-18 16:55] dibdot commented on #5696
CC 15.05 is out of date & unmaintained

[2018-08-18 16:55] #5696 closed

[2018-08-18 16:56] dibdot commented on #5110
seems to be fixed.

[2018-08-18 16:56] #5110 closed

[2018-08-18 17:02] dibdot commented on #5145
CC & BB are out of date & unmaintained. Please retest with current release.

[2018-08-18 17:02] #5145 closed

[2018-08-18 17:03] dibdot commented on #5132
feel free to open a PR.

[2018-08-18 17:03] #5132 closed

[2018-08-18 17:03] dibdot commented on #4350
feel free to open a PR.

[2018-08-18 17:03] #4350 closed

[2018-08-18 17:04] dibdot commented on #4314
feel free to open a PR.

[2018-08-18 17:04] #4314 closed

[2018-08-18 17:12] dibdot commented on #4299
Reported issue seems to be fixed.

[2018-08-18 17:12] #4299 closed

[2018-08-18 17:14] #5030 closed

[2018-08-18 17:25] dibdot commented on #4888
feel free to open a PR.

[2018-08-18 17:25] #4888 closed

[2018-08-18 17:28] dibdot commented on #4018
Feel free to open a PR.

[2018-08-18 17:28] #4018 closed

[2018-08-18 17:29] dibdot commented on #5130
Please join the forum (https://forum.openwrt.org/).

[2018-08-18 17:29] #5130 closed

[2018-08-18 17:31] dibdot commented on #4397
CC 15.05 is unmaintained.

[2018-08-18 17:31] #4397 closed

[2018-08-18 17:31] #5730 closed

[2018-08-18 17:32] dibdot commented on #5675
Feel free to open a PR.

[2018-08-18 17:32] #5675 closed

[2018-08-18 17:43] dibdot commented on #5358
Wrong repo (https://github.com/openwrt-routing/packages)

[2018-08-18 17:43] #5358 closed

[2018-08-18 17:45] dibdot commented on #4041
no feedback - close this by now.

[2018-08-18 17:45] #4041 closed

[2018-08-18 17:46] dibdot commented on #3700
not a package issue.

[2018-08-18 17:46] #3700 closed

[2018-08-18 18:03] #5149 closed

[2018-08-18 18:04] #5249 closed

[2018-08-18 18:10] dibdot commented on #3704
Feel free to open a PR.

[2018-08-18 18:10] #3704 closed

[2018-08-18 18:13] dibdot commented on #3414
If its still an issue provide a PR.

[2018-08-18 18:13] #3414 closed

[2018-08-19 08:13] sRlinux opened #6804 "isc-dhcp-server-ipv4: stops working after failover state"
Hello,

If i use failover, my dhcpd stops working after a

`failover peer dhcp-failover: I move from communications-interrupted to normal`

or

`failover peer dhcp-failover: I move from startup to communications-interrupted`

in 18.06 ipv4_4.4.1-2_mips_mips32.ipk
Config is:

[code]

[code]

I hope someone can help me!

[2018-08-19 08:14] sRlinux commented on #6804
fyi, it does not look like a release issue. So please prove before closing it. thx!

[2018-08-19 08:16] sRlinux commented on #5145
stops working the same way :-\

[2018-08-19 11:29] cieszyno opened #6807 "MTD is not mountig partitions on emmc"
Hello,
Kernel is not mouting the partitions on the flash module in OpenWrt SNAPSHOT, r7878-d1ea8ac3b4.
I've installed the image on Unielec MT7623-06 ( i suppose its same board as mt7623-02). After sysupgrade system is booting in loop.
 Here is the kernel log:
[    0.000000] Booting Linux on physical CPU 0x0
[    0.000000] Linux version 4.14.63 (piotr@Debian) (gcc version 7.3.0 (OpenWrt

[2018-08-19 11:31] cieszyno commented on #6807
Here is other log from working BB image:
mmc0 is current device
mmc0 operation
dev_num = 0

MMC read: dev # 0, block # 2560, count 1 ... 1 blocks read: OK
mmc0 operation
dev_num = 0

MMC read: dev # 0, block # 2560, count 5087 ... 5087 blocks read: OK
bootm flag=0, states=70f
## Booting kernel from Legacy Image at 84000000 ...
   Image Name:   OpenWrt Linux-3.10.20
   Image Type:   ARM Linux Kerne

[2018-08-19 11:31] #6807 closed

[2018-08-19 13:17] cieszyno opened #6809 "MTD is not mountig partitions on emmc"
Hello,
Kernel is not mouting the partitions on the flash module in OpenWrt SNAPSHOT, r7878-d1ea8ac3b4.
I've installed the image on Unielec MT7623-06 ( i suppose its same board as mt7623-02). After sysupgrade system is booting in loop.
Here is the kernel log:
[ 0.000000] Booting Linux on physical CPU 0x0
[ 0.000000] Linux version 4.14.63 (piotr@Debian) (gcc version 7.3.0 (OpenWrt GCC 7.3.0 r7878-d1

[2018-08-19 16:57] chris5560 commented on #6744
Found the problem.
Setting CURL_SSL was moved from global section to function do_transfer unknown time ago.
Will prepare fix

[2018-08-19 19:11] cshoredaniel commented on #6748
Since it's holiday season I will wait until after first full week of September to close this issue.

I would like to say that impatience (and I'm badly guilty of this too), is a big part of the problem here and with the perceived
maintainer problem with the packages feed, and/or the pushing of commits by non-maintainers.

[2018-08-19 19:13] cshoredaniel commented on #6584
As I said in https://github.com/openwrt/packages/issues/6748:

I would like to say that impatience (and I'm badly guilty of this too), is a big part of the problem here and with the perceived maintainer problem with the packages feed, and/or the pushing of commits by non-maintainers (that turn out to be problematic).

[2018-08-19 19:40] cshoredaniel commented on #6745
Sorry hadn't noticed #3371.  I've decided based on lack of response and #3371 that it's more effort than it's worth, and I've noticed that it's mostly Utilities that still the most painful, and that's due to all in one list.  I'd rather improve the titles and/or choice of Categories in Network, and also get Utilities in better categorized state.

[2018-08-19 20:36] cshoredaniel commented on #6744
@chris5560 Is this https://github.com/openwrt/packages/commit/8bb49eb5edb9aa455816324b1fe69cb188c9f592#diff-636b35c9cb832b1c8ca09254fbf759c9 the offending comimt?

[2018-08-20 00:52] pprindeville commented on #6584
Could we move ownership of a package to `at-large` and have maintainers who want to step in and do reviews, lead discussion, recruit maintainers, and yes, merge PR's?

Not everyone would be qualified to be a member of the `at-large` team... a good overall understanding of OpenWrt and how package dependencies typically work, regular availability, etc. might be some of the desired characteristics.

[2018-08-20 00:56] pprindeville commented on #6584
@EricLuehrsen That seems like abuse/overloading of the `experimental` attribute.

[2018-08-20 01:01] pprindeville commented on #6748
@EricLuehrsen Maybe I'm misunderstanding something, but my hair stood up as soon as I read that...

[2018-08-20 03:06] mark0n commented on #6744
I updated my PR to undo the part of [the commit that introduced this problem](https://github.com/openwrt/packages/commit/8bb49eb5edb9aa455816324b1fe69cb188c9f592#diff-636b35c9cb832b1c8ca09254fbf759c9). This fixes the problem for me without adding any noticeable delay. It's unclear to me what the root cause of the 10 s (!) delay is that @Ansuel claimed to fix with https://github.com/openwrt/package

[2018-08-20 07:19] dibdot commented on #6804
to prevent the next stale ticket without any feedback in > 6 months, you should at least inform the maintainer (as mentioned in the ticket template) and/or ask in the forum ... maybe just a configuration issue.

[2018-08-20 07:52] sRlinux commented on #6804
a configuration issue that will stop the whole daemon?

[2018-08-20 07:52] #6804 closed

[2018-08-20 16:05] dibdot commented on #6744
fixed in master.

[2018-08-20 16:05] #6744 closed

[2018-08-20 16:16] Ansuel commented on #6744
@mark0n execute that command using console is ok
Execute that command with os.execute in lua over and over again is not ok...

Lua should never execute external command as it's slow in every way...

[2018-08-21 12:30] tapper82 opened #6830 "Update motion 4.1.1"
Hi update motion to 4.1.1
https://github.com/Motion-Project/motion/releases

[2018-08-21 12:37] tapper82 commented on #6830
The build in packages now is a old one from Aug 14, 2016.

[2018-08-21 12:42] tapper82 opened #6831 "v4l-utils update to 1.14.1"
The package is now at Jun 15, 2016
v4l-utils-1.10.1
The latest is:
on Dec 27, 2017
v4l-utils-1.14.1

[2018-08-21 13:59] mattreeve opened #6832 "openssh: compile fails on pam variant when using glibc"
Maintainer: @tripolar
Environment: ar71xx Netgear WNDR3700v4 Openwrt 18.06

Description:

When building openssh with pam and using the glibc toolchain, openssh-server-pam fails to build because of type redeclarations of pthread_exit, pthread_cancel, pthread_create and pthread_join.

For some reason, the first time you do a clean build of the system, it DOES compile, but anytime you try and recompi

[2018-08-21 14:47] ZeroChaos- opened #6833 "xtables-extensions cannot build with CONFIG_PKG_ASLR_PIE"
The actual error is "mips-openwrt-linux-musl-ld: unrecognized option '-specs=/home/zero/development/openwrt/include/hardened-ld-pie.specs'" but here is context:

[code]

[2018-08-21 14:52] ZeroChaos- commented on #6833
just a guess, but is it possible -specs should only be passed to CC and not LD?

[2018-08-21 14:59] ryao commented on #6833
I think you are correct. The spec file is used by GCC and nothing else. Here is the description of the option:

"Process file after the compiler reads in the standard specs file, in order to override the defaults which the gcc driver program uses when determining what switches to pass to cc1, cc1plus, as, ld, etc."

https://gcc.gnu.org/onlinedocs/gcc/Overall-Options.html#Overall-Options

Having it

[2018-08-21 15:53] ryao commented on #6833
Just a FYI, here are the relevant bits:

https://github.com/openwrt/openwrt/blob/master/include/hardening.mk#L22
https://github.com/openwrt/openwrt/blob/master/include/hardened-ld-pie.specs

The reason this works elsewhere, but not here should be because the build system is invoking ld directly rather than abusing GCC for it. What the specfile does is pass "-pie" to ld unless `-no-pie`, `-static`,

[2018-08-21 18:46] dibdot commented on #6830
Please always inform the package maintainer (@roger- ) and/or provide a PR on your own.

[2018-08-21 18:50] dibdot commented on #6831
@thess

[2018-08-21 21:22] tapper82 commented on #6830
Ok I will next time. Thanks for the heads up.

[2018-08-21 22:04] rechinu88 commented on #2506
Same problem as TeHashX. There is no mysqladmin file

[2018-08-21 23:00] diizzyy opened #6841 "Enable parallel builds by default?"
Since it mainly affects this tree I figured I'd start asking here.

It's 2018 and I think we can in ~95% of all cases assume that parallel builds will work just fine ootb.

Would it be such a bad idea to enable it globally?
Perhaps we can do a testrun on the buildsbots to see how much/what fails?

Also and possibly more important, does anyone have any numbers regarding performance if it's worth th

[2018-08-21 23:51] neheb commented on #6841
Every package in the openwrt repo has it set to 1 or 0 explicitly. I think the same should be done here.

[2018-08-22 05:11] diizzyy commented on #6841
I'm suggesting that we enable it by default (for all packages) and disable by hand, not the other way around.

https://www.freebsd.org/doc/en/books/porters-handbook/building.html
6.5.1. Building Ports in Parallel
Like the above

[2018-08-22 05:14] neheb commented on #6841
Yes I know. I still think every package should specify it in the Makefile.

I have no numbers except to say that make V=s vs. -j 4 is painfully slow on WSL.

[2018-08-22 05:44] diizzyy commented on #6841
Wouldn't it be a better approach to avoid as much as possible in the Makefile?
In that regard, it would be like adding PKG_SOURCE_DIR in each package just for the sake of it.

[2018-08-22 05:47] symgryph commented on #5709
I have this problem too, Where did you patch? I need to get dynamic perl modules working as well.

[2018-08-22 06:25] malakingpusa opened #6843 "nut package"
Maintainer: @cshoredaniel
Environment: (ar71xx, TP-Link Archer C7 v4, OpenWrt 18.06.0)

Description:
Seems there is a race condition which prevents **upsd** from starting.

Below is a portion of the nut-server script:
[code]
If I swap the lines and insert a 10-second delay, **upsd** starts.
[code]
Also, when I try to execute forced shutdown command (**upsdrvctl shutdown**), I get the following err

[2018-08-22 07:16] symgryph opened #6844 "Perl package breaks compile"
Compiling openwrt 18.06.01 with updated package feeds causes:

[code]

Performing a 'perlectomy' in the packages directory fixes the problem, but I rather suspect that this isn't the solution most people want.

[2018-08-22 08:29] cshoredaniel commented on #6843
@malakingpusa Thank you for filing this. Since our discussion on the forum (https://forum.openwrt.org/t/network-ups-tools-nut-on-tplink-archer-c7-v4-using-lede-18-06-0/18610) for others, I've spent some time looking at this.  I have a fix for the hotplug issue in the works but the USB issue is more difficult.  At this point I'm actually thinking the problem is an ar71xx/ath79 kernel-level USB issu

[2018-08-22 08:30] cshoredaniel commented on #6843
I can reproduce the USB issue on my ar71xx/ath79 board but not the Pi.

[2018-08-22 09:00] malakingpusa commented on #6843
Just to confirm, I also have a Raspberry Pi B+ and nut seems to be working perfectly fine even if I have 3 UPSes connected.

[2018-08-22 13:59] ThomasCr commented on #6324
Hi, today I upgraded to OpenWRT 18.06.0:
the same problem - wwan get not up, but is connected.

[code]

But now, I can't use wwan_4 - than interface keeps disabled - HELP

[2018-08-22 14:05] ThomasCr commented on #6324
ok, it was my fault - my tracking params need to updated - now it works.
So it can also be closed.

[2018-08-22 14:05] #6324 closed

[2018-08-22 15:41] pprindeville commented on #6844
I'm going to need more information than this to reproduce.

[2018-08-22 22:34] karlp commented on #6841
I'm with @diizzyy we should be requiring as little as possible in makefiles.  Especially when it comes to things that many package maintainers may have no real idea about.  I'm all in favour of having it become on by default, and require disabling explicitly in packages that don't support it.

[2018-08-23 02:52] symgryph commented on #6844
What info would you like? Happy to send.

[2018-08-23 02:54] symgryph commented on #6844
Here is os info:
Darwin BattleStar.munnster.com 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64

Using openwrt 18.06.01 (git checked out this version). I am attaching my config for your reference.

[config.txt](https://github.com/openwrt/packages/files/2312723/config.txt)

[2018-08-23 03:35] EricLuehrsen commented on #6584
@pprindeville that snippet was is from a paragraph marked as random thoughts... `experimental` is relevant software but lacks quality from responsible custodianship, and some software today in `packages` meets this criteria already. `abandoned` is mostly done but someone may need to re-implement a package, one-off, for a network deployment in an organization with legacy infrastructure dependent on

[2018-08-23 03:45] EricLuehrsen commented on #6584
@pprindeville that snippet was is from a paragraph marked as random thoughts... experimental is not an attribute but rather a good marketing name for a repo. `experimental` is relevant software but lacks quality from responsible custodianship, and some software today in `packages` meets this criteria already. `abandoned` is mostly done but someone may need to re-implement a package, one-off, for a

[2018-08-23 08:31] Andy2244 commented on #6584
Just a side-note, but related to package maintainers.
What i have noticed as a new maintainer, is that getting a package added in the first place can be a really "grindy" process to begin with. I always wondered why so many forks, don't seem to even bother trying to get packages/patches upstream. It took me 7 months to get my package reviewed and finally merged, sure 2-3 months was about usefully

[2018-08-23 08:36] jow- commented on #6584
It would partly help to adopt an "opt-out" approach, means a package may get merged by any committer if
1) it is older than two weeks without feedbacks
2) passes the automatic quality checks
3) has no requested changes or other unaddressed feedback

If a committer requested changes that got addressed and did not respond within two weeks, merge the package.

[2018-08-23 08:43] Andy2244 commented on #6584
@jow- Yes this would help, but if you look closely at #6357 it does not even have a listed reviewer yet, even through some reviewers did comment on it. So the author cant even '@' ping someone to ask politely for a merge. There seems also no FIFO process, so that the author might check some status or list when/if the PR might get processed by someone.
To me it seems that if a new PR is not trivial

[2018-08-23 08:46] jow- commented on #6584
That is why I suggested the opt-out approach. In the end its just that nobody is "brave enough" to actually merge a huge chunk of work. If there is a well defined check list to go by (travis builds, signed-off is correct, no negative feedback for two weeks) it will hopefully encourage maintainers to merge packages earlier.

[2018-08-23 09:09] Andy2244 commented on #6584
Yeah the "packages" and "package universe/community" approach might help, so new packages or none "essential" packages have a place to live. This lowers the need to "hunt" for unofficial external feeds, which are "invisible" for normal users anyway.
Maybe it even encourages external feeds to create more PR? @wongsyrone @tobiaswaldvogel

[2018-08-23 09:11] milankragujevic opened #6849 "openvpn + multiwan + load balancing = ???"
Maintainer: ?
Environment: ramips, TP-Link TL-MR3420v5, OpenWrt snapshot

Description:
I am wondering, if someone can help me, to load balance two WAN connections with mwan3 but also run OpenVPN on each of them so that my IP doesn't change between connections. I have managed to set up mwan3 pretty easily to load balance two connections, and my speed doubled (with two tcp connections of course), bu

[2018-08-23 20:05] diizzyy commented on #6584
Please elaborate why we need to split things for more micro management?
The lack(?) of interest and/or "reluctantless" to actually adopt anything is pretty much the reason why there's no progress.

As far as forks goes,
In short, it's more of a chore than "offloading"/sharing work(loads) in many cases submitting upstream.

[2018-08-23 20:38] jow- commented on #6584
I was bringing up the general trust problem when lowering the entry barrier to submit packages that ultimately end up in the binary repo. At no point was I proposing to micro manage anything.

[2018-08-23 23:56] EricLuehrsen commented on #6584
@jow- sounds good, instead of `packages-experimental` use `packages-universe` such as another popular distro. I just thought about LuCI. Should luci-app-x be placed in `packages-universe` or should there also be `luci-universe` companion repo.

[2018-08-24 03:35] KazukiShimada opened #6857 "wifidog-ng: failed to build"
Maintainer: @zhaojh329
Environment: x86-64, OpenWrt version latest

Description:
When wifidog-ng is enabled, it fails to build as below.
It seems dnamasq-full which is depended by wifidog-ng conflicts with dnsmasq.
Thanks in advance.

-----------------------------------------------------------------------------------------------------------------
Configuring kmod-via-rhine.
Configuring rtty-mbedtl

[2018-08-24 04:56] cshoredaniel commented on #6843
@malakingpusa Thank you for confirming that!.  RL is likely to be taking a big chunk out of my ability to work on this for a week or two, so if you could file a bug about this with https://bugs.openwrt.org (I'd start with the descriptors and emphasize that Pi works but not ar71xx so that it doesn't get sloughed off as a 'nut' issue.

The red flag for me is that there are issues like descriptors th

[2018-08-24 05:43] malakingpusa commented on #6843
Thanks @cshoredaniel . Just added a [task ](https://bugs.openwrt.org/index.php?do=details&task_id=1808&order=dateopened&sort=desc)in OpenWrt bugs.

[2018-08-24 05:51] diizzyy commented on #6584
Let me rephrase,
Why do we need to lower the standard/quality and split into different branches which will lead to more work in then end? Again, documentation and guidelines would solve that issue in most cases. It makes little sense to split since we only have a handful of packages (compared to other distributions) and I would honestly rather see that we address why it doesn't work in the first p

[2018-08-24 05:59] ian700518 commented on #6844
@symgryph Hi~
I got the same problem, may you tell me how do you type 'perlectomy' to fixes this problem?

[2018-08-24 06:25] diizzyy commented on #6584
Because there are no acknowledgements on agreeing on anything...

[2018-08-24 06:36] jow- commented on #6584
I do not understand that? It seems all agree that a set of clear guidelines is whats lacking, so lets write some.

[2018-08-24 06:44] diizzyy commented on #6584
...and exactly what would those be?
The only clear acknowledgement so far as far as I can tell is made here https://github.com/openwrt/packages/issues/6584#issuecomment-408405768

[2018-08-24 07:14] jow- commented on #6584
Well someone needs to sit down and write a RFC proposal for a set of guidelines. Without that, this discussion will not lead to any constructive outcome.

Once there is a list of ten guidelines or similar, they can be discussed and decided upon individually. I don't see that much disagreement here, the main culprit seems to be on how to deal with packages without maintainer.

A "universe" or "stal

[2018-08-24 09:12] Andy2244 commented on #6584
@jow- I like those points, this way most of my package PR would have been already processed, without me campaigning for them.

There is a small extra scenario i like to see addressed, namely package PR that depend on openwrt/base changes/PR. As example #6577 would be a candidate for "universe" yet, since diizzyy has no openwrt write access he could not merge it, so now this PR again is in limbo an

[2018-08-24 09:40] RussianNeuroMancer opened #6858 "kmod-brcm-wl, wl, nas and wlc package is not available in bcm53xx"
Maintainer: @KanjiMonster
Environment:  bcm53xx, Asus RT-AC56U, OpenWrt 18.06.1

Description:

kmod-brcm-wl, wl, nas and wlc package is not available in bcm53xx. If possible, please build this packages for bcm53xx target too.

[2018-08-24 09:41] jow- commented on #6858
It is not possible as we only have access to precompiled MIPS binaries.

[2018-08-24 09:41] #6858 closed

[2018-08-24 11:06] kriskate commented on #6719
Tried on OpenWrt 18.06.0 r7188-b0b5c64c22 / LuCI openwrt-18.06 branch (git-18.210.69179-6df9a57)

The adblock package does not show in any of the package lists

[2018-08-24 13:00] mariarti opened #6860 "emailrelay: Main::Run::run: local domainname/hostname error: no such host"
emailrelay 	1.9-4

Maintainer: https://github.com/openwrt/packages/tree/master/mail/emailrelay
Environment:
 mipsel_74kc
asus rt-n16
LEDE Reboot 17.01.4 r3560-79f57e422d

Description:
[code]
After some attempts to run in manual mode, I figured out that emailrelay starts to work only after starting/ed dnsmasq daemon.
I tried to set lowest priority START=99 in /etc/init.d/emailrelay conf file, but n

[2018-08-24 14:27] RussianNeuroMancer commented on #6858
@jow- It's impossible to use binaries from asuswrt image builder published by ASUS?

[2018-08-24 14:38] jow- commented on #6858
Yes, unfortunately this is not possible. These binaries require specific, immutable kernel abis.

[2018-08-24 16:44] #6849 closed

[2018-08-24 16:45] dibdot commented on #6860
Please always inform the maintainer: @fededim

[2018-08-24 16:57] jpolnetpl opened #6861 "ddns-scripts: ip_source "network" and "interface" don't work anymore"
Maintainer: @chris5560
Environment: ramips, mir3g, OpenWrt SNAPSHOT r7894-6c227e4, ddns-scripts 2.7.8-2

Description:
After OpenWrt snapshot upgrade from r7493-b123921 to r7894-6c227e4 and installation of current ddns-scripts (2.7.8-2) I had to switch 'option.ip_source' from "network" (which worked for me previously) to "web" to be able to use dynamic DNS.

I believe the error was introduced in co

[2018-08-24 17:37] poranje commented on #6584
However much I sympatice with the idea, acceptance/merges just happening due to a passage of some period is certain to create havoc, e.g. in terms of security. If I were intend on getting a foot in the door (of others' networks), this would certainly be a vector.

[2018-08-24 17:48] Andy2244 commented on #6584
@poranje Why?
We still talk about a human review process and someone with write access that does the final merge, if all conditions are met. The most notable thing that would change, is that if all is ready to-go and the time has passed, it can get merged by anyone. This removes the need to babysit a PR and hopefully ensures that a PR is either merged or rejected again for some reason.
Just check

[2018-08-24 18:30] emotile commented on #6844
And /Volumes/OpenWrt/openwrt/build_dir/hostpkg/perl/perl-5.28.0/config.sh contains an instruction that compiles perl statically.

[2018-08-24 18:55] pprindeville commented on #6584
@diizzyy I don't see it as micro management so much as it's calling out the packages that require at-large maintenance and don't really have package owners.

[2018-08-24 22:09] karlp commented on #6584
@neheb don't overlook that new versions merrily introduce new vulnerabilities and bugs too.  The bleeding edge has that name for a reason.

[2018-08-25 02:44] patrakov commented on #6744
The fix is wrong. The right fix is to disable the check, and here is why.

Let's start with a fresh LEDE 17.01.4.

[code]

You see - there is no way to install curl without SSL support.

Let's test it in the same way as ddns-scripts do:

[code]

So - fresh curl does claim to support https. Of course it does not work:

[code]

So, please: remove the pointless $CURL_SSL check, and add the dependency

[2018-08-25 02:47] wjohnson-metroland opened #6863 "shorewall: busybox find with "newer" required"
Minor issue but please note that if you are building the latest version of ShoreWall 5.2.0.5 on OpenWRT you must configure BusyBox "find" binary with the "newer" feature enabled.

Default is:

[code]

Note the default set to "n".

Ensure you switch it to "y" otherwise your firewall rules will not load properly which may lead to bricking, etc. I had enough space to enable all find features but i be

[2018-08-25 09:03] diizzyy commented on #6863
Compare difference in size and submit a patch upstream (OpenWrt) including that information unless there's a huge difference in size.

[2018-08-25 13:06] cshoredaniel commented on #6744
On 2018-08-24 10:45 PM, Alexander E. Patrakov wrote:

Actually it's right because curl can be built without SSL support (it's
not the default build option, but it is a supported self-build option).

We don't do that in ddns-script because SSL support is optional.  For
curl the issue is that curl users may want to use only their own CA and
not ca-bundle.  So NAK from me.

Regards,

Daniel

[2018-08-25 13:45] b-h-l-c commented on #6861
I'm having this same issue as well

[2018-08-25 14:38] poranje commented on #6584
Op 24 aug. 2018, om 19:49 heeft Andy Walsh <notifications@github.com> het volgende geschreven:

Probably I have misread what you argued.
Still, a trade-off between requirements for merging and security exists and it is paramount that the "official" package repo can be trusted to a certain level. If possible changes to attract more maintainers improves the trustworthiness of the packages repo and c

[2018-08-25 15:22] rasa opened #6865 "Adblock: Disable yoyo as it now blocks Google analytics, etc."
https://github.com/openwrt/packages/blob/0194bf7d07563d707d3669d4970badb4f790850f/net/adblock/files/adblock.conf#L199

[2018-08-25 16:53] cshoredaniel commented on #6843
Posted to the task:  Looks like a procd complication rather than kernel.

[2018-08-25 17:01] dibdot commented on #6865
Huh? That's the main purpose of adblock to block one of the main ad/tracking sites in the net ...

[2018-08-25 17:01] #6865 closed

[2018-08-25 17:12] cshoredaniel commented on #6584
I wonder if we should consider current packages as -universe (since that's largely what already is) and maybe have a new repo (packages-standard or packages-coreplus or packages-curated) or something that indicates that is closer to core strictness and nitpickiness and/or explicit active maintainer care (would still need e.g. 3 month rule on maintainership) where it's expected the maintainer has t

[2018-08-25 18:30] cshoredaniel commented on #6843
Ok, testing upsdrvctl independently of the initscripts shows that the issue with NUT itself.  Playing duckduckgo.com for the error messages that show up, it appears that it's either a libusb-compat issue (i.e. the fact NUT is still using ancient libusb 0.1 stuff) or interaction with the init system.  Either way I'm going to look the Debian patches as there appears to be some dealing with this for

[2018-08-25 18:49] axet opened #6867 "miniupnpd security issue"
Maintainer: @ldir-EDB0

Hello! By default miniupnpd listening for 'lan' interface. But for routers configured to use IPv6 it can be a security issue to allow guests from IPv6 help us setup our port mapping.

Seems like default config has perm_rule with int_addr '0.0.0.0/0', restricting this mask to local network will help to prevent guests to change local port mapping, but it keep 5000 port open t

[2018-08-25 19:03] dibdot commented on #6861
@jpolnetpl @b-h-l-c Could you please test the referenced pull request? Personally I don't use ddns-scripts, therefore I need your test support/efforts. Thanks!

[2018-08-25 20:17] #6867 closed

[2018-08-25 23:09] pprindeville commented on #6844
@symgryph I just built `openwrt-18.06` (also for `x86_64/generic`) and didn't have any problems.

I also note that the `.config` file that you've linked ends with:

[code]

so I'm confused that you're building it at all.

Also, `packages` is not tagged, so I'm not sure how you're matching that to base.

What happens when you build `openwrt-18.06/MASTER` against `packages`?

[2018-08-25 23:44] b-h-l-c commented on #6861
@dibdot Other than some difficulty reverting the "IP address source" back to "Network" from "URL" in the UI that required changing through the CLI to actually save, the errors have gone away and IP updates are going through as expected using those edits. Thanks!

[2018-08-25 23:59] pprindeville commented on #6584
@jow- New package submissions that fulfill the package criteria in 1), are properly signed off and pass the automatic build tests may be merged by any committer

That seems too easy.  I think we need some sort of quorum (or at least a threshold of _N_ people for _N_ >= 3) so that a single wild hare doesn't end up taking OpenWrt off in some random direction that the rest of us aren't in agreement w

[2018-08-26 00:06] pprindeville commented on #6584
@Andy2244 Because we typically review the packaging, i.e. the `Makefile`, `patches/`, and `files/`, etc. We typically **don't** look at the contents of the tarball itself.

What happens if it's a well-known package, but it's not coming from the official repository or download server, but is instead a modified set of sources?

[2018-08-26 00:11] cshoredaniel commented on #6843
Ok, testing upsdrvctl independently of the initscripts shows that the issue with NUT itself.  Playing duckduckgo.com for the error messages that show up, it appears that it's either a libusb-compat issue (i.e. the fact NUT is still using ancient libusb 0.1 stuff) or interaction with the init system.

[2018-08-26 00:26] cshoredaniel commented on #6584
@neheb That's because you and @diizzyy  happy with packages as -universe (as it basically currently is) - some folks want more stable and curated packages, and you can't keep both sets happy with the same set of rules.  I think @chris5560 got fed up with the impatience and lack of QA, and there are probably others like @thess who I'm guessing would like a more solid packages feed than -universe fe

[2018-08-26 00:36] cshoredaniel commented on #6584
@diizzyy I'm not talking about splitting, but staring fresh with a whole new (much smaller) repo for those who want a more stringent feed with more emphasis on individual maintainers, who work at a slower pace than seems to be wanted by the bleeding edge -universe repo we have.  I'm thinking of the current packages kind of like a a cross between -universe and debian's -testing or -unstable, and th

[2018-08-26 00:39] diizzyy commented on #6584
Exactly what does that mean? http://howfuckedismydistro.com/debian/ ? :-)
We have the release branch which kinda serves that purpose however doesn't seem to get much love by maintainers at all as far as I can tell by looking at the commit history. I'm mostly concerned about who's going to do the actual work...

[2018-08-26 00:42] cshoredaniel commented on #6584
@diizzyy the release branch seems to me to be views as set in stone except for extremely important fixes (which is a little different than having a slow-moving and stable but still getting new stuff, and more bug fixes than say debian -stable feed).

[2018-08-26 00:44] cshoredaniel commented on #6584
@diizzyy I'd rather use Debian for a server than say Arch....just sayin...

[2018-08-26 00:46] pprindeville commented on #6584
@cshoredaniel We'd need a dependency graph so that nothing in the stringent repo required anything that wasn't...  Just like for base.

[2018-08-26 00:47] cshoredaniel commented on #6584
@pprindeville Yes, that would be a requirement of the new repo is that it would only depend on core and itself.

[2018-08-26 00:48] pprindeville commented on #6584
All of this is starting to sound like CentOS vs. EPEL...

[2018-08-26 00:51] diizzyy commented on #6584
@cshoredaniel
I've used FreeBSD for many years without any issues which is one package repo unless you go for the quarterly branches ( https://wiki.freebsd.org/Ports/QuarterlyBranch ) which has worked just fine but anyway, how is all this work going to happen?

[2018-08-26 02:04] diizzyy commented on #6584
The package repo has pretty much no security/vuln awareness at all and most packages that we've touched have been very outdated. Are you suggesting that it's a better course of action to not upstream to the repo and happily ignore those issues? We're fully aware that new releases may introduce new regressions but seeing that there's no secteam (which Debian etc has) so the best course is to follow

[2018-08-26 03:44] rasa commented on #6865
Understood, but it's blocking analytics.google.com, which is the admin backend, not the googleadservices.com tracking site.

[2018-08-26 03:55] neheb commented on #6584
+1. AFAIK I'm the only one that has added PKG_CPE_ID to this repo. Every applicable package in the main repo has it but the other feeds do not.

Not to mention uscan currently lists 42 CVEs.

[2018-08-26 04:16] nouman8 opened #6871 "nfs broken after switch to libtirpc"
im getting timed out error when i try to mount nfs share
on client running rpcinfo gives
`rpcinfo -p 192.168.1.1
192.168.1.1: RPC: Remote system error - Connection refused.`
while on router eveything seems ok.
`root@OpenWrt:~# cat /etc/exports `
`/mnt	*(rw,async)`
`root@OpenWrt:~# /etc/init.d/nfsd restart`
`exportfs: /etc/exports [1]: Neither 'subtree_check' or 'no_subtree_check' specified for` `e

[2018-08-26 04:26] cshoredaniel commented on #6843
Reported upstream https://github.com/networkupstools/nut/issues/602 and am working on a fix.

[2018-08-26 04:32] cshoredaniel commented on #6584
That's part of my point, really.  The repo is too big and most people aren't interested in with tons of packages that don't know.  That *why* I suggest a 'curated' (smaller) repo and this one that folks (like you) who are interested in doing treewide updates and such on packages that are released to the wild for testing, rather than through much (if any) personal QA first, can take care of.  For t

[2018-08-26 06:00] #4357 closed

[2018-08-26 08:00] luizluca commented on #6584
Something to add to the "commit instructions checklist" as a suggestion if missing.

Please, don't slit packages. Don't do the oldpackages->packages once more.

openwrt/packages has, by conception, more flexible security constraints. Just check the number of committers. If a user is really concern about outdated packages and malicious commits, openwrt/packages should be used with care (or simply s

[2018-08-26 09:30] diizzyy commented on #6841
Hmm.... Does anyone know where we could get a good data source?
I'm thinking of Archlinux and/or Alpine Linux which is very similar to OpenWrt in terms of software (toolchain) however I can't figure out how to clone the aur repo?
https://wiki.archlinux.org/index.php/makepkg#Parallel_compilation
https://wiki.alpinelinux.org/wiki/Creating_an_Alpine_package#Make_options

[2018-08-26 09:56] zhaojh329 commented on #6857
You need to deselect dnsmasq.

[2018-08-26 16:21] pprindeville commented on #6841
Any packages using Cmake or autotools should have inherently parallel safe buildability.

[2018-08-26 18:31] mommmomm opened #6883 "socat crashes on execution - socat_1.7.3.2-2_powerpc_8540 Assertion failed opt_crdly.arg3"
Maintainer: @lynxis @sdwalker
Environment: mpc85xx (socat_1.7.3.2-2_powerpc_8540 and socat_1.7.3.1-1_powerpc_8540) on LEDE 17.01.5, r3919-38e704be71 (TP-Link 4900)

Description:
Socat powerpc_8540 crashes immediatly on execution:
[code]

Google says, a similar bug might have existed earlier, having something to do with missing variables during build that lead to a successful build, but a defunct b

[2018-08-26 18:44] avrhack commented on #6844
I have exactly this issue too on macOS and CONFIG_PACKAGE_perl is not set but it still comes up with this error. Clearly something is broken in the build settings.

[2018-08-26 20:04] cshoredaniel commented on #6841
I think you might want to ping @jow- .  I seem to recall that at one time it *was* enabled by default and that got disabled due to too many random and hard to debug breakages in the packages feed.  I think 2-3 years ago it was deemed more trouble than benefit.

[2018-08-26 20:06] cshoredaniel commented on #6841
@jow- is most relevant, and probably @hauke as they take care of most of the making sure OpenWrt is releasable which means dealing with fallout from broken things.

[2018-08-26 20:09] cshoredaniel commented on #6841
@diizzyy The other consideration is: for a build of bunches of packages at once how is it really going to speed things up?  If you're running with -jX you're already using all your cores, just with different packages building at once instead of individual packages using multiple cores. I'll bet buildbots are not only using one core and building a single package at a time.

[2018-08-26 20:40] cshoredaniel commented on #6844
@pprindeville This can happen if there is a host build dependency on Perl but not a DEPENDS.

[2018-08-26 22:54] cshoredaniel commented on #6843
@malakingpusa Some news!

1. ``upsdrvctl shutdown`` is intended to be run once all NUT daemon have stopped, as part of the final forced shutdown, so the docs indicating using it for testing are a little misleading.  You *can* use it for testing, but in order to have a valid config in OpenWrt you need to create the UCI config, start the nut-srever initscript, then stop it...then you can use upsdrvc

[2018-08-26 23:27] cshoredaniel commented on #6584
Since the notion of a smaller 'curated' repo is unpopular, how about, in keeping with what @jow- said in terms of not splitting things, a new menuconfig section and tag e.g. PKG_APPROVAL:=maintainer or something like that that indicates that changes to the packages *require* maintainer approval (with reasonable guidelines about what constitutes 'active' so that if a maintainer disappears that pack

[2018-08-26 23:32] cshoredaniel commented on #6584
Oh, and can we *please* define a process for dropping packages: like getting however runs uscan to actually submit issues about CVE's not just list them in uscan (for which I can never remember URL anyway).  Also uscan should have a feedback mechanism so that if the CVE is not relevant in the OpenWrt package this can be noted (for example occurs in combination with Mozilla NSS but NSS isn't even i

[2018-08-27 01:42] cshoredaniel commented on #6843
@malakingpusa Hopefully I get it right, but with what I'm working on really all you may need to do is set the variables on the UPSes for battery level, and things ought to 'Just Work' :-)
I'm adding a test to the driver shutdown for the presence of the POWERDOWNFLAG (actually hard-coding ``/etc/killpower`` and will document that if one wants something else to edit the nut-driver initscript that is

[2018-08-27 03:51] pprindeville commented on #6844
What would that look like?

[2018-08-27 05:06] cshoredaniel commented on #6844
I think either HOST_BUILD_DEPENDS:= or maybe HOST_DEPENDS:= ... not sure if BUILD_DEPENDS:= could be a factor too

[2018-08-27 05:08] cshoredaniel commented on #6844
[code]

[2018-08-27 05:09] cshoredaniel commented on #6844
[code]

That's just the 'net' dir

[2018-08-27 05:12] cshoredaniel commented on #6844
so net doesn't seem to have that problem for perl....let's see what does...

Hmmm.... so far only things in perl dir (unless you count stuff in base that has conditional dependencies on Perl for if you build with extra features).

Doesn't look like there's anything in the packages repo that fits the bill....wonder if Freeswitch in telephony is one of them.

[2018-08-27 05:18] cshoredaniel commented on #6844
xtables-addons has some kind of perl dependency if you look at ``tmp/.packagedeps``

[2018-08-27 05:25] cshoredaniel commented on #6844
Upshot; you can't depend on CONFIG_perl and friends to know if you need to do something or not.

[2018-08-27 07:29] #6861 closed

[2018-08-27 07:40] Andy2244 commented on #6871
Need to setup nfs myself first, but can you try without firewall enabled, just to-be sure.

[2018-08-27 08:03] diizzyy commented on #6883
Can you please try 18.X or master instead?

[2018-08-27 09:26] poranje commented on #6584
Very interesting what @luizluca proposes. Following up on that, another idea.

As already stated by @diizzyy, OpenWrt by lack of a security team, often has no much better choice than to follow upstream, also because presumably the contents of upstream sources are mostly, if ever, checked for malicious code. Would tapping onto the acceptance of updates by renowned distributions like Debian or Redha

[2018-08-27 10:41] nouman8 commented on #6871
following is the output of rpcinfo on router and i didn't compile with firewall either.
program version netid     address                service    owner
    100000    4    local     /var/run/rpcbind.sock  -          superuser
    100000    3    local     /var/run/rpcbind.sock  -          superuser
    100003    3    tcp       0.0.0.0.8.1            -          superuser
    100021    1    udp

[2018-08-27 10:49] nouman8 commented on #6871
the following link is the .config file from my openwrt build folder maybe im missing some package [https://pastebin.com/UwrYZg9L](url)

[2018-08-27 10:57] Andy2244 commented on #6871
Can you paste the output of `cat /etc/services`?

[2018-08-27 11:00] nouman8 commented on #6871
output of cat /etc/services.
https://pastebin.com/6CwWW6bq

[2018-08-27 11:12] Andy2244 commented on #6871
try change those lines to:
[code]

[2018-08-27 11:46] KazukiShimada commented on #6857
OK

[2018-08-27 11:46] #6857 closed

[2018-08-27 11:48] nouman8 commented on #6871
already restarted rpcbind multiple times but no luck + i have unchecked multiple packages in the configuration file posted above like ipv6,firewall lots of other,maybe some necessary configuration was unchecked while trimming down...plz have a look at config file.

[2018-08-27 11:55] Andy2244 commented on #6871
Did you edit the `/etc/services` file on the router as described above? I might have forgotten this manual change and it slipped through the PR.

There should be entries for port 111 on the router, yet i don't see any.
[code]

[2018-08-27 12:01] karlp commented on #6584
@cshoredaniel can we please not automatically label things based on arbitrary existance of magical "CVEs" ? They're not bulletproof, and they're not all fatal flaws, and sometimes they're not even valid.  Having the filed CVE information available is nice, but auto hiding or worse, removing packages based on them seems wildly authoritarian.

[2018-08-27 12:03] nouman8 commented on #6871
i just edited that file.. now output of rpcinfo -p is same as you posted above
program vers proto   port  service
    100000    4   tcp    111
    100000    3   tcp    111
    100000    2   tcp    111
    100000    4   udp    111
    100000    3   udp    111
    100000    2   udp    111

[2018-08-27 12:08] nouman8 commented on #6871
i can now mount nfs share successfully after editing that file as you told.

[2018-08-27 12:11] Andy2244 commented on #6871
Ah glad this worked, seems rpcinfo is using the alias, instead of hard-coding the port. I had this change on my test system, but seems i forget to add this to the PR. 😞

[2018-08-27 12:11] nouman8 commented on #6871
Thanks a lot . been searching solution of it for the past few days.

[2018-08-27 13:27] cshoredaniel commented on #6584
@karlp hence my comments about ways to address the uscan 'CVE' notation.  I didn't mean no human intervention hiding, I meant that the CVE's should result in say an 'issue' to be examined, and if the CVE is valid the package is marked @BROKEN by human.  Sorry if that wasn't clear.

[2018-08-27 15:01] benteam10 commented on #6494
Compiled for 4.2.6 fine for ar71xx and 4.3 for ar71xx tplink archer c7 V2, and Cortex a9 Linksys WRT3200ACM works like a charm.

https://1drv.ms/u/s!Ar_ONyLrmjE06zzKPkoHGdxQzLRk
https://1drv.ms/u/s!Ar_ONyLrmjE06zvaWyMIpJeh-Y72

if you guys have problems compiling it and making this available let me know i can share you how to cross compile it and avoid all problems

[2018-08-27 15:33] erotavlas85 commented on #6494
Hi,
it would be very useful a brief guide about how to cross compile for lantiq xrx200 for bt homehub v5a.
Thank you

[2018-08-27 19:13] tripolar commented on #6871
i don't want to be unpolite but this is not the rpcbind bugtracker. and it's no bug - here is the commit that changed this ( http://git.linux-nfs.org/?p=steved/rpcbind.git;a=commit;h=2e9c289246c647e25649914bdb0d9400c66f486e ) and only allows localhost connections if it's not enabled explicitly with --enable-rmtcalls at configure time (i think this shouldn't be enabled)

[2018-08-27 19:13] #6871 closed

[2018-08-27 20:03] benteam10 commented on #6494
Cross compile tvheadend for Openwer 18

this guide is based in my knowledge and my own practices doing this, if you know a better way to cross-compile for opwenwrt let me know.

Everything is done in UBUNTU 18 however is the exact same if you do it in UBUNTU 16 or Debian 9.5 .

    1. Install the openwrt buildroot
       https://wiki.openwrt.org/doc/howto/buildroot.exigence

    2. Once the buildr

[2018-08-27 21:06] cshoredaniel commented on #6584
I want to apologize for my attempt to guess other people's opinions based on past statements.  It's a bad habit of mine that I'm trying to rectify.  It's not much of a defence but it was more by way of trying to encourage said individual to express their actual opinion, even if it didn't come across that way.

[2018-08-27 21:36] diizzyy opened #6890 "nfs-kernel-server: libbsd dependency"
@tripolar @Andy2244

nfs-kernel-server pulls in libbsd if it's available during compilation resulting in dependency failure...

Package nfs-kernel-server is missing dependencies for the following libraries:
libbsd.so.0

http://git.linux-nfs.org/?p=steved/nfs-utils.git;a=blob;f=configure.ac;h=276dec3fd82a153e048da12377bc617c068f04cc;hb=0b2284d39c1829a4673672c6a89c413c6f4e0f32#l349

[2018-08-28 01:56] alexander154 opened #6893 "Problem with php7-mod-mysqli package"
Hi!

My OpenWRT device is:

[code]

I have installed next packages:

When I run a test script, it show me next:

[code]

[2018-08-28 02:57] malakingpusa commented on #6843
@cshoredaniel okay will wait for the fix then. Appreciate the effort you put into this so far to help.

[2018-08-28 04:43] cshoredaniel commented on #6745
Ok, so flattening doesn't look like worth the effort, and I've realized that retagging for the sake of doing so isn't really worth the effort of contacting maintainers, pushing PR's, etc, etc especially since it'd be a lot of them.

[2018-08-28 04:43] #6745 closed

[2018-08-28 10:53] mhei commented on #6893
Yeah, already noticed this problem, but did not yet manage to free a time slot to code a proper fix and test the result :-)

[2018-08-28 13:49] thess commented on #6754
Added WebDAV storage to both configs - increases package size by 5K.
Ref: https://github.com/openwrt/packages/commit/864fd2bfee14d4decf8c1db03380a3d7aa080f15

[2018-08-28 13:49] #6754 closed

[2018-08-28 21:35] cshoredaniel commented on #6843
@malakingpusa push PR #6897 which once Travis behaves ought to solve all the issues.  This involves too many changes to backport to 18.06 series I think so I have to figure out what is essential for 18.06 (probably just the nutshutdown script and related changes).

[2018-08-28 22:30] mommmomm commented on #6883
It will take a while until I can get the device offline for a complete dist upgrade (and I tried the most current package of socat from 18.x with no different result, see above). Unfortunately, the device is in active use with some work spent on configuration - testing a regular package was worth the risk (backups exists), but voluntarily killing it is another story. I wont be able to do this with

[2018-08-29 12:14] lucize opened #6905 "nginx failure with ipv6 disabled"
@Ansuel
compiled a x86 target with nginx-luci support, but disabled ipv6 globally, the service will fail with
`nginx: [emerg] socket() [::]:80 failed (97: Address family not supported by protocol)`
I see in default config  `listen [::]:80 default_server;` is there a way to prevent this if ipv6 is not selected ?
do we need ipv6 support by default ?

[2018-08-29 17:57] lucize commented on #4333
@ardrabczyk I encounter the same problem on some CF card system, raising the `START=70` should fix the problem, followed by
[code]
you should have  `S70postfix` in  `/etc/rc.d/`

anyhow I'll make a PR

[2018-08-29 18:10] Shulyaka commented on #4333
Do you have a clue why it makes a difference? Just a time delay, or you have an important service between 50 and 70 that might cause such behavior?

[2018-08-29 18:18] lucize commented on #4333
@Shulyaka my actual test system has a slow CF card, and is a single core sempron, maybe the devices initialize slower than usual

[2018-08-29 21:08] thess commented on #6883
I believe the problem is related to the TERMIOS definitions for powerpc, sparc and alpha kernels which are different that all others. The good news is I believe a fix can be done in the socat builds and backported to 17.01.5. The bad news is I have no way of testing the fix since I have no ppc systems available.

[2018-08-30 00:32] gaia commented on #2429
I'm using 18.06.1 and after installing mwan3 IPv6 (via HE) stops working on the router and on the clients.

Enabling wan6 in `Switch` (on LuCI) enables IPv6 on the router but still not on the clients, even after a network restart by the client.

I would like to at least be able to install mwan3 and have it co-exist with the 6in4 tunnel even when another LAN is not available.

So my question is: @d

[2018-08-30 01:14] cshoredaniel opened #6912 "tree-wide: Travis failing possibly on zlib"
For various packages Travis has been failing long before getting to the actual package.  From the logs I looked it, they all seem to fail on zlib compilation, and that seems to be the only common component (unless I missed something like gettext or such earlier in the build).
Can this be rectified and the affected PR's get rebuilt so they can be merged?

[2018-08-30 01:39] cshoredaniel commented on #6912
Actually it's working now...and found out how to kick of a new buld...close & reopen PR.

[2018-08-30 01:39] #6912 closed

[2018-08-30 05:56] malakingpusa commented on #6843
@cshoredaniel Let me check both commits and test. Thanks.

[2018-08-30 08:26] cshoredaniel commented on #6843
@malakingpusa Great!  It's always good to have a second pair of eyes.  Let me know once you've had a chance to test.

[2018-08-30 13:33] Grassboy opened #6914 "swig: how to build the .ipk file of swig?"
Maintainer: @nxhack
Environment:  CHAOS CALMER (15.05.1, r48749) in MediaTek LinkIt MT7688

Description:
I am trying to run swig in my MT7688 board...
But I don't know if there is a swig.ipk package file.
So... Can you give me some advise for cross-compileing swig's source code in Ubuntu?
Thankyou!!

[2018-08-30 16:58] #6843 closed

[2018-08-30 16:59] lucize opened #6915 "perl modules dependencies"
@pprindeville as I see you are doing active work on Perl, can you help me understand if I'm doing something wrong ?

I would like to add some perl modules in hope I can add spamassassin or amavisd-new but some modules have dependencies on others
an (non fatal build) example:

Net::DNS

`Warning: prerequisite Digest::HMAC 1.03 not found.`

I have previously build the Digest::HMAC and added the host

[2018-08-30 18:59] thess commented on #6883
Check out PR #6917. I will push this to master, 18.06 and 17.01 shortly if you cannot directly test the fix from the PR. You will have to wait for buildbots to catch up.

[2018-08-30 20:05] mommmomm commented on #6883
That was quicker than expected, thank you! I´ll test it immediatly as soon as I´m back from my business trip (~2 weeks from now).

[2018-08-30 23:47] nxhack commented on #6914
Hi @Grassboy

CC is no longer supported.

If you are interested, please look at the wiki pge that I am working on.
https://github.com/nxhack/openwrt-node-packages/wiki

[2018-08-31 09:18] jimt opened #6918 "packages: Update README Buildroot-Installation links?"
The README.md file still contains links to the old wiki.

Should it be updated?

|Text           | old  | new |
|---------------|------|-------|
|OpenWrt SDK | http://wiki.openwrt.org/doc/howto/obtain.firmware.sdk | https://openwrt.org/docs/guide-developer/obtain.firmware.sdk |
|OpenWrt Buildroot – Installation| http://wiki.openwrt.org/doc/howto/buildroot.exigence | https://openwrt.org/docs/guide-

[2018-08-31 19:10] thess commented on #6918
Done via https://github.com/openwrt/packages/commit/160bf84ab96e85c3e8b3997ebb08e801a8124e0a
Thanks.

[2018-08-31 19:10] #6918 closed

[2018-09-01 04:33] Dimazhan commented on #5630
Hi!

I tested usbip with eudev, it works.
my patch:
[libudev-eudev.patch.gz](https://github.com/openwrt/packages/files/2342075/libudev-eudev.patch.gz)
I tested for ar71xx (TL-MR3020), openwrt-18.06, kernel 4.9

[2018-09-01 17:58] symgryph commented on #6844
Dumb question: How do I fix? I am trying 'master' now to see. I am relatively new to openwrt. I would even make a 'faq' on how to 'fix' perl problems!

[2018-09-01 19:26] thess commented on #6831
Updated to 1.14.2 and added the RDS and CED components.
Ref: https://github.com/openwrt/packages/commit/b2b44c9f3e673a23868eea62bd10816d6746ff33

[2018-09-01 19:26] #6831 closed

[2018-09-01 20:47] symgryph commented on #6844
I did find a less permanaent option that seems to make openwrt compile, just go in to package/feeds/packages/xtables-addons edit the makefile and remove the -depends perl stuff. Seems to compile, still doesn't fix the perl things though!

[2018-09-02 06:11] zedinosaur opened #6925 "unbound: using DNS-over-TLS, ssl handshakes fail after a few days"
Maintainer: @EricLuehrsen
Environment: Linksys WRT1900ACSv1, mvebu arch, OpenWrt version: 18.06.1

Description:
I've configured unbound to use DNS-over-TLS for forwarding. Usually after the router has been up for a few days it starts failing to resolve, apparently failing the ssl handshake. Restarting it immediately solves the problem but it returns again after a few days.

log messages
[code]

un

[2018-09-02 19:46] #6893 closed

[2018-09-02 21:35] pprindeville commented on #6382
@dedeckeh What would the equivalent change look like to parallel FS #1542?

You gated:

[code]

based on `$BOOT=` but I don't have an equivalent iterator.

[2018-09-03 00:44] c-MM commented on #5630
Thanks a lot for your patch. I got usbip working with it on 18.06.1 ar71xx-generic for an Tplink wdr4300 using the SDK to recompile the packages. It would be nice if openwrt would find a way to make it work again on the original images.