[2020-08-04 09:20] feckert commented on #12836
There are two issue open on [bugs.openwrt.org](https://bugs.openwrt.org/?string=iputils)
https://bugs.openwrt.org/index.php?do=details&task_id=1486&string=iputils
https://bugs.openwrt.org/index.php?do=details&task_id=2724&string=iputils
But they are mutually exclusive!
I can only say that if I take the busybox version then mwan3 tracking works.

[2020-08-04 09:23] BKPepe commented on #12836
Ok. I will try locally the version from master on OpenWrt 19.07 and if it is going well, I will send it to openwrt-devel mailing list.

[2020-08-04 09:47] BKPepe commented on #12977
Code owners are helpful, but not if there is a growing lack of package maintainers (talking about https://github.com/openwrt/packages/issues/6584) and mostly about this issue https://github.com/openwrt/packages/issues/7125 (see those mentions as well). In the past, the most active merger was @hnyman kudos for him and these days is @neheb. Sometimes there are others including me. It was tough to re

[2020-08-04 10:45] jike212 commented on #4802
FYI, I believe I had the same issue with my setup and I've been searching for AGES for a fix. Randomly DHCP addresses wouldn't be assigned, it would feel like the router was locked up or frozen despite having 30%+ memory available, etc. It would also show our primary WAN connection as constantly down and even rebooting the modem would only show the primary WAN as up for a few minutes and then it w

[2020-08-04 12:05] feckert opened #13016 "python-pynacl: compilation failed"
Maintainer: @jmarcet or @jefferyto
Environment: x86_64, APU3, openwrt master latest commit

Description:
I get the following output if I want to compile docker-compose.
It does work a view weeks ago, but suddenly after updateing the package feed I got the follwoing compil error.
I am not a python god and do not know what the problem is now!
I haven't read into the whole python build system of open

[2020-08-04 12:07] feckert commented on #13016
The only thing I have changed to upstream is, that I have applied my [patch](https://github.com/openwrt/packages/pull/13012) to move the pip-cache to tmp.

[2020-08-04 12:30] pevik commented on #12836
@BKPepe please if something is not working in [iputils s20190709](https://github.com/iputils/iputils/releases/tag/s20190709) (the latest iputils release), please let me know. I also plan to release new iputils version this week, thus testing on iputils master would be great.

[2020-08-04 13:23] commodo commented on #13016
I updated `python3-cffi` recently to 1.4.1
Will check with that.

[2020-08-04 13:24] brianjmurrell commented on #13003
FWIW, the luci page for mwan3 rules doesn't have a family option.

But surely the family can be detected by the address/mask, etc. when it does need to be applied to one of `iptables` or `ip6tables`.

[2020-08-04 13:41] commodo commented on #13016
wait; that shouldn't matter; i updated cffi to 1.14.1 recently; but that's on the target-side;
this looks host-side;

[2020-08-04 13:50] feckert commented on #13003
@brianjmurrell Please try my staged [P/R](https://github.com/TDT-AG/luci/commits/pr/20200804-luci-app-mwan3) for family selection on rules.

If we use it this way we have to change the destination address and the source address so that depending on the family the correct help text or input check is performed.

[2020-08-04 13:55] commodo commented on #13016
so, this patch in libsodium seems to have broken things here:  https://github.com/openwrt/packages/commit/3ef28a4ab0cb60877c4ec68f5ba8c276021a1ab6
removing that patch helps;
@dangowrt   @jmarcet   @damianorenfer   ideas?

we can probably patch this into PyNaCl, but I wouldn't enforce a solution;
if possible i would let people discuss on this;

[2020-08-04 14:05] feckert commented on #13003
So that we can implement this correctly in the luci I would suggest that we also need to extend mwan3 so that we have [src_ip/src_ip6 ](https://github.com/openwrt/packages/blob/master/net/mwan3/files/lib/mwan3/mwan3.sh#L874)or [dest_ip/dest_ip6](https://github.com/openwrt/packages/blob/master/net/mwan3/files/lib/mwan3/mwan3.sh#L878).

@aaronjg What's your opinion?
Up to now all IPv6 did not work a

[2020-08-04 14:32] flyn-org opened #13019 "gcc: compiler seems incompatible with linker provided by binutils"
Maintainer: @noblepepper
Environment: x86_64 master

Description:
I use the gcc package to compile C code on my OpenWrt installation. Something has broken the toolchain. I receive errors such as these when I compile:
[code]
I was able to overcome this problem by updating binutils. I copied the version information and patches for binutils 2.32 from toolchain/binutils/ into package/devel/binutils/,

[2020-08-04 16:02] aaronjg commented on #13003
If you are doing a new version of the luci package, we should also add the source interface option. I had this staged on my local branch. I should have made a P/R earlier ... https://github.com/openwrt/luci/commit/ba91b5ea7c443b6099808a380533cc1111c9957f

I think it would be better to keep the mwan3 config simpler and not add additional options if possible. Why does luci need to have separate fiel

[2020-08-04 18:14] jamesmacwhite commented on #13003
@brianjmurrell Ah good point, I personally didn't think about LuCI really. My bad.

If it helps, here's an exampleof IPv6 rules as shown by LuCI. I would have set them by by editing the mwan3 config directly, but really the only missing piece is the family option, this is how LuCI parses them:

![image](https://user-images.githubusercontent.com/8067792/89329166-5c41cf80-d686-11ea-894c-df0db61beec3

[2020-08-04 19:22] illiliti commented on #10133
#12844 will fix this bug

[2020-08-04 21:08] jefferyto commented on #13016
I _think_ patching out all of the stub definitions in [src/bindings/minimal/crypto_scalarmult.h](https://github.com/pyca/pynacl/blob/efa75cb7057ed4c2f124ae77d3079e4ee9152080/src/bindings/minimal/crypto_scalarmult.h) and always setting `static const int PYNACL_HAS_CRYPTO_SCALARMULT_ED25519 = 1` should work, but I haven't tested this.

I would have preferred variants for libsodium (#12902) but I see

[2020-08-04 21:10] neheb commented on #13016
Looks right.

[2020-08-04 21:16] jefferyto commented on #13016
I know - I got into an argument about variants and InstallDev a while ago (which I am not going to link to here :joy:)

I think the best solution is some kind of lib-switching mechanism in the main repo, where dependent packages can specify which variant they want and the right InstallDev files are switched/linked/etc. just for them, but I really don't have time to look into something so obscure r

[2020-08-04 23:54] aaronjg commented on #11440
Why do you have your routes set up as
`0.0.0.0/1` Rather than a default route or `0.0.0.0/0`?

This could explain why some routes are going over one interface but not the other.:
[code]

Can you post the output of the mwan3 troubleshooting page `cgi-bin/luci/admin/status/mwan/troubleshooting`?

[2020-08-04 23:55] aaronjg commented on #12836
I have had no issue with either busybox ping, nor iputils ping 20190709.

I hadn't seen this one! I have no issues with busybox ping, but I am running 19.07.3, not snapshot. Maybe something in the new kernel broke the busybox ping. There was another reported issue with the snapshot as well - perhaps those are related. https://github.com/openwrt/packages/issues/10712

@cirruspl did using the busybo

[2020-08-05 02:25] aparcar commented on #12977
I'm happy to improve the situation for maintainers as I highly honour their work. I'll create some PRs for a CI building packages in multiple architectures and we could also test compiled packages in a x86 docker containers. I don't thing we can implement a full runtime testing environment but trivial tests like `prometheus -v | grep Version` surely works. Maybe we can even integrate some qemu to

[2020-08-05 03:53] alex9434 commented on #12973
Thank you, that worked. Closing this now. But maybe you would like to consider adding a selection to the Makefile.

[2020-08-05 03:53] #12973 closed

[2020-08-05 05:04] commodo commented on #12977
@aparcar  that codeowners file from PR https://github.com/openwrt/packages/pull/12982   is not handling co-maintainers well;
a few files [in the python-sphere], are maintained by both me & @jefferyto
co-maintainers are listed with a comma-separation in the Makefile

[2020-08-05 05:39] aparcar commented on #12977
I chose the easiest way to create the file, we could also do some make magic but then again we can just update the codeowners whenever a package is updated

[2020-08-05 05:53] commodo commented on #13016
PR https://github.com/openwrt/packages/pull/13033

[2020-08-05 07:18] feckert opened #13034 "open-vm-tools: compilation error"
Maintainer: @kuoruan @neheb
Environment: x86_64, APU3, OpenWrt master

Description:
I have updated to the newest package master.
I get the following compilation error for open-vm-tools

[code]
So I thought add `include $(INCLUDE_DIR)/nls.mk` should solve this.
But then I get another error

[code]

I think this has to do with the following commits that have been added recently in [glib2](https://gi

[2020-08-05 07:21] neheb commented on #13034
Looks like Werror needs to be disabled.

[2020-08-05 14:02] alex9434 opened #13037 "lxc-start: The container failed to start"
Maintainer: @ratkaj  (find it by checking history of the package Makefile)
Environment: OpenWrt Master (as of today) on Raspberry Pi 4B (arm64)
I have made NO modifcations with kernel_menuconfig but I have activated ALL lxc options

Description:
lxc-start does not work:
# lxc-start -n compile
[code]
This is a fresh devuan container that I have just created with lxc-create -n compile -t download

T

[2020-08-05 16:45] hoseiniamir commented on #10847
Hi
For image builder, this can be fixed by "make clean". It looks previously downloaded packages are changed online. so, after "clean"ing, image builder download the recent version. This works for me.

[2020-08-05 17:42] brianjmurrell commented on #10847
@hoseiniamir `make clean` defeats the purpose of `make` which is to only take actions to update things that have changed dependencies.

If one were to need/supposed to `make clean` for every run, one could just do away with the extra complications that `make` altogether and just write a start-to-finish shell-script that nukes the environment _clean_ at the start and just always rebuilds everything

[2020-08-05 20:11] #13016 closed

[2020-08-05 21:11] aparcar commented on #10847
@jow- is it possible that different SDKs rebuild the packages with the same version/releases but cause different checksums due to unreproducibility? If so that's another reason for incremental package builds

[2020-08-06 07:05] feckert commented on #13016
Thanks all for the quick fix :+1:

[2020-08-06 09:51] ptpt52 commented on #11440
You have to make it clear how mwan3 work,
I think the problem is your wrong setup.

I can't clearly understand your real needs, but I can be sure that there is no problem with mwan3

[2020-08-06 10:59] misanthropos commented on #11440
That was the route my VPN provider would set if I don`t specify otherwise. I forced it to default route to make sure its not related to that and it solved the problem ^^.
I am dead certain I tried the default route before and it would screw up the VPN or something else. However it seems to work now!

I am sorry for the confusion I may have stirred up - its clearly not related to mwan3.

yeah... 19

[2020-08-06 11:00] #11440 closed

[2020-08-06 12:59] feckert commented on #11632
I'm not sure if I should open a new issue, so I write it here.

I have a problem with ttyd. On a x86_64 (little endian) ttyd works as expected.
But if I use lantiq_xrx200 (big endian its a MIPS) nothing works.
The peer (router) terminates the connection.
@tsl0922 @karlp Can someone please verify that?

I did a `curl --trace-ascii dump-lantiq.txt http://192.168.0.53:7681` and got the following outp

[2020-08-06 15:26] verofin opened #13043 "ZeroTier outdated dependency"
Description:

Error when installing ZeroTier from luci interface

Version: 1.4.6-5
Size: ~389.1 KB installed
Dependencies:
libpthread INSTALLED
libgcc1 INSTALLED
libstdcpp6 (387.2 KB) NOT INSTALLED
kmod-tun (27.4 KB) NOT INSTALLED
**kernel VERSION INCOMPATIBLE**
ip-full (208.0 KB) NOT INSTALLED | ip-tiny (147.8 KB) NOT INSTALLED
libnl-tiny INSTALLED
libelf1 (41.0 KB) NOT INSTALLED
zlib INSTALLED
l

[2020-08-06 17:44] karlp commented on #11632
I certainly can't verify it, but it wouldn't surprise me in the least if lws wsa broken in that case.  it definitely sounds like a completel separate issue though.  (and upstream won't care, because we're not on latest, and we're not on latest, because there's still lots of applications broken by latest upstream.... I love LWS)

I'm also not sure what you were hoping to see with curl?  You need to

[2020-08-06 20:22] neheb commented on #13043
Typical problem with snapshot builds.

[2020-08-07 02:23] EricLuehrsen commented on #13007
You would think moving a key piece of infrastructure would receive a bit more spot light. As is classic OpenWrt culture, the documentation was not updated either https://openwrt.org/docs/guide-user/base-system/dhcp. :frowning_face:

[2020-08-07 03:25] josuelopezv opened #13044 "nginx: nginx-all-module missing module ngx_http_proxy_connect_module"
Maintainer: @Ansuel
Environment: OpenWrt-19.07

Description:

[code]

[2020-08-07 05:49] ThomasCr opened #13047 "New Package for rtl8812au devices"
Hi,

I would love to see a new package for rtl8812au devices. The current one is outdated and not support the nice [ASUS USB-AC56](http://en.techinfodepot.shoutwiki.com/wiki/ASUS_USB-AC56) with single external antenna, which suites perfectly my need to connect one outdoor antenna.

I spotted a more up-to-date repository which works nice for my device.

https://github.com/gordboy/rtl8812au-5.6.4.2/

[2020-08-07 07:53] #13007 closed

[2020-08-07 08:10] jow- commented on #13007
Thanks for the heads-up. I modified the page accordingly.

[2020-08-07 08:53] verofin commented on #13043
Thanks for the feedback. I presumed I needed one of the releases instead of the snapshot. I cloned the 19.07.03 branch, but it does not support Raspberry Pi4 yet.  What would be your suggested resolution to this situation?

[2020-08-07 11:57] jamesmacwhite opened #13050 "mwan3: iperf3 bind (-B) does not work properly when mwan3 is enabled"
Maintainer: @feckert
Environment: OpenWrt 19.07.3 Linksys WRT3200ACM

Description:

I've noticed that when using iperf3 and mwan3 is enabled the bind option of iperf3 is overridden by the mwan3 routing rules. For example, because I have multiple dual stack WAN interfaces, I may run specific tests like this like:

**6in4 IPv6:**

[code]

**Wireguard VPN IPv6:**

[code]

Depending on what policy is

[2020-08-07 14:47] jamesmacwhite commented on #13050
I guess because iperf3 uses port 5201 you can setup rules around dest_port combined with the src_ip to force the WAN interface but is there a better way?

[2020-08-07 16:32] neheb commented on #12837
Fixed.

[2020-08-07 16:32] #12837 closed

[2020-08-07 16:34] neheb commented on #13043
Erm, if you compile your own builds, this will not be an issue. Meaning master will work.

[2020-08-07 16:51] jamesmacwhite commented on #12806
The cause of the basename errors was found to be this!

https://github.com/openwrt/packages/pull/13051

[2020-08-07 21:21] aparcar commented on #12089
After talking with @jow- we came up with a different implementation using `PKG_FILE_MOES` in combination with `fakeroot`. Please have a look at [my patch series](https://patchwork.ozlabs.org/project/openwrt/list/?series=194718).

[2020-08-07 22:10] aparcar commented on #12089
chown :newgroup "$dir"
fi

Is it actually necessary to check for symlink and directory? I'd say it's "save" when the file is owned by root.

[2020-08-08 00:59] ptpt52 commented on #10712
@wackejohn  hi
in `ip route`
why not `default route` for `wana`? this is not correct
so in `ip route list table 9`
[code]

It should be like: `default via 10.10.1.xx dev wana proto static metric 40`
you need to add it to `main` table and restart mwan3
and mwan3rtmon should copy it to `table 9`

and if you don't want all traffic go out via `wana`, you could set the metric large number

[2020-08-08 06:31] domomg opened #13052 "docker-ce: broken, cgroup subsystem 'devices' is missing"
Mantainer: @G-M0N3Y-2503
Environment: x86_64 on baremetal and VMWare, openwrt master

Description:
I've been having some troubles with the latest OpenWRT snapshots, regarding docker-ce.

My last two attempts have been with r-14035 three days ago, and r-14085 yesterday.

They were both compiled with default options, I only selected docker-related stuffs under Utilities.

This issue happens both ins

[2020-08-08 10:05] G-M0N3Y-2503 commented on #13052
I could reproduce this even with all the docker kernel options enabled.
It appears that they aren't even in `/proc/cgroups` so I suspect there has been a change in the kernel config.

[2020-08-08 11:50] 02015678 opened #13053 "ffmpeg-full not handled properly for GPL option"
Maintainer: @antonlacon and @thess
Environment: armv8, Cortex-A53, Openwrt-19.07

Description:
ffmpeg-full prefer to use libx264 (gpl) than fdk-aac (non-free), which is good.
As for gpl option it depends on package named **libx264**, but in opwnwrt/packages/libs/libx264/Makefile,
it named itself as **x264**, not **libx264**.

As a result, dependency cannot be satisfied, if user wants to use gpl li

[2020-08-08 11:53] peterwillcn commented on #13052
https://github.com/docker/cli/issues/2104

[2020-08-08 13:36] G-M0N3Y-2503 commented on #13052
Just tested and it's definitely the change to cgroups v2 done in https://github.com/openwrt/openwrt/commit/d1a8217d87bffa33fd7d4562b3ed2f797c14beaf.
I'll look into adding the legacy options for a custom build but it looks like the snapshots will be broken until https://github.com/moby/moby/issues/40360

[2020-08-08 14:28] micmac1 commented on #12089
Hi @aparcar

It's just that I expect a directory, not a symlink. So I'm trying to make sure that this is not a symlink. As you know if you have symlink to a dir and run "[ -d $symlink ]" it'll return true.

Thanks by the way for the patches! I hope to find some time to test them.

Kind regards,
Seb

[2020-08-08 15:14] peterwillcn commented on #13052
https://github.com/docker/cli/issues/2104

[2020-08-08 20:13] aparcar commented on #12089
We follow the idea that whatever is root owned can be trusted. Therefore, if root decides to have a symlink rather than a folder, this should be accepted. Different when a non-root user does so, in this case chown should fail.

My point, a check with -O and -G should be enough.

[2020-08-08 20:31] micmac1 commented on #12089
I'd argue that if root makes changes to the layout (dir to symlink for instance) then postinstall script making more changes on top is probably not a good idea. So to me the symlink check still is fine.

Anyway, if fakeroot gets added we wouldn't have to worry about this anymore anyway.

[2020-08-08 20:38] micmac1 commented on #12089
Well, actually we'd still need to think about this. I'm thinking init scripts.

[2020-08-08 20:46] aparcar commented on #12089
There are multiple ideas, using LSB scripts or unit files which allow to define a running user. @dangowrt can you share some ideas?

[2020-08-08 23:06] domomg commented on #13052
First of all, thank you for pointing me to the right direction, it didn't occur to me at all to look at the kernel parameters in the config file, you saved me quite a lot of time.

I did a test rolling back to the commit immediately behind the one giving us trouble, https://github.com/openwrt/openwrt/commit/917980fd8a6589d6911797211f1871016f527f8c , compiled from there, and lo and behold, it works

[2020-08-08 23:11] dangowrt commented on #12089
On Sat, Aug 08, 2020 at 01:47:01PM -0700, Paul Spooren wrote:

You can alreay define the running user using `procd_set_param user $user` in procd-based initscripts.

[2020-08-09 02:14] peterwillcn commented on #13052
@G-M0N3Y-2503  https://github.com/openwrt/openwrt/commit/d1a8217d87bffa33fd7d4562b3ed2f797c14beaf

It'd be sad to encourage the use of legacy functions which prevent using the modern interfaces (which is true for cgroup1 controllers). Hence, as 19.07 came without cgroup1 per default, we will keep it like that for 20.x (and supposedly everything after). cgroup2 is enabled and supports device-firewa

[2020-08-09 02:49] G-M0N3Y-2503 commented on #13052
I'll look into making the current version of docker dependent on these legacy kernel options for now, which will mean docker won't be available in snapshots until the version that supports cgroups2 is released.

[2020-08-09 02:52] peterwillcn commented on #13052
I fixed this problem by enabling the following kernel configuration
[code]

[2020-08-09 09:21] brada4 commented on #13037
You can comment out lxc.cgroup.devices in lxc domain configuration file created by you.

[2020-08-09 10:05] ThomasCr commented on #13047
ok, today I managed to compile @1Jeffs1 new build for 19.07.3 and this works with my new USB device.

https://github.com/1Jeff1/openwrt/tree/master/package/kernel/rtl8812au-ct

[2020-08-09 10:05] #13047 closed

[2020-08-09 10:29] ThomasCr commented on #13047
ok, the problem still exists on this package.

I try to build the package from gordboy by myself. If i success, I try to make a PR.

[2020-08-09 22:05] pprindeville commented on #11829
Looking at how the NLS is built, it's from a tarball taken from tar that's embedded in the dhcp tarball itself.  So it can't easily be patched because exploding `bind/bind.tar.gz` until after patches have been applied.

Further, looking at the `dhcp-4.4.2-RELNOTES` file, it doesn't look like this (2020/1/13) was submitted in time for the 4.4.2 release (2020/1/22).

[2020-08-09 22:14] pprindeville commented on #12394
Sounds like most of the work is done.

Do you have a PR for me? :smirk:

[2020-08-10 06:13] neheb commented on #13043
Can this be closed?

[2020-08-10 09:48] diizzyy commented on #12977
I agree with @BKPepe and @hnyman

Regarding workload we still don't have any common guidelines which makes work tedius, sends mixed signals and maintaining tedius as a lot gets committed with additional patches without any upstream support etc. That said, I don't think it's ever going to change unless we create a new repo and really enforce such practices. What I also think might be a barrier is t

[2020-08-10 12:08] aaronjg commented on #13050
Yes. That is not surprising, but also fairly annoying. Binding to an ip address does not work as reliably as binding to an interface. However, FreeBSD does not support binding to an interface, so a lot of packages that aim to be compatible across platforms do not implement the SO_BINDTODEVICE to bind to the device.

There is basically a hack right now to avoid this with outgoing echo requests so t

[2020-08-10 12:16] jamesmacwhite commented on #13050
@aaronjg Ah good to know. I didn't make the connection it would be due to the lack of `SO_BINDTODEVICE`.

There is a verbose workaround for this, basically targeting a rule at TCP 5201 (default iperf3 port) with `dest_port` and then basically combining it with a `src_ip` value which would be the interface address that is being used with iperf3 with the `-B` option. This then will make sure traffic

[2020-08-10 12:18] aaronjg commented on #13050
Could you do it with just one rule to tell mwan3 to use the default routing table for all traffic to TCP 5201? Then it will fall back on the default routing table, which will hopefully respect the choice of source address.

[2020-08-10 12:21] jamesmacwhite commented on #13050
@aaronjg Ah I forgot about the 'default' value for rules to fallback to the routing table.

Something like this, could in theory condense the rules without having to define one for each WAN?

[code]

[2020-08-10 12:26] aaronjg commented on #13050
Yep, give that a try and see if it routes things correctly.

[2020-08-10 12:34] jamesmacwhite commented on #13050
@aaronjg Seems to work OK! I can tell because my 6in4 WAN can only achieve around 12 Mbits/sec, where as Wireguard can get to over 100 Mbits/sec, which does seem to be happening with this rule and then using `-B`, so that at least cuts down the rules to force the traffic. Good workaround, thank you!

[2020-08-10 13:00] aaronjg commented on #10712
mwan3 does not copy over the default routes, it just inserts its own.

With only one default route, changing the metric on the default route will not change the traffic routing

[2020-08-10 13:22] aaronjg commented on #13050
Glad that worked. FWIW, someone has already written a patch to add SO_BINDTODEVICE to iperf3, but it has not yet been merged.

https://github.com/esnet/iperf/pull/817

[2020-08-10 23:06] neheb commented on #13053
Not true:

https://github.com/openwrt/packages/blob/openwrt-19.07/libs/libx264/Makefile#L85

The PKG_NAME in the Makefile is for downloading only.

[2020-08-11 03:24] neheb commented on #12921
Patch is merged.

[2020-08-11 03:24] #12921 closed

[2020-08-11 03:32] flyn-org opened #13081 "qemu: build server fails to build"
Maintainer: @yousong
Environment: x86_64 master

Description:
The OpenWrt build server cannot presently build the QEMU packages. See https://downloads.openwrt.org/snapshots/faillogs/x86_64/packages/qemu/compile.txt.

[2020-08-11 07:06] feckert commented on #13050
@aaronjg Thank you for your work.
I will close the ticket, since there is a [solution](https://github.com/openwrt/packages/issues/13050#issuecomment-671322344).

[2020-08-11 07:06] #13050 closed

[2020-08-11 08:11] feckert commented on #13003
I will cherrypick them to my pullrequest.

From my point of view the handling would be easier and you could work with depends.
So that depending on the family option the right fields are displayed. Additional the value check is easier to handle and the address comment for ipv4 or ipv6  is then individual.

- **IPv6**: only src_ipv6 and dest_ipv6 ( this must be implemented in mwan3 first)

- **IPv4

[2020-08-11 08:43] jamesmacwhite commented on #13050
@aaronjg Interesting, the PR looks abandoned now though (looking at the original date), so I'm not sure if will be implemented anytime soon, but thanks for your advice regarding the workaround, that should work for my requirements.

[2020-08-11 09:24] feckert commented on #11632
Currently verison [4.0](https://libwebsockets.org/git/libwebsockets/tree/?h=v4.0-stable) is the latest

The way I see it we have the following packages in the package feed that use libwebsocket.

- mosquitto
- forked-daapd
- ttyd

That's not even that many?

If I do a curl call to a working ttyd on x86_64 I get the page. That is OK.

[2020-08-11 11:09] karlp commented on #11632
I very much think the ttyd endian issue you describe should be tracked separately.  I do still plain on eliminating the full/openssl split when I update lws to 4.x, which will get rid of the issues in _this_ ticket, but I need my apps to work with lws 4.x first.

[2020-08-11 11:48] feckert opened #13085 "ttyd: little endian vs. big endian issue"
Maintainer: @tsl0922
Environment: x86_64 APU3 and lantiq_xrx200, OpenWrt master

Description:

I have a problem with the little endian vs. big endian with ttyd. On my systems.

On x86_64 every works as expected, but on a MIPS platform ttyd does not work.
Since I am not familiar with the ttyd the question is whether it is the ttyd or the libwebsocket.

The [assumption](https://github.com/openwrt/pa

[2020-08-11 12:13] tsl0922 commented on #13085
I'm running ttyd on MIPS based router (MT7621), it works fine.

If you want to test ttyd mips with libwebsockets 4.0, you can download a prebuilt static version from the ci artifacts:

https://github.com/tsl0922/ttyd/actions/runs/187335123

[2020-08-11 12:59] feckert commented on #13085
Did you install this from the Openwrt repository?

Tahnks but that is unfortunately not an option, because I have to compile it myself. I am build a image with the image builder.

[2020-08-11 13:03] tsl0922 commented on #13085
No. I compiled it myself, with openwrt-14.07 sdk and libwebsockets-3.2.2, for an openwrt-based third-party firmware.

[2020-08-11 13:19] jefferyto commented on #12977
Some thoughts I have after reading the comments so far:

* First, thanks Paul for trying to tackle this task (make merging routing into this repo more possible).

* CODEOWNERS requires commit rights, and it feels like we don't want to give all maintainers commit rights. I could be wrong but it seems like this is the biggest issue stopping the use of code owners.

* Lack of package maintainers is a

[2020-08-11 13:48] tsl0922 commented on #13085
Just confirmed: I'm running ttyd mipsel version (little endian) on my router.

[2020-08-11 16:10] yousong commented on #13081
The issue should be fixed now.  The part I am not sure is how the build passed on May, 2020 when I built and run-tested it...

[2020-08-11 16:23] aaronjg commented on #13003
Thank you.

That makes sense. We already sort of have this issue with specifying port and protocol, where port doesn't work with protocol 'any'.

I think it should be possible with one ip field though, and not needing to make any change to mwan3. If 'any' we can hide/disable the ip field. Then with ipv4/ipv6 we dynamically choose the validation.

Sure, it will require some mwan3 changes. I can cre

[2020-08-11 16:25] aaronjg opened #13088 "mwan3: allow multiple ip addresses in a single rule (Feature Request)"
Maintainer: @feckert
cc @jamesmacwhite @brianjmurrell

It would be nice to allow mwan3 to have multiple ip addresses in a single rule. This can be handled by creating an ipset for rules with multiple ip addresses.

I'm creating this issue for discussion around the feature. I can implement it.

[2020-08-11 18:03] jamesmacwhite commented on #13088
@aaronjg Just to clarify this one. Is this related to being able to group IP addresses under a single rule, rather than having to have to do multiple `src_ip` rules?

I believe dest_ip supports this already, by using a comma for each IP address, but not in src_ip, so ipset would resolve that one.

[2020-08-11 19:01] micmac1 commented on #13085
Hi there,

I tried it out on mips big endian. Works fine there, too. This is 19.07.03.

It was the first time I rand ttyd. It started automatically and I just had to open the URL in my browser. Et voila: looks like a root shell?! :) This can't seriously be the default, right? No authentication whatsoever and you get root?! Whoa :)

Kind regards,
Seb

[2020-08-11 19:15] aaronjg commented on #13088
@jamesmacwhite

I see, yes you are correct. It is all handled by iptables now, so it should also work for multiple src_ip.  Ipset would be a bit faster than having multiple rules, but probably not worth the change on its own.

What isn't working now is a mixed rule for ipv6 vs ipv4.

I'll update the title to reflect this.

[2020-08-11 19:21] aaronjg commented on #13088
Actually, I think ipset is the way to handle this. Otherwise you get M*N blow up in the number of rules once you start combining multiple src and destination addresses. This is already an issue in the current implementation of mwan3.

[2020-08-11 19:22] jamesmacwhite commented on #13088
@aaronjg Makes sense. I've been seeing the discussions around this. I think it all stems from @brianjmurrell highlighting the issue when not setting the family value for rules that use a specific family of IP in src_ip https://github.com/openwrt/packages/issues/13003. Given mwan3 has been masking the iptables errors for a while and LuCI doesn't actually support or provide the option itself.

I saw

[2020-08-11 21:30] aparcar commented on #12977
A custom bot would be possible but adds additional complexity I'd like to avoid. Maybe there is a misunderstanding on how the codeowner file works: It neither gives anyone automatically commit access nor does it not work if people within the file don't have commit access, those commit-less people just won't get any notifications.

For my focus on merging `routing.git`, we'd just give commit access

[2020-08-11 22:25] aaronjg commented on #13088
yeah, the ipv6 stuff seems to have been tacked on and I keep finding things that are broken/inconsistent about it.

I have a fix for it here: 4f0089f7d9ec3e10395aff93ed1b9c8eed187322
Two goals here - one is to make it easier to use the same rules between ipv4 and ipv6, the other is to not have to create an iptables rule for each combination of src/dst ip. Keeping the rules down also makes the fire

[2020-08-12 01:00] neheb commented on #12812
The commit that broke this was actually 5969273ff40cdf6d90f3442aa6c986226e0a16dc

Adding back the install section fixes everything.

[2020-08-12 01:03] jefferyto commented on #12977
I am aware of this.

By "maintainers" are you referring to users with commit access to routing.git or routing package maintainers (who do not have commit access to routing.git)?

The [About code owners](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners) page talks about pull requests only. It doesn't prevent users listed in CODEOWNERS from pushing dire

[2020-08-12 01:31] jefferyto commented on #12977
I am against "special groups" that will receive commit access - I think all package maintainers should be treated equally. I know some package maintainers have commit access but that is because they are also core OpenWrt project members.

[2020-08-12 02:07] yousong commented on #13081
Copy buildbot error message here for archive purposes

[code]

And the config.log error as I remembered it.  `ld cannot find -liconv`.  No -L/path/to/libiconv-stub in the cc command.

[2020-08-12 03:40] aaronjg commented on #13003
@jamesmacwhite pointed out here (#13088) that mwan3 already supports multiple ip addresses when they are separated by commas. This is because iptables will parse them and create separate rules for each. So it seems like it would be difficult to to have a luci validator for the ip addresses without breaking current configuration, since the 'ipaddr' datatype will not work out of the box.

I think th

[2020-08-12 07:00] jamesmacwhite commented on #13003
@aaronjg Yes, this is a good point to be aware of. I have rules using the comma method on src_ip and dest_ip as well as dest_port so any changes here need to be careful not to break existing configurations here. It's not something widely documented I don't think, but if you know iptables supports it, I'm sure others are doing it as well, as it cuts down rules.

I'm not sure src_ipv6 and dest_ipv6

[2020-08-12 07:59] feckert commented on #13003
If I look at it that way from the LuCI's point of view, it is of course bad. The ipv4 and ipv6 validation check does not work anymore if I write a comma separated value here. If this is a use case, then we have to change the option to a list element. To make it work again with an existing configuration. If so we have to write an upgrade script that converts the value from a csv to a uci list eleme

[2020-08-12 08:04] jamesmacwhite commented on #13003
@feckert Fair points there. If the introduction of src_ipv6 and dest_ipv6 is made, I'm happy to update the documentation here:

https://openwrt.org/docs/guide-user/network/wan/multiwan/mwan3?s[]=mwan3#rule_configuration

As otherwise it will not be entirely accurate going forward.

I guess it's just finding the balance between LuCI and directly writing rules by editing /etc/config/mwan3 without Lu

[2020-08-12 08:30] vs-1310 opened #13093 "netifd: Changing metric removes route from the Kernel IP routing table"
Maintainer: @dedeckeh
Environment: root@OpenWrt:/# cat /etc/openwrt_release
DISTRIB_ID='OpenWrt'
DISTRIB_RELEASE='SNAPSHOT'
DISTRIB_REVISION='r13926-f94b098'
DISTRIB_TARGET='malta/le'
DISTRIB_ARCH='mipsel_24kc'
DISTRIB_DESCRIPTION='OpenWrt SNAPSHOT r13926-f94b098'
DISTRIB_TAINTS='no-all'

Description: the same file /etc/config/network in some cases produces different kernel routing IP table

how t

[2020-08-12 08:47] aparcar commented on #12977
I thought the maintainers and committers are pretty much the same. I might remember that wrong.

I do, from my understanding one could add a `* @meta-maintainers` as first line and thereby own anything which is not defined later lines to a (small) group of people to decide which **new** packages should be accepted.

I don't share that opinion as that results in the awkward situation OpenWrt has ri

[2020-08-12 09:21] hnyman commented on #12977
There are perhaps maybe 30 committers, but over hundred maintainers. I haven't really checked/calculated that. (It might be several hundreds, as there are lots of "1-2 packages" maintainers.)

[2020-08-12 09:23] aparcar commented on #12977
Sorry if that was unclear, I was talking about the routing repository, where I count about 30 packages.

[2020-08-12 11:47] #13043 closed

[2020-08-12 12:16] aaronjg commented on #13003
I am not currently using it in my setup, but I could imagine a use case. If there is a dual stack setup, and the user wants the same rule to apply for a hosts IPv4 and IPv6 address.

We actually should probably change this to be a multiselect like the luci-firewall app does, and allow a user to select 'udp' and 'tcp' and then hide the port if any other protocols (or no protocol) is selected.

My p

[2020-08-12 12:22] feckert commented on #13003
good point :+1: +1

[2020-08-12 15:52] jefferyto commented on #12977
How does this stop someone from pushing directly to the repo, bypassing pull requests? Please elaborate on the protected branch settings required.

I'm not referring to who has decision making power (e.g. setting project rules and policies) in the repo (there does not seem to be an organized decision making process here, at least in the main repo there are rules around calling for votes). I'm only

[2020-08-12 21:05] Myron-S opened #13095 "Please make available the latest version (a security fix release) of SoftEther VPN server for OpenWRT and Entware"
I'm a newbie on this particular bit and it's a bit over my head, so I have a request.   Since the 5.01.9672-1 version there has been a security release..

Can someone please compile the lateest release of [SoftEther](https://github.com/SoftEtherVPN/SoftEtherVPN/releases) for the Entware repository as well as for OpenWRT? I don't know how to do this mysellf.  I asked [here](https://github.com/Entwa

[2020-08-12 21:07] aparcar commented on #12977
Setting the `master` branch to protected:

When enabled, all commits must be made to a non-protected branch and submitted via a pull request with the required number of approving reviews and no changes requested before it can be merged into a branch that matches this rule.

Not sure what's the best way to implement this as it's a community management decision. I'd put the most active maintainers i

[2020-08-13 01:37] u4david opened #13101 "ddns-scripts dinamic dns for sitelutions.com update URL changed"
Please change   the updater URL link for sitelutions.com ddns provider.

it changed from :
http://www.sitelutions.com

to:
https://dnsup.sitelutions.com

If left unchanged logs will report errors like :
ERROR : uclient-fetch Error: '8'
or
Failed to redirect to /dnsup?

ddns-scripts	2.7.8-13
Powered by LuCI openwrt-19.07 branch (git-20.136.49537-fb2f363) / OpenWrt 19.07.3 r11063-85e04e9f46

[2020-08-13 07:37] lloyd18 opened #13104 "libselinux：Dependency does not exist"
The following warning was received at compile time：
`WARNING: Makefile 'package/system/procd/Makefile' has a dependency on 'libselinux', which does not exist`

[2020-08-13 10:34] #13104 closed

[2020-08-13 14:12] ptpt52 commented on #8303
I am trying to add a lock to the hotplug script
Please try test
[code]

[2020-08-13 14:18] ptpt52 commented on #8303
update: lock more range
[code]

[2020-08-13 19:18] vs-1310 opened #13106 "procd: 1 sec delay in react for config.change event"
Maintainer: @ynezz
Environment: root@OpenWrt:/# cat /etc/openwrt_release
DISTRIB_ID='OpenWrt'
DISTRIB_RELEASE='SNAPSHOT'
DISTRIB_REVISION='r13926-f94b098'
DISTRIB_TARGET='malta/le'
DISTRIB_ARCH='mipsel_24kc'
DISTRIB_DESCRIPTION='OpenWrt SNAPSHOT r13926-f94b098'
DISTRIB_TAINTS='no-all'

Description: any service in /etc/init.d/* that expects to receive an event from
the procd (for example /etc/confi

[2020-08-13 19:41] jow- commented on #13106
Set `PROCD_RELOAD_DELAY=0` in your init script. It defaults to 1000ms by default. After applying it to your test script:

[code]

[2020-08-13 19:41] #13106 closed

[2020-08-13 22:23] neheb commented on #13095
Entware problem. Version 9674 is already available here.

[2020-08-13 22:23] #13095 closed

[2020-08-14 03:45] flyn-org commented on #13081
Looks like the build server built the new version. Thanks!

[2020-08-14 03:45] #13081 closed

[2020-08-14 07:56] polluz opened #13122 "rtl_433_18.12-1_mipsel_24kc.ipk rtl_433 Segmentation fault (tp-link archer C2) mipsel-24kc"
Hi,

package is http://downloads.openwrt.org/releases/19.07.3/packages/mipsel_24kc/packages/rtl_433_18.12-1_mipsel_24kc.ipk

When launching rtl_433 it gives:

root@c2:~# rtl_433
rtl_433 version unknown
Segmentation fault

dmesg tells:

[  105.786215] do_page_fault(): sending SIGSEGV to rtl_433 for invalid write access to 02400008
[  105.794905] epc = 00401d75 in rtl_433[400000+27000]
[  105.799991

[2020-08-14 07:57] vs-1310 commented on #13106
THANKS A LOT!!

what was the reason/purpose for adding PROCD_RELOAD_DELAY?

 is it safe to set 0 for all services? (in /lib/functions/procd.sh ?)
 this will speed up the reaction to config changes, but what are the disadvantages?

[2020-08-14 08:18] jow- commented on #13106
Some services react to events that happen in bursts, like interface change events (multiple ifaces brought up at once during boot, cascaded interfaces resulting in events in quick succession when the lowest interface goes down etc.)

Adding a 1 second delay allows all these events to be coalesced into just one service reload since procd will initiate the same trigger action just once for all event

[2020-08-14 12:01] BKPepe commented on #13122
I cherry-picked update for rtl_433 from master branch. See commit: https://github.com/openwrt/packages/commit/bef08d8f7ff6a3156d2ee9300e34dc466311d88e

Could you please compile it yourself or wait until buildbots compile it and try it once again to see if the issue persists even with the latest version?

[2020-08-14 12:01] #12938 closed

[2020-08-15 15:39] aaronjg opened #13133 "mwan3: mwan3track uses wrong ip address when many interfaces are present"
Maintainer: @feckert
Environment: 19.07

Description:

When multiple interfaces are present, under certain naming conventions, mwan3 can use the wrong IP address.

If you have interfaces named, eg "ovpn", "ovpn_2", "ovpn_3, and "ovpn_4" with mwan3 balancing between all of them, then mwan3 will use the ip address of "ovpn_4" for both "ovpn" and "ovpn_4".  This is because mwan3 prefers interfaces en

[2020-08-15 19:08] rossbcan commented on #5709
solution here:
https://forum.openwrt.org/t/perl-dynamic-modules/71746/2

[2020-08-15 20:33] jefferyto commented on #12629
ping @jmarcet

[2020-08-16 00:27] noblepepper commented on #13019
I can't duplicate your error, all works fine for me. Looking at the package repositories for x86_64 and mips_24kc (my environment) binutils version is 2.34.

[2020-08-16 00:30] flyn-org commented on #13019
The binutils update happened recently, and it did indeed fix this issue. See commit 60f595da.

[2020-08-16 00:30] #13019 closed

[2020-08-16 08:50] 02015678 commented on #13053
Thanks. It turns out that it doesn't work if manual edit config file and add  `CONFIG_PACKAGE_libffmpeg-custom=m` and  `CONFIG_PACKAGE_fdk-aac=y`. When enable ffmpeg-custom in makeconfig interface ALL the required options would be added to config file.

[code]

Anyway ffmpeg-full should be fine, switch to GPL ffmpeg-full instead.

[2020-08-16 08:50] #13053 closed

[2020-08-16 14:52] 9000000 opened #13141 "Usb not mount which kernel 5.4"
[code]

[2020-08-16 19:00] openwrt-diy opened #13145 "[19.07]mwan3: Can PPTP/L2TP VPN traffic be split through mwan3?"
Maintainer: @feckert @aaronjg
Environment: (Current version openwrt snapshot，https://github.com/openwrt/openwrt/tree/master)
Kernel Version: 5.4.52
Soft routing: (Target System：(x86)Subtarget：(x86_64)Target Profile：(Generic x86/64))
MWAN3 VERSION:=2.8.12
RELEASE:=2

Description:
Recently, when using mwan3 and PPTP / L2TP functions, we found that VPN traffic could not be assigned to other computer

[2020-08-16 20:40] micmac1 opened #13146 "mpg123: compile fails, missing headers, should not use cmake"
Maintainer: @wigyori
Environment: master

Description:

Hi all,

Since 9fc2785 there are problems with mpg123:

1. missing headers

[code]

Full log [here](https://downloads.openwrt.org/snapshots/faillogs/x86_64/telephony/freeswitch/compile.txt).

Mind you this is a header that mpg123.h references :) This is funny. Its own stuff is missing.

2. missing soname libs

Usually one would expect shared

[2020-08-16 20:42] micmac1 commented on #13146
Regarding compile fails, there's also build failures of mpg123 for aarch64 or neon-targets it seems.

[2020-08-17 00:29] wongsyrone opened #13148 "Boost: please update to 1.74.0"
Maintainer: @ClaymorePT

Description:

1.74.0 is released, please update the package.

[2020-08-17 03:34] Strykar opened #13149 "Unable to upgrade freeradius3-mod-realm from release_3_0_11-3 to release_3_0_11-4"
Maintainer:  [@openwrt/package-maintainers](https://github.com/orgs/openwrt/teams/package-maintainers)
Environment: `OpenWrt 18.06.5 x64`
Description: Unable to upgrade `freeradius3-mod-realm` from `release_3_0_11-3` to `release_3_0_11-4`

Both packages, `freeradius3` and `freeradius3-mod-realm` install `/etc/freeradius3/proxy.conf` which is causing the upgrade to fail.

[code]
Seems similar to to

[2020-08-17 11:05] #13149 closed

[2020-08-17 12:05] BKPepe commented on #13122
I see that there is already compiled version 20.02. Don't you mind to try it?

[2020-08-17 12:10] BKPepe commented on #12248
Closing. It was explained how it gets to OpenWrt 19.07. It does not need to be open here and stalled until somebody test it on 19.07 and send a pull request with cherry-picked related commits from master.

[2020-08-17 12:10] #12248 closed

[2020-08-17 12:11] #11561 closed

[2020-08-17 12:12] #11531 closed

[2020-08-17 12:21] ClaymorePT commented on #13148
@wongsyrone  I'm aware of this. Thanks anyway for the heads-up.

[2020-08-17 13:13] aaronjg commented on #13145
At the moment no. mwan3 will create a default route which will take precedence over the split routing functions your VPN provider pushes to you. However, It may be possible to add some mwan3 rules to get the same effect. If that doesn't work, I also have a patch that I am beta testing that will enable this.

Can you please update your issue tracker with the details form the issue template? Specifi

[2020-08-17 15:32] Entropy512 commented on #13141
Yeah, I'm seeing this exact issue, and it was broken a few weeks ago I think (I flashed a self-built upgrade 2-3 weeks ago and didn't realize that it broke NTFS automounting).

I'm not sure why LuCi and the automounter are trying to use mount.ntfs, which is not valid for ntfs-3g

[2020-08-17 15:34] Entropy512 commented on #13141
Aha, LuCi and the automounter used to rely on the patch which @neheb reverted a while ago.  I hadn't recompiled for a few months which is why I didn't notice the loss of functionality until recently:

The patch which broke this is likely https://github.com/openwrt/packages/commit/947899823248ce52efd345e3167bb506d8aa4b14, I'm going to try undoing the breakage and retesting.

[2020-08-17 19:19] openwrt-diy commented on #13145
`Interface status:
 interface wan is online 00h:02m:12s, uptime 00h:59m:27s and tracking is active
 interface wanb is online 00h:02m:09s, uptime 00h:35m:43s and tracking is active
 interface wg1 is offline 00h:00m:00s, uptime 00h:31m:48s and tracking is active
 interface l2tp is offline 00h:00m:00s, uptime 00h:02m:12s and tracking is active

Current ipv4 policies:
balanced:
 wanb (47%)
 wan (52%)

[2020-08-17 19:22] openwrt-diy commented on #13145
`Software-Version
-------------------------------------------------
OpenWrt - OpenWrt SNAPSHOT r14189-48c3d5c884
LuCI - git-20.219.57394-35e2735

Output of "ip a show"
-------------------------------------------------
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host

[2020-08-17 19:22] openwrt-diy commented on #13145
`/$ uci show mwan3
mwan3.wan_only=policy
mwan3.wan_only.last_resort='unreachable'
mwan3.wan_only.use_member='wan_m1_w9'
mwan3.wanb_only=policy
mwan3.wanb_only.last_resort='unreachable'
mwan3.wanb_only.use_member='wanb_m1_w8'
mwan3.wg1_only=policy
mwan3.wg1_only.use_member='wg1_m1_w7'
mwan3.wg1_only.last_resort='unreachable'
mwan3.l2tp_only=policy
mwan3.l2tp_only.use_member='t2tp_m1_w6'
mwan3.l2tp_

[2020-08-17 19:25] openwrt-diy commented on #13145
`/$ uci show network
network.loopback=interface
network.loopback.ifname='lo'
network.loopback.proto='static'
network.loopback.ipaddr='127.0.0.1'
network.loopback.netmask='255.0.0.0'
network.globals=globals
network.globals.ula_prefix='fd5f:42f7:efa3::/48'
network.lan=interface
network.lan.type='bridge'
network.lan.proto='static'
network.lan.ipaddr='192.168.100.1'
network.lan.netmask='255.255.255.0'

[2020-08-17 19:26] openwrt-diy commented on #13145
`/$ uci show firewall
firewall.@defaults[0]=defaults
firewall.@defaults[0].input='ACCEPT'
firewall.@defaults[0].output='ACCEPT'
firewall.@defaults[0].forward='REJECT'
firewall.@defaults[0].synflood_protect='1'
firewall.@zone[0]=zone
firewall.@zone[0].name='lan'
firewall.@zone[0].input='ACCEPT'
firewall.@zone[0].output='ACCEPT'
firewall.@zone[0].forward='ACCEPT'
firewall.@zone[0].network='lan'
fire

[2020-08-17 19:31] openwrt-diy commented on #13145
@feckert @aaronjg

I'm sorry! It took me so long to reply!
I just submitted the configuration parameters of the router on it. Please have time to check it! thank you!

[2020-08-17 20:04] aaronjg commented on #13145
No worries. So mwan3 does not currently work well on the snapshot build. This is at least part of your problem. I am working on a P/R to fix this and will tag you on the PR as soon as it is ready.

There may also be some issues with the split routing - it looks like you are trying to route traffic to 10.0.0.1 through l2tp-l2tp and traffic to 10.190.0.0/16 through wg1? Is that correct?

[code]

Any

[2020-08-17 20:32] neheb commented on #13141
antfs is available as an alternative.

[2020-08-17 20:41] neheb commented on #13146
hrm locally I'm testing fixing CMake to work properly. My patches are pretty big currently. Going back to autotools is the easiest solution though. Oh well.

[2020-08-17 20:48] Entropy512 commented on #13141
Then the ntfs-3g package should clearly be marked as deprecated and the replacement clearly indicated so that people don't install ntfs-3g and have it not work, or worse, wonder why their drive stopped mounting.

[2020-08-17 21:58] neheb commented on #13141
I assume you have ntfs-3g installed. What does /proc/filesystems list?

[2020-08-17 22:00] neheb commented on #13141
Interestingly enough, there was a patch that actually fixed this: https://patchwork.ozlabs.org/project/openwrt/patch/20181001030413.5053-1-rosysong@rosinson.com/

Was never merged.

[2020-08-17 22:12] aaronjg commented on #13145
It looks like you may have left some confidential info in the post. Can you please delete your penultimate post with the detailed network config?

[2020-08-17 23:33] polluz commented on #13122
Sure! Where could i fondi it?

Tks

F

[2020-08-18 01:10] 9000000 commented on #13141
[code]

[2020-08-18 01:13] 9000000 commented on #13141
[code]

[2020-08-18 02:39] 9000000 commented on #13141
Thanks to all of you that I have installed, I had to remove ntfs-3g and install antfs instead

[2020-08-18 02:47] neheb commented on #13141
I think you can have both installed. That was the main motivation for removing mount.ntfs from NTFS-3G.

[2020-08-18 04:22] openwrt-diy commented on #13145
L2TP and WG1 traffic is right! Network account parameters I did some hiding before posting, using some asterisks instead. Now I try to split the route.

[2020-08-18 06:40] BKPepe commented on #13122
For example here https://downloads.openwrt.org/releases/19.07.3/packages/mipsel_24kc/packages/rtl_433_20.02-1_mipsel_24kc.ipk

[2020-08-18 07:46] neheb commented on #13148
Curious what's so special about 1.74.

[2020-08-18 10:13] ClaymorePT commented on #13148
@neheb On a first look, 1.74 does not need current patch `003-beast-coroutines.patch` for beast. Fix is already included. The others are still needed and they will need to be re-created.

It also seems that the libraries which are being more actively maintained, have introduced updates to be build with C++20.

Then, there's a bunch of fixes and improvements for most libraries. Boost.ASIO seems to

[2020-08-18 11:01] wongsyrone commented on #13148
002-outcome-assert.patch and 003-beast-coroutines.patch can be removed, BTW, I'm a heavy user of Boost.asio

[2020-08-18 11:15] ClaymorePT commented on #13148
@wongsyrone  Yep `002-outcome-assert.patch` is also not needed. In truth, it was never needed. I don't really remember why it was added in the first place, since it was only adding a comment.

[2020-08-18 11:48] polluz commented on #13122
Trieste with jus do a package upgrade.

This is the output:

BusyBox v1.30.1 () built-in shell (ash)

  _______                     ________        __
 |       |.-----.-----.-----.|  |  |  |.----.|  |_
 |   -   ||  _  |  -__|     ||  |  |  ||   _||   _|
 |_______||   __|_____|__|__||________||__|  |____|
          |__| W I R E L E S S   F R E E D O M
 ----------------------------------------------

[2020-08-18 11:49] #13122 closed

[2020-08-18 12:10] wongsyrone commented on #13148
It's from https://www.boost.org/users/history/version_1_73_0.html, it removes an assertion as well.

[2020-08-18 12:31] Entropy512 commented on #13141
I'll take a look at that patch and whether there's a way to clean up the issues (maybe this weekend).  It seemed like the final reason for not putting that in was due to the ntfs-3g package adding the line you removed - but the patch you linked would do a better job of avoiding a conflict between antfs and ntfs-3g

[2020-08-18 12:33] Entropy512 commented on #12812
I'll take a look at this later this week - at least on first inspection it seems to me like this would do exactly what you were complaining about the other patch doing (creating a useless empty metapackage)?

[2020-08-18 13:14] ClaymorePT commented on #13148
@wongsyrone ah, yes, you're right. There's two of them. Well, with this update, I'm also adding support to build Boost with C++20.

[2020-08-18 13:39] ClaymorePT commented on #13148
@wongsyrone  @neheb

-> https://github.com/openwrt/packages/pull/13160

[2020-08-18 14:04] rydy opened #13161 "netopeer2-server occurs bus error."
Hi,

I used the 'subscribe' command of the 'netopeer2-cli' tool to test the custom sysrepo plugin(*.so), I tested it in two different environments(Centos7.8 and OpenWRT), All third-party(netopeer2-1.1.39、libyang-1.0.184、libnetconf2-1.1.26 and sysrepo-1.4.70) libraries in both environments are the same [version](https://github.com/CESNET/netopeer2/releases/tag/v1.1.39).

For Centos, no problems wer

[2020-08-18 20:03] #13148 closed

[2020-08-19 07:10] polluz commented on #13122
Hi, BKPepe why did you close this is sue?
Thanls

[2020-08-19 07:39] feckert commented on #13085
I verified it too, and it works in openwrt-19.07 for x86_64 and lantiq_xrx200.
But in the master branch id does not work for lantiq_xrx200 with the current installed libwebsocket version 3.2.1
@karlp If I removed the last version bump [commit](https://github.com/openwrt/packages/commit/7066486fbbfa1bb73fee74911a8306e3a534a6fe#diff-ba78d49c46a24be055e798c6a2435eec) and get back to version 3.1.0 tty

[2020-08-19 10:07] karlp commented on #13085
my famliarity with lws extends to, "it's fragile as hell"  I'm being pushed to update it, so no, I'm not really considering going back to some other version.  you can try 4.0.20 yourself, see if it at least fixes ttyd for you, (it's still broken on mosquitto for me unfortunately)  AIUI, it's only broken on your particular BE device right?

[2020-08-19 10:07] #13146 closed

[2020-08-19 10:26] kongfl888 opened #13167 "libs/boost 1.74 patch failed."
Helllo, thank you for update. @ClaymorePT @neheb

Please have a look [libs/boost/patches](https://github.com/openwrt/packages/tree/master/libs/boost/patches).

If they are unneeded, can you remove them and patch for them.

thank you.

[2020-08-19 11:08] ClaymorePT commented on #13167
@kongfl888 I Forgot to add the deletion to the commit....

[2020-08-19 11:15] ClaymorePT commented on #13167
@kongfl888 Here it is: https://github.com/openwrt/packages/pull/13168

[2020-08-19 11:59] #12924 closed

[2020-08-19 11:59] #12972 closed

[2020-08-19 12:15] feckert commented on #13085
What do you mean with `AIUI` and `BE`?

I can only say that if I try it with a MIPS architecture (lantiq_xrx200) it will **not** work with the current libwebsocket version applied to the package feed.
What about ARM I don't know.
The architecture x86_64 works as expected with the current applied version and the version before your version bump.

[2020-08-19 14:20] karlp commented on #13085
I've filed https://github.com/warmcat/libwebsockets/issues/2008 upstream as their own test app doesn't work on MIPS BE.

[2020-08-19 14:24] kongfl888 commented on #13167
thank you

[2020-08-19 14:24] #13167 closed

[2020-08-19 18:03] BKPepe commented on #13122
Your issue was about segmentation fault, which was fixed as you provided a completely different output and it seems related to low memory. I am not using rtl 433, but you should consult it with help as it is said there.

[2020-08-19 20:06] polluz commented on #13122
Thanks,

i consult the help but cannot find nothing useful, I've also tried to use the same version of the program on another device (tp-link td-w8970) same platform but different specs. same result.
Also tried to launch rtl_433 (same version) on a ubuntu system and without parameters it starts listening to usb rtl dongle.
I think that the row telling to read documentation was thrown before the FA

[2020-08-19 21:17] aaronjg commented on #13145
Is it correct that the only traffic out of L2TP is for 10.0.0.1 and the only traffic you want out of the wireguard interface is traffic to 10.190.0.0/16?

What are you trying to do with eth4 and pppoe-wanb? Load balance between them? Failover? Something else?

What are you trying to accomplish with all the /26 subnets?

mwan3 currently has issues on the snapshot release, but your configuration als

[2020-08-20 00:17] karlp commented on #13085
bad news, upstream can't reproduce it on qemu-mips with the Malta machine, and I can't reproduce it on qemu-s390x with alpine to get musl either, so getting hard to work with any other suggestions well received

[2020-08-20 03:13] wackejohn commented on #10712
Thanks @aaronjg, with this [pr](https://github.com/openwrt/packages/pull/13169) and add default route of wireguard interface to main routing table ,this issue is fixed now.

[2020-08-20 04:50] openwrt-diy commented on #13145
My thoughts are as follows:
**IP network segment: 192.168.100.2-192.168.100.62 diverted to WAN through MWAN3
IP network segment: 192.168.100.65-192.168.100.126 shunt to WANB through MWAN3
IP network segment: 192.168.100.129-192.168.100.190 shunt to WG1 through MWAN3
IP network segment: 192.168.100.193-192.168.100.254 shunt to L2TP through MWAN3**

[2020-08-20 05:09] caylorme commented on #12806
Thanks for the debugging session @jamesmacwhite. Prevented me from spending as much time as you in the crazy state.
I also happen to be using mwan3 with miniupnpd with a 3200ACM and getting this exact same thing.

Was expecting this to be the cause of ipv6 functionality breaking in my set up, but guessing maybe not?

[2020-08-20 08:49] openwrt-diy commented on #13145
@aaronjg  Today, I used the official openwrt-19.07-snapshot to recompile the firmware, but I also had some problems!
![001](https://user-images.githubusercontent.com/57249132/90748654-0bc4a600-e305-11ea-9cd2-9195043525aa.png)
![002](https://user-images.githubusercontent.com/57249132/90748668-10895a00-e305-11ea-84be-c04172378426.png)
![003](https://user-images.githubusercontent.com/57249132/9074867

[2020-08-20 12:31] aaronjg commented on #13145
mwan3 is overkill for what you are trying to do. Just set up routes in the default routing table with appropriate src addresses ranges, and you can get the behavior you need.

[2020-08-20 15:48] openwrt-diy commented on #13145
@aaronjg
Today, I used openwrt-19.07-snapshot to compile the new firmware. WG1 and L2TP were online and offline repeatedly. The network and firewall were set by default, and there was no change.

![001](https://user-images.githubusercontent.com/57249132/90794640-975b2880-e33f-11ea-9fb7-aee06f4d8d00.png)
![002](https://user-images.githubusercontent.com/57249132/90794655-9b874600-e33f-11ea-89e8-1ec1

[2020-08-20 15:54] aaronjg commented on #13145
Yes. mwan3 is currently broken in the snapshot build. If you'd like you can test out the fix here:
https://github.com/openwrt/packages/pull/13169

This fixed #10712

However, for the problem you described, mwan3 is not the best solution. If you are just trying to split routes based on src ip, you can do this with just the routing table. mwan3 is only needed if you want to do failover or load balan

[2020-08-20 15:57] alaviss opened #13178 "unbound: allow forwarding to localhost without setting dns_assist"
Maintainer: @EricLuehrsen
Environment: OpenWrt master

Description:
With the introduction of `dns_assist` from https://github.com/openwrt/packages/commit/e81529596df88eae272c00bf8ac69b15e19a5bd5, unbound init script "helpfully" translated this:

[code]

into:

[code]

When `dns_assist` is undefined, which is completely wrong (`forward-host` should be `forward-addr`) and breaks forwarding to `https

[2020-08-20 16:09] aaronjg commented on #13145
Thanks. Testing and feedback is always appreciated on the P/R.

If you want to use mwan3, make sure you have default routes for all your WANs in the main routing table.

[2020-08-20 18:43] flyn-org opened #13180 "gstreamer1: recent build options break applications"
Maintainer: @thess, @neheb
Environment: x86_64 master

Description:
Commit cb058bf9 changed gstreamer1's build options, and this broke some functionality.

First, `-Doption-parsing=false` is intended for very specific embedded applications rather general packages. We turned parsing back on once. Please see:

https://github.com/openwrt/packages/pull/8847
https://gitlab.freedesktop.org/gstreamer/gst

[2020-08-20 22:13] neheb commented on #13180
Unfortunate.

[2020-08-21 01:44] EricLuehrsen commented on #13178
The file `unbound_srv.conf`is included at the end of the `server:` clause, and the file `unbound_ext.conf` is included after all other clauses so you can add less common Unbound features. I would suggest using these when UCI does not completely cover your use case. Your use case is single clause and static in either format.

UCI (and LuCI) has diagnostics around 127.0.0.0/8 because it is possible

[2020-08-21 02:10] EricLuehrsen commented on #12084
@stintel what do you mean exactly? Example, the Unbound package user "unbound" from the make file seems to survive various upgrade paths. To test Unbound, I have done both soft install and make it static in the upgrade image.

@dl1235 we should probably push more packages to work more like some larger distro. Do not `chown` within /etc/ on ROM. Instead copy or build configuration within /var/lib/a

[2020-08-21 02:10] EricLuehrsen commented on #12084
@stintel what do you mean exactly? Example, the Unbound package user "unbound" from the make file seems to survive various upgrade paths. To test Unbound, I have done both soft install and make it static in the upgrade image.

@dl12345 we should probably push more packages to work more like some larger distro. Do not `chown` within /etc/ on ROM. Instead copy or build configuration within /var/lib/

[2020-08-21 02:21] EricLuehrsen commented on #12089
@dangowrt using procd user parameter works for some minor packages. However external service daemons need to start off as "root" to bind to privileged resources such as well known ports and later drop to a lesser user once bound.

[2020-08-21 03:04] alaviss commented on #13178
Yes, but I'd like to keep most of my configuration in UCI instead of spreading it out over two files. I don't think there would be too many problem with providing a switch that let users tell UCI that we know what we are doing and settings should be applied as is. I don't mind having smart features to catch errors early on, but there should always be a way to easily override them IMO.

[2020-08-21 07:49] phoenixxie7 commented on #13034
I have the same problem. I think that the toolchain should add libiconv

[2020-08-21 12:17] rugk opened #13181 "Package size mismatch: dnscrypt-proxy2 is 3706719 bytes, expecting 3706642 bytes"
# Issue template (remove lines from top till here)

Maintainer: @BKPepe
Environment:
GL.iNet GL-B1300;
Powered by LuCI openwrt-19.07 branch (git-20.136.49537-fb2f363) / OpenWrt 19.07.3 r11063-85e04e9f46
OpenWrt 19.07.3 r11063-85e04e9f46 / LuCI openwrt-19.07 branch git-20.136.49537-fb2f363

Description: The installation of `dnscrypt-proxy2` fails due to unmatched file size,.

[code]

BTW, what the

[2020-08-21 12:23] #13181 closed, assigned to nobody

[2020-08-21 14:59] mrjoel opened #13182 "ddns-scripts: use ip_network as default for bind_network"
Environment: OpenWrt current snapshot

I'm running into an issue where the incorrect IPv6 address is used for comparison when determining whether an update is needed.

The DNS API service used autodetects the IPv6 address from the source address of the request, which ends up being the address assigned to wan6 (br-wan). This all works as expected, using `use_ipv6` and `force_ipversion`.

The issue

[2020-08-22 15:06] Yamakasi opened #13189 "LVM2: raid1: Required device-mapper target(s) not detected in your kernel."
I encountered the issue that if you want to make a LVM Type raid1 LV you get the following error:

`raid1: Required device-mapper target(s) not detected in your kernel.`

The following command is what I used:

`lvcreate --type raid1 --mirrors 0 -L 5G --nosync -n data vg-01`

I wanted to start a degraded raid1 set on one disk and add my other disk later, it doesn't complain about the kernel module

[2020-08-22 15:20] diabl0w opened #13190 "mwan3: Routing traffic from router"
Maintainer: @feckert
Environment: wrt3200acm openwrt v19

Description: I am trying to figure out how to configure a rule for routing traffic from the router itself using mwan3. Any rule that I have with the following format works perfectly fine for normal LAN clients:

[code]
but if i put src_ip as the router's ip 192.168.1.1, it doesn't route my router's traffic to my wg interface like it does fo

[2020-08-23 05:18] #13190 closed, assigned to nobody

[2020-08-23 20:28] neheb commented on #13189
maybe kmod-dm-raid actually.

[2020-08-23 22:22] jamesmacwhite opened #13195 "mwan3: VPN tunnels over PPTP/L2TP/PPPoE interfaces are broken"
Environment: OpenWrt 19.07.3 Linksys WRT3200ACM (mwan3 2.9.0)
FAO: @aaronjg

**It has been found this isn't directly a mwan3 problem, but mwan3 triggers it due to the use of fwmark. Further details and explanation here: https://github.com/openwrt/packages/issues/13195#issuecomment-680295448**

**Original issue description:**

@aaronjg Continuing the discussion from the comment here: https://github

[2020-08-23 22:57] aaronjg commented on #13195
Thanks. I wonder what part of the process is breaking down with mwan3 enabled.

My guess is that outgoing dhcpv6 requests are getting a firewall mark and routed out of the wrong ipv6 interface. Could you add an mwan3 rule so that IPv6 UDP traffic with a source port of 546 and destination port of 547 gets handled by the default routing table? Hopefully that will fix the issue, and if so, we can add

[2020-08-24 05:26] jamesmacwhite commented on #13195
Tried this rule:

[code]

It doesn't seem to help, but as soon as mwan3 is disabled then the DHCPv6 client will configure the IPv6 interface. I looked at the iptables output the rule was never hit.

[2020-08-24 11:01] zokl opened #13196 "node-homebridge-cmd4: Node modules dependency problem"
Hello,
I am not sure if the described bug is for this issue tracker but I try it :-)

I am trying to prepare my own Node.js module ([https://github.com/zokl/openwrt-node-packages/blob/master/node-homebridge-cmd4/Makefile](homebridge-cmd4)) but I found a problem with C lib dependencies. All modules that I install are pure JavaScript but after the end of the installation process, "make" fails with t

[2020-08-24 12:45] aaronjg commented on #13195
Interesting. If mwan3 is interfering either the iptables rules or the routing rules must be doing something to the outgoing or return packets. Usually it is the outgoing packets that are more problematic.

It's possible something is going on with the return packets, so you could also add a rule for ports 547->546.

If that doesn't work, could you use tcpdump or firewall logging rules to figure out

[2020-08-24 13:00] jamesmacwhite commented on #13195
No dice with the return rule. I did a tcdump for DHCPv6 related packets.

With mwan3 enabled:

[code]

With mwan3 disabled:

[code]

I've doxed my /48, but I can change it, so not really concerned.

I'm not an expert here, but it looks like the router advertisement doesn't happen with mwan3 enabled, but does when enabled.

[2020-08-24 14:24] aaronjg commented on #13195
This is strange. It is not just the RA that are not received, the DHCPv6 responses are not coming back either.  Usually when this happens it is because something is wrong with the tunnel, and the packets are not actually going out.

Are you able to use the IPv4 stack?  The actual LT2P connection is on IPv4, and the IPv6 traffic is tunneled through that, right?

Could you also try adding the follow

[2020-08-24 17:06] jamesmacwhite commented on #13195
Yeah you're right I think. It looks like something funky is happening with the IPv4 side on the L2TP tunnel when it's connected with mwan3 enabled. I didn't have that rule, but I've added it now to test. I did already have a static route in place for 90.155.53.19 to go through my main wan as required.

It looks like it's similar behaviour to what @openwrt-diy mentioned interface is marked as down

[2020-08-24 18:36] aaronjg commented on #13195
Yes, to use the helper library, you will need to install the SDK and compile it. You could try using the previous commit:
328e7f696 - for IPv4 and ping based tracking, this should work about the same.

I wonder if it is actually down (indicating a problem with the mwan3 rules blocknig the interface) or if mwan3track just thinks it is down (potential problem in mwan3track).

[2020-08-24 18:40] jamesmacwhite commented on #13195
@aaronjg I can give setting up the OpenWrt build root a go to allow me to compile it, worth doing and good experience!

[2020-08-24 19:06] jamesmacwhite commented on #13195
@aaronjg Do you think it is worth bumping the Makefile to something like 2.9.10-beta during dev? I know there was a question around what version to give it. I guess now because libcap-bin has been dropped as a requirement it is less of an issue for 19.07, could just be a version increment to 2.9.10?

[2020-08-24 19:52] jamesmacwhite commented on #13195
@aaronjg I ended up compiling your `mwan3-owner-procd` branch with the SDK. Sadly it's still the same issue. As soon as mwan3 is enabled the L2TP interface from an IPv4 perspective is down, IPv6 can't provision itself through DHCPv6.

[code]

[2020-08-24 20:51] aaronjg commented on #13195
Thanks for testing. I did do a version bump as you suggested. You could try pinging with the wrapper library `DEVICE=l2tp-aaisp SRCIP=<ipv4 of l2tp-aaisp>  FWMARK=0x3f00 LD_PRELOAD=/lib/mwan3/libwrap_mwan3_sockopt.so.1.0 ping 8.8.8.8`

Though, if you are on the 4.x kernel still, I don't think this will change much.

If you have the route to '90.155.53.19' out of your bulk WAN already and have the

[2020-08-24 21:01] jamesmacwhite commented on #13195
Thanks. I edited the Makefile before compiling an ipk to install, but thanks for changing at the branch source

[code]

No surprises, but this isn't 5.4 snapshot, so to be expected I guess.

I have both the static route with the gateway defined always, as otherwise the static routes don't work, along with the mwan3 rule.

[code]

[code]

It looks like mwan3 still interferes with the tunnel somewhe

[2020-08-24 22:46] aaronjg commented on #13195
Oh, this is very helpful. So it looks like the IPv4 stuff was just failing because it ran into the IPv6 error when it was bringing the interface up, so it disabled the interface, and maybe also disabled the ipv4 interface as well?

So why is the DHCPv6 failing? The permission denied error suggests that the kernel is having trouble finding a valid route for the packet. So it sounds like odhcp6c is

[2020-08-24 23:56] lelguea opened #13199 "BusyBox from 1.30.1-5 to 1.30.1-6 Not support ip tunnel add"
Please make sure that the issue subject starts with `<package-name>: `

Also make sure that the package is maintained in this repository and not in base which should be submitted at https://bugs.openwrt.org or in the LuCI repository which should be submitted at https://github.com/openwrt/luci/issues.

Issues related to releases below 18.06 and forks are not supported or maintained and will be clos

[2020-08-24 23:58] aaronjg opened #13200 "mwan3: mwan3_set_connected not updated when new routes are added"
Maintainer: @feckert
Environment: 19.07.3, mwan3 2.9.0 and before

Description:
mwan3 has special handling for addresses that have explicit routes in the main routing table. For these routes, the default route is used, and when multiple routes are available, the interface is chosen by the kernel based on the metric in the main routing table.

It handles this by using ipsets called `mwan3_connected

[2020-08-25 04:38] 9000000 commented on #13141
@Entropy512 Have you fixed the error yet?
I also encountered some more errors that is if using a USB 3.0 cable will fail as follows

[code]

[2020-08-25 04:45] 9000000 commented on #13141
If I use a USB 2.0 cable to connect then everything works fine but read and write speeds are very slow

[code]

[2020-08-25 05:36] neheb commented on #13199
ping @rsalvaterra

[2020-08-25 06:22] jamesmacwhite commented on #13195
I'm not sure that's it to be honest. I don't think the IPv4 side is working properly either, but it can't establish the IPv6 side unless mwan3 is disabled.

I've tried just having IPv4 only enabled on aaisp and it's the same issue. It also looks like with mwan3 enabled it regularly keeps resetting the network interface as well. I found various logs like this and then the L2TP connection being rest

[2020-08-25 13:09] aaronjg commented on #13195
The permission denied errors really look like the kernel is not able to find the route to 90.155.53.19, but with the explicit route set up and the rule to use the default routing table, I don't see how mwan3 is interfering.

Maybe try also bidirectional rules:
[code]

With mwan3 turned off, could you try looking at `ip -4 monitor route` when you bring up the connection and see if LT2P is trying to

[2020-08-25 13:34] jamesmacwhite commented on #13195
Yeah it's really strange, tried with the in and out rules but it doesn't seem to improve anything. This is what `ip -4 monitor route` looks like on bringing up the l2tp-aaisp interface:

[code]

[2020-08-25 15:44] openwrt-diy commented on #13195
@aaronjg @jamesmacwhite

ec41fb9  This time the repair is beautiful, and the policy assigned problem of changing the route is solved.

Network interface WAN WANB PPTP L2TP WireGuard has no offline or redial issues.
Setting the failover WANB to L2TP is normal, and the network is restored to WANB.

The following are the issues found:
1. Set failover WANB to PPTP abnormal, jump to WAN interface! The

[2020-08-25 16:05] rsalvaterra commented on #13199
On Tue, 25 Aug 2020 at 06:36, Rosen Penev <notifications@github.com> wrote:

No idea. I only ever touched ip rule (and my patch hasn't even been
applied yet), which has nothing to do with ip tunnel. And ip tunnel
itself hasn't changed in a while [1]. Are you sure this is a BusyBox
issue?

[1] https://git.busybox.net/busybox/log/networking/libiproute/iptunnel.c

[2020-08-25 17:00] lelguea commented on #13199
Yes, is BusyBox issue.  With 1.30.1.5 Work greats....

[image: image.png]
MTIA
*Lorenzo Miguel Elguea Fernández*
Director de TI
Tecnologías de Información
Campus Ciudad de México
*lelguea@up.edu.mx* / Tel. 55 5482 1600 / 5500 / www.up.edu.mx
 facebook.com/UPMexico <https://www.facebook.com/UPMexico/>   @UPMexico
<https://twitter.com/UPMexico>  <https://twitter.com/UPbonaterra>  UPMexico
<https://w

[2020-08-25 17:07] jonozzz opened #13210 "libgd: libjpeg dependency broken"
[code]

To workaround I manually symlinked that missing .so:
`ln -s /usr/lib/libjpeg.so /usr/lib/libjpeg.so.9`

@neheb I think this started happening once libjpeg was removed

[2020-08-25 19:01] openwrt-diy commented on #13195
After restarting the router, re-test the MWAN3 failover. The first and second abnormal issues mentioned above are now resolved.

The results of the two tests are different.

[2020-08-25 19:16] neheb commented on #13210
It looks like your staging_dir is dirty. Run make clean and recompile.

[2020-08-25 19:28] jonozzz commented on #13210
yup, thanks.

[2020-08-25 19:28] #13210 closed

[2020-08-25 20:24] neheb commented on #13199
The change is here: https://github.com/openwrt/openwrt/commit/e754e0a143643d2d0460aec193fc20b6ca457614

I have no idea why you're having issues. The change is no-op.

There are also these ones:

https://github.com/openwrt/openwrt/commit/dc97db2e39fe59f150c8b4f913cd0ccaea4702d8
https://github.com/openwrt/openwrt/commit/cde70954effe137fac830730105853f929e9d28a
https://github.com/openwrt/openwrt/comm

[2020-08-25 20:58] jamesmacwhite opened #13211 "mwan3: Should check_quality be enabled on the default WAN interface configurations?"
Maintainer: @feckert
Environment: N/A

Description:

The default mwan3 config has the four `check_quality` configuration options set on the `wan` and `wanb` interfaces.

https://github.com/openwrt/packages/blob/master/net/mwan3/files/etc/config/mwan3#L15-L18
https://github.com/openwrt/packages/blob/master/net/mwan3/files/etc/config/mwan3#L47-L50

However because `check_quality` is not set this wou

[2020-08-25 22:12] aaronjg commented on #13195
@jamesmacwhite It appears that xl2tpd is somewhat broken on 19.07.3, and this issue may not be caused by mwan3.

If mwan3 is turned off, and you add a single rule so that the packets get a fwmark like so:
[code]

Then the kernel will try to route them out of `l2tp-aasip`. This is despite not having any rules that pertain to the firewall mark or any additional routes that would cause these packets

[2020-08-25 22:33] jamesmacwhite commented on #13195
@aaronjg Thanks for your very detailed investigation into this and helping my test my L2TP setup. Based on your further findings I would consider this to be not a mwan3 problem, and possibly related to something specific with L2TP, either in the kernel or xl2tpd as you've mentioned. There seems to be abnormal routing behaviour going on.

Thank you for providing a workaround, I will look at impleme

[2020-08-25 22:42] jamesmacwhite commented on #12544
@francisuk1989 I believe you may be using the same L2TP transit service I have through Andrews & Arnold (AAISP)?

https://support.aa.net.uk/L2TP_Client:_OpenWRT

When installing the kmods you will need to reboot your router for these kernel modules to then be loaded, then the L2TP option should be usable for the network interface configuration part.

In addition make sure you have provisioned your

[2020-08-25 23:27] aaronjg commented on #13211
Makes sense to me to turn them off. While we are at it, why not remove everything after `track_ip` and let the defaults work.
https://github.com/openwrt/packages/blob/master/net/mwan3/files/usr/sbin/mwan3track#L137-L152

The default values in luci should also be updated so that they match the defaults in mwan3track:
https://github.com/openwrt/luci/blob/master/applications/luci-app-mwan3/luasrc/mod

[2020-08-25 23:28] aaronjg commented on #13195
Sounds good. FWIW, it looks like this issue is resolved on 5.4.52, so I don't think it's worth building a workaround into mwan3.

[2020-08-26 04:38] jamesmacwhite commented on #13195
@aaronjg Good to know. The `iptables` workaround should be workable solution.

I've tested it out and with that rule in place everything just "works". It also explains why I was have difficulty with NAT configuration on the static IPv4. The replies were never going out through the right interface, so despite my firewall rules and such, nothing worked.

Although your debugging efforts should be doc

[2020-08-26 04:41] nxhack commented on #13196
@zokl
We're not talking about node.js stuff in this packages repository, so let's discuss it in a different place.

https://github.com/nxhack/openwrt-node-packages/issues/695

[2020-08-26 04:58] zokl commented on #13196
Closing because of moving to another place.

[2020-08-26 04:58] #13196 closed

[2020-08-26 05:52] jamesmacwhite commented on #13211
@aaronjg Funny you mention default values. I found the same thing:

https://github.com/openwrt/luci/issues/4389

Several configuration options for the interface configuration were missing in the OpenWrt docs, so I opened an issue on that luci-app-mwan3.

[2020-08-26 08:29] ahmar20 commented on #13141
What is the status of this issue? I rely heavily on my NTFS drive so I need it working.
In my router `/etc/filesystems` shows `ntfs-3g` while `/proc/filesystems` show as above as @9000000.

[2020-08-26 08:37] neheb commented on #13141
Try installing antfs.

[2020-08-26 19:59] neheb commented on #13189
Any update?

[2020-08-27 18:33] rsalvaterra commented on #13199
Uh… Hold up. BusyBox's ip tunnel applet isn't built by default, I just
checked [1]. Is this a standard or a custom build?

Cheers,
Rui

[1] https://git.openwrt.org/?p=openwrt/openwrt.git;a=blob;f=package/utils/busybox/Config-defaults.in;h=29724041f47ab9cfa456149b9b8f29b5d7d92693;hb=HEAD#l2352

[2020-08-27 18:54] lelguea commented on #13199
In the version 1.30.1-5 is working..

In my startup script i have:

ip tunnel add up-ipv6 mode sit remote x.x.x.x ttl 255
ip link set up-ipv6 up
ip addr add 2001:DB8::/64 dev up-ipv6
ip route add ::/0 dev up-ipv6

And in 1.30.1-6 not working....

MTIA
*Lorenzo Miguel Elguea Fernández*
Director de TI
Tecnologías de Información
Campus Ciudad de México
*lelguea@up.edu.mx* / Tel. 55 5482 1600 / 5500 /

[2020-08-28 17:00] zxlhhyccc opened #13240 "The TTYD under the master branch cannot be connected after updating！！"
**It turns out that the library connection is wrong: it depends on libwebsockets. So.14 but libwebsockets. So.15, because the compiled libwebsocketsy source package is actually libwebsockets. So.14.**

![image](https://user-images.githubusercontent.com/45259624/91593535-f00b7080-e992-11ea-84a5-d2d707f7ee29.png)

![image](https://user-images.githubusercontent.com/45259624/91593378-9dca4f80-e992-11e

[2020-08-28 18:23] neheb commented on #13240
Sounds like a dirty staging_dir

[2020-08-28 18:48] zxlhhyccc commented on #13240
This problem still exists with the newly cleaned original compiled firmware!

[2020-08-28 22:43] 1715173329 commented on #13240
Sure. One the source is changed, openwrt will re-compile it automatically.

The reason why you linked to wrong library is someone update the source, but you didn't recompile it.

[2020-08-28 22:50] 1715173329 commented on #13240
Actually yes, simply running `make package/ttyd/{clean,compile}`  and the issue will be solved.

But with existing compilation mechanism, if the dependency of a package was updated, the package won't recompile automatically, and this caused some issues.
Maybe we need a improvement.

[2020-08-29 02:26] zxlhhyccc commented on #13240
Let me try to clean all the dependent libraries of TTYD and TTYD itself and recompile them. I just don't understand. I am compiled by the cloud, and there is also the problem that I cannot connect？

[2020-08-29 03:41] zxlhhyccc commented on #13240
I recompile lean and recompile all the dependent libraries of TTYD and TTYD and connected normally, but I just don't understand. The cloud compiled is a brand new compilation. Why did the connection fail?

[2020-08-29 03:50] #13240 closed

[2020-08-29 08:04] n7ckn opened #13242 "Failure due to SIGSEGV in nlbwmon"
According to my system logs, nlbwmon no longer works due to:

Sat Aug 29 08:58:08 2020 kern.info kernel: [39011.829126] do_page_fault(): sending SIGSEGV to nlbw for invalid write access to 00000000
Sat Aug 29 08:58:08 2020 kern.info kernel: [39011.829146] epc = 77e810e4 in libc.so[77e64000+98000]
Sat Aug 29 08:58:08 2020 kern.info kernel: [39011.829199] ra  = 00404311 in nlbwmon[400000+6000]
Sat A

[2020-08-29 16:15] ahmar20 opened #13243 "transmission: 'Unable to save resume file. File exists' Error"
Maintainer: @neheb

Environment:
OpenWrt SNAPSHOT Kernel v5.4.60
BT HomeHub 5A - xrx200
Transmission v3.00-4

Description:
The resume file that gets saved in the resume folder in transmission config is not being saved if it exists already. In v19.07.3 this does not seem to be an issue. I presume that transmission code was changed to implement something and may have not been tested in this regard.

[2020-08-29 17:28] rezad1393 opened #13244 "'curl': feature request: add verbose mode to compile option."
Maintainer: @kaloz

Environment:
armv7 linksys1200ac 19.0.7

Description:
can you add verbose mode to curl compile option so that when the user runs curl with '-v' option on openwrt it outputs verbose info?
like on desktop version.

I think this the option : CONFIG_LIBCURL_VERBOSE
is configuring to ignore the global option and using verbose mode add a lot of size to the created package?
if not can

[2020-08-29 22:00] sinancetinkaya opened #13245 "imagebuilder : “following packages conflict with busybox”"
Supply the following if possible:
- Device problem occurs on
unielec_u7621-06-16m

- Software versions of OpenWrt/LEDE release, packages, etc.
latest snapshots

- Steps to reproduce
[code]

[2020-08-30 02:20] neheb commented on #13242
Try using strace on nlbwmon.

[2020-08-30 09:21] n7ckn commented on #13242
strace output:

execve("/usr/sbin/nlbwmon", ["nlbwmon"], 0x7fcfc570 /* 12 vars */) = 0
set_thread_area(0x77f47efc)             = 0
set_tid_address(0x77f3f008)             = 6651
open("/etc/ld-musl-mips-sf.path", O_RDONLY|O_LARGEFILE|O_CLOEXEC) = -1 ENOENT (No such file or directory)
open("/lib/libnl-tiny.so", O_RDONLY|O_LARGEFILE|O_CLOEXEC) = -1 ENOENT (No such file or directory)
open("/usr/local/

[2020-08-30 22:47] aaronjg commented on #13200
With a faster startup, this seems more likely to occur than before, so I added a fix to: 13169 by having rtmon update the ipsets when new routes are added/deleted.

[2020-08-31 06:13] 9000000 opened #13255 "Samba4 error , the reading speed is very slow"
OpenWrt SNAPSHOT r14311-e5e54e52f7
Xiaomi r3p  MT7621

[code]

[2020-08-31 06:53] neheb commented on #13255
ping @Andy2244

[2020-08-31 08:56] Andy2244 commented on #13255
Not an error, the samba logger uses `daemon.err` for all types of log levels, no clue why.
`write cache size` is unknown because the experimental option `ENABLE_EXTRA_TUNING` is used with snapshots 4.12.x, where this option was removed, so thats just a info/warning.

[2020-08-31 12:24] coolermister opened #13265 "Dependency on 'libcurl', which does not exist"
Maintainer: ???
Environment:
Target arch - x86_64
OpenWRT version - master
Build os: ubuntu server 18.04
GCC: doesn't matter 9.x or 10.x
Description:
[code]
and all those packages won't build(

For example https-dns-proxy build log:
[code]
Steps to reproduce:
1. ./scrips/feeda update -a && ./scrips/feeda install -a
2. make menuconfig
3. ???
4. profit

This may be invented by [this merge?](https://

[2020-08-31 12:33] feckert commented on #13211
I have fixed the default values in [luci-app-mwan3](https://github.com/openwrt/luci/commit/8e4edd20352d0d458c988e17a3dd6b0626c5ba29) for **failure_loss** and **recovery_loss**.

In the OpenWrt there is no clear line how we should proceed here.
Either we use only the minimal setting, or we list all options as comments on the options we have, because not everyone uses LuCI.
And if an option is set/c

[2020-08-31 12:42] jamesmacwhite commented on #13211
Understood. I would propose the four check_quality config options are removed from the default configuration in `/etc/config/mwan3` on the `wan` and `wanb` interfaces, given they are currently not doing anything without `check_quality` being enabled and if not specified they can fallback to the defaults set in mwan3track unless configured by the user, now that the defaults in LuCI match.

I would

[2020-08-31 14:35] neheb commented on #13265
Use feeds install -a -f

[2020-08-31 15:39] Myron-S commented on #13095
It's how to get this onto the Entware repo.   Who had to do this?

[2020-08-31 16:24] adschm commented on #12072
I will probably drop kernel 4.14 support from master this week. This will also removed the oot cake, and leave the sched-cake-virtual package just pointing kmod-sched-cake. Therefore, I'd like to remove it as well; is there a nice way to do this without breaking sqm-scripts in certain update szenarios?

[2020-08-31 17:01] hnyman commented on #12072
sched-cake-virtual was invented just as a way to overcome the non-mainlined cake on kernel 4.14 problem. And the problem only surfaced when the package architecture was using an SDK with different kernel version than the firmware image and kernel kmods (like ramips vs. mt7621)

In future the cake kmod will always be available, as everything is 4.19+
So even if there is a difference in the package

[2020-09-01 04:05] aaronjg commented on #13145
I saw this was reopened. Short answer is no. There is some issue with L2TP, that causes it not to work with firewall marks on 19.07. This is not an issue with mwan3, but an issue somewhere in an an upstream package. Either, in L2TP, or the kernel itself.

https://github.com/openwrt/packages/issues/13195

It appears to be fixed on the "20.x" snapshot release.

[2020-09-01 04:26] openwrt-diy commented on #13145
Sorry, I wanted to fix the error, but then forgot to close it!

[2020-09-01 15:29] #13255 closed

[2020-09-01 15:43] Vladdrako opened #13270 "alsa-lib: missing files"
USB sound card not working due to errors:
[code]
There is no /usr/share/alsa/ucm2 folder.

OpenWrt SNAPSHOT r14353-4841ac042e / LuCI Master git-20.244.48572-a093971
mt7621 (Xiaomi Mi Router 3G) Kernel version: 5.4.61
Maintainer: @tripolar

[2020-09-01 15:48] Vladdrako commented on #13270
I have no ideas if this is alsa-lib bug or not, so sorry if I mistaked.

[2020-09-01 20:58] neheb commented on #13270
Related: https://bugs.archlinux.org/task/67027

Seems to be a different package entirely. https://git.alsa-project.org/?p=alsa-ucm-conf.git . I guess it needs to be added.

[2020-09-02 09:53] coolermister commented on #13265
Thank's a lot! That helped)

[2020-09-02 09:54] #13265 closed

[2020-09-02 09:59] coolermister opened #13275 "nginx: build falls with missing dependencie libpcre.so.1"
Maintainer: @heil @Ansuel
Environment:
Target arch - x86_64
OpenWRT version - master, lib musl
Build os: ubuntu server 18.04
GCC: 10.x
Description:
It looks like the other packages that use libpcre are builded correctly
Steps to reproduce:
1. ./scrips/feeda update -a && ./scrips/feeda install -a -f
2. In menuconfig select to * nginx-all-module, nginx-ssl-util, nginx-mod-luci
3. make V=s
4. Profit

[2020-09-02 11:04] coolermister commented on #13245
+1
Reproduced it too, even when building from sources. If you add some package that provide the same tool which already included in busybox, for example ifenslave, ifup/ifdown, and so on, build says "trying to install smth, but that provided by package busybox".
I used to think that it's normal behaviour)

[2020-09-02 12:44] misanthropos opened #13277 "mwan3: packets are not mangled on mwan3 restart."
Maintainer: @feckert
Environment: (ZyXEL NBG6817, OpenWrt SNAPSHOT r14365-46abcb3ade / LuCI Master git-20.245.35471-b32eb12)

mwan3 - 2.9.0-1

Description:
I am not sure if this actually mwan3 related or a problem with iptables-save/restore, but mwan3 wont route on starting the router and/or restarting mwan3.
It will however start to work if I change a firewall rule aftwards.

From the logs:
[code

[2020-09-02 13:03] arigit opened #13278 "mini-snmpd: update to current upstream release"
mini-snmpd: the current shipped version is 1.4; upstream is on release 1.6 - please update the package

Maintainer: @jefferyto @mtelka

Description:

[code]

[2020-09-02 13:53] feckert commented on #13277
The check you describe looks different in the official source?
https://github.com/openwrt/packages/blob/5a1dc8ed916f0a92410a55028d0bb067159753a2/net/mwan3/files/lib/mwan3/mwan3.sh#L38

[2020-09-02 14:32] misanthropos commented on #13277
my bad - i did not copy and paste it but wrote it from what I recalled.
The symptom however is the same. If I effectively disable the ip6 check it will work (because no ip6 commands will be issued). I am not sure however why ip6tables restore wants to handle ip4 addresses.

[2020-09-02 15:29] aaronjg commented on #13277
You need to mark the rules as family "ipv4" rather than the default "any". A more graceful way of handling these errors is coming here:

https://github.com/openwrt/packages/pull/13169/commits/fc50267ce46061225ee59bbda968ec66b610306d

[2020-09-02 16:53] misanthropos commented on #13277
@aaronjg I tried your patch, but it has other issues so I stuck to my crude "solution" for now.

examples
[code]

[2020-09-02 17:26] misanthropos commented on #13277
short update: "disabling" ipv6 just prevents spitting out errors from ip6tables-restore... the rules won`t apply. Only after triggering the firewall again routing (marking etc) works.

[2020-09-02 18:01] aaronjg commented on #13277
That commit is part of a larger patch set. Possible that something that was needed in that patch was included in an earlier or later patch. Still a WIP, I will look to try to better separate these patches.

Setting family to ipv4 on the rules should also fix the issue.

[2020-09-02 18:11] misanthropos commented on #13277
There is the catch: Setting what to ipv4 exactly? All 4 VPN interfaces are set to ipv4 and have been that way for quite some time now. Same goes for the WAN interface. And I can not find any other place in mwan3 to set the family.

[2020-09-02 19:58] aaronjg commented on #13277
You can set the option in the rule section. It may not be in Luci yet though.

Anyway, if you are not using ipv6 at all, the warning is harmless. It was always happening, but it used to be that all iptables errors were redirected to /dev/null, which as you can imagine made debugging rules quite difficult.

[2020-09-03 01:22] #13242 closed

[2020-09-03 01:28] aaronjg commented on #13195
Can we reopen this issue (and maybe change the title to something like VPN tunnels over PPTP/L2TP/PPPoE interfaces are broken)? @wackejohn just ran into the same problem on a PPPoE connection, and I think it would be good to have an open issue for people who run into this in the future to find.

He was on the 5.4.61 kernel, so it appears that this issue is not resolved even on snapshot.

It is pre

[2020-09-03 06:02] jamesmacwhite commented on #13195
@aaronjg Re-opened and relabelled as requested. I assume it's because of fwmark problem as I had with L2TP? Did the iptables workaround work on snapshot?

[2020-09-03 06:18] jamesmacwhite commented on #13277
The commit is here if you are interested, as @aaronjg mentioned, iptables/ip6tables output was being sent to /dev/null, so this will have been happening for a while, just mwan3 would have masked the errors, but around version 2.8.9, this changed.

https://github.com/openwrt/packages/commit/702a104f9c516fdddd5e71207d1ad91eb70f9a41#diff-ccaf6dffccf2fc134d63b5c33d5ee8e1

Sounds like the same issue he

[2020-09-03 06:32] ahmar20 commented on #13265
This should be the default option to install packages in the source. I was having the same issue for 2 days, I thought it was an issue with the build system.

[2020-09-03 07:30] misanthropos commented on #13277
Well - I did all that. Every rule has a policy and family set.
See [mwan3 config](http://sprunge.us/DEMi2Q)
And I get no errors. However mangling will not occur until i mess with the firewall. (restarting firewall does not work). But changing something and save/apply will work.
Again: Only after that I will see packet mangling in logger and packets are actually routed correctly. So somehow by rest

[2020-09-03 07:42] jamesmacwhite commented on #13277
Hmmm OK, that sounds more like something else. I think there's potentially two separate issues. The iptables error shouldn't cause what you are describing.

I can see from your mwan3 config you've got what looks like one physical WAN and then four logical VPN interfaces?

Does this happen on 2.8.12? The iptables error will, but the behaviour with the firewall sounds like something else.

[2020-09-03 07:50] misanthropos commented on #13277
short update - after upgrading some packages this morning, mangling does not apply anymore at all...

on 2.8.12 I had no issues.

[2020-09-03 08:27] jamesmacwhite commented on #13277
There was some refactoring done between 2.8.12 and 2.9.0 but mainly for performance and scalability. However it might be worth @aaronjg chiming on that, for a possible regression.

The current advice is to avoid snapshot builds if possible, there is a current PR open that is trying to make mwan3 routing more compatible with snapshot builds:

https://github.com/openwrt/packages/pull/13169

If you f

[2020-09-03 08:35] misanthropos commented on #13277
Thanks @jamesmacwhite , I might try out that PR!

[2020-09-03 09:28] ahmar20 commented on #13243
Is it possible that this particular error is present in OpenWrt because transmission is broken somewhere? Currently luci-app-transmission seems broken because the config produces error even on a new install in Kernel v5.4.61.

See the attached screenshot.
![2020-09-03](https://user-images.githubusercontent.com/18096216/92097458-886d7f00-edf1-11ea-8bad-886bac303191.png)

[2020-09-03 10:56] aaronjg commented on #13277
Hmm. Possible there was a regression in 2.9.0. 2.8.x was flushing and recreating the iptables a lot, which slowed things down, in 2.9.0 it does it only as needed. I had no issues with this, but perhaps something was missed? If the issue persists in 2.10.x, please let me know.

[2020-09-03 10:59] aaronjg commented on #13195
Yes, same firewall mark problem. Slightly different setup as PPPoE was the bulk WAN and wireguard was the tunnel, but same symptom. Kernel was trying to route wireguard traffic back through the wireguard tunnel.

Could be recreated without mwan3 and with a simple fwmark rule, and adding a rule outside of mwan3 to not mark the traffic to the VPN endpoint fixed the issue.

[2020-09-03 11:16] jamesmacwhite commented on #13277
@aaronjg Can't say I've had any issues either, but I guess with different configurations you can never be entirely sure. I think testing 2.9.10 would be good if you can @misanthropos. We know it has helped fixed an issue with Wireguard for another mwan3 user on snapshot and as you are using multiple logical interfaces as well it might help your case as well.

Generally the changes @aaronjg has mad

[2020-09-03 12:38] openwrt-diy commented on #13195
**I am using mwan3+pppoe-server and mwan3+pptp+l2tp+wireguard firmware routers! My final idea is to integrate the above two into one solution. Assign relevant lines to user terminals through pppoe.**

[2020-09-03 12:43] coolermister commented on #13275
Same with all nginx packages

[2020-09-03 12:46] jamesmacwhite commented on #13195
That's a very interesting setup! How well is it working currently with the use of L2TP and PPPoE? Do you encounter the same issues with fwmark reported above?

[2020-09-03 12:58] Yamakasi commented on #13189
No, not really. It seems that, what I want, Raid1 for Extroot, is not really possible because of the start-up-scripts

[2020-09-03 13:11] openwrt-diy commented on #13195
Neither of the above two routing firmwares integrates ipv6 function, mwan3+pppoe-server: I haven’t found any problems with the MWAN3 distribution network segment line, but there are more pppoe-servers at present, which may be the reason why the rp-pppoe plugin is not maintained. . Mwan3+vpn has encountered many problems, but my knowledge is limited and the expression is not accurate.

[2020-09-03 18:38] coolermister commented on #13275
ping @heil @Ansuel @neheb guys? I'm sorry for disturbing you, but I have been suffering for a  week comparing makefiles in search of an error, and I have found nothing( The openwrt buildroot for now is too difficult for me(

[2020-09-03 20:05] neheb commented on #13275
Run make clean.

[2020-09-03 20:22] coolermister commented on #13275
Did the make clean, and make dirclean, same error(

чт, 3 сент. 2020 г., 11:06 PM Rosen Penev <notifications@github.com>:

[2020-09-03 21:20] misanthropos commented on #13277
OK!
After compiling with @aaronjg PR I still had the same issue. mwan3 worked, but no packets were mangled.
What I tried: some files were owned by network:102 others by root. After chowning all config files to network:102 and restarting mwan3 routing worked....

[2020-09-03 23:15] aaronjg commented on #13277
Strange. Is 101:102 the uid:guid that you compiled with? Perhaps something is wrong in the mwan3 install script.

[2020-09-04 06:26] misanthropos commented on #13277
I compiled with my normal user account here a home and that is not 101 and I am not part of a group with ID 102. Maybe it was coincidence? Could it is a race condition and I got lucky? Every process is running as root except for dnsmasq atm.

[2020-09-04 08:06] cirruspl commented on #12836
@aaronjg I have just noticed that my first diagnosis was made using version 2.8.4 which was without PING="/bin/ping"
Now I use 2.8.8 and everything works fine. :+1:

[2020-09-04 08:20] misanthropos commented on #13277
what actually did the trick is: restarting firewall then restarting mwan3

[2020-09-04 14:12] aaronjg commented on #13277
Does it work on a clean reboot? Mwan3 startup is now much faster than it used to be, so perhaps there is a race condition between it and the firewall script.

[2020-09-04 15:16] misiek735 opened #13301 "[vpn-policy-routing] Issue: Wrong service gateway selection after restarting the router"
Hi!

Router: Xiaomi Router 3g,
Firmware OpenWrt 19.07-SNAPSHOT r11144-2ca5a386ee / LuCI openwrt-19.07 branch git-20.197.49655-210b489
Kernel 4.14.187.

My config is based on the instruction from readme "If the Wireguard tunnel on your router is used as default routing(...)".

After restarting the router, those devices which has been configured to work through vpn does not have the access to the in

[2020-09-04 15:18] misanthropos commented on #13277
No. Normally I have to restart OpenVPN - then firewall and mwan3.

[2020-09-04 15:58] aaronjg commented on #13277
We should probably move this to later in the startup process. Though I have an R7800, which has similar dual core 1.7Ghz processors, and haven't had an issue. If you change the "START=19" line in /etc/init.d/mwan3  to something like "START=20" or "START=25", does that fix the problem?

[2020-09-04 16:13] misanthropos commented on #13277
it seems OpenVPN does not need a restart anymore. But I still have to restart firewall then mwan3.
START=25 btw.

[2020-09-04 18:03] misanthropos commented on #13277
I read you are testing your patch with current master - I built with 19.07.3 - and I have made a new one with current master. Which one should I try with (what helps you more).

[2020-09-04 18:07] mohitgupta1918 opened #13304 "NETDATA: Unknown package 'netdata' error on RPi 4 snapshot -- maybe a build bot error"
Maintainer: @BKPepe @diizzyy
Environment: aarch64_cortex-a72 (RPi 4 2 GB Model)
Firmware Version	OpenWrt SNAPSHOT r14377-7a5e4f5f00 / LuCI Master git-20.246.48839-82d4384

Description: I am trying to install netdata but i am getting an error **Unknown package 'netdata'**
I tried upgrading to the latest snapshot available at the time, still getting the same error.

I think the build bot is throwing

[2020-09-04 22:46] nikolajsheller opened #13305 "net/adblock 4.0.6 does not block domains in selected blocklists"
Incorrect arguments are passed to BusyBox sort, causing downloaded blocklists to be lost, instead of sorted.

Tho problem starts here, in 'adblock.sh:433':
adb_srtopts="--temporary-directory=${adb_tmpdir} --compress-program=gzip --batch-size=32 --parallel=${cores}"

These options are passed to sort on e.g.: 'adblock.sh:1320", causing sort to fail and the resulting file of sorted domains to be empt

[2020-09-05 04:39] #12931 closed

[2020-09-05 06:06] dibdot commented on #13305
adblock package depends on coreutils-sort, cause busybox sort is much slower and doesn't support merge sorts  - bottomline fix your installation.

[2020-09-05 06:06] #13305 closed

[2020-09-05 07:18] nikolajsheller commented on #13305
This is for anybody else seeing this or similar problems:
opkg reported 'coreutils-sort' as being installed, but 'sort' pointed to BusyBox sort.
Removing and reinstalling 'coreutils-sort' fixed 'sort' so it is now the expected coreutils sort, fixing the cause of this issue.

[2020-09-05 21:56] markthehipster opened #13311 "ERROR: module 'thermal_sys.ko' is missing"
Error message:

[code]

Maintainer: the Makefile inside ` build_dir/target-aarch64_cortex-a72_musl/linux-bcm27xx_bcm2711/linux-5.4.61/drivers/thermal` doesn't say anything about the Maintainer..
Environment: (aarch64_cortex-a72, rpi4, master) build on top of MacOS in Docker (debian)

Solution I tried out after lurking around the web and finding this one: https://patchwork.kernel.org/patch/2365521/

[2020-09-06 03:07] diizzyy commented on #13304
Seems to be related to buildbot, have you tried compiling yourself?

[2020-09-06 05:09] ptpt52 opened #13314 "nginx crash after ubus module update"
[code]

run test on mipsel ramips

it is related to this commit: https://github.com/openwrt/packages/commit/6c3e2e927f2bd71e5dd784eddd67d80465aa5c55

without this commit, run test is fine

ping @Ansuel

[2020-09-06 12:13] Ansuel commented on #13314
@ptpt52 i can't test currently but i should have found the bug... Do you have a buildroot to test the new version ?

[2020-09-06 15:34] aaronjg commented on #13277
@misanthropos, testing with the snapshot build on the 5.4.x kernel would be very helpful. There were some issues with mwan3 <=2.9 on the new kernel, and more testing to make sure they are resolved would be appreciated.

[2020-09-06 19:24] misanthropos commented on #13277
@aaronjg I tried... here is the thing: I checked out master / changed in feeds the packages to your changes and out comes
an image with 4.14.180 - and I have no clue where to set the kernel version.

[2020-09-06 19:44] aaronjg commented on #13277
Strange. What commit are you on from openwrt/master. It looks like it should build LINUX_5_4 for your device:

[code]

[2020-09-06 19:45] ptpt52 commented on #13314
@Ansuel sure

[2020-09-06 20:25] misanthropos commented on #13277
could it be the image was rejected and booted with the one it had?

[2020-09-06 21:07] Ansuel commented on #13314
@ptpt52 then change in the nginx makefile the version for the ubus submodule to this commit and clean/compile... tell me if the problem is fixed

b2d7260dcb428b2fb65540edb28d7538602b4a26

[2020-09-07 08:14] reinerotto opened #13318 "PHP7: Timezone TZ broken"
Using PHP7 on openwrt. Timezone 'UTC' works perfectly, However, setting another one in /etc/config/system, i.g.
option timezone 'CET-1CEST,M3.5.0,M10.5.0/3'
option zonename 'Europe/Berlin'
breaks the following demo:

<?php echo date("Y"); echo date("H:i:s"); ?>
Output:
Fatal error: date(): Timezone database is corrupt - this should never happen! in /www/ui/test.php on line 2

The interesting fact

[2020-09-07 08:53] coolermister commented on #13318
Did you use ./scripts/feeds install -a -f ?
I see this
![screen](https://user-images.githubusercontent.com/13290830/92368601-9c222980-f100-11ea-8629-05085b0cbc9c.png)

[2020-09-07 08:55] coolermister commented on #13318
Did you try ./scripts/feeds install -a -f ?
I see all of zoneinfo packages
![image](https://user-images.githubusercontent.com/13290830/92368867-f4f1c200-f100-11ea-8d71-c0306e67c89b.png)

[2020-09-07 09:46] jefferyto commented on #13278
The [actual maintainer](https://github.com/openwrt/packages/blob/4ecaaad0af29b3e6a4d47485e9b4520ce55d7e0f/net/mini_snmpd/Makefile#L13) is @marcin1j.

[2020-09-07 09:49] #13318 closed

[2020-09-07 09:52] ptpt52 commented on #13314
@Ansuel
build and test, and no crash now.

[2020-09-07 11:44] coolermister commented on #13275
Initialized a fresh repository, copied the .config and kernel config-5.4 into it. Still nothing

[2020-09-07 11:53] coolermister opened #13322 "Continuous building"
Guys, maintainers. If you interested in continuous building, for example for most common arch as x86 or atheros and so on, i can provide one of my own servers. For example it can be 2x opteron 6172 + 64 gb ram and ssd intel 1tb. If we always will automatically build master for example, we will see what have been gone wrong quicker

[2020-09-07 13:07] Ansuel commented on #13275
I clean/compiled the nginx-ssl package multiple times but i still can't reproduce this

[2020-09-07 13:21] coolermister commented on #13275
wow. @Ansuel did you try nginx-all-modules? can i provide additional information? may be config?

[2020-09-07 13:25] Ansuel commented on #13275
Well nice... with all variant i reproduced the problem... let me check

[2020-09-07 15:08] BKPepe commented on #13304
Hm. There is something happening with buildbot for aarch64_cortex-a72.
It affects many packages including netdata:
https://downloads.openwrt.org/snapshots/faillogs/aarch64_cortex-a72/base/e2fsprogs/compile.txt and so on.

[2020-09-07 15:37] Ansuel commented on #13275
@coolermister i should have fixed the problem... pushing a fix

[2020-09-07 15:45] jamesmacwhite commented on #13277
It's possible. If you install `luci-app-advanced-reboot` and note what partition is booted (active). On dual flash routers, it will alternate on every successful flash/sysupgrade. If you reboot and the active partition hasn't changed, I don't think the upgrade worked.

[2020-09-07 16:12] jvasileff opened #13325 "acme: run-acme fails and corrupts uhttpd config when uhttpd also listens on ipv6 port 80"
Maintainer: @tohojo
Environment: N/A, but raspberry pi 4, latest from GitHub

Description:

When `uhttpd` is configured to listen on both `0.0.0.0:80` and `[::]:80` (both ipv4 and ipv6), `run-acme.sh` clears both listen directives from `/etc/config/uhttpd` and fails.

Logs:

It can be seen in the logs that `/usr/lib/acme/run-acme`'s pre checks are incorrectly run twice:

[code]

Code References:

[2020-09-07 16:16] jvasileff commented on #13325
Note that the end-user workaround is to:

[code]

(followed by `/etc/init.d/uhttpd restart`)

which will replace the following in `/etc/config/uhttpd`

[code]

with

[code]

[2020-09-07 16:55] #13314 closed

[2020-09-07 16:56] #13275 closed

[2020-09-07 18:43] #12394 closed

[2020-09-08 10:01] tohojo commented on #13325
Ah, that won't do obviously - thanks for reporting!

Could you please check if https://github.com/tohojo/openwrt-packages/commit/bfd7312625475e37c5e739361bf9b268c88a45a1 fixes this for you?

[2020-09-08 11:14] isrizil opened #13339 "OpenWrt 19.07.3 r11063-85e04e9f46 - Archer C7 v2 - wlan0 and wlan1 fail to enable after sometime of running"
Hello,
after I enabled the Wlan0 and Wlan1 interfaces it run for several hours and than get into cycle of -disable, enable, disable, enable

attached log from the system log

Thanks
using - OpenWrt 19.07.3 r11063-85e04e9f46

[openwrt_archer_c7_v2.txt](https://github.com/openwrt/packages/files/5187916/openwrt_archer_c7_v2.txt)

[2020-09-08 16:14] jvasileff commented on #13325
Thanks, that works! Here's the log:

[code]

One nit is that the save/restore process, which is basically:

[code]

changes the config file from

[code]

to

[code]

which affects the way it is displayed in the luci web ui. But it's not a huge deal, the compressed format works fine.

[2020-09-08 18:36] tohojo commented on #13325
Yeah, realise that, but not sure there's any way to avoid it?

[2020-09-08 19:04] jvasileff commented on #13325
Yeah I figured it wouldn't be super straight forward. I'm new to OpenWrt, so I'm not aware of all of the intricacies of `uci`.

[2020-09-08 22:23] micmac1 commented on #12089
I finally got around to try fakeroot. It looks neat, but I ran into a limitation. When setting PKG_FILE_MODES it will call the ipkg build script with '-m "$(PKG_FILE_MODES)"' on any package install. But if the directory doesn't have the file contained in PKG_FILE_MODES it'll fail.

Take for instance mariadb. I add

PKG_FILE_MODES:=/usr/lib/mariadb/plugin/auth_pam_tool_dir:root:376:0750

but only n

[2020-09-08 22:57] aparcar commented on #12089
That's a good finding, thanks for checking! I initially had the plan to run `install` via `fakeroot` so each would be handled separately, however it was requested *to have all mode settings in a single variable*. I see this as a limitation and could implement another approach or allow the file mode setting to skip in cases where the file is not existent, the easier solution.

[2020-09-09 09:54] micmac1 commented on #12089
Hi @aparcar

I quickly looked at your patch. It's a bit different to what I had in mind. I was thinking on something along the lines of PKG_MAINTAINER vs. MAINTAINER. include/package-defaults.mk defines Package/Default, which does this:

`MAINTAINER:=$(PKG_MAINTAINER)`

So the default package define has a MAINTAINER set (can be "" of course). So you can set the user globally with PKG_MAINTAINER or

[2020-09-09 09:58] aparcar commented on #12089
LGTM, mind creating a patch?

[2020-09-09 09:59] micmac1 commented on #12089
Don't mind at all :)

[2020-09-09 10:51] #13325 closed

[2020-09-10 16:09] DittelHome opened #13354 "perl-device-usb compilation error"
Maintainer: @pprindeville, @neheb,, @Naoir
Environment: mips_24kc - V19.07

Cannot use perl-device-usb, see:
Index of (root) / releases / faillogs-19.07 / mips_24kc / packages /
https://downloads.openwrt.org/releases/faillogs-19.07/mips_24kc/packages/

[2020-09-10 20:00] aaronjg commented on #13277
Were you able to boot the master branch?

Here is another resource on using the dual partitions on your router:
https://forum.openwrt.org/t/zyxel-nbg6817-problems-flashing-openwrt/62939/5

[2020-09-10 23:59] Schneehuhn opened #13359 "net/nut: nut-server initscript does not treat underscores in override/default cfg options correctly (patch)"
[nut-server.init.txt](https://github.com/openwrt/packages/files/5205195/nut-server.init.txt)

When the nut-server initscript generates the config file for the driver from the nut_server uci configuration, override/default configuration options are not treated correctly. Underscores in the option name should be replaced by dots; this is not done.

nut_server uci config file:

`config driver 'ups'`

[2020-09-11 21:05] izstas opened #13361 "libs/getdns: getdns_query is statically linked against libgetdns.so"
Maintainer: @jonathanunderwood
Environment: ath79, TP-Link Archer C7 v4, OpenWrt 19.07.4

Description:

Upon updating from 19.07.3 (with no packages updated since the release date) to 19.07.4, I noticed that the size of /usr/sbin/getdns_query binary has significantly increased (from about 39 KB to about 306 KB)

I found that /usr/sbin/getdns_query doesn't depend on libgetdns.so like it did in the

[2020-09-12 09:49] BKPepe commented on #13304
And the package is there. Closing.

[2020-09-12 09:49] #13304 closed

[2020-09-12 13:42] hue715 commented on #13034
Environment: x86_64,  OpenWrt master

I think that there is something wrong with glib2，so I used two versions (2.58.3 and 2.65.2) to compile and compared the difference between the results.

when I use glib2(2.58.3) , open-vm-tools makefile (compilation OK)：
![image](https://user-images.githubusercontent.com/22958922/92996293-1d345300-f53d-11ea-909a-02b12ec99d05.png)

when I use glib2（2.65.2），open

[2020-09-13 05:40] #13354 closed

[2020-09-13 05:40] DittelHome commented on #13354
Thanks !!!
regards Klaus

[2020-09-13 07:18] BKPepe commented on #13339
This repository contains community packages for OpenWrt. And thus it does not help you with wlan issues. Therefore to such issues, there is a [OpenWrt forum](https://forum.openwrt.org/), [OpenWrt bug tracker](https://openwrt.org/bugs).

[2020-09-13 07:18] #13339 closed

[2020-09-13 08:45] micmac1 commented on #12089
I sent two PRs to use fakeroot instead of postinst script, one for apache and the other for mariadb. Thanks to @aparcar and @dangowrt for implementing this!

[2020-09-13 18:35] youxiaojie opened #13383 "samba4: compile stopped at "Checking for openpty:" BUG?"
[code]

[2020-09-14 13:36] Andy2244 commented on #13383
Not sure, never seen it stop there.
Try clean SDK/Build and if this fails might be a Distro issue with samba. I use Debian + WSL2 for my builds and my docker-builder also uses Debian (debian:stretch-slim).

[2020-09-15 00:53] aaronjg opened #13395 "CI: super-linter does not understand OpenWRT shell scripting paradigms"
@aparcar @neheb

Issue with the recent change made here: #13358

I have been working on  P/R #13169, and saw that there is now a new delinter in the CI process. While, delinters are often useful for maintaining code quality. the shellcheck plugin to super linter has some major issues for OpenWRT code:

1) It is unable to find sourced scripts (SC1091), which causes unused variable warnings (SC2034)

[2020-09-15 01:08] aparcar commented on #13395
Thank you very much for the quick feedback, I suggest to add the following env to the workflow file:

[code]

Better safe than sorry I'd say, don't you think?

[2020-09-15 01:14] aparcar commented on #13395
Maybe like this? https://github.com/openwrt/packages/pull/13396

[2020-09-15 01:15] neheb commented on #13395
I wouldn't worry too much. Shellcheck gives valuable feedback. All the linter does from my point of view is to prevent merging on mobile.

The quoting warnings are annoying since they can result in bugs, especially when used with procd functions.

[2020-09-15 01:19] aaronjg commented on #13395
We need to be able to source the scripts, rather than just ignoring the warning that the scripts aren't sourced.  Turning off SC2034 is going to cause a lot of false negatives, when variables are actually unused. (sorry, had SC2039 for that in my initial comment, and have edited it now).

SC2039 could probably be turned off, but it would be nice if it could still alert if a user used a function th

[2020-09-15 20:31] tiagogaspar8 commented on #11847
Heyyy,

So, it's been some time, sorry for the delay, hope everyone's doing well.

I see, thanks for the reminder.

I get what you mean, and that's a great point of view.

I've been watching the great changes you made to the software, and I want to congratulate you. Just one complaint (which might be from my side but you'd know better)
For some reason, when my router boots up, nginx doesn't bind t

[2020-09-16 22:02] peter-stadler commented on #11847
Thank you, I am very well (but a lot is changing now, so I do not have much time). I hope you are well, too.

Yes, I did experience it sometimes. I think it is a timing issue, when nginx looks up the lan addresses before they are assigned to the interface. I thought about a hack for awaiting that. But if we use the deny/allow approach in the new version, it would not be needed; I finally published

[2020-09-17 05:00] predators46 opened #13408 "Udev and eudev"
whether eudev is udev whose name was changed, and whether the function is the same as udev

[2020-09-17 13:24] brianjmurrell commented on #13003
No.  Other issues in this ticket about UI exposure of the family setting, etc. are still relevant though, of course.

[2020-09-17 13:28] jamesmacwhite commented on #13003
Yep. I think this issue triggered a few PRs and identified inconsistencies with LuCI. There should be a fix coming for LuCI with the family option: https://github.com/openwrt/luci/pull/4349

There's also a PR for changing some of the default in LuCI that are mismatched with mwan3track.

[2020-09-18 02:22] neheb commented on #13395
If we look at https://github.com/openwrt/packages/blob/master/net/nut/files/nut_serial.hotplug#L23 , we see there's a variable for this.

I don't know if this will work for the environment that GitHub Actions uses.

[2020-09-18 02:28] neheb commented on #13395
Hmmm there's no easy solution to this. I was thinking having shellcheck being ran, similar to test.sh but shellcheck is written in haskell.

[2020-09-18 02:48] aaronjg commented on #13395
I don't know if this will work for the environment that GitHub Actions uses.

Yeah, it would be ideal if there was an environment variable or some other way to tell it where to find the other scripts to include.

[2020-09-18 09:41] neheb commented on #13361
Sounds like a bug with CMake.

[2020-09-18 11:41] Ansuel commented on #13044
@josuelopezv  Didn't notice this... Di you still needs this?

[2020-09-18 11:42] Ansuel commented on #8988
@hnyman think this can be closed?

[2020-09-18 15:25] thomaslunze opened #13424 "mwan3 - could there be a sticky on when its working again on snapshots?"
I know that mwan3 is not yet ready to be working with 20.x releases right now (as per wiki) but asking if ther is a sticky note already somewhere or could be created to just knwo when it amakes sense to build another snapshot with imagebuilder and have a working mwan3 again?

my current "OpenWrt SNAPSHOT r14154" works fine.
anything beyond does not

Thanks everyone

[2020-09-18 16:48] youxiaojie opened #13425 "BUG? select pogopro but dts compiled is series v3 which without pcie binding?"
I select pogo pro with pcie, but I see
`openwrt/build_dir/target-arm_mpcore_musl_eabi/linux-oxnas_ox820/linux-5.4.65/arch/arm/boot/dts/ox820-cloudengines-pogoplug-series-3.dtb
`
where is no pcie binding in dts, is it a bug?

[2020-09-18 17:13] mpratt14 opened #13426 "libustream: package/install file conflicts breaks build"
Reproduce the problem:
selecting `luci-ssl-openssl`

[code]
...
...
...
[code]

[2020-09-18 17:42] jamesmacwhite commented on #13424
Best thing to do is keep an eye on some of the open issues here currently: https://github.com/openwrt/packages/issues?q=is%3Aissue+is%3Aopen+in%3Atitle+mwan3

This WIP PR from @aaronjg is one of the first major steps in working towards mwan3 working on snapshot: https://github.com/openwrt/packages/pull/13169 and resolves some of the key issues, but more testing and development is likely needed in

[2020-09-18 18:20] aaronjg commented on #13424
You can build the P/R now, but it will require either imagebuilder + SDK or buildroot. P/R is essentially done. I, and other users who have tested it on the snapshot build are reporting that it works.

Out of curiosity, what is the date of the snapshot build, router architecture,  and output of `uname -r` for the version that it works on?

[2020-09-18 19:09] jlopezdragonspears commented on #13044
yes please

[2020-09-18 23:07] sinancetinkaya commented on #13245
Builds still have it. What's the root cause of this problem?

[2020-09-18 23:21] dangowrt commented on #13245
Apparently what happens is that `procd-selinux` is somehow preferred over `procd` as it `PROVIDES:=procd`.
Can you try building an ImageBuilder from source and try adding `PROVIDES:=procd` in package/system/procd/Makefile also to the procd package? Same for busybox I suppose.

[2020-09-18 23:26] sinancetinkaya commented on #13245
@dangowrt

How? My linux knowledge is very limited.

[2020-09-18 23:32] aparcar commented on #13245
@sinancetinkaya I'll give it a test :)

[2020-09-19 01:30] aparcar commented on #13245
Have you tried other targets? I'm trying to reproduce it on x86/64 and I don't see a problem

[2020-09-19 01:34] sinancetinkaya commented on #13245
I wrote the build command I used in the first post. Can you try the exact command?

[2020-09-19 01:45] neheb commented on #13426
this is for https://bugs.openwrt.org

[2020-09-19 01:45] #13426 closed

[2020-09-19 02:35] peterwillcn commented on #12151
Anyone can add libvirtd support

[2020-09-19 05:23] neheb commented on #13425
this belongs in https://bugs.openwrt.org

[2020-09-19 05:23] #13425 closed

[2020-09-19 07:16] thomaslunze commented on #13424
The working snapshot I am running I have buildroot on 13.08.2020

details:
Hostname	OpenWrt
Model	Linksys WRT1200AC
Architecture	ARMv7 Processor rev 1 (v7l)
Firmware Version	OpenWrt SNAPSHOT r14154-2d9db93397 / LuCI Master git-20.219.57394-35e2735

root@OpenWrt:~# uname -r
5.4.52

[2020-09-19 10:17] neheb commented on #13199
Closing since this belongs in https://bugs.openwrt.org

[2020-09-19 10:17] #13199 closed

[2020-09-19 10:18] neheb commented on #13245
Closing as this belongs in https://bugs.openwrt.org

[2020-09-19 10:18] #13245 closed

[2020-09-19 10:19] neheb commented on #13093
Closing as this belongs in https://bugs.openwrt.org

[2020-09-19 10:19] #13093 closed

[2020-09-19 10:20] neheb commented on #12812
This has been fixed.

[2020-09-19 10:20] #12812 closed

[2020-09-19 10:22] neheb commented on #12777
The PR was merged.

[2020-09-19 10:22] #12777 closed

[2020-09-19 10:24] neheb commented on #12968
Not valid anymore I believe.

[2020-09-19 10:24] #12968 closed

[2020-09-19 10:25] neheb commented on #12869
@aparcar is this still valid?

[2020-09-19 10:28] #12420 closed

[2020-09-19 10:29] aparcar commented on #12869
Well sure, incremental builds are still a thing.

[2020-09-19 10:30] neheb commented on #12353
What happened?

[2020-09-19 10:31] #12557 closed

[2020-09-19 12:23] tiagogaspar8 commented on #11847
I see what you mean, Then I hope this gets merged soon cause this issue is very annoying, and, as a second update, it seems the issue is still present.
I'll be looking and following that pull request.

Thanks!

[2020-09-19 12:24] #11847 closed

[2020-09-19 16:35] jmarcet commented on #12353
docker has its issues on x86_64 indeed on openwrt, but here are a few workarounds I use to have a 100% stable station.

I haven't been able to solve the issue around netns_clone, but other than when rebooting, or updating containers, I manage to have a system with no backtrace at all, running 24/7 with 26 containers. If anyone wants to dig further on the problem, I am quite sure none of the openwr

[2020-09-19 21:36] neheb commented on #13278
Merged.

[2020-09-19 21:36] #13278 closed

[2020-09-19 21:39] neheb commented on #13244
This is already supported if compiling your own builds. It will not be turned on by default for size reasons.

[2020-09-19 21:39] #13244 closed

[2020-09-19 21:45] neheb commented on #13141
Going to close this. I will not be fixing this. If you really want to use NTFS-3G, manually create a symlink to mount.ntfs3g like so:

[code]

[2020-09-19 21:45] #13141 closed

[2020-09-19 23:27] Entropy512 commented on #13141
I've manually done that myself, but I disagree with you insisting that users put their data and kernel stability at risk.

The solution you insist on forcing on user:
https://github.com/Sembedded/antfs/commits/master

4 commits in 2 years.  Clearly not maintained, clearly not following any development or code review process.  Yet you are insisting that users shove this untested and poorly maintain

[2020-09-19 23:42] neheb commented on #13141
@Entropy512 I'm going to push back here.

The last stable release of NTFS-3G was in 2017. It may still be active but there are no stable releases. It's also a fuse driver which means it's slow.

Looking at the git history of that repo is not correct. The actual driver is developed by AVM and is taken from tarballs that they post. It's not an accurate reflection of the development happening. They p

[2020-09-19 23:46] neheb commented on #13408
currently, there is libudev-fbsd in here, which is mostly a stub library based on older udev. There's work on introducing a better one: https://github.com/openwrt/packages/issues/12844

In any case, udev or eudev will not be coming here.

[2020-09-19 23:46] #13408 closed

[2020-09-19 23:48] neheb commented on #13322
I would talk to @jow- about this. He doesn't really read his GitHub emails, so it's best to catch him on IRC.

Currently on https://downloads.openwrt.org , packages are rebuilt mostly every day. I have no idea what the underlying hardware is.

[2020-09-19 23:53] neheb commented on #13359
Pushed to master.

[2020-09-19 23:53] #13359 closed

[2020-09-19 23:55] neheb commented on #13101
the currect URL is:

[code]

you're saying to change to

[code]

?

[2020-09-19 23:56] neheb commented on #13189
Is this with master or 19.07?

[2020-09-19 23:58] neheb commented on #13311
This is not relevant here. This is for https://bugs.openwrt.org

[2020-09-19 23:58] #13311 closed

[2020-09-19 23:59] neheb commented on #13301
ping @stangri

[2020-09-20 00:02] neheb commented on #12626
domoticz is no longer maintained. You're on your own I'm afraid.

[2020-09-20 00:05] predators46 commented on #13408
but I managed to make it in the master branch

[2020-09-20 00:05] predators46 commented on #13408
but I managed to make it in the master branch

[2020-09-20 00:06] neheb commented on #12862
Is this still an issue?

[2020-09-20 00:09] stangri commented on #13301
@misiek735 like I asked in the issue you've created in my repo, please provide all the information mentioned in the HELP section of the README.

[2020-09-20 00:21] Entropy512 commented on #13141
So you're basically saying that you KNOW that the solution you are forcing on users is not suitable for integration directly into the kernel without insulation, since it is not getting integrated by upstream in favor of another approach?

The repo you link has only one more commit, and it's a tarball dump.

They way I read your comment is "The safe way is slow, so let's take the dangerous path."

[2020-09-20 02:47] neheb commented on #13141
That news is inaccurate. That was for the first patchset. It's currently cleaned up to version 5. More versions will follow. That's the typical kernel process. It just takes time. Some stuff like mwlwifi for example (which went to 8 patchset revisions) was abandoned for upstream inclusion by the author.

The AVM NTFS driver was never proposed for upstreaming at kernel.org. It's not as fully featur

[2020-09-20 14:10] dwmw2 commented on #12626
I am taking over. Apologies for the delay.  I'm not familiar with the plugins and have avoided perl but the file system layout should work. I have been using a setup with symlinks to an external file system but will investigate.

[2020-09-20 15:04] lnpz2 commented on #11971
What UPnP clients are running on these hosts? Maybe they're too buggy?

@neheb The latest version (release 3) #12675 doesn't seem to be available in the repository which still has release 2 according to the file name https://downloads.openwrt.org/releases/packages-19.07/x86_64/packages/

[2020-09-20 15:07] Yamakasi commented on #13189
Yes on 19.07

[2020-09-20 18:37] elcovv opened #13443 "mwan3: /sbin/hotplug-call: eval: line 847: continuea: not found"
Maintainer: @feckert
Environment: ar71xx/generic, tl-wr902ac-v1, 19.07.4

Description:
When I restart the mwan3 service or whenever mwan3 acts on a hotplug event I get the following error messages on the active console:

root@TL-WR902ACv1:~# service mwan3 restart
/sbin/hotplug-call: eval: line 847: continuea: not found
/sbin/hotplug-call: eval: line 847: continuea: not found
root@TL-WR902ACv1:~#

[2020-09-20 21:14] jamesmacwhite commented on #13443
Looks like a typo did slip in:

https://github.com/openwrt/packages/blob/ab747fe0fb3b60c0bd42ea2c4fc045273eb46f6f/net/mwan3/files/lib/mwan3/mwan3.sh#L847

This will have been fixed in master, due to refactoring done in 2.9.0 and this is no longer present.

You can upgrade from the snapshot package for your arch: https://downloads.openwrt.org/snapshots/packages/ or temporarily edit the `/lib/mwan3/

[2020-09-20 21:28] neheb commented on #13189
Did you try installing kmod-dm-raid?

[2020-09-20 22:52] lelguea commented on #13199
This is the error in BusyBox 1.30.1.6

root@OpenWrt:/tmp# ip tunnel add he-ipv6 mode sit remote 216.xx.yy.zz local
xxx.xxx.xxx.xxx ttl 255
BusyBox v1.30.1 () multi-call binary.

Usage: ip [OPTIONS] address|route|link|neigh|rule [ARGS]

MTIA
*Lorenzo Miguel Elguea Fernández*
Director de TI
Tecnologías de Información
Campus Ciudad de México
*lelguea@up.edu.mx* / Tel. 55 5482 1600 / 5500 / www.up.edu

[2020-09-21 00:56] neheb commented on #11971
Backported.

[2020-09-21 10:36] jamesmacwhite commented on #13443
Just pinging @feckert as the original issue didn't tag properly.

[2020-09-21 10:52] feckert commented on #13443
@jamesmacwhite Thanks for looking into this.

[2020-09-21 10:52] #13443 closed

[2020-09-21 11:00] Entropy512 commented on #13141
OK, so maybe this will be OBE in a bit.

But in the meantime, the package description for NTFS-3G should be updated to indicate that it is no longer maintained/considered obsolete by the OpenWRT team, and will not work as expected without manual intervention so people aren't confused when it does nothing after they install it/add it to their build.

I'll submit a pull request to amend the descript

[2020-09-21 15:34] Entropy512 commented on #12812
So, while it is fixed, I'd like to know why this package was in a broken state for over a month, with the only reason being your provably false assertion that:
"Removing that causes a pointless coreutils metapackage with all of the subpackages to be outside of it."

It is my assumption that "coreutils" above was a typo and you meant to state "canutils"

However, your eventual fix caused the exact

[2020-09-21 17:59] Yamakasi commented on #13189
Yes all is installed.

I now do it the traditional way...

[2020-09-21 21:17] neheb commented on #12812
My understanding is that the canutils metapackage pulls in all of the subpackages. That's no longer true if you remove the DEPENDS.

[2020-09-21 22:18] u4david commented on #13101
Yes the domain is changed to this: https://dnsup.sitelutions.com/

Thx, David V.

On Sat, Sep 19, 2020 at 5:55 PM Rosen Penev <notifications@github.com>
wrote:

[2020-09-22 04:52] neheb commented on #13101
So changing the line I quoted in /etc/ddns/services works?

[2020-09-22 06:02] feckert commented on #13101
I am working on a ddns-scripts rework.
Could we change this after I have merged my[ P/R](https://github.com/openwrt/packages/pull/13402)?

[2020-09-22 07:51] DazzyWalkman commented on #12805
Strangely, I clean build , including the toolchain today with gcc 10.2.0, glibc and binutil 2.35, without the disable-flto patch, the issue had gone. Compilation completed successful.
Thank you all anyway. I am closing this.

[2020-09-22 07:51] #12805 closed

[2020-09-22 08:29] jamesmacwhite commented on #13424
Once 2.9.10 is merged into master it should improve the situation for snapshot but as @aaronjg said you can build the PR now with the SDK if you want. I added the big red banner on the docs because a few reports were coming in here with the same issue. Because of the requirement to build with the SDK currently until it's released, I wouldn't expect everyone to compile the PR branch, so that's why

[2020-09-22 09:11] ja-pa opened #13462 "samba4: CVE-2020-1472"
Maintainer: @Andy2244
Environment: OpenWrt master and OpenWrt 19.07

Description:
There is a critical vulnerability [CVE-2020-1472](https://www.samba.org/samba/security/CVE-2020-1472.html) in samba4 (and probably in samba36) package.
@Andy2244, could you please bump packages for master and 19.07? If you are busy, I can do it. Please let me know.

[2020-09-22 09:12] thomaslunze commented on #13424
Thanks everyone. As I am not that familiar with building the PR I will wait for the merge to the master :-)
Or is there any easy hint on how to do that? *fearless*

[2020-09-22 09:18] jamesmacwhite commented on #13424
If you fancy it, you can look at the SDK guide here: https://openwrt.org/docs/guide-developer/using_the_sdk. You don't need to go with a full compile, the SDK removes a lot of that as it's pre-compiled toolchain, rather than building from source entirely, but you will still need to compile the mwan3 PR branch yourself with the SDK.

The PR should be ready soon though, if you can wait. I would stay

[2020-09-22 11:16] aburdukov opened #13465 "ocserv: package contents of ocserv 1.1.1-1 is inconsistent/broken"
The ocserv package of OpenWrt 19.07 was updated recently (on Sep 22, 2020) from version 1.0.1 to version 1.1.1.

Since version 1.1.0 ocserv introduced ocserv-worker application (see changelog here: https://ocserv.gitlab.io/www/changelog.html).

The updated package does not include ocserv-worker application and as the result ocserv does not work anymore with the following error in the logs on attem

[2020-09-22 12:03] aaronjg commented on #13443
Thanks for catching that. This just requires a small change that can be applied to 19.07. Since this is on the stable branch, I'd like to get this fixed ASAP, and it may be a couple days before I have time to address @feckert's comments on the other PR.

[2020-09-22 13:55] feckert opened #13469 "ttyd: closes session on firefox after 30 seconds"
Maintainer: @tsl0922
Environment: x86_64, APU3, OpenWrt master

Description:

I have installed luci-app-ttyd from master.
I have set the following configuration.

[code]
No matter if I am logged in or not, after 30 seconds the session is closed and restarted on firefox.
I do not have this behaviour with chromium.

Version:
Chromium: Version 83.0.4103.116 (Developer Build) built on Debian 10.4, run

[2020-09-22 16:31] jamesmacwhite commented on #13211
@feckert We can close this, the commit will likely go in #13169, I made a new branch for @aaronjg to cherry pick the config updates.

[2020-09-22 16:46] Andy2244 commented on #13462
CVE-2020-1472 = "The following applies to Samba used as domain controller only..."

The default package has no DC support and you need to build and enable this "experimental" feature via build config. So its not this urgent and i will update if i have time. If you have free time feel free to setup a PR.

[2020-09-22 19:25] #13465 closed

[2020-09-22 19:25] nmav commented on #13465
Thank you, I've updated the package to include it. Sorry for that.

[2020-09-22 19:28] nmav commented on #12875
There are several recipes that apply to openwrt as well at:
https://ocserv.gitlab.io/www/recipes.html

You can also check the manual for all the available settings:
https://ocserv.gitlab.io/www/manual.html

I'm closing this as this is not an issue of ocserv in openwrt.

[2020-09-22 19:28] #12875 closed

[2020-09-22 19:31] nmav commented on #12365
`auth = "plain, pam"` is simply wrong configuration. Check the upstream site on how to enable pam:
https://ocserv.gitlab.io/www/recipes-ocserv-authentication-pam.html

[2020-09-23 05:26] dlenski opened #13471 "openconnect: pkgdata is inaccurate"
Maintainer: @nmav
Environment: N/A

Description:

The description field show in the package data at https://openwrt.org/packages/pkgdata/openconnect is obsolete and doesn't fully reflect the supported protocols as of v8.09 (includes PAN GlobalProtect as well as truly native support for Pulse):

This is causing some confusion among OpenConnect users on OpenWRT.

I would suggest adopting the updated

[2020-09-23 07:03] #13211 closed

[2020-09-23 07:30] yuan0qi opened #13473 "ocserv 1.1.1: ocserv-worker not part of the package"
When trying to connect to the ocserv 1.1.1 with the same setting after upgrade, this error shows up:
main: main.c:1220: exec /usr/sbin/ocserv-worker failed No such file or directory

Presumably, this is because:
Version 1.1.0 (released 2020-06-16)

Switch from fork to fork/exec model to achieve better scaling and ASLR protection. This introduces an ocserv-worker application which should be install

[2020-09-23 07:36] yuan0qi opened #13474 "strongswan: wolfssl plugin package"
Backend has been added since version 5.8.0 and provides RSA/ECDSA/DH/ECDH/X25519/Ed25519/ciphers/hashers/HMAC/RNG

[2020-09-23 07:53] #13473 closed

[2020-09-23 07:54] yuan0qi commented on #13473
Duplicate #13465

[2020-09-23 12:41] #12365 closed

[2020-09-23 16:02] #13471 closed

[2020-09-23 16:03] nmav commented on #13471
Thank you. I've updated the description to reflect the status quo.

[2020-09-23 22:01] #13270 closed

[2020-09-24 06:19] EXSERENS commented on #9352
still not fixed in bind 9.16.6
tested in ramips_mt7621

[2020-09-24 09:07] jamesmacwhite commented on #13443
@elcovv FYI mwan3 2.8.13 is now live in 19.07 with this fixed, so you can upgrade via opkg/luci

[2020-09-24 09:32] Matux95 opened #13481 "Blue Sea Darknet changes"
data:image/gif;base64,R0lGODlhyABGAIMAAAC81AC81AC81AC81AC81AC81AC81AC81AC81AC81AC81AC81AC81AC81AC81P///ywAAAAAyABGAAAE+vDBBx988MEHH3zwwQcffPDBBx988MEHH3zwwQcffPDBBx988MEHH3zwwQcffPDBBx988MEHH3zwwQcffPDBBx988MEHH3zwwQcffPDBBx988MEHH3zwwQcffPDBBx988MEHH3zwwQcffPDBBx988MEHH3zwwQcffPDBBx988MEHH3zwwQcffPDBBx988MEHH3zwwQcffPDBBx988MEHH3zwwQcffPDBBx988MEHH3zwwQcffPDBBx988MEHH3zwwQcffPDBBx988MEHH3zwwQcffP

[2020-09-24 10:52] ouinouin opened #13484 "rtl_433 not decoding properly on some ARMV7 openwrt platforms"
hi,
i own many openwrt platform and begin to run rtl433 on them.

on
Model
TP-LINK Archer C7 v5
Architecture
Qualcomm Atheros QCA956X ver 1 rev 0
Firmware Version
OpenWrt 19.07.3 r11063-85e04e9f46 / LuCI openwrt-19.07 branch git-20.136.49537-fb2f363
Kernel Version
4.14.180
I have similar decoding than on my laptop (i own many of those probes :
[code]
on
Model
Netgear Nighthawk X4S R7800
Architectu

[2020-09-24 13:11] #13462 closed

[2020-09-24 17:29] mannimammut76 commented on #11829
heho...
my problem was not to apply patches, i have done weirder things with the build system :-)
it is my first post on github ever, as i do not like toooooo much accounts...
but as others are facing this problem. here are my patches, put them in the patches folder...

--- /dev/null
+++ b/bind/010-ddns.patch
@@ -0,0 +1,27 @@
+diff --git a/lib/isc/nls/msgcat.c b/lib/isc/nls/msgcat.c
+index ab09b94

[2020-09-24 17:30] mannimammut76 commented on #11829
sorry if not useful ... m first post on github ;-)

[2020-09-25 01:28] smalldickman opened #13488 "Unable to save contents: Unexpected reply data format"
In fact, the content has been successfully saved and can be used normally
![Capture](https://user-images.githubusercontent.com/31898637/94216023-e7b24100-ff10-11ea-91ed-c2371895f81f.JPG)
This problem has occurred since 5.4.66

[2020-09-25 02:35] logernLee opened #13489 "mwan3: It's seems to Bandwidth cannot be superimposed"
Using MWAN3, I can see Interface Live Status is green,When I get the public IP, it also changes，but the bandwidth is not superimposed.could you tell me how can I set to suoerimpose the bandwidth.
fallow is my default set:
/etc/config/mwan3:
config member 'wan_m1_w3'
	option interface '4g'
	option metric '1'
	option weight '1'

config member 'wanb_m1_w2'
	option interface '4g2'
	option weight '1'

[2020-09-25 08:10] #13481 closed

[2020-09-25 12:53] brianjmurrell opened #13492 "mwan3: Not re-routing to backup interface"
Maintainer: @feckert
Environment: x86, generic, 19.07.3

Description:
I have a primary/backup configuration but when the primary connection (`eth0.2`) loses pings, routing is not adjusted to use the backup connection (`pppoe-wan1`).

The troubleshooting tab shows:
[code]

My configuration is:

[code]

If the cause is not obvious, I will start debugging, but I was hoping it would be obvious and cou

[2020-09-25 13:56] brianjmurrell commented on #13492
I forget much of how this stuff is configured, but shouldn't:

[code]

mean there should be a:

[code]
?

[2020-09-25 14:19] brianjmurrell commented on #13492
I think what I probably want[ed] was:

[code]

I must say however, I find it difficult to wrap my mind around there being just a single rule for the default route for both ipv4 and ipv6.  Historically, when I have done this kind of multi-wan configuration (using tools other than mwan3) I have treated ipv4 and ipv6 completely separate with a parallel set of configs, one for each.

In any case, chan

[2020-09-25 16:11] Entropy512 commented on #12812
Sorry for the slow response, this week has been hectic.

It does not pull in the subpackages.
Prior to removing the DEPENDS:
We had separate packages for the individual utilities (good, because probably 90% of people only want candump and the other stuff can be a problem on a space-constrained device.  For example, a CANopen shop has zero use for any of the ISO-TP stuff), and no silly metapackage

[2020-09-25 17:02] jamesmacwhite commented on #13492
@brianjmurrell IPv4 and IPv6 being separate was something that was changed in the default config a few versions ago. As I agree it is quite weird having a IPv4 mask rule controlling both IPv4 and IPv6. It is now like this:

https://github.com/openwrt/packages/blob/master/net/mwan3/files/etc/config/mwan3#L141-L149

Other experts would need to look at the failover configuration in more detail, but j

[2020-09-25 17:42] brianjmurrell commented on #13492
So what's the theory of operation for failover routing?  Let's take the simple case of "balanced", shouldn't both interfaces be in the routing `main` routing table.

I wonder if somebody can provide a copy of their Troubleshooting tab so that I can see what things are at least supposed to look like.

[2020-09-25 20:01] neheb commented on #12812
I have no idea what you're complaining about. I made a bad change, reverted it (added back the necessary lines) to get the original behavior, and you're still complaining.

Look at coreutils as another example. It functions the same way.

[2020-09-25 20:44] brianjmurrell commented on #13492
Does `mwan3` expect the network interface configuration to install the default route?

I.e. should I remove the `option defaultroute '0'` from my interface configuration below?

[code]

[2020-09-25 22:02] Entropy512 commented on #12812
No, you made a bad change, refused to revert it based on a provably false assertion that it would create a "pointless metapackage", and took weeks to "fix" it, creating the very problem you claimed to be "fixing".

As to coreutils, it has the exact same issue you claim to have "fixed", a pointless metapackage which solely exists to be an empty dependency of other packages:
[code]

See the contents

[2020-09-25 22:26] neheb commented on #12812
Please look at the actual changes:

https://github.com/openwrt/packages/commit/5969273ff40cdf6d90f3442aa6c986226e0a16dc <-- removed install section
https://github.com/openwrt/packages/commit/b70cb0ef5ed196247bd4bcce3cb84167420eeb4d <-- bad change based on removed install section
https://github.com/openwrt/packages/commit/5f9a918c4fe8d3e6e3a29f653204683881ae6f07 <-- reverted bad change
https://gith

[2020-09-25 23:09] Entropy512 commented on #12812
Let us go back to, YOUR OWN WORDS:
"Removing that causes a pointless coreutils metapackage with all of the subpackages to be outside of it."
This is provably false.  You are either lying, our you are not bothering to test your own changes to verify that they are doing what you think they are doing.  Because your changes have done the exact opposite of what you claim that your goals are.  Again - t

[2020-09-25 23:30] neheb commented on #12812
I made pictures showcasing the problem:

https://imgur.com/a/BUnEDFC

The latter is the way it originally was and currently is. There's no need for all of the utilities to clutter menuconfig.

The end result is the package being brought back to the way it was before.

Note that canutils is not really maintained. @toxxin is not active. If you feel that the package currently is broken, please propos

[2020-09-25 23:41] peterwillcn opened #13495 "ddns-scripts: DDNS Service provider is not available"
LuCI Master git-20.267.53658-b17ec09
    ddns-scripts	2.8.0-24
    luci-app-ddns	git-20.250.44589-809d085

![Screen Shot 2020-09-26 at 7 31 37 AM](https://user-images.githubusercontent.com/323794/94324240-91ee9f00-ffcb-11ea-82e7-fb54a27ea4f3.png)

[2020-09-26 00:14] Entropy512 commented on #12812
Have you ever considered that it is not maintained because someone who is too incompetent or lazy to bother to test changes keeps on overriding the maintainer?

Because I know exactly what was needed to fix the previous issue, and know what is needed to fix your claimed "issue" that you broke the package for a month to "fix", but I'm not going to PR it because you will reject it because you are to

[2020-09-26 00:21] Entropy512 commented on #12812
Yet another "problem" you claim to have "solved", but you clearly didn't if you were a competent software developer that did things such as:
TEST YOUR CHANGES

[2020-09-26 00:27] Grommish commented on #12812
Then instead of the issue tab, maybe hit the Pull Request tab, submit the fix and justification for it, and then be the center of attention for fixing an issue, wash, rinse, repeat?

I'm not sure where the hostility is coming from, given this isn't a paid product and you aren't a customer?  Not be come off as a total fop, but this appears to be have solved over a month ago?  Why so upset?

[2020-09-26 00:33] Entropy512 commented on #12812
@Grommish Why submit a pull request when I know it will get rejected because @neheb doesn't bother to understand what changes to code do?

He outright undid SOMEONE ELSE'S change in favor of his own, for the sole purpose of CREATING THE PROBLEM HE CLAIMED TO WISH TO SOLVE.

[2020-09-26 01:01] Grommish commented on #12812
@Entropy512, it doesn't seem like this is a more than edge-case issue, which does happen from time to time.  Given that no one on the forums has been complaining about canutils tells me it's either not a popular package, or the specific use-case you are using isn't one most people run.

Bad things will happen. Unintended consequences to changes will pop up from time to time, and it's certainly _ex

[2020-09-26 01:05] Entropy512 commented on #12812
@Grommish I don't disagree that canutils is pretty niche.  But, no less than two people have asked @neheb to revert a one-line change that broke the build, he refused to do so because of a false assertion that it would cause a problem, and forced us to wait a month for him to finally "fix" the "problem" by causing the very issue he claimed to be saving us by "fixing".

If he hadn't outright overri

[2020-09-26 01:08] Grommish commented on #12812
@Entropy512 Understood, and that can be frustrating.

Since the package is niche, and doesn't have a full time maintainer, just take it over.  If your commits are good, you can raise a stink about it being ignored (unintentional or not, given real life and workloads, etc), but seriously, send them in.  Again, absolute worse case scenario is that you have an up-to-date package locally, and just kee

[2020-09-26 01:12] Entropy512 commented on #12812
OK, I'll make the change to this and coreutils, since @neheb claims has the same "problem" and I have verified it.  This particular item is one of those "affects me primarily at work" so it will have to wait until monday.

[2020-09-26 01:14] neheb commented on #12812
I posted two pictures outlining the issue raised by removing DEPENDS. Upon investigation, it turned out that there was a missing dependency issue, which is the reason for defining the install section to true. The buildbot never ran into this because everything is compiled as a module.

I don't use profanity here. I fixed the package to its previous behavior by investigating the issue when I had ti

[2020-09-26 01:20] Grommish commented on #12812
And, there you go :+1:

@Entropy512 enjoy your vacation and be safe!

[2020-09-26 01:23] Entropy512 commented on #12812
In addition to the issues I've already raised, me becoming maintainer might lead to some issues with my company's legal department - which I would be willing to at least put some pressure on to change (participation/upstreaming to FOSS projects has been something I want to push up the flagpole for a year or two, and I think I might be actually able to do so).  I'll start the process of poking them

[2020-09-26 07:34] snakwu commented on #13495
@feckert
me to！！！

Collected errors:
 * satisfy_dependencies_for: Cannot satisfy the following dependencies for ddns-
scripts_nsupdate:
 *      bind-client
 * opkg_install_cmd: Cannot install package ddns-scripts_nsupdate.
 * check_data_file_clashes: Package ddns-scripts_service wants to install file /
home/snakwu/openwrt-master/openwrt/build_dir/target-x86_64_musl/root-x86/usr/sha
re/ddns/service

[2020-09-26 08:08] brackenhill-mob commented on #13488
This occurs for me too when editing my custom Firewall rules.

Last working version for me is r14439 (but I don't update every snapshot so there might be a latter version that works)

[2020-09-26 08:58] jamesmacwhite commented on #13492
I don't personally use `option defaultroute '0'` on any of my interfaces. I believe mwan3 would expect the default route to be present in the main routing table

[2020-09-26 10:26] clanmills commented on #12812
Gentlemen:  I don't know what's being discussed here.  I am willing to mediate a discussion on Zoom with one precondition - _only one person can speak at a time_.

[2020-09-26 11:25] achimbo opened #13499 "mwan: Rule Length"
Maintainer: @feckert
Environment: OpenWrt 19.07.2 r10947-65030d81f3, Linksys WRT1900ACS

Description:

I have mwan3	2.8.1-1 up and running, but wenn I enter rules with long names through luci they do not trigger and instead the default rule gets used.

For example willhaben_sso_wan does not work wllhbn_sso_wan does work.

[2020-09-26 12:11] jamesmacwhite commented on #13499
Policies/rule names need to be a maximum of 15 characters. In your example `willhaben_sso_wan` is 17 characters and `wllhbn_sso_wan` is 14, so it will work.

Make sure your rules are 15 characters or less and it will be OK.

[2020-09-26 13:03] Ansuel commented on #13495
@peterwillcn the app needs to be updated... Can you test the wip pr?

[2020-09-26 13:04] Ansuel commented on #13495
@snakwu we need to fix a bug in the makefile... sorry for the mess

[2020-09-26 13:45] snakwu commented on #13495
Thank you very much

[2020-09-26 14:00] aaronjg commented on #13492
Yes, mwan3 expects the default route to be present see ["verify the routing table"](https://openwrt.org/docs/guide-user/network/wan/multiwan/mwan3#prepare_and_the_check_the_default_routing_table_for_the_wan_interfaces) in the doc

They actually were always separate, but a few versions ago we added a default config rule for ipv6. Prior to that there was no default rule or ipv6.

[2020-09-26 14:20] achimbo commented on #13499
Yes, I know that short names work. But I believe there should be at least an error message when you enter longer rule names. At least for me it was trial and error.

[2020-09-26 14:50] u4david commented on #13101
Right now i have work around by using "custom" provider and:

Https://dnsup.sitelutions.com/dnsup.........
Not sure what P/R is but this change is  not urgent.

On Tue, Sep 22, 2020 at 12:02 AM Florian Eckert <notifications@github.com>
wrote:

[2020-09-26 15:54] brianjmurrell commented on #13492
How is the mwan3 member metric related to the interface metric option?

[2020-09-26 16:36] aaronjg commented on #13492
Member metric applies to the mwan3 policy, and interface metric applies to the default routing table. So if you have wana and wanb, you could have one policy that fails over from wana to wanb for some domains and another that fails over from wanb to wana for other domains

If you want load balancing, then the mwan3 metric should be the same.

[2020-09-26 17:09] jamesmacwhite commented on #13499
Fair enough. It is mentioned in the documentation (although this could be made more prominent). Having a warning/message displayed would be beneficial though I would say, so I understand your point.

It could be an enhancement for both mwan3 and luci-app-mwan3 potentially.

[2020-09-27 07:54] snakwu commented on #13495
@Ansuel

Brother, when can I fix it? Thank you

[2020-09-27 11:49] Ansuel commented on #13495
Tomorrow we should push a fix ;)

[2020-09-27 12:09] snakwu commented on #13495
ok，；）

[2020-09-27 14:43] snakwu opened #13507 "make error!"
gcc.link.dll bin.v2/libs/graph/build/gcc-8.4.0/release/threading-multi/visibility-hidden/libboost_graph.so.1.74.0
common.copy /home/snakwu/openwrt-master/openwrt/build_dir/target-x86_64_musl/boost_1_74_0/ipkg-install/lib/libboost_graph.so.1.74.0
boost-install.generate-cmake-variant- bin.v2/libs/graph/build/gcc-8.4.0/release/threading-multi/visibility-hidden/libboost_graph-variant-shared.cmake
ln-U

[2020-09-27 16:44] achimbo commented on #13499
If you could implement an error message that would be great. I stumbled across this twice, and I am sure it happens to other users as well.

[2020-09-27 16:56] caliban511 commented on #11410
同样遇到 https_dns_proxy 占用CPU过高的问题。我的CPU是J4205，但这个进程一开，CPU平均占用就会上升到50%左右。这个问题不知道什么时候能解决一下？

[2020-09-27 17:34] jamesmacwhite commented on #13499
Ultimately, it is up to @feckert, but additional validation in LuCI should be possible.

1. Having a warning displayed in LuCI if a rule name is 15 characters or more is a good suggestion i.e.

![image](https://user-images.githubusercontent.com/8067792/94371619-c196c780-00ef-11eb-8590-25966a26c8d3.png)

Or even better, could we just stop rules longer than 15 characters being able to be committed i

[2020-09-28 02:28] #13507 closed

[2020-09-28 06:59] aarond10 commented on #11410
I'll need more details. Ideally some gprof output with a debug build or at
the least the output of the daemon running with -vvvv so I can try to infer
what it's doing.

On Mon, 28 Sep 2020 at 02:56, Caliban <notifications@github.com> wrote:

[2020-09-28 07:38] DazzyWalkman commented on #12554
Disabling LAME-LIB_OPTIMIZE_SPEED silence the problem.  It seems that "-O3 -ffast-math" will pull in libmvec.so.

[2020-09-28 11:02] feckert commented on #13499
We already have a checks in mwan3 for [policies](https://github.com/openwrt/packages/blob/master/net/mwan3/files/lib/mwan3/mwan3.sh#L853) and [rules](https://github.com/openwrt/packages/blob/master/net/mwan3/files/lib/mwan3/mwan3.sh#L981) if the section has more then 15 chars.

In luci-app-mwan3 we have only this check for the [policies](https://github.com/openwrt/luci/blob/master/applications/luc

[2020-09-28 18:22] mtrtm opened #13511 "speedtest-netperf not working with 'default setup'"
Maintainer: @\<github-user> (find it by checking history of the package Makefile)
Environment: (put here arch, model, OpenWrt version)

Description:
I have OpenWrt 19.07.3 running with SQM cake/layer cake running.

Using the readme here: https://github.com/openwrt/packages/tree/master/net/speedtest-netperf/files it looks like I should be able to run speedtest from the CLI, but I always get errors:

[2020-09-29 07:33] guidosarducci commented on #13511
I just noticed that as well. The problem isn't with the script but rather the upstream netperf service being unavailable.

The most likely explanation (which has happened a few times in the past) is that some users have been abusing the netperf servers to do automated, high-frequency speed tests for "tuning" their personal networks. The upstream hosted servers have an allotted monthly bandwidth wh

[2020-09-29 10:44] caliban511 commented on #11410
你好，请看下最上方占用25%CPU的那个，就这一条就占用掉25%，然后整个Openwrt的占用从7%左右上升到45%以上。

![snipaste_20200929_184208](https://user-images.githubusercontent.com/13557387/94548621-9349f100-0283-11eb-83a0-208f572deb3d.jpg)

[2020-09-29 12:36] caliban511 commented on #11410
请问这两个任务是在做什么呢？为什么占用那么大？

![snipaste_20200929_203545](https://user-images.githubusercontent.com/13557387/94559227-7cab9600-0293-11eb-82d6-b57e0287944a.jpg)

[2020-09-29 16:34] caliban511 commented on #11410
大佬你好，请问你用过passwall.ipk这个软件吗？我试过用最新版19.07.4的原版openwrt，安装passwall，会自动安装 https-dns-proxy ，然后只要它被装上就会立即引发这个问题，即使没有启用passwall也一样。

[2020-09-29 23:06] arkanoid87 opened #13531 "gstreamer1-utils builds unusable binaries due to build options"
Maintainer: @flyn-org @thess

[code]

Description:

This packages list
`"gstreamer1-utils gst1-mod-rtp gst1-mod-rtsp gst1-mod-mpegpsmux"`

should be sufficient to run:
`gst-launch-1.0 rtspsrc location=... ! fakesink`

but gst-launch-1.0 is not finding any element due to disabled registry, moreover disabling cmd parsing leads to the impossibility to load plugins/element manually in /usr/lib/gstream

[2020-09-30 03:23] flyn-org commented on #13531
We need to backport this to 19.07. See https://github.com/openwrt/packages/pull/13532.

[2020-09-30 12:21] richb-hanover commented on #13511
@guidosarducci Thanks for this note. I have been up to my elbows in other projects, so have not had time to pay attention to the netperf server. I just turned the netperf server on netperf.bufferbloat.net back on. Let's see how quickly the fuse blows (that is, how quickly it runs over the 4TB/month limit...)

Thanks, too, for the offer to help. I have a few thoughts:

1. I am not certain that ther

[2020-09-30 13:59] richb-hanover commented on #13511
Two more comments:

1. You can see the traffic on the main netperf server at http://netperf.bufferbloat.net (All data is from when I turned on the server a couple hours ago.)

2. I wrote up with a possible strategy for blocking abusers at: https://github.com/richb-hanover/netperfclean/issues/1#issue-711949399

[2020-10-01 00:02] neheb commented on #13531
Backported.

[2020-10-01 00:02] #13531 closed

[2020-10-01 00:04] neheb opened #13537 "CircleCI unable to compile Boost"
Boost's python plugin has a weird dependency on at least 2GB of RAM to compile. Which means CircleCI cannot compile it.

GitHub Actions can.

Should we bring back Travis?

ping @openwrt/package-maintainers

[2020-10-01 00:10] aparcar commented on #13537
I'd remove anything but GitHub actions for now. In case GitHub changes their conditions we switch back to CI X. The things are still in the git log anyway.

[2020-10-01 23:59] ruralroots commented on #12862
This continues to be an issue on SNAPSHOT r14524.

With the same /etc/config file, /etc/init.d/softflowd worked as advertised on r12570, failed on r13342, and now exhibits the same behaviour on r14524

The init script does parse the config file properly and builds the correct command line encapsulated within {instance1}. . .{end instance}{instance2}. . .{end instance} tags.

The only anomaly I see

[2020-10-02 01:09] arkanoid87 commented on #13531
now command parsing and registry works

thanks

[2020-10-02 01:31] arkanoid87 opened #13545 "gst1-plugins-bad mpegtsmux/demux missing"
Maintainer: @flyn-org @thess

[code]
Description:

elements mpegtsmux and mpegtsdemux are missing in build
I guess is is due to commented in Makefile:
https://github.com/openwrt/packages/blob/19866ad4f243ef9ffce6676737e359e6a4c030a7/multimedia/gst1-plugins-bad/Makefile#L383

I'd like to ask if there's an issue in delivering this valid tool into the build.

MpegTS is a valid muxer/demuxer option in

[2020-10-02 09:42] BKPepe opened #13553 "generate-ipv6-address can not be compiled with ASLR PIE"
Maintainer: @PolynomialDivision
Environment: Environment: aarch64_cortex-a53 (Turris MOX),  OpenWrt master

Description:

I have enabled ASLR PIE

[code]

[2020-10-02 09:55] BKPepe opened #13554 "fakepop can not be compiled with enabled ASLR PIE"
Maintainer: @Foxtrot
Environment: aarch64_cortex-a53 (Turris MOX), OpenWrt master

Description:

I'm building packages with:
[code]

and noticed that fakepop can not be compiled.

[code]

In past, I created a few similar issues about ASLR PIE, maybe you can find in one of them some help.

[2020-10-02 12:09] flosoft opened #13555 "tinc: Adding package for version 1.1"
Maintainer: @zioproto
Environment: Turris OS 5.1.1 (based on OpenWrt 19.07)

Description:
Would it be possible to add support for tinc 1.1? I've come across a fork [here](https://github.com/maddie/openwrt-tinc-1.1), but not quite sure how to get it compiled for the Turris Omnia router.
It would be great if there's a separate package for tinc 1.1 available in the repository.

[2020-10-02 18:13] zioproto commented on #13555
Hello,

according to the main project website:
https://www.tinc-vpn.org/

tinc 1.0.36 is the stable supported version.

Looking at the 1.1 tree:
https://www.tinc-vpn.org/git/browse?p=tinc;a=shortlog;h=refs/heads/1.1

It looks like there were very few commits in 2019 and 2020

@gsliepen do you have any plan for a stable release of tinc 1.1 ?

There are many forks on github, if you do a search for:

[2020-10-02 18:23] zioproto commented on #9914
For whoever has time to implement this, I will be happy to review.

 * Here is the procd documentation: https://openwrt.org/docs/guide-developer/procd-init-scripts
 * Here is an example PR that does the same thing for another package: https://github.com/openwrt/packages/pull/11475/files

[2020-10-02 19:42] ShayBox commented on #13495
How do I apply this fix? A bit new to openwrt, but having the same problem.

[2020-10-02 20:10] neheb commented on #9914
I looked into doing this before. Got stuck on the relationship between tinc-host, tinc-net, and how there are multiple possible instances.

[2020-10-02 20:23] Ansuel commented on #13495
if you use the snapshot image just wait for the buildbot to push a new image...

[2020-10-02 21:48] zioproto commented on #9914
Oh no! :(  I looked at the code again, I was wrong in https://github.com/openwrt/packages/issues/9914#issuecomment-592919654

This is the file with the current config syntax: [tinc.config](https://github.com/openwrt/packages/blob/c8bec163ad00a30f8be5dde7989e445b9a37aee5/net/tinc/files/tinc.config)

It makes possible to define multiple `NETNAME`. This is needed if you connect to multiple VPNs at on

[2020-10-03 07:13] PolynomialDivision commented on #13553
Not sure. Maybe the lib was not compiled with `-fpic`?

[2020-10-03 13:31] richb-hanover commented on #13511
Update: I implemented part of the strategy for blocking abusers. The netperf server at netperf.bufferbloat.net is back on the air - please let me know if you see problems. Thanks.

[2020-10-03 14:04] Ansuel commented on #13495
News on this?

[2020-10-03 14:41] peterwillcn commented on #13495
@Ansuel I'll test it soon. Just a moment, please.

[2020-10-03 17:28] peterwillcn commented on #13495
@Ansuel @feckert configuring bug

[2020-10-03 17:31] Ansuel commented on #13495
Can you post your ddns configuration with private data omitted?

[2020-10-03 22:29] flosoft commented on #13555
I'm happy to help where I can. I use tinc regularly, so happy to help test it. I'm just not familiar as to how to compile the package in the first place to then test it.
It looks like @maddie is has a well maintained fork for OpenWrt that could be a good starting off point: https://github.com/maddie/openwrt-tinc-1.1

[2020-10-04 05:44] peterwillcn commented on #13495
It work,but a little bug.
![Screen Shot 2020-10-04 at 1 43 06 PM](https://user-images.githubusercontent.com/323794/95007927-ac69ed80-0647-11eb-9fed-f9fa4d1e52b6.png)

[2020-10-04 12:00] bjmi opened #13568 "https-dns-proxy: provide an option for manual dns configuration"
Maintainer: @stangri
Environment: OpenWrt 19.07.4

Description:
Please provide an option for https-dns-proxy that if enabled effects
* leaves current dnsmasq configuration untouched
* skips creation of a backup in dhcp section
* skips restart of dnsmasq

i.e. just start the configured https-proxy-instances and let the user configure dnsmasq server entries by himself.

The option could be named "Dn

[2020-10-04 14:06] stangri commented on #13568
Check the configuration settings in the Readme.

[2020-10-04 20:02] micmac1 commented on #13545
It was disabled here: https://github.com/openwrt/packages/commit/e35d46becfdc8026fee3c7cdf5a91049bab0d482

Simply enabling it again isn't enough:

[code]

These libs are part of gst-plugins-bad. So what would need to  be done is add these libs as packages. That means somebody would need to be interested enough to do the work :)

Regards,
Seb

[2020-10-04 23:39] arkanoid87 commented on #13545
sadly I don't have the skill set to solve this, but maybe I could help somehow if you would expose some general steps to reproduce the build environment

Thanks

[2020-10-05 02:53] bjmi commented on #13568
Usage of **-** works. Thank you.
[code]
It wasn't obvious what the opposite of **\*** is.
Maybe luci-app-https-dns-proxy should provide this option too.

[2020-10-05 02:53] #13568 closed

[2020-10-05 04:27] neheb commented on #13554
I really think we need a buildbot for this. ping @aparcar

[2020-10-05 04:31] neheb commented on #13554
ping @BKPepe is this a bug with ASLR or with cccache not passing arguments properlu?

[2020-10-05 06:46] feckert commented on #13495
@peterwillcn In my view, this has nothing to do with the last change. That is a different problem.
If it is one at all. The original problem has been fixed

[2020-10-05 06:46] #13495 closed

[2020-10-05 10:21] peterwillcn commented on #13495
@feckert I think Package/ ddNs-scripts DEPENDS on :=+ ddNs-scripts-services is not necessary, so it can be set as optional, which will reduce the installation volume.

[2020-10-05 10:30] Ansuel commented on #13495
The complains was exactly about that.... (ddns installs only the core script but not the services)

[2020-10-05 10:47] peterwillcn commented on #13495
Yes, ddNs-scripts-core(ddNs-scripts) and ddNs-scripts-services(optional)

[2020-10-05 10:48] peterwillcn commented on #13495
Yes, ddNs-scripts-core(ddNs-scripts) and ddNs-scripts-services(optional)

[2020-10-05 20:04] stangri commented on #13568
Yeah, I was thinking of how to best implement it. With luci app I can only show `*`, `-` and then parse dnsmasq for its configs and list available (would be just [0] for most people). CLI/uci tho supports settings like '025' to enable automatic dnsmasq update for configs [0], [2] and [5] and there are no ready controls for that in luci API. I haven't looked at the new javascript API, maybe it's po

[2020-10-05 20:23] esters opened #13580 "adblock: /etc/config/dhcp file gets overwritten upon start"
Maintainer: @dibdot
Environment: arm_cortex-a15_neon-vfpv4, TP-Link Archer C2600, OpenWRT 19.07.4, adblock - 4.0.6-2

Description:

Running the adblock daemon causes to overwrite the existing /etc/config/dhcp file. I have edited the file so it includes comments from the documentation page,

Thanks!

[code]

[2020-10-05 20:30] dibdot commented on #13580
That's the usual uci behaviour, extraneous lines like comments in the file will be deleted. See https://openwrt.org/docs/guide-user/base-system/uci for details ...

[2020-10-05 20:30] #13580 closed

[2020-10-05 23:28] kongfl888 commented on #13488
The latest openwrt snapshot has fixed it. See https://github.com/openwrt/openwrt/commit/2a90d308c73f3f254e93fe3c55d4e40eaabc06e3

[2020-10-06 02:04] stangri commented on #13568
@bjmi can you check out https://github.com/stangri/repo.openwrt.melmac.net/blob/master/luci-app-https-dns-proxy_git-20.267.56601-1da9df8_all.ipk and provide feedback?

[2020-10-06 08:58] #13488 closed

[2020-10-06 09:18] jefferyto commented on #13395
I think we can add stub include files like `/lib/functions.sh` into the linting environment (with empty variable/function definitions, because further linting of OpenWrt core shell scripts may lead to more linting errors), and preprocess the target scripts, e.g. replace calls to `config_get` with variable definitions.

But I agree with @aaronjg - blindly ignoring/disabling shellcheck errors is not

[2020-10-06 09:23] neheb commented on #13395
Some other projects like aports have a linter that is marked allow to fail. So there's that.

The core OpenWrt sh files also need linting badly. Upstream doesn't seem to care much though.

[2020-10-06 12:16] ja-pa opened #13585 "[Meta] Hacktoberfest 2020"
Will packages repo participate in this year Hacktoberfest?

This could be done by creating hacktoberfest-accepted label for specific PR or by creating hacktoberfest topic in the repo.

More details are here
https://hacktoberfest.digitalocean.com/details#details

[2020-10-06 14:02] jefferyto commented on #13537
The CircleCI check also checks if commits are signed off and have a suitable subject line. (I'm not a fan of the "firstname lastname" author check since it assumes all names worldwide are written with a space between the given and family names, but checking that it matches the sign-off name is reasonable.) AFAIK this isn't being done by the GitHub Actions check.

[2020-10-06 14:04] hnyman commented on #13537
There is the separate DCO check for that, I think.
(not sure if that is related to Github or CircleCI)

[2020-10-06 14:21] zxlhhyccc opened #13587 "Master branch libupNP in GCC10 compile error!!"
![image](https://user-images.githubusercontent.com/45259624/95214193-3a013500-0822-11eb-8c7d-a491f9cb91e8.png)

[2020-10-06 14:52] jefferyto opened #13589 "Runtime test ideas/enhancements"
Maintainer: @aparcar (also ping @neheb)
Environment: N/A

Description:
(These are ideas that occurred to me from reading #13449.)

Instead of having every package include a `test.sh`, I'd like to suggest having a default runtime test that:

* Checks to see if the package contains at least one executable
* Tries running the executable with various versions of the `--version` command line option, e.

[2020-10-06 17:17] aparcar commented on #13537
DCO is separate, we could also just migrate the formal checks to GitHub

[2020-10-06 17:23] aparcar commented on #13585
I think participating is fine but the maintainers will likely face some annoyances. See https://drewdevault.com/2020/10/01/Spamtoberfest.html

I'm unsure what people can distribute here, are there any "good first issue" labels used?

[2020-10-06 17:25] aparcar commented on #13585
@ja-pa if you in particular want the shirt I'm happy to review and tag your (valid) pull requests

[2020-10-06 19:15] ja-pa commented on #13585
Yes, I want a t-shirt :-) , but I also think that is a good idea which should be supported.

[2020-10-06 19:24] aparcar commented on #13585
I can't change the labels for openwrt/packages - @neheb do you have admin status here?

[2020-10-06 20:01] jefferyto commented on #13395
I wanted to clarify this: My guess is that most (if not all) init and other on-target scripts here do not currently pass shellcheck. If a casual contributor wanted to fix a small bug in a script, their PR would not pass the linter and they would be on the hook to fix all of the shellcheck errors in that script. I would imagine many would abandon their PRs at this point.

I am ambivalent about this

[2020-10-06 20:38] neheb commented on #13395
Actually  that only applies to mobile devices. On desktop, I can merge failing PRs.

I assume that’s what the review process is for.

[2020-10-06 21:54] neheb commented on #13585
I do not.

It seems there's already a hacktoberfest-accepted label here.

[2020-10-06 21:58] aparcar commented on #13585
I added it to specific PRs of @ja-pa, however not adding it to the the repo labels means that it's not "promoted" via DO.

[2020-10-07 03:35] 9000000 opened #13591 "Network pppoe error"
[code]

[2020-10-07 07:15] 9000000 commented on #13591
My device is Xiaomi 3 pro currently on the latest build

[2020-10-07 08:53] feckert commented on #13591
This package is maitained in https://github.com/openwrt/openwrt/tree/master/package/network/services/ppp and not in the package feed. Did that even work with your setup? Did you configure it correctly? Also which software version do you use.

[2020-10-07 10:42] neheb commented on #13587
That's quite strange... I don't get this error on CentOS 7 or Fedora 32.

Which package of yours needs libupnp?

[2020-10-07 10:44] neheb commented on #13591
This is for https://bugs.openwrt.org

[2020-10-07 10:45] neheb commented on #13553
-fpic is the problem. Need to compile with -fPIC.

[2020-10-07 11:05] caliban511 commented on #11410
我自己尝试编译lienol大佬的代码生成固件后，发现并没有这个问题。所以这应该是软件和原生固件之间的兼容性问题了。问题终结。

[2020-10-07 11:55] aarond10 commented on #11410
It's an odd compatibility issue. 25% I assume is one of four cores so it might have been spinning trying to do something. I'll close for now, but feel free to reopen it if you think it's still a problem.

[2020-10-07 11:59] aarond10 commented on #11410
On second thought, I'll leave this open for a little longer given the multiple reports. I've not been able to reproduce myself since the commit about a month ago now that forces curl to abort active HTTP2 sessions if the IP address of the resolver changes. I'm wondering if that was part of the problem here.

[2020-10-07 12:02] Mrnofish commented on #11410
Isn't there a rule that all submissions should be in English?

If there is, it should be enforced. If not, there should be one.

[2020-10-07 13:04] BKPepe commented on #13554
This is bug with ASLR. This is how it can be reproduced with GCC 8.4.0:

git clone https://git.openwrt.org/openwrt/openwrt.git
cd openwrt
./scripts/feeds update -a
./scripts/feeds install -a

In `make menuconfig` select:

[code]
Global build settings:
[code]

Then:
[code]

Afterwards, let's try to compile `fakepop`, but you need to enable it in `make menuconfig`

This is how it ends:
[code]

[2020-10-07 15:10] blocktrron commented on #13585
I've added the topic to the packages repository.

The merge strategy for packages should therefor be enough to count towards the goal. If this is somewhat wrong / not the case feel free to reopen.

[2020-10-07 15:10] #13585 closed

[2020-10-07 15:11] BKPepe commented on #13585
Thanks!

[2020-10-07 17:47] aparcar commented on #13554
Please ping me if it needs another SDK to test this automatically. I can't add anything ontopic.

[2020-10-07 23:00] #13545 closed

[2020-10-08 00:04] arkanoid87 commented on #13545
thanks!

[2020-10-08 02:11] lelguea opened #13597 "CShark in Openwrt 19.07"
'cshark'

Description: When i try to use, many error are in system log
Wed Oct  7 21:08:04 2020 daemon.emerg cshark[13893]: cshark: invalid SSL certificate
Wed Oct  7 21:08:07 2020 daemon.err uhttpd[1801]: /usr/lib/lua/luci/controller/cshark.lua:108: module 'uci' not found:
Wed Oct  7 21:08:07 2020 daemon.err uhttpd[1801]: 	no field package.preload['uci']
Wed Oct  7 21:08:07 2020 daemon.err uhttpd

[2020-10-08 03:14] caliban511 commented on #11410
Sorry, I don’t understand English. This is using Google Translate to reply. There are some unsatisfactory words. Please forgive me.
This problem of abnormal CPU usage occurred when I installed a software called passwall with the original openwrt firmware.
The source code of this software is here:
https://github.com/xiaorouji/openwrt-package/tree/master/lienol/luci-app-passwall
When I try to use th

[2020-10-08 03:16] caliban511 commented on #11410
Sorry, I don’t understand English. This is using Google Translate to reply. There are some unsatisfactory words. Please forgive me.
This problem of abnormal CPU usage occurred when I installed a software called passwall with the original openwrt firmware.
The source code of this software is here:
https://github.com/xiaorouji/openwrt-package/tree/master/lienol/luci-app-passwall
When I try to use th

[2020-10-08 07:35] bjmi commented on #13568
All 3 configurations were tested.
* Update all configs
* Update dhcp.@dnsmasq[0] config
* Do not update configs

The first two options update dnsmasq config on start and revert config on stop.

Note: I only have one dnsmasq configuration i.e. second option couldn't be tested with multiple entries.
Thanks again.

[2020-10-08 10:39] PolynomialDivision commented on #13553
Sry, I need some time to debug this. Is there a time-span until it gets kicked out?

[2020-10-08 20:37] sander816 opened #13608 "luci-app-statistics is not creating graphs"
# Issue template (remove lines from top till here)

Maintainer: @\<github-user> (find it by checking history of the package Makefile)
Environment: archer C7, LuCI openwrt-19.07 branch (git-20.247.75781-0d0ab01) / OpenWrt 19.07.4 r11208-ce6496d796

Description:
luci-app-statistics	is not creating graphs
Collectd is complaing about wrong directory:
Thu Oct  8 22:24:35 2020 daemon.err collectd[8157]:

[2020-10-09 02:42] maddie commented on #13555
I have a build script for this, just download the OpenWRT SDK for your device, decompress it, cd into it then run:

[code]

The resulting ipk will be in `./bin/packages` directory.

And IPK for Turris Omnia [can be found here.](https://github.com/maddie/openwrt-tinc-1.1/releases/download/19.07.0/tinc_1.1pre17_arm_cortex-a9_vfpv3-d16.ipk)

[2020-10-09 03:32] stangri commented on #13568
Great, thanks for testing this. If you have any other suggestions for the WebUI improvements, feel free to create an issue.

Do you want to create your own PR or would you be happy if I incorporate these changes and create the PR myself?

[2020-10-09 06:16] bjmi commented on #13568
You are welcome.

The overhead is far less if you create the PR by yourself.
Quad9 References - https://www.quad9.net/faq/#Is_there_IPv6_support_for_Quad9

[2020-10-09 08:32] n8v8R opened #13612 "[chrony] update to latest source release 4.0"
Maintainer: @mlichvar

_____
Description:

source release info https://chrony.tuxfamily.org/news.html that cites CVE-2020-14367 been fixed in AUG '20.

It would be appreciated for the package to be updated to the latest source release 4.0

[2020-10-09 10:00] thomaslunze commented on #13424
its still not merged ?

[2020-10-09 11:23] aaronjg commented on #13424
Florian identified some issues with disconnected events not being triggered, and I am still working to sort this out. I believe once those are fixed, it can be merged.

[2020-10-09 12:41] thomaslunze commented on #13424
awesome and thanks for the update :-) and all your hard work on this project

[2020-10-09 14:02] #13034 closed

[2020-10-09 15:00] mlichvar commented on #13612
Submitted PR #13615.

[2020-10-09 19:52] n8v8R opened #13616 "[netdata] upgrade to source release 1.25.0"
Maintainer: @BKPepe @diizzyy

Description:

[source](https://github.com/netdata/netdata/tags) has release 1.25.0 with plenty of bug fixes. Would be appreciate to be available here as well.

[2020-10-10 03:19] stangri commented on #13568
@bjmi can you please test https://repo.openwrt.melmac.net/luci-app-https-dns-proxy_git-20.267.56601-1da9df8_all.ipk for Quad9 bootstrap IPv6 servers.

[2020-10-10 08:04] n8v8R commented on #13612
Thank you

[2020-10-10 08:04] #13612 closed

[2020-10-10 08:45] BKPepe commented on #13616
Is there anything interested in why you would like to have the latest Netdata 1.25.0 release? Any pull requests are welcome.

[2020-10-10 08:53] n8v8R commented on #13616
If you are not interested to keep the package on par with source development then just say so and close the issue, preferably stating your reasoning as opposed to question the motivation of keeping a package on par with its source, notwithstanding asking of a PR.

[2020-10-10 08:56] BKPepe commented on #13616
Didn't I ask you for a simple question? What is the most interesting feature for you in the latest releases? And now you trying to offend me. Unfortunately, this is not how it works. If you want to have it now, just a send pull request.

[2020-10-10 09:06] n8v8R commented on #13616
Hmm? You are cited as maintainer of the package and it has been politely asked to update the package to be on par with its source development.
As reaction you are questioning the motivation of keeping the package on par with its source and asking for a PR.

Either you want to maintain the package or you do not, and if latter that is fine, simply say so, instead of starting such silly discourse and

[2020-10-10 09:07] BKPepe commented on #13616
Closing. This is not going anywhere. You should use your time more precisely or give efforts somewhere else. E.g. pull request.

[2020-10-10 09:07] #13616 closed

[2020-10-10 09:14] diizzyy commented on #13616
1.25.0 doesn't really offer much "enhancement" over the current version as far as OpenWrt is concerned (many metrics are stripped out of the kernel anyway by default). We both are doing work on voluntary basis and have other interests than OpenWrt not to mention that **testing** packages for OpenWrt is very tedius compared other distributions due to what kind of devices OpenWrt targets. We could b

[2020-10-10 09:20] najdanovicivan commented on #13052
I've submitted this PR https://github.com/openwrt/openwrt/pull/3504 it should make it possible to use docker-ce on shapshot build for !SMALL_FLASH devices

[2020-10-10 09:44] n8v8R commented on #13616
There are users compiling their own kernel, e.g. my node currently runs fine on kernel 5.9-rc8, with metrics back in place, but that is beside the point.
____

That is naturally understood and not been questioned, as well as understanding the package being none-essential for the node's functionality.
____

That cannot be helped by the user and is supposedly part of the maintenance effort for any s

[2020-10-10 10:14] n8v8R opened #13623 "[unbound] update to source release 1.12.0"
Maintainer: @EricLuehrsen
____
Description:
source release version 1.12.0 https://github.com/NLnetLabs/unbound/releases/tag/release-1.12.0 introduces DoH for downstream clients. It would be appreciated for the package to be updated.

[2020-10-10 10:35] G-M0N3Y-2503 commented on #13052
For awareness, CGroups V2 should be supported in [[Docker Engine] 2020 release](https://github.com/docker/roadmap/issues/35)

[2020-10-10 11:27] zxlhhyccc commented on #13587
aMule.....

[2020-10-10 11:48] feckert commented on #13608
To fix this create this directory by hand. Then collectd should work. The include directory is set in the configuration https://github.com/openwrt/luci/blob/53c6c7f905b516d19b1e719b28216e027249dde7/applications/luci-app-statistics/root/etc/config/luci_statistics#L5. To make this work without user interaction we should create this directory during [service](https://github.com/openwrt/luci/blob/mast

[2020-10-10 15:04] Neustradamus commented on #12743
Dear @Andy2244, @neheb, please explain the problem of cifsd-team/cifsd and namjaejeon/cifsd...

The goal is to have the main project at cifsd-team/cifsd that is not currently (currently is namjaejeon/cifsd).
- cifsd-team/cifsd -> cifsd-team/cifsd-archive
- namjaejeon/cifsd -> cifsd-team/cifsd

I tagged you in the ticket and gave examples from you too...

Thanks in advance.

[2020-10-10 16:52] 9000000 commented on #13591
I always use the latest test builds, if I use the 19.07 version there will be no bugs

[code]

[code]

[2020-10-10 21:25] neheb commented on #13587
which is not in here.

I don't think your issue is with GCC10. Try adding PKG_FIXUP:=autoreconf

[2020-10-11 02:37] EricLuehrsen commented on #13623
I am aware. Without certificate issuing standard for OpenWrt intranet resources DOT or DOH downstream is hard to make good use of. If you already control all the devices and can install a ad-hoc certificate, then also the network is closed off, so DOT or DOH are of little value downstream. See also discussion on LuCI certificates (http://lists.openwrt.org/pipermail/openwrt-devel/2020-October/03163

[2020-10-11 09:25] n8v8R commented on #13623
The certificate generation and respective downstream distribution is not an issue for me, but that either OSs and/or applications leveraging Do..T | H over dport(s) 443 | 853. With unbound's IP_TRANSPARENT socket option and nftable's tproxy statement thus I am able to prevent downstream clients trying to bypass the router's resolver instance for ports 53 & protocol TLS dports 443 |  853.

It would

[2020-10-11 09:25] #13623 closed

[2020-10-11 19:03] 9000000 commented on #13591
I have read a lot of information regarding this error

https://forum.openwrt.org/t/archer-c60-wan-disconnects/68896

https://forum.openwrt.org/t/pppoe-disconnects-all-the-time/71165/23

[2020-10-12 07:58] bjmi commented on #13568
Resolver _Quad 9 (Recommended), Quad 9 (Secured with ECS Support), Quad 9 (Secured) and Quad 9 (Unsecured)_ were started and DNS resolution using `dig @routerip -p resolverport anydomain.com` was successful.

IPs and resolver url  from `/usr/lib/lua/luci/https-dns-proxy/providers/net.quad9.*.lua` were double-checked with https://www.quad9.net/doh-quad9-dns-servers/#UsingDoHwithQuad9DNSServers-Addi

[2020-10-12 08:03] OdysLam commented on #13616
Hi, developer relations from Netdata here. Happy to meet you all :)

We will be rolling out a pretty amazing new feature these next days, which will require Netdata version 1.26 that we will roll out  in the week. We also have a large number of bug fixes and improvements, so I am sure that we wouldn't want to left out our OpenWRT users.

Is there anything we can do from our part to help you mainta

[2020-10-12 08:15] BKPepe commented on #13616
Hi @OdysLam,

No, you don't need to worry about that. Nothing wrong to you or anyone. Just check @n8v8R's issues and so on. I have such experiences on other social media networks.
He needs to understand that he can not whistle (hopefully this is used in English as well) or want something and everyone will do that ASAP. Everyone has its own priorities, job, and such.

We are regularly updating Netd

[2020-10-12 08:21] OdysLam commented on #13616
That's good to hear @BKPepe. We want to facilitate the people who make our software available to your communities. You are humbled for your volunteering work.

Please, do join our [community](https://community.netdata.cloud), so you can easily reach me out with a new post if you have any questions or you need any assistance in facilitating your efforts on maintaining the package.

I will circle ba

[2020-10-12 19:43] joelvdvoort opened #13646 "6rd: IPv6 is still configured when ipv6 is disabled on wan interface"
Maintainer: @dedeckeh
Environment: mvebu-cortexa9, Turris Omnia, Turris OS 5.1.2 (based on OpenWrt 19.07.4), package 6rd 9-4

Description:

IPv6 is configured by 6rd package when ipv6 is disabled on the wan interface.

[code]

When running `ip a` the 6rd_wan interface is there:

[code]
I'm not sure if this is a bug or intended (albeit opaque) behavior. I'd expect 6rd to respect the options set on

[2020-10-12 20:25] dedeckeh commented on #13646
The config option ipv6 on interface level is only relevant for PPP interfaces as it will instruct the ppp daemon not to negotiate IPv6 settings like the link local address.
It will not be used as any indication for an (IPv6) interface stacked on top of this interface not to come up

[2020-10-12 20:25] #13646 closed

[2020-10-12 20:42] joelvdvoort commented on #13646
I'm sorry. I posted the wrong snippet from my configuration. The relevant part should be:

[code]

[2020-10-12 21:11] zioproto commented on #13555
@maddie would you be interested in taking ownership of tinc in openwrt/packages ?

[2020-10-12 21:15] lucize commented on #13591
lately I'm having pppoe problems on MT7621, once the disconnect is starting it will happen very often until I reboot the router (Ubiquiti EdgeRouter X) I'll try to switch to another chipset, I think this started happening after hw-offload being corrected for DSA switch, with hw-offload enabled it is happening more often or I think so, for now not sure if is the provider, it had 99.99% uptime previ

[2020-10-12 22:09] diizzyy commented on #13616
I'll only echo what Josef said and frankly I didn't see the need in this case. A downside as far as OpenWrt is concerned is that each version grows quite significantly which requires more work slimming it down given the target devices. We probably should at some point (tm) make separate packages for scripts but that requires more work etc to maintain....

[2020-10-12 22:19] stangri commented on #13568
@bjmi thank you for thorough testing. I'm concerned that the first entry is ran without `-4` and the last one is running from root. I cannot reproduce this.

[2020-10-13 03:23] bjmi commented on #13568
There is a space in 2620:fe::10, 2620:fe::fe:10

[2020-10-13 06:38] maddie commented on #13555
@zioproto Sorry, I'm afraid that I'm not able to commit to maintaining this package, and I don't really know how the whole system works. The steps above are a result of trial-and-error I've been through for several hours 😂

[2020-10-13 07:37] brvphoenix opened #13652 "Boost: can't be linked with stdcpp automatically"
Maintainer: @ClaymorePT @neheb
Environment: x86_64

Description:

Find an issue that the package stdcpp in the `DEPENDS` can't be linked automatically.
Check the linked libs with `ldd`, and get the errors as following:
[code]
If add the `-lstdc++` to `TARGET_LDFLAGS`, everything is OK.
[code]

However, if some packages depend on boost libs and are linked directly or indirectly with `libstdc++.so.*

[2020-10-13 07:57] neheb commented on #13652
Am I reading right that you’re running ldd on host arch Linux libraries?

[2020-10-13 10:35] ClaymorePT commented on #13652
I'm wondering if this is a Boost Makefile issue or a global OpenWRT build manager issue. If the dependency is specified in the `DEPENDS` field, then it should be linked. I wonder if the other libs specified in that field are also having the same issue.

[2020-10-13 11:03] brvphoenix commented on #13652
Not sure. List two different packages that depend on libstdcpp.

libjsoncpp
[code]
libpcre2
[code]

[2020-10-13 11:08] neheb commented on #13652
@ClaymorePT eh no. Linking is done by each package's Makefile. The DEPENDS fields is mostly to add a package as a build dependency. There's also logic that checks if a dependency is missing.

[2020-10-13 12:18] ClaymorePT commented on #13652
@neheb So basically this has been going on forever and we are only noticing now thanks to @brvphoenix inspection? Auch...

Okay @brvphoenix  I understand what you are saying, lets add it to `TARGET_LDFLAGS` since it should have already been there.

@brvphoenix I can only work on this issue later in day. If you have a fix ready to submit, feel free to do push it.

[2020-10-13 12:44] neheb commented on #13652
If that were the case. several packages would be broken.

It's possible this regressed in some recent version.

[2020-10-13 14:44] PolynomialDivision commented on #13553
Which Target System is this? I tried using Boradcom BCM47xx/53xx? Seems wrong.

[2020-10-13 14:53] commodo opened #13654 "[RFC] Github: using 'Rebase & merge' as a default merge strategy"
Hey,

Just raising some thoughts.
If there is no agreement here, then also fine.
I'll close this in 1-2 weeks if there is no conclusion on this.

So, Github allows 3 merge strategies.
Any thoughts on changing default to Rebase & merge?
Reason is: git history looks like this [1]  Too many merge commits with single commits.

If it is a good idea, then it's in Settings:
![image](https://user-images.g

[2020-10-13 18:31] champtar commented on #13654
In Gitlab you can rebase, wait for CI again, then merge, which I really prefer.
Rebase remove the history so you don't know what was really tested, so I'm a bit against it, and also it removes the information of who took the decision to merge in git.
I'm totally against squashing because the submitter should take care of sending proper commit, it's not the job of the guy that merge to cleanup.
=>

[2020-10-13 19:15] commodo commented on #13654
Maybe as a quick addition: “Rebase & merge “ is like going back to the old way (or how OpenWrt core does it) where a maintainer applies a patch (which was sent via mailing list)

[2020-10-13 19:39] champtar commented on #13654
But the maintainer was doing rebase, test, merge, now we will do test then rebase & merge

[2020-10-13 21:17] luizluca opened #13655 "mwan3: should not use "ping -I address""
Maintainer: @feckert
Environment: all of them (no binaries)

Description:
#11564 breaks mwan3track in 19.07 for IPv6. Source IP does not specify which interface will be used to leave the router. It just sets the source address. It might be enough to select the outgoing if there is some external mechanism that selects the route based on source address, which will indirectly select the outgoing inte

[2020-10-13 21:50] stangri commented on #13568
OMG, good catch, I would have never found it!

[2020-10-13 21:52] stangri commented on #13568
OMG, good catch, I would have never found this. Same link for the IPK if you can test it again.

[2020-10-13 22:13] jefferyto commented on #12629
The build error was fixed in #13479. Maintainer does not appear to be interested in making improvements based on my [other suggestions](https://github.com/openwrt/packages/issues/12629#issuecomment-658670356) (`MAKE_*` vars, `-X` flags, `release` build tag). Closing.

[2020-10-13 22:13] #12629 closed

[2020-10-14 07:43] feckert commented on #13655
@luizluca :+1: thanks for the excellent explanation.
Unfortunately I do not know what the best solution is here.
I agree with you, I have never seen it like this before.
In the master this should work after merging #13169 no matter what you specify.
@aaronjg has [wrapped](https://github.com/openwrt/packages/pull/13169/files#diff-1fe89ea8a9d283cb34c89b5676254e83f0bc8fb82beb45ce21e4f4aa14c9b04e) the

[2020-10-14 08:10] feckert commented on #13499
Fixed with https://github.com/openwrt/luci/commit/678c0b2d5ba77092ca4c422b6a3c3e3eefe86b01 and
https://github.com/openwrt/luci/commit/8c19a2e1b8f8bb5f28beadd71bab88d8f892d28d

[2020-10-14 08:10] #13499 closed

[2020-10-14 12:49] aaronjg commented on #13655
I have seen this issue before, and for me using `ping -I <dev>` also fixed the issue. The issue is resolved in #13169 since it uses LD_PRELOAD to `setsockopt` `SO_BINDTODEVICE` and `bind` to bind to ip address.

I would be in favor of adding an additional flag to the config to specify if ping should be by device or by ip address. I don't think we want a separate ping option (like nping), since the

[2020-10-14 13:04] feckert commented on #13655
I think we should detect this automatically.
If we have a **from** then we could use the address and if this is not set then we should use the device.
I think adding a config option to use the address or the device on IPv6 is ( as I said before ) an interim solution and is not necessary on mwan3 2.10.0 version. Would this work?

[2020-10-14 13:46] luizluca commented on #13655
I did saw #13169. However, it looks like a too complex approach to fix the problem. I'm worried that it will increase too much the cost to maintain mwan3 pkgs.

The reason for all that is a way to send pkgs that would use exclusively one or other ISP connection. Isn't that exactly what the different routing tables (1, 2, 3...) created by mwan3 does? So, we need a way to select the routing table fr