[2021-12-15 15:14] rakesh2215 commented on #8839
probably not.

On Wed, Dec 15, 2021 at 7:28 PM W. Michael Petullo ***@***.***>
wrote:

[2021-12-16 09:07] erdoukki commented on #17311
Resolved-by: https://github.com/openwrt/packages/pull/17341

[2021-12-16 10:55] pmoya-in-the-web commented on #16009
Hi,
i am really new to openwrt and syncthing. Just bought a Linksys WR32X router few weeks ago and I am still configuring it with openwrt & syncthing.

Maybe I could help you with documentation and some easy tasks by now.

[2021-12-16 11:00] pmoya-in-the-web commented on #16895
Try to change 0 to 1 in /etc/config/syncthing

Maybe you also need to allow connections from any host ( change 127.0.0.1 to 0.0.0.0 ). By the way, does anyone know how to configure a subnet o a list of several ips

--------------------------
/etc/config/syncthing

config syncthing 'syncthing'
        option enabled '**1**'

        option gui_address 'http://**0.0.0.0**:8384'

        # Use intern

[2021-12-16 11:11] feckert commented on #17284
@aleksander0m @nickberry17 I just can't get the ModemManager to work on my lantiq_xrx200 target!
I suspect that something is wrong with glib2 abstraction.
Because when I use the native dbus api in my test program, it can get the name and it works.

I am not a glib2 expert, but is there a way or does anyone have a hint or link how to compile a small test program with glib2 and dbus and then see if

[2021-12-16 13:24] aleksander0m commented on #17284
You can get the "service-alarm.c" program along with the "es.aleksander.Alarm.xml" file from here:
https://aleksander.es/data/GNOMEASIA2014-Examples/

It is an extremely minimal example of a DBus service using glib2 and GDBus, which is what ModemManager does.

And set it up to compile just like this:
[code]

gdbus-codegen is a tool that gets installed along with glib. It's a python program, so you

[2021-12-16 15:33] paper42 opened #17352 "packages broken with Python 3.10 because of collections.abc"
Maintainer: @dddaniel @BKPepe @jmarcet
Environment: master

Description:

Python 3.10 removed some deprecated names from collections, so we should either update packages which use them or import upstream patches (which often can't be applied because versions in master are too old, 3/4 of these packages didn't get a single update since they were added o this repository):

- [ ] python-awscli @dddan

[2021-12-16 20:51] rugk opened #17355 "tang: bump to v11"
Maintainer: @Tiboris @neheb @cotequeiroz

Description:
Tang has a new v11 release: https://github.com/latchset/tang/releases/tag/v11

Can we bump that?

See also https://github.com/openwrt/packages/issues/14692

And the issue https://github.com/openwrt/packages/issues/15592 which is still open.

[2021-12-17 08:08] jefferyto commented on #17172
The fix was merged in https://github.com/openwrt/openwrt/commit/75093d1b1de7af82acd3b8bcc61f308c37493400 - closing.

[2021-12-17 08:08] #17172 closed

[2021-12-17 08:58] #17355 closed

[2021-12-17 09:56] jefferyto commented on #17217
Buildbots are also seeing the same error (https://downloads.openwrt.org/snapshots/faillogs/mipsel_24kc_24kf/packages/python3/compile.txt):

[code]

Curious that mipsel_24kc_24kf is the only arch with this error.

[2021-12-17 15:08] feckert commented on #17284
@aleksander0m Thank you for this small snipped.
I have now [packaged](https://github.com/TDT-AG/packages/tree/example/20211217-service-alarm) it for Openwrt and run it on my xrx200 and on my x86_64 (APU3)

It looks like it's not the ModemManager but either the glib2 or the dbus.
But since the dbus works with another small programm, I think it can only be glib2!

Enclosed is my test summary. I thin

[2021-12-18 11:17] mhei commented on #17332
Sorry, for late response. I've setup a VM and tried to reproduce but I failed: I can compile successfully without any issues. Can you provide more details about your configuration, e.g. diffconfig?

[2021-12-19 02:40] zdz2019 commented on #17332
I changed the compilation target to "mvebu" "arm_cortex-a9_vfpv3-d16", everything is normal, compile successfully.

Later, I will try to compile the x86_64 platform.

[2021-12-19 06:09] zdz2019 commented on #17332
I found the problem. When libcurl enables openssl, it will fail to compile, and if the default WOLFSSL is used, it will compile successfully.

[2021-12-19 06:51] mhei commented on #17332
Thanks for your investigation, I'll have a look...

[2021-12-19 08:33] desigabri commented on #17192
-- Build files have been written to: /home/gabriele/openwrt/mastermod/build_dir/target-arm_cortex-a15+neon-vfpv4_musl_eabi/SoftEtherVPN-5.01.9674
touch /home/gabriele/openwrt/mastermod/build_dir/target-arm_cortex-a15+neon-vfpv4_musl_eabi/SoftEtherVPN-5.01.9674/.configured_a17fb5ef857664f03cd0ce37cc5ea591
rm -f /home/gabriele/openwrt/mastermod/build_dir/target-arm_cortex-a15+neon-vfpv4_musl_eabi/So

[2021-12-19 13:52] mhei commented on #17332
I found a solution, let's see what buildbots think about...

[2021-12-20 05:16] flyn-org opened #17397 "php8: loading modules fails"
Maintainer: @mhei
Environment: x86_64 master

Description:
We recently merged changes that dropped PHP7 and migrated a number of modules to PHP8. Something seems wrong with loading the modules. It seems PHP expects to find the modules in `/usr/lib/php/`, but they are installed in `/usr/lib/php8/`. When I try to start lighttpd, I see:
[code]
Creating a symbolic link from `/usr/lib/php8` to `/usr/li

[2021-12-20 05:22] flyn-org commented on #17397
Never mind. I had a custom `/etc/php.ini` with the old `extension_dir` setting.

[2021-12-20 05:22] #17397 closed

[2021-12-20 09:36] #17332 closed

[2021-12-20 09:54] jefferyto commented on #17308
meson in 21.02 uses your build host (system) Python, not host Python (compiled from the python3 package).

What do you see if you run at the terminal:

[code]

Also ping @dhewg

[2021-12-20 10:51] alaviss commented on #16698
From a cursory web search this seems to be the issue with a dependency of AdGuard Home having hard dependency on a given version of Go. See this similar issue: https://github.com/caddyserver/caddy/issues/4118

The release version of AdGuard Home is only compatible with Go 1.16 from the error message, and OpenWrt uses Go 1.17, hence why it doesn't work.

[2021-12-20 13:46] champtar opened #17402 "mwan3: flush_conntrack broken"
Maintainer: @feckert @aaronjg
Environment: 21.02

Description:
mwan3_flush_conntrack call was moved in 39f58789e603fd31b763887282fc6b042a4d9d54 and logic was inverted,
it's called only when mwan3 is globally disabled so right now flush_conntrack is broken

[2021-12-20 15:06] feckert commented on #17402
You are absolutely right! Thanks for the hint, I'll have a look at it asap.
Can you move the line from
https://github.com/openwrt/packages/blob/master/net/mwan3/files/etc/hotplug.d/iface/15-mwan3#L29
after line
https://github.com/openwrt/packages/blob/master/net/mwan3/files/etc/hotplug.d/iface/15-mwan3#L87
does this fix the issue on your use case?

[2021-12-20 17:13] champtar commented on #17402
Doing your change conntrack is now flushed:
[code]

[2021-12-21 01:27] hilman-k8n commented on #14518
does not work for me too
[code]

I need to manually add `/etc/init.d/sqm start` in `/etc/rc.local` to make it works

[2021-12-21 06:56] tohojo commented on #14518
@hilman-k8n could you please post your /etc/config/sqm?

[2021-12-21 12:05] push-gh commented on #14096
I'm having the same issue (It should be, according to this discussion anyway). Instead of pinging external destinations, What I did was create a simple script and added it to /etc/rc.local. It reads a unique log entry corresponding to this status change and restart the network interface. So far it worked for me. I think it also saves CPU cycles as it will in block status until a log entry is proce

[2021-12-21 12:31] erdoukki opened #17406 "crowdsec-firewall-bouncer: remove crowdsec package dependency"
Maintainer: @erdoukki
Environment: (OpenWrt 21.02)

Description:
https://forum.openwrt.org/t/crowdsec-initial-packages-v1-2-0-for-openwrt/102648/46

[2021-12-21 12:39] erdoukki commented on #17406
Resolved by https://github.com/openwrt/packages/pull/17407

[2021-12-21 16:19] iamnague commented on #17406
Hi @erdoukki, not tested yet,  don't you think you should also change /etc/firewall.cs file as it enables and restarts crowdsec service ?

[2021-12-21 16:21] erdoukki commented on #17406
sure...
good advice, thanks.
I modify the script and send an update to this PR.

[2021-12-21 18:54] professor-jonny opened #17412 "miniupnpd multiwan awareness mwan3"
Can Miniupnpd be made aware of multiwan enviroments ?
I'm using Mwan3 and upon failover it would be nice if the rules shifted over to the other wan interface.

[2021-12-21 19:18] professor-jonny opened #17413 "miniupnpd not working with upstream router/ modem with public IP"
Miniupnpd is not working with my providers upstream router with a public ip address range.
if i put in my config my public ip address into my extarnal ip upnp fails to start.
if i leave it todetect its own it says it is a public address and upnp is not possible.
if i use stun to get an external interface it says i have a nat issue:

`
STUN: ext interface wan with private IP address 192.168.0.142 i

[2021-12-22 01:36] neheb opened #17417 "python3 not compiling on hardfloat mips"
Maintainer: @commodo @jefferyto

https://downloads.openwrt.org/snapshots/faillogs/mipsel_24kc_24kf/packages/python3/compile.txt

[2021-12-22 05:05] jefferyto commented on #17417
Duplicate of #17217.

[2021-12-22 05:19] #17417 closed

[2021-12-22 07:38] feckert commented on #17412
I can't help you there without dealing with the subject. Why don't you ask in the forum? Maybe someone has a setup?
https://forum.openwrt.org/

[2021-12-22 16:02] BI7PRK opened #17420 "Kernel version and package update"
尊敬的大佬们，我非常抱歉地用中文提交一个问题，希望得到解答：
## >>我的设备
<html><body>

项 | 版本
-- | --
型号 | Raspberry Pi 3 Model B Rev 1.2
架构 | ARMv8 Processor rev 4
固件版本 | OpenWrt 21.02.1 r16325-88151b8303 / LuCI openwrt-21.02 branch git-21.340.48972-61cc3b1
内核版本 | 5.4.154

</body>
</html>

## >>安装方式：
原来是OpenWrt 21.02.0 全新安装，后来再由 rpi-3-ext4-sysupgrade.img.gz 刷入升级到OpenWrt 21.02.1。

## >> 遇到的问题：

- 软件包需要更新，但是警告 **kernel 版本不兼容**

!

[2021-12-22 16:22] feckert commented on #17420
In English please!

[2021-12-22 17:36] brada4 commented on #17413
Most likely UPNP is blocked at your provider due to inherent security issues during last years.
Functional replacement is any kind of  VPN, like wireguard or openvpn.
As per specification UPNP should work via multicast, if yours accepted commands on unicast address it would plainly open all your internal network to the world of cyber attacks.

[2021-12-22 18:00] mikhirev opened #17421 "stubby: error in generated config"
Maintainer: @neheb, @jonathanunderwood
Environment: Netgear WNDR3700 v4, OpenWrt 21.02.1 r16325-88151b8303

Description:

If resolver IP address ends with `:`, e.g. `2a09::`, the generated YAML has invalid syntax. Address value should be quoted to prevent this.

[code]

[2021-12-22 19:09] jefferyto commented on #17306
I think host Python should continue to return `darwin` for `sys.platform` on macOS since it is running on macOS/darwin.

Please open individual issues for each failing package so that they can be patched/fixed.

[2021-12-22 19:31] jefferyto opened #17423 "[RFC] CI: Add test builds for macOS"
Maintainer: @aparcar
Environment: N/A

Description:
While building on macOS isn't officially supported, there is documentation in the [wiki](https://openwrt.org/docs/guide-developer/toolchain/buildroot.exigence.macosx) on how to set up a build system on macOS, and we have users doing builds on macOS and filing issues (e.g. #17306).

GitHub offers macOS runners for GitHub Actions.

Having test buil

[2021-12-23 02:04] BI7PRK commented on #17420
My device's Pi 3 Model B Rev 1.2 . Firmware version is OpenWrt 21.02.1 r16325-88151b8303. In the packages update list to update warning:  **[kernel incompatible version](https://user-images.githubusercontent.com/24989210/147119524-ce9f421d-8d2b-48e1-b69b-ceee70267a02.png)**. `need= 5.4.154-1-ba6c757dfe6f69b325d19a7f237bd331 version, has been installed 5.4.143-1-ba6c757dfe6f69b325d19a7f237bd331`. b

[2021-12-23 09:21] alex9434 opened #17424 "Python3: error: incompatible types when assigning to type 'PyStatus' from type 'int'"
Maintainer: @jefferyto
Environment: OpenWRT 21.02.1 aarch64 (Raspberry Pi 4)

Description:
I get the following error when building on Debian Bullseye:
[code]
Any idea how to solve the issue?

[2021-12-23 14:46] aparcar commented on #17423
Hi, while I like the idea it's a bit more involved than "just" using macOS builders. For now the OpenWrt SDKs are only compiled for x86/64. If we want *fast* CI checks we'd need macOS compatible SDKs. And even then we'd only test Intel Macs. The newest ARM64 CPUs may introduce yet another path of build failures.

We could daily/weekly/monthly build SDKs for macOS {x86_64/arm64) and build test with

[2021-12-24 09:43] svlobanov commented on #17423
I'm interested in this proposal. I can help as far as I can in fixing bugs and testing a little

I use macos (arm64) to build openwrt images, but I don't use OpenWrt SDK

[2021-12-24 11:52] professor-jonny commented on #17258
I get the same SSDP discovery constant logs but im not sure if my issue is 100% the same as yours I get no such device error on my interface instead of permission errors.

It looks like for me the multicast ssdp discovery events are not being sent on my wireless only bridge interface on my router but they are on my mixed wireless/ wired bridge on another interface.

I'm wondering if the interface

[2021-12-24 13:59] systemcrash commented on #17258
I get a number of things in the logs from `miniupnpd` currently:
[code]

It seems like it needs to learn how to correctly add a chain to the fw. So this is a concrete problem for which a fix is theoretically possible. Perhaps the module installation should take care of adding a `MINIUPNPD` chain to the fw, if there isn't a better way of handling this.

What I find strange is that this does not imm

[2021-12-24 14:28] systemcrash commented on #17258
usually a restart makes the problem go away for a while

you'd be surprised...

This looks similar: sendto: problems mean some resource that was there earlier disappears - whether hardware, config, memory, etc. Not looked at any miniupnpd code.

[2021-12-24 15:02] BKPepe commented on #17420
I don't think that we can help you anyhow based on the screenshot. It would be nice if we have some more outputs (I mean logs) from ``opkg list-installed | grep kernel``, etc., if you rebooted your router, what did you do and so on to be able to reproduce.

In any case, this issue does not belong to this repository. I suggest asking for help on [OpenWrt forum](https://forum.openwrt.org/).

[2021-12-24 15:02] #17420 closed

[2021-12-24 16:45] OUZYcn commented on #17308
@jefferyto

Sorry for reply late.

ouzy@ubuntuesxi:~/kiddin9$ python --version
Python 2.7.18

[2021-12-24 19:02] eli-schwartz commented on #17308
[code]

You are invoking meson using the (unversioned) python interpreter at /home/ouzy/kiddin9/openwrt/staging_dir/host/bin/python which apparently does not like the python3 syntax.

[2021-12-24 20:40] zokl commented on #17235
The problem is in parallel build betwen modemmanager and libqmi. I need prepare better description.

[2021-12-24 20:40] #17235 closed

[2021-12-24 21:10] professor-jonny commented on #17258
In my case I have a time controlled firewall and upnp is blocked on the interface when the rule starts and I start getting these errors.
It seems miniupnpd needs to be aware of changes made to the firewall and hotplug events of interfaces ?

[2021-12-25 02:50] Neustradamus opened #17428 "archive.openwrt.org expired certificates"
Hello the OpenWrt team,

There is a problem of certificate here:
- https://archive.openwrt.org/

Can you look?

Thanks in advance.

[2021-12-25 04:38] jefferyto commented on #17308
You didn't actually need to remove Python 2. Both `$(STAGING_DIR_HOST)/bin/python` and `$(STAGING_DIR_HOST)/bin/python3` are [mapped](https://github.com/openwrt/openwrt/blob/openwrt-21.02/include/prereq-build.mk#L155-L171) to Python 3 (`python3`) not Python 2.

In any case, I suggest you start again with a clean checkout of buildroot / sdk and try compiling again.

[2021-12-25 10:22] hilman-k8n commented on #14518
Hi @tohojo, this is my `/etc/config/sqm`
[code]

[2021-12-25 22:49] #16594 closed

[2021-12-25 22:49] #16698 closed

[2021-12-26 07:31] jamesmacwhite commented on #17428
Seems fixed now, looks like the LetsEncrypt cert didn't auto renew within the expiry window.

[2021-12-26 10:53] #17428 closed

[2021-12-26 14:43] #17421 closed

[2021-12-27 00:08] jamesmacwhite opened #17437 "adguardhome: Backport 0.107.0 release to openwrt-21.02?"
Maintainer: @dobo90 @alaviss
CC: @mercyground
Environment: N/A

Description:

The recent commit for bumping the package to 0.107.0 and changes that allows easier control of the data folder path, makes the package much better for use in OpenWrt. Given 0.107.0 is a more solid stable release generally, do we think we can backport it to OpenWrt 21.02?

The 0.107.0 releases fixes the issue with the bin

[2021-12-27 00:21] mercyground commented on #17437
Agreed on 107 being stable now. 106 has issues and its broken due to the go version being different in 21.02.

What sort of defaults are proposed for the install of AGH? Out of the box you need to make choices and avoid the conflicts with both luci and dnsmasq. my thread for the manual install of AGH details some of these issues.

https://forum.openwrt.org/t/how-to-updated-2021-installing-adguardh

[2021-12-27 03:31] alaviss commented on #17437
Best we can do now is to provide guides like https://github.com/openwrt/packages/blob/master/net/unbound/files/README.md#parallel-dnsmasq.

The other way is to just install and let the users set things up their way. Of course this still means we need to choose a port / config to enable them to set it up via the 3000 install port. And guide them with potential issues.

One thing to note that AdGuar

[2021-12-27 06:21] mercyground commented on #17437
i believe there is an improvement issue for the user/pass (because you cannot change it except via yaml hacking. You also have to generate a bcrypt hash of the pwd).

Its not the only bug bear i have with yaml editing of parameters that realistically really should be editable via the web interface.

As for a seed config you can take the basic yaml file and build off that. It isnt ideal however giv

[2021-12-27 08:37] BKPepe commented on #17437
I cherry-picked the change from the master branch as indeed it seems that adguardhome is broken in OpenWrt 21.02 (referenced issue).

It would be nice if you could verify that it works in OpenWrt 21.02 branch. The packages should be compiled within 24/48 hours. If it works, then close this issue.

Unfortunately, I am not using it, though. But next time, it is good to verify that the new version wo

[2021-12-27 08:40] jamesmacwhite commented on #17437
@BKPepe Thanks. I believe @mercyground can verify the 0.107.0 binary works fine on OpenWrt 21.02. They have been running the edge builds and also tested the stable 0.107.0 release without any issues.

It is fairly important because the binary itself in the opkg package is broken in OpenWrt 21.02 and you essentially have to download the AdGuardHome binary from GitHub to fix it in OpenWrt under the

[2021-12-27 10:09] mercyground commented on #17437
confirmed. 107 edge builds work nicely. I've not tried their official 107 stable but i imagine should be just fine. I am wanting to test with a clean 21.02 build to help figure out some defaults and passing issues upstream to AGH for them to enable better integration with OpenWrt.

[2021-12-27 15:51] jsilva-iii opened #17443 "HOSTAPD_START_FAILED after updating to hostapd-common - 2020-06-08-5a8b3662-38 & wpad-basic-wolfssl - 2020-06-08-5a8b3662-38"
HOSTAPD_START_FAILED after updating to hostapd-common - 2020-06-08-5a8b3662-38 & wpad-basic-wolfssl - 2020-06-08-5a8b3662-38

Router :
Linksys WRT3200ACM
running OpenWrt 21.02.1 r16325-88151b8303 / LuCI openwrt-21.02 branch git-21.357.58218-b3cd473

I updated the above packages and no wifi  in log :

Mon Dec 27 10:35:13 2021 daemon.err hostapd: Line 46: unknown configuration item 'snoop_iface'
Mon

[2021-12-27 19:45] BKPepe commented on #17443
This issue does not belong here. You reported this to packages repository. There is no hostapd, netifd, etc. You should report it to base repository. Take a look at how to report bugs at OpenWrt.

[2021-12-27 19:45] #17443 closed

[2021-12-28 13:52] #17402 closed

[2021-12-29 01:47] mercyground commented on #17437
wiki entry has been vastly updated and we had a user submitted SSH install guide added. https://openwrt.org/docs/guide-user/services/dns/adguard-home#command-line_instructions_using_ssh

I think AGH should check for either ca-certificates ca-bundle as a requirement and install. Currently I just included them as part of the the install process. But as you need one or the other as a necessity, it re

[2021-12-29 02:08] alaviss commented on #17437
It's already a part of the deps, so it should be pulled in automatically

https://github.com/openwrt/packages/blob/2b165b9b3777b5053b67903f0dc7a7cdb890ec21/net/adguardhome/Makefile#L44

[2021-12-29 02:10] mercyground commented on #17437
i shall amend the wiki to drop that part of install. Cheers!

[2021-12-29 13:20] feckert commented on #17402
@champtar Pushed to stable branch with commit https://github.com/openwrt/packages/commit/7a15a271a6c6682cb170b1a410b1c77b6bfb666e

[2021-12-29 14:38] aparcar commented on #16818
@oskarirauta added, thank you.

[2021-12-29 17:32] BKPepe opened #17453 "[19.07] domoticz does not start - Fatal Python error: drop_gil: GIL is not locked"
Maintainer: @stintel
Environment: Turris 1.1, powerpc_8540, OpenWrt 19.07.8

Description:
[code]

Reproduced issue mentioned here: https://forum.turris.cz/t/tos-5-3-3-domoticz/16391
It could be related to this: https://github.com/domoticz/domoticz/pull/2534

[2021-12-30 00:35] stintel commented on #17453
I am no longer maintaining domoticz.

[2021-12-30 09:34] sarla999 opened #17456 "adblock 4.1.13 error -> coreutils sort not found or not executable"
the adblock cant work when upgraded to 4.1.3

this is my version
adblock runtime information
  + adblock_status  : error
  + adblock_version : 4.1.3
  + blocked_domains : 0
  + active_sources  : -
  + dns_backend     : - (), -
  + run_utils       : download: , sort: /bin/busybox, awk: /bin/busybox
  + run_ifaces      : trigger: -, report: -
  + run_directories : base: /tmp, backup: /tmp/adblock-Ba

[2021-12-30 09:46] sarla999 commented on #17456
I can fix this error by "ln -s /usr/libexec/sort-coreutils /usr/bin/sort"

[2021-12-30 09:46] #17456 closed

[2021-12-30 11:59] M95D commented on #16500
Please close this issue if it's resolved.

[2021-12-30 17:23] jamesmacwhite commented on #17437
This can be closed as the change was backported and runs OK on 21.02,

[2021-12-30 17:23] #17437 closed

[2021-12-30 18:49] BKPepe commented on #17352
I tried a few examples mentioned on [their website](https://www.dnspython.org/examples/) and it seems that it works. :thinking:

[code]

But I will update it anyway shortly. Thanks for letting me know.

[2021-12-30 19:05] BKPepe commented on #17352
PR sent - https://github.com/openwrt/packages/pull/17458

[2021-12-31 07:53] #15787 closed

[2021-12-31 07:54] jamesmacwhite commented on #15787
Closed issue, I no longer use stubby

[2021-12-31 12:10] micmac1 commented on #17288
Looks like these flags come from include/hardening.mk (uses $FPIC var, which is set in rules.mk). Maybe just set PKG_ASLR_PIE:=0 as long as it's not supported.

[2021-12-31 17:14] skyark21 opened #17468 "adblock.sh"
Maintainer: @dibdot
Environment: openwrt-21.02 branch (git-21.357.58218-b3cd473) / OpenWrt 21.02.1 r16325-88151b8303

Description:

Can't start adblock, the Log View say this:
Fri Dec 31 09:42:04 2021 user.err adblock-4.1.3[17869]: coreutils sort not found or not executable

Looking in the  github page I found this code.
[code]

when i run the
[code]
It return this:
[code]

I don't know if there i

[2021-12-31 18:16] walterav1984 commented on #16500
Haven't tested new version yet, but except from the multicast setting hint in Openwrt interfaces has anything related to satip/multicast detection been altered in the new tvheadend package?

[2021-12-31 21:31] jamesmacwhite commented on #17468
You might only have the busybox sort binary. The coreutils sort package does have the version flag:

[code]

Do you have coreutils installed?

[2022-01-01 15:02] Steve-Newcomb opened #17470 "mailsend subject arg must not have a trailing space"
Please make sure that the issue subject starts with `<package-name>: `

Also make sure that the package is maintained in this repository and not in base which should be submitted at https://bugs.openwrt.org or in the LuCI repository which should be submitted at https://github.com/openwrt/luci/issues.

Issues related to releases below 18.06 and forks are not supported or maintained and will be clos

[2022-01-01 15:04] wackejohn commented on #9538
@feckert
help needed.
I'm trying to hack the source code of wireguard based on the patch form the mailinglist:
`https://lists.zx2c4.com/pipermail/wireguard/2021-September/007157.html`

My idea is try to save the firewall mark of incoming data (eg: the data incoming from wan2 ,and the mark based on mwan3 is MARK xset 0x300/0x3f00 ) and then apply it (0x300) when wireguard sendding the reply data, j

[2022-01-01 15:52] KolonelKustard commented on #17234
I can confirm I'm seeing the same behaviour, here's my setup:

Model: `Linksys WRT3200ACM`
Architecture: `ARMv7 Processor rev 1 (v7l)`
Firmware Version: `OpenWrt 21.02.1 r16325-88151b8303 / LuCI openwrt-21.02 branch git-21.295.67054-13df80d`
Kernel Version: `5.4.154`

I'm upgrading from `LEDE Reboot 17.01.4 (Linux 4.4.92)` which worked fine as an NFS server.

I'm planning to downgrade to 19.07.08

[2022-01-01 16:03] Steve-Newcomb commented on #17470
Maintainer @thess
Environment: ath79 Archer A7 V5, OpenWrt-21.02.0

Basically, mailsend screws up if the -sub argument ends with a newline.  Shouldn't it tolerate that, even if inadvisable?

But I didn't put a newline at the end of the -sub argument, which makes this more mysterious, even if that's not mailsend's fault.  If the -sub arg has a trailing space, it somehow becomes a newline by the tim

[2022-01-01 16:38] skyark21 commented on #17468
I tried that and the result is the same.
Acctualy I allready installed but I did it from the lua interface.
[code]
I did a list installed maybe I'm missing something.
[code]

I'm still getting the same result

[code]

[2022-01-01 16:41] hb9xcg commented on #17234
Hi,
I got NFS4 server export working on OpenWrt 21.02.1 with help of https://www.adrian.idv.hk/2021-05-05-nfsv4/
The overlay filesystem seems indeed to make the kernelmode NFS server unhappy. At least I'm able to export from /tmp.

[2022-01-01 16:42] jamesmacwhite commented on #17468
It could be that the busybox sort binary is taking priority in your path, even though it's installed.

Have you tried force reinstalling coreutils and coreutils-sort to see if that fixes it?

[code]

Other than that a dirty fix would be to symlink the busybox sort to the coreutils one, but not sure that's the best idea.

[2022-01-01 16:49] skyark21 commented on #17468
That did the trick!!!!

[code]
And it's running

[code]
Thanks @jamesmacwhite

[2022-01-01 16:50] #17468 closed

[2022-01-01 16:51] jamesmacwhite commented on #17468
Sweeeeeeet. Glad to help!

[2022-01-01 17:01] jamesmacwhite commented on #17456
@sarla999 Another fix might have been to force reinstall the coreutils and coreutils-sort packages, someone else had a similar issue recently:

https://github.com/openwrt/packages/issues/17468

[2022-01-01 17:07] M95D commented on #16500
No.

[2022-01-01 19:27] salim-b commented on #17234
@hb9xcg I just read that blog post. The following part from section [*OpenWRT example*](https://www.adrian.idv.hk/2021-05-05-nfsv4/#openwrt-example) is interesting:

Is the whole secret to make the NFS server work on OpenWrt 21.02 simply specifying `fsid=1`, `fsid=2` etc. for all the non-root NFSv4 exports?

[2022-01-02 03:16] kimdoyeonsa opened #17474 "please package update gcc"
Environment:  Marvell 88F6820 Dual Core CPU armv7, openwrt(entware)

https://github.com/kimdoyeonsa/kdy/tree/main/gcc/patches
https://github.com/kimdoyeonsa/kdy/blob/main/gcc/Makefile
[
![2022-01-02_114711](https://user-images.githubusercontent.com/48858134/147864712-676c7e52-3648-425d-a6ae-729dc0c57fe2.png)

[2022-01-02 06:34] wackejohn commented on #9538
@feckert
The fwmark mask was added by mwan3:
[code]
Tried add this rule to the mwan3_connected chain:
[code]
Then tested working ( the client can handshake succefully both wan1 and wan2 ):
[code]

[2022-01-02 13:23] wackejohn commented on #9538
The patch:
[code]

And don't forget add the iptable rules, or it won't work:
[code]

@feckert
Is there any better way to mark the wireguard incoming connections?

[2022-01-02 15:04] KolonelKustard commented on #17234
Haha! Bingo!! I thought I'd give this a try before downgrading and all is good. This `/etc/exports` caused NFS clients to hang (even on the router itself):

[code]

`fsid` for the win, this `/etc/exports` works:

[code]

Note I also hacked around with my firewall rules and did a few router reboots. So there's a chance it was some other hack I did that fixed things. :shrug:

FYI this isn't the prob

[2022-01-02 20:04] salim-b commented on #17234
@KolonelKustard Thanks for the update!

I can confirm that after explicitly setting `fsid` *to a unique integer between 0-255* for all exports[^1], the NFS server from OpenWrt 21.02 package feeds (`nfs-kernel-server 2.5.2-1`) actually works! 🥳

I've also tried to set `fsid` to the UUID of the underlying filesystem[^2] of each export. While this works fine with `nfs-kernel-server 2.3.4-3` from Open

[2022-01-02 22:43] jjpinom opened #17478 "inadyn: Please update to newer version"
Maintainer: @neheb
Environment: OpenWrt 21.02.1 r16325-88151b8303

Description:

There are option not supported yet by OpenWRT Inadyn package. It needs to be updated.

Please see my bug report: https://github.com/troglobit/inadyn/issues/372

[2022-01-03 06:52] qiuzi opened #17480 "rtmp-nginx patch is not compatible with youtube"
https://github.com/openwrt/packages/commit/e9617f553284b170a8b520d051ac1fc1b83cff30
Cannot push to youtube, twitch after update. It can be used normally after deleting the patch
@Ansuel

[2022-01-03 10:21] LukaszKotasa opened #17482 "uledd: led_timer_cb tries to access freed structure struct blob_led *b"
Maintainer: @blogic

Description:

[code]

[2022-01-03 10:25] feckert commented on #9538
If you change wireguard source code, you should contact them. And describe your problem. I don't think I can contribute much unless I look into it more. Maybe next week!

[2022-01-03 11:59] wackejohn commented on #9538
@feckert
As I said above, the wireguard team refuse to fix it (actually these years there were a lot of talks about this in the wireguard mailing list, but the wireguard team never fix), so I try to fix this issue in my owen way. For now, the only thing is if there is a bettery way to mark the wireguard incoming connection in mwan3. Many Thanks.

[2022-01-03 16:16] jefferyto commented on #17352
Patch backported for python-stem in #17460.

[2022-01-03 17:48] jefferyto opened #17485 "CI: Test compile builds packages changed on master"
Maintainer: @aparcar
Environment: N/A

Description:

@aparcar I reran the CI on #17442 and it built packages that are changed on master as well as the package changed in the PR (django-restframework):

[code]

This makes the CI check slower than it needs to be (in this case much slower because of boost).

[2022-01-04 02:02] #17478 closed

[2022-01-04 12:15] #16386 closed

[2022-01-04 16:13] svlobanov opened #17496 "node: can not compile on host debian11 amd64"
Maintainer: @nxhack
Environment: target: armvirt/64, OpenWrt version master 4a2cca78245e9291096e7c8c98627426df50ef58
host: debian11 amd64
packages version: b434cd71b950185cbf57308466eb0e3473ba484e

Description:

[code]

build host
[code]

.config and log build attached
[config.txt](https://github.com/openwrt/packages/files/7808878/config.txt)
[node.log](https://github.com/openwrt/packages/files/78

[2022-01-04 20:15] jjpinom commented on #17478
Thanks!!!.

[2022-01-04 22:18] jjpinom commented on #17478
Ready. Now it's working, but I had to change the username paramether for Cloudflare.

[2022-01-04 22:37] svlobanov commented on #17496
Github CI is able to build node https://github.com/svlobanov/packages/runs/4707270364?check_suite_focus=true

I've tried on clean installation of Debian11 amd64 and Ubuntu 20.04 amd64, but it fails. I can not understand why

[2022-01-04 22:49] salim-b commented on #17234
I've added a paragraph about this issue and the workaround (specifying explicit `fsid`s for all shares) to the relevant OpenWrt docs [here](https://openwrt.org/docs/guide-user/services/nas/nfs.server#server_configuration). Should be removed again once the underlying problem is fixed.

[2022-01-05 00:31] nxhack commented on #17496
@svlobanov

Please refer here.
https://github.com/openwrt/packages/issues/16729
https://github.com/openwrt/packages/issues/17164

[2022-01-05 04:22] fox85 commented on #9538
bro, you did a great job ,many thanks!!!!

老哥，你的不懈坚持让我敬佩，虽然目前我未用到wg，但你写的patch我先收下了，谢谢老铁啊~~~

[2022-01-05 08:14] jefferyto commented on #17217
I have opened a ticket upstream: https://bugs.python.org/issue46265

[2022-01-05 11:03] nitroshift opened #17501 "transmission-daemon: crash"
Maintainer: @dangowrt
Environment: x86_64, OpenWRT master

Description:

Transmission-daemon crashes when adding a torrent with the folowwing errors:

"Wed Jan  5 12:44:25 2022 daemon.err transmission-daemon[20935]: [2022-01-05 10:44:25.169] tr_crypto_utils CyaSSL error: unknown error number (crypto-utils-cyassl.c:292)
Wed Jan  5 12:44:26 2022 daemon.err transmission-daemon[20935]: [2022-01-05 10:

[2022-01-05 13:03] jefferyto commented on #17225
What do you see when you run `logread` at the command line?

[2022-01-05 15:13] svlobanov commented on #17496
https://github.com/openwrt/packages/issues/16729 helpded me (ulimit -n 2048). Thank you. I'm closing this ticket

[2022-01-05 15:13] #17496 closed

[2022-01-05 15:16] svlobanov commented on #16729
@nxhack could you please add 'ulimit -n 2048' solution to Makefile? otherwise, many other will spend their time like me (create a ticket, wait for your help...)

[2022-01-05 15:23] tohojo commented on #14518
@hilman-k8n okay first of all, which WiFi driver are you running, and why do you need to run SQM-scripts on the WiFi interface? Also, those are some very low bandwidth settings, what's your use case, exactly? :)

[2022-01-05 16:43] svlobanov commented on #17501
I've tried to reproduced the issue, but I can't. I can see similar errors, but no crash and downloading works fine

image: https://downloads.openwrt.org/snapshots/targets/x86/64/openwrt-x86-64-generic-ext4-combined.img.gz (Tue Jan 4 23:20:53 2022)

run in qemu on x86_64 linux host:
[code]

check:

[code]

[2022-01-05 18:12] svlobanov commented on #17474
it will be better if you open a PR, in this case CI will do basic checks if your update is ok

[2022-01-05 19:34] brada4 commented on #17496
It is actually a bug in gcc ld (binutils) https://sourceware.org/bugzilla/show_bug.cgi?id=28138
The diff in the thread is quite simple if you dont add the new testcase.

[2022-01-06 06:47] nitroshift commented on #17501
@svlobanov

I'm using transmission-web-control as gui frontend and the error posted above is just a snippet, system log is flooded with the above lines. Also, I can't see the temporary file error in your log. Should you need any more information, please let me know.

nitroshift

[2022-01-06 08:11] erdoukki opened #17506 "Issue building master after git pull update"
Description:

From some times, I get issue after a git pull (update).

I build packages for testing on MVEBU, ARM64, ESPRESSOBIN.

When I try to directly build a package, modified in its own branch, like for my upstream PR proposal in review.
I always get this error:

[code]

I have find a personal tweak/fix with:
[code]
Then my package can build successfully (or badly, if it gets errors, but no m

[2022-01-06 11:24] svlobanov commented on #17501
Can you reproduce the issue on official snapshot build (the link in my previous comment) and provide step-by-step guide how to reproduce?

[2022-01-06 12:02] camarel opened #17507 "ddns-scripts: user-agent for wget"
Hello

when updating the current IP address via ip_url option it can happen that wget gets a 403. It would be nice to have the option to add a user-agent string for wget to prevent this.

Can I write a pull request for that? Or does it seem useless?

Best regards
Claudio

[2022-01-06 12:33] nitroshift commented on #17501
@svlobanov

I'm using openwrt-x86-64-generic-ext4-combined-efi.img.gz from https://downloads.openwrt.org/snapshots/targets/x86/64/
Steps to reproduce the issue: open transmission gui in any browser, add torrent. System log gets flooded with errors and download doesn't work. Here are my installed dependencies:

dd /usr/bin/transmission-daemon
	/lib/ld-musl-x86_64.so.1 (0x7f37e08ec000)
	libminiupnpc

[2022-01-06 13:17] dangowrt commented on #17501
Does the torrent you are adding have trackers? And if so, are they maybe using HTTPS? That would explain why it doesn't happen to me when I add torrents which are without any tracker or with HTTP or UDP-based trackers.

[2022-01-06 13:18] svlobanov commented on #17501
one more question. Is DHT enabled in torrent-file? (some torrents have "private" flag to disable DHT)

[2022-01-06 13:22] svlobanov commented on #17423
One more idea related to MacOS CI. We can compare packages checksum (built on normal linux host and built on macos). In theory, macos build might be different due to different cflags after autoreconf/configure scripts

[2022-01-06 13:22] nitroshift commented on #17501
@dangowrt

Any torrent triggers the issue. I tried with this: https://cdimage.debian.org/debian-cd/current/amd64/bt-dvd/debian-11.2.0-amd64-DVD-1.iso.torrent

@svlobanov

DHT is enabled in /etc/config/transmission: option dht_enabled true

nitroshift

[2022-01-06 13:23] svlobanov commented on #17501
Also, I think that "Wed Jan 5 12:45:42 2022 daemon.err transmission-daemon[20935]: [2022-01-05 10:45:42.570] Couldn't save temporary file "/mnt/xxx/transmission/settings.json.tmp.XXXXXX": Permission denied (variant.c:1235)" is not normal, looks like you have permissions issues. Can you fix this?

[2022-01-06 13:26] nitroshift commented on #17501
@svlobanov

I did fix that as mentioned in previous comments.

[2022-01-06 14:36] svlobanov commented on #17501
@nitroshift please provide `cat /proc/cpuinfo` and `cat /proc/meminfo`

[2022-01-06 14:49] aparcar commented on #17423
@svlobanov since we build most of our tools within the build root system this shouldn't be a big problem, however OpenWrt itself isn't fully reproducible. We should work on that in general.

[2022-01-06 14:55] svlobanov commented on #17423
@aparcar currently I'm working on fixing packages from 'packages' repo to build it on macos. As I observed some ./configure scripts have some special checks like "if `uname -s` = darwin..." regardless of cross-compiling so as a result, compiled binary might be different even if it is reproducible on Linux build systems.

[2022-01-06 15:20] nitroshift commented on #17501
# cat /proc/cpuinfo

   "processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 60
model name	: Intel(R) Core(TM) i3-4160 CPU @ 3.60GHz
stepping	: 3
microcode	: 0x1c
cpu MHz		: 826.758
cache size	: 3072 KB
physical id	: 0
siblings	: 4
core id		: 0
cpu cores	: 2
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce c

[2022-01-06 16:31] jamesmacwhite opened #17508 "adguardhome: Go 1.17 support deprecation for v0.108.0 and removal in v0.109.0"
Maintainer: @alaviss @dobo90
Environment: N/A

Description:

I'm not familiar with Go dependencies with OpenWrt buildroot, but noticed that the AdGuard team have mentioned that [Go 1.17 support is being deprecated and will be dropped in v0.109.0](https://github.com/AdguardTeam/AdGuardHome/releases/tag/v0.108.0-b.1)

Would this cause an issue for building the package with OpenWrt 21.02 or master? I

[2022-01-06 17:32] alaviss commented on #17508
Maybe. The only way to know is to test it out unfortunately.

I believe its 1.17.1.

[2022-01-06 18:17] jamesmacwhite commented on #17508
@alaviss Thanks. So potentially could be an issue in the next couple of stable releases maybe.

I'm not that experienced with buildroot operations, so maybe others can provide their thoughts. Interestingly I noticed Go 1.18 is an unstable release and 1.17.5 is latest stable, interesting that support is being dropped quite soon when 1.18 isn't even stable itself.

I guess we'll have to see, wanted

[2022-01-06 20:16] diizzyy commented on #17501
Looking at the logs it might be related toe WolfSSL. My general assumption is that it doesn't see much usage/testing outside of OpenWrt as OpenSSL is much more common. It also complains about libcurl...

[code]

I'd try using OpenSSL and see if the issue goes away.

[2022-01-06 22:24] #17217 closed

[2022-01-07 06:48] nitroshift commented on #17501
@svlobanov @dangowrt

Last night i tried Openwrt 21.02.1 release (https://downloads.openwrt.org/releases/21.02.1/targets/x86/64/openwrt-21.02.1-x86-64-generic-ext4-combined-efi.img.gz) and Openwrt Snapshot  (https://downloads.openwrt.org/snapshots/targets/x86/64/openwrt-x86-64-generic-ext4-combined-efi.img.gz). Issue is *NOT* present in the 21.02.1 release but it *IS* present in Snapshot. I've als

[2022-01-07 09:43] aparcar commented on #16818
@openwrt/packages-write heads up, firewall4 gets into a fine state (thanks to @stintel and @jow- )and I'm planing to make it the default within the next week. For all scripts that require _legacy_ `iptables` please test your apps with `iptables-nft` and report back!

[2022-01-07 12:29] bolemo commented on #15805
Hello all,

We are now in 2022.
The netdata cloud node uses a new claiming link: https://learn.netdata.cloud/docs/agent/aclk

I use netdata from entware-ng (mostly based on the openwrt one).
The latest version available from opkg (1.30.1 at this time) does create the /opt/var/lib/netdata/cloud.d/ folder (tat is empty), and the netdata --help does list the option -W "claim -token=TOKEN -rooms=ROOM1

[2022-01-07 13:17] BKPepe commented on #15805
Well, yes. That's true and because of that, we need to take care of our privacy more than in the past.

[2022-01-07 16:03] stintel commented on #15805
As suggested before, if this is a problem for you, submit a PR that adds a new flavour of the package with cloud support enabled.

[2022-01-07 16:03] #15805 closed

[2022-01-07 16:06] stintel commented on #17269
Try version 2.2.3. If the problem persists there, run miniupnpd with -vv and post the output.

[2022-01-07 16:09] stintel commented on #16973
Version 2.2.3 solved the IGDv1 problem, you no longer need the -igdv1 variant.. Please test and close this issue if the problem is solved.

[2022-01-07 16:12] stintel commented on #17412
This is an issue tracker, not a support channel. As suggested, use the forum, or alternative channels as documented [here](https://openwrt.org/contact).

[2022-01-07 16:12] #17412 closed

[2022-01-07 23:15] theAeon commented on #9538
Yeah, for what it's worth I ran into this issue with multiwan on opnsense
as well, so this is hardly exclusive to mwan3. Weird that the wireguard
devs are being Like this.

On Mon, Jan 3, 2022 at 6:59 AM wackejohn ***@***.***> wrote:

--
Andrew Donshik
Sent From G-Mail

[2022-01-08 00:18] AQPSal commented on #16818
Getting this message in the latest snapshot - noticed that the router had connectivity, clients could connect to internet using IPV6 but not IPV4 - seemed a NAT/masquerade issue. No rules appeared in the firewall status. Checked the firewall - it did not seem to be running. Upon trying to start it, got the messages below.

root@OpenWrt:~# fw4 start
Section @forwarding[4] option 'src' is mandatory

[2022-01-08 05:13] bionic-bill opened #17523 "miniupnpd edgerouter 4 won't start"
Maintainer:
Environment: openwrt snapshot r18468-4a2cca7824 on Ubiquiti Edgerouter 4
Description: I recently got openwrt up and running on my edgerouter 4 and it seems like miniupnpd doesn't play well. Setting it up through luci gives the following error:
[code]
And I tried running it in the console as well by pointing miniupnpd to the config file (made by luci) with the listening IP set to the et

[2022-01-08 06:37] wackejohn commented on #9538
Tried to add a switch for saving the fwmark, or it will break the wireguard outgoing rule configured by mwan3.

wireguard_fwmark_hack.patch :
[code]

And wireguard-tools also need to patch, wireguard-tools-with-savemark-hack.patch :
[code]

[2022-01-08 07:40] stintel commented on #16818
Please attach your /etc/config/firewall/

[2022-01-08 15:37] wehkah commented on #17225
There's a missing dependency, as I found in this thread:

https://github.com/openwrt/packages/issues/11062

After installing urllig, radicale2 is working now!

[2022-01-08 15:57] AQPSal commented on #16818
Please see below. I entered all the rules using LUCI - I did not use the command line nor edited the file. As I was sanitizing it I noticed four forwarding rules with only dest or src. Perhaps they are what is causing the issue.

        option output 'ACCEPT'
        option forward 'REJECT'
        option synflood_protect '1'
        option drop_invalid '1'
        option input 'REJECT'

config z

[2022-01-08 16:50] AQPSal commented on #16818
I manually deleted the odd-looking config forwarding rules - I have no idea how they got there. Firewall is working now.

However:
The firewall status screen in LUCI is blank.
Firewall LUCI screen gives me a "TypeError Cannot convert undefined or null to object" on the zones screen upon trying to make any change.
The one odd thing is that I cannot ping FE80:: addresses from the router but the rout

[2022-01-08 17:21] brada4 commented on #17523
As error says - the listening IP is not in command line or in config file. Try `miniupnpd -a 192.168.1.1 -d -S`, that will log to console until interrupted, probably best option for troubleshooting.

[2022-01-08 17:43] jefferyto commented on #17225
radicale2 [depends](https://github.com/openwrt/packages/blob/032d0157c30bca400d058087e920c8a6b94851e5/net/radicale2/Makefile#L32) on python3, and python3 already depends on python3-urllib. Not sure why it wasn't already installed on your system.

[2022-01-08 17:43] #17225 closed

[2022-01-08 21:54] nxhack commented on #16729
@LGA1150 @svlobanov
A patch has been applied to binutils 2.37. Please check it.
https://github.com/openwrt/openwrt/commit/8c501bf9feeaadfb9d950806a312b328baabddcb

[2022-01-08 21:55] nxhack commented on #17164
@1715173329 @zxlhhyccc
A patch has been applied to binutils 2.37. Please check it.
https://github.com/openwrt/openwrt/commit/8c501bf9feeaadfb9d950806a312b328baabddcb

[2022-01-08 21:57] nxhack commented on #17496
@svlobanov @brada4
A patch has been applied to binutils 2.37. Please check it.
https://github.com/openwrt/openwrt/commit/8c501bf9feeaadfb9d950806a312b328baabddcb

[2022-01-08 22:30] rezad1393 opened #17529 "ddns-scripts: whatismyipaddress.com/api is gone so it needs to be replaced"
Maintainer:
@feckert
Environment:
21.02.1

the whatismyipaddress.com/api  like bot.whatismyipaddress.com are disabled.

"Public IP Address
As of November 10, 2021 we are no longer providing this API due to massive abuse."

scripts that rely on that for public IP don't work.
for example duckdns.

it needs to be replaced with a new public IP api.

[2022-01-08 23:44] 1715173329 commented on #17164
Thanks so much!

[2022-01-09 00:14] brada4 commented on #17496
works for me.

[2022-01-09 02:15] MoetaYuko opened #17530 "bluez: snapshot failed to compile on arc targets"
Maintainer: @neheb
Environment: arc770/generic, layerscape/armv8_64b, snapshot

Description:

https://downloads.openwrt.org/snapshots/faillogs/arc_arc700/packages/bluez/compile.txt

[2022-01-09 02:23] neheb commented on #17530
curious. Do you have any arc hardware?

[2022-01-09 02:25] MoetaYuko commented on #17530
nope, but I run a CI to build packages for all platforms including arc and it's broken today.

[2022-01-09 02:30] neheb commented on #17530
hmm looks like a glibc update is causing this.

[2022-01-09 08:04] wehkah commented on #17225
The reason is more than obvious, just look at the other thread I quoted: the package management is missing a dependency. That has not been changed since OpenWRT 19.07, the version that the user in the other thread is talking about.

[2022-01-09 08:18] svlobanov commented on #16729
@nxhack it works for me, thank you

I've checked on Ubuntu 20.04.3 LTS x86_64 with default ulimit -n (1024)

[2022-01-09 08:21] #17530 closed

[2022-01-09 13:58] jefferyto commented on #17225
If you actually read the thread you quoted, you would see that the issue was already fixed in master (which 21.02 is based on) and fixed in 19.07 in #11078.

[2022-01-09 15:29] wehkah commented on #17225
What about the second part of the sentence you quoted?

"...,however, branch 19.07 does not have python3-urllib as a dependecy."

I did not remove the missing package manually, it simply was not installed automatically when I installed radicale2.

The thread  #11078 is about radicale, while I tried to install radicale2. Is it possible that the maintainer fixed the dependency for radicale, but forg

[2022-01-09 17:33] spwnrpe opened #17544 "ddns-scripts: dynamic_dns_functions.sh and sanitizing variable DOMAIN for comma-separated domains"
Maintainer: @nmav or @feckert (?)
Environment: (mvebu, Linksys WRT1900ACS, OpenWrt 21.02.1)

Description:
The sanitizing of "DOMAIN" doesn't allow a "," for comma-separating domains, which the Swedish issuer "Loopia" supports. Adding a "," to the (regex) allowed chars for DOMAIN makes it work as (I) expected, and I can now (like I did back on LEDE 17.x, have only 1 ddns defined and have all domain

[2022-01-09 18:19] jefferyto commented on #17225
No.

[2022-01-10 08:12] feckert commented on #17507
Yes you can do it

[2022-01-10 12:48] #17311 closed

[2022-01-10 18:34] jahidulislamjahid opened #17564 "Netdata Dashboard v1.30.1 non-functional on Mt7620a (MI Router R3)"
**Netdata v1.30.1** does not load anything when i dial 19999 followed by my routers IP.
currently i'm running openwrt 21.10 on **MI Router R3** which is based on **MT7620a** _Raimaps mipsel_24kc_
The feedback i get says **"This Site Can'nt Be Reached"**
can we get any solution on that. i only need the netdata dashboard. i dont need netdata cloud right now. so it'll be appreciated if i get any solu

[2022-01-11 03:14] pprindeville opened #17570 "family-dns: need per zone controls"
Maintainer: @farmergreg
Environment: x86_64, generic, HEAD (83cb2f4dc8)

Description:

I have a firewall with 3 different VLAN's behind it, via several Ubiquiti AP's, each VLAN being associated with a different SSID.

I'd like to only intercept/DNAT DNS requests on `lan2` (aka `eth0.2`).  It would be nice to be able to pick and choose which interfaces/zones that `family-dns` affects, as the kids a

[2022-01-11 07:17] BKPepe commented on #17564
Hello,

Is there anything in the system log related to netdata, which could be helpful? Would it be possible to paste the output from the following file: ``/etc/openwrt_release``?

I tried netdata on several platforms like ``powerpc_8540``, ``mvebu/cortex-a9``, ``mvebu/cortex-a53`` (all Turris devices) and it works there. Based on your report, I tried it also on ``bcm2711`` (Raspberry Pi 4 CM) and

[2022-01-11 07:20] diizzyy commented on #17564
I'd seen musl related crashes on my ar71xx platforms, at that point I stopped bothering look it at. MIPS platforms are also in general very low of memory (128Mbyte isn't all that common) and it'll simply run out of memory anyway.

[2022-01-11 08:50] stintel opened #17571 "motion: build failure on bcm27xx/bcm2711"
Maintainer: @roger- /cc @neheb
Environment: OpenWrt master r18538-8cdc356f8c on bcm27xx/bcm2711 (rpi4)

Description:
Motion doesn't build.

[code]

[2022-01-11 09:13] jahidulislamjahid commented on #17564
@BKPepe Here is what i see in the `/etc/openwrt_release`

DISTRIB_ID='X-WRT'
DISTRIB_RELEASE='21.10_b202201032246'
DISTRIB_REVISION='r18621+1-6bbb4b1068'
DISTRIB_CODENAME='impish'
DISTRIB_TARGET='ramips/mt7620'
DISTRIB_ARCH='mipsel_24kc'
DISTRIB_DESCRIPTION='X-WRT 21.10_b202201032246 Impish'
DISTRIB_TAINTS='busybox'

and as i don't know much about system logging or which information you need from

[2022-01-11 14:50] farmergreg commented on #17570
Thanks for the request, @pprindeville it would be a good feature to add, indeed. Are you using dnsmasq or isc-dhcp?

Thanks,
Greg

[2022-01-11 16:37] KA2107 commented on #16818
I got the following error when I tried to start firewall4 with "option force_dns 1" inside /etc/config/https-dns-proxy :

[code]

[2022-01-11 17:48] pprindeville commented on #17570
I'm the isc-dhcp maintainer, so eating my own dog food.

Happy to work with you on it.

[2022-01-11 20:37] stangri commented on #16818
@KA2107 Thank you for testimg!

@aparcar @stintel here's the PROCD data used in the init script:

[code]

Any idea why `lan` is invalid value for `src` in `fw4`?

[2022-01-11 20:47] KA2107 commented on #16818
@stangri @aparcar @stintel Looks the issue may be on my end. I had renamed the "lan" zone to "lan_1" zone in my /etc/config/firewall . I had been running with firewall3 (iptables) with "lan_1" zone for several months without any issue.

However when I tried firewall4 (nftables), /etc/init.d/firewall script was not getting loaded at startup and upon investigating I found this issue with https-dns-p

[2022-01-12 07:45] jefferyto commented on #13654
I sign my commits and would prefer if my signed commits are the ones that are committed to the repo.

I also often open a PR for master and do another PR for the stable branch immediately after, e.g. #17576 and #17577. With rebase and merge, the `(cherry picked from commit ...)` line in the stable branch commit message references a commit that does not exist in the repo. In the above example, 5f51

[2022-01-12 08:19] dwmw2 commented on #13654
You realise those two sentences are mutually exclusive, right?

When we develop new code, all our thinking is done about how it relates to the original code base that we're working on. We look at the subtle details of how APIs work in that version, we do all our hardcore testing *(including hacking the code to exercise error paths and other things)* based on that version.

When someone changes thi

[2022-01-12 08:59] Cynerd commented on #13654
@dwmw2 my point about testing to be maintainer's responsibility is rather that the maintainer should ensure that code compiles and tests passes on top of code quality checks. Based on those criteria he should accept PR or raise requests for change. That is and always was the maintainer's job in any project. Honestly, the code compiling and tests passing are what CI should ensure and the maintainer

[2022-01-12 09:02] commodo commented on #13654
I forgot about this issue.
And I said I would close it in 1-2 weeks, but now it's 1+ year.

The idea was to raise some thoughts about this.
So, thoughts were raised.
But, no conclusions were reached :)

So: votes or conclusions?

[2022-01-12 10:19] dwmw2 commented on #13654
That isn't really how the world works. When we're writing new code, we'll literally hack it with `if (1 || ...)` to exercise different code paths and make sure all the error handling and stuff works right. On a rebase or merge, we just boot it and do whatever simple testing is possible. Almost 100% of the time, that difference is true. And with a rebase workflow, we really do end up with a commit

[2022-01-12 11:03] jeetu28 opened #17588 "ntpd | Package ntp-utils is missing dependencies for the following libraries: libintl.so.8"
While compiling the ntpd package, I am getting the below error and i have tried specifying the "DEPENDS = +libiconv" also
But still same

[code]

[2022-01-12 11:19] Cynerd commented on #13654
@dwmw2 you are trying to preserve history to see who broke things. I am trying to ensure that master is always as stable as possible. The truth is that testing you are describing is in general just very fragile. When you can't ensure that initial merge to master won't result in your code breaking in some cases, how do you plan to ensure that it won't break in the future? I am not saying that anyth

[2022-01-12 11:36] champtar commented on #13654
Just a reminder, we are talking about the packages repo, each directories are mostly independent and what's important is the commit of OpenWrt "base" you used and that sadly is not present in the history. I agree merge is the way in general but I don't care for this particular repo.

[2022-01-12 11:39] dwmw2 commented on #13654
Except when one person changes a library and another changes a package which uses it?

[2022-01-12 11:55] champtar commented on #13654
Yup, thus my use of "mostly" ;)

With Gitlab you can rebase from the UI and wait for CI to run again but sadly GitHub doesn't offer that option.

[2022-01-12 12:59] THLIVSQAZ commented on #17564
same problem

[code]

[2022-01-12 13:41] bmansvk commented on #15096
I am facing this issue with OpenWRT 21.02.1 and podman 3.4.1 from the distribution. Running rootless containers fails with /proc mount permission denied.

Is something new about this? Upstream podman issue seems to be closed without any resolution: https://github.com/containers/podman/issues/10713

[2022-01-12 20:52] raidenii commented on #16347
Confirmed working with getdns 1.7.0-1 and stubby 0.4.0.

[2022-01-12 20:52] #16347 closed

[2022-01-12 23:06] flyn-org commented on #15096
Nothing new. The current theory is that a difference between the OpenWrt kernel configuration and the configurations found in conventional distributions is causing rootless podman to fail on OpenWrt. This is plausible, but I have so far found little documentation on which kernel facilities rootless podman relies on.

[2022-01-12 23:34] dangowrt commented on #15096
I'm also seeing this problem when using `procd-ujail` and `uxc` as OCI run-time, mounting `/proc` after CLONE_NEWUSER return -EPERM eventhough all documented requirements are met. I also guess it's build-time kernel configuration which may be causing this and haven't yet figured out what it may be :cry:

[2022-01-13 03:43] flyn-org commented on #15096
@dangowrt perhaps this has something to do with Linux (access-control) capabilities? Just brain storming here. I think I am repeating some of your earlier comments.

I have been reading https://github.com/util-linux/util-linux/blob/master/sys-utils/unshare.c, trying to make sense of how non-root can mount /proc in any case.

Is it possible the problem has to do with OpenWrt's support for capabilit

[2022-01-13 04:44] nitroshift commented on #17501
Just an update: reverting from wolfssl to openssl / polarssl solves the issue. No more spam in system logs and downloads are working again.

nitroshift

[2022-01-13 04:44] #17501 closed

[2022-01-13 08:49] BKPepe commented on #17564
Since, I don't have X-Wrt, I can not help you further than suggesting to disable proc plugin to see if it is better or try to update netdata version to the latest one yourself to see if it works. If not, then you should open an issue in netdata repository.

@THLIVSQAZ , same problem, but I see that you are using daily OpenWrt snapshots based on the input. Are you using the same router? :thinking:

[2022-01-13 08:50] predators46 commented on #17508
just wait for golang in the update version 1.18 and the current stable version is v0.107.2

[2022-01-13 08:58] THLIVSQAZ commented on #17564
I rollback to the openwrt 21.02 branch, work fine now. Thanks

[2022-01-13 09:01] BKPepe commented on #17564
In OpenWrt, there is used ``1.30.1`` version, which is available in all supported OpenWrt versions.

[2022-01-13 09:08] THLIVSQAZ commented on #17564
yeah, no the netdata problem, may be musl or other cause crash

[2022-01-13 10:58] dangowrt commented on #15096
I used `strace` to see the syscalls actually thrown at the kernel, and they do make sense but kernel replies -EPERM. So I don't think we need to look into musl being the cause.

[2022-01-13 11:48] tiagogaspar8 opened #17601 "miniupnpd: Log spam "not from a LAN, closing the connection""
Maintainer: No Maintainer
Environment: WRT3200ACM on the latest master

Description:
I'm running a network with static DHCPv4, and sometimes when a new client connects miniupnpd dumps these logs:
[code]
There doesn't seem to e a way to disable these and it starts to fill syslog, and since these messages aren't helpful at all they could be disabled.

Thanks!

[2022-01-13 12:02] najdanovicivan opened #17602 "mariadb - Uses sudo without having dependency to install it"
Maintainer: @miska
Environment: x86_64

Description:

Init script uses sudo when upgrading mysql.  Usage of sudo should be removed or sudo should be added as dependency

https://github.com/openwrt/packages/blob/dafb96c14837bf133e5215cf65fc7ed1439a375a/utils/mariadb/files/mysqld.init#L156

[2022-01-13 12:35] flyn-org commented on #15096
It seems we need to trace into the kernel. I was looking at kernel source last night, but I don't see anything yet. Also, strace would not reveal faulty capability inheritance, right? It is as if some policy within the kernel is out-of-whack.

[2022-01-13 12:38] dangowrt commented on #15096
Capabilities are fine, just like you have documented above already. I have also already verified that namespace ownership is *not* the problem, as that was the other requirement mentioned in the documentation (I've ported `ns_show` to OpenWrt to be able to do so)

[2022-01-13 15:46] alaviss commented on #17508
I think the main concern should be when Go 1.18 is released and imported to OpenWrt. If https://github.com/openwrt/packages/issues/16698#issuecomment-997812738 is anything to go by, AdGuard Home does not like to be built with a Go version differing from what it was developed on.

[2022-01-13 21:30] oskarirauta commented on #15096
Most likely it is a issue with namespacing - on centos, even with a much older podman, pid namespaces were separated, meaning if I had a container running nginx, I was not able to see nginx process unless in container's namespace. Now with even currently latest package of podman, with renewed container configuration, when explicitly set to user private PID Namespace, still, I can see nginx (or wha

[2022-01-14 00:14] dangowrt commented on #15096
pid namespace ownership was also my guess. You may try with the `ns_show` tool which can help to inspect namespace ownership, I previously copy&pasted it from a manpage and packaged it for OpenWrt for exactly this same bug hunt [openwrt-ns_show.tar.gz](https://github.com/openwrt/packages/files/7866724/openwrt-ns_show.tar.gz)

Regarding lack of user management: Apart from lack of common Linux users

[2022-01-14 07:45] jefferyto opened #17607 "[openwrt-21.02] tor: Build failing for arc_arc700"
Maintainer: @hauke, @tripolar (ping @rsalvaterra, @ja-pa, @neheb)
Environment: arc_arc700

Description:

https://downloads.openwrt.org/releases/faillogs-21.02/arc_arc700/packages/tor/basic/compile.txt
https://downloads.openwrt.org/releases/faillogs-21.02/arc_arc700/packages/tor/full/compile.txt

[code]

Looks similar to, but not exactly like, the issue in https://github.com/openwrt/packages/pull/1

[2022-01-14 07:59] neheb commented on #17607
it's a GCC bug. Can't do much about it.

[2022-01-14 08:20] jefferyto commented on #17607
Perhaps there is something in tor we can patch or disable to work around the bug, like https://github.com/openwrt/packages/pull/13467#issuecomment-700968333?

[2022-01-14 08:29] neheb commented on #17607
right. mallinfo however is not related. it's something else. I wonder if that bench binary is even needed.

[2022-01-14 16:14] miska commented on #17602
Fixed and merged

[2022-01-14 18:15] luckydevil13 commented on #17501
same here, confirm on snapshot

[code]

[2022-01-14 18:18] svlobanov commented on #17501
@luckydevil13 could you please report to upstream? https://github.com/transmission/transmission/issues
wolfssl is supported by upstream so we should report them

[2022-01-15 11:37] #17602 closed

[2022-01-15 14:24] #17507 closed

[2022-01-15 18:42] wehkah commented on #17225
I am sorry to bother you, but I need your help again. Today I installed the available upgrade and now radicale2 once again won't start. :(

Radicale2 is now version 2.1.12-1. Again, there is no kind of reaction when I call

`/etc/init.d/radicale2 start`

No error, no log file, nothing. And of course: no running radicale.

But, when I call

`python3 -m radicale -C /var/etc/radicale2/config `

the s

[2022-01-15 20:03] erdoukki commented on #17506
A quick fix with a single command;
`make {toolchain,target,package/fail2ban}/compile`

[2022-01-16 06:02] edrikk commented on #10922
I had to work through multiple issues, and reach the shell script to get this working.

The first stumbling block was indeed the “@“ separator requirement noted above.

Once passed that, I kept getting the error:
`Could not route to /zones/dns_records, perhaps your object identifier is invalid?"}, `

looking through the code, there is an it statement whereby if the zone_id is not given, it tried t

[2022-01-16 11:03] wehkah commented on #17225
This time logread tells me this:

[code]

[2022-01-16 14:26] edrikk commented on #10922
Looks like a fix was just put in for the zine_id if statement issue:

https://github.com/openwrt/packages/pull/17617

[2022-01-17 03:14] jefferyto commented on #17225
What packages do you have installed (`opkg list-installed`)?

[2022-01-17 07:28] azure-xiii commented on #16973
@stintel I am planning on trying this tomorrow. However when I go to the packages.... it looks like there are two now. miniupnpd-iptables_2.2.3-2 & miniupnpd-nftables_2.2.3-2 What are the diffrences?

[2022-01-17 10:43] stintel commented on #16973
The iptables variant uses iptables backend, like firewall3; nftables variant uses nftables backend, like firewall4.

[2022-01-17 19:10] wehkah commented on #17225
Here you are:

[code]

[2022-01-17 21:31] mhei commented on #17280
Difficult. The busybox package is part of [openwrt,](https://github.com/openwrt/openwrt) not packages. libtirpc, on the other hand, is part of packages. One would have to add a dependency for busybox to libtirpc, at least a conditional one. Please report this issue on [openwrt,](https://github.com/openwrt/openwrt) and ask howto proceed. Please expect that people will ask for your actual use-case,

[2022-01-17 22:29] mhei commented on #17097
Wow, nice problem analysis, very helpful documentation... I really, really appreciate your work.
This makes following your thoughts really easy, so I think your finding and conclusion is correct.
Next step would be to create a real PR with your suggested patch. I could try to do it during the next evenings and would also try to verify it using PHP's imap module - it should show the same issue sinc

[2022-01-17 23:21] jefferyto commented on #17225
Can you try removing and reinstalling the radicale2 package?

[2022-01-18 15:46] erdoukki opened #17637 "[21.02] crowdsec-firewall-bouncer: initd script error"
Maintainer: Gérald Kerma / @erdoukki
Environment: (aarch64_cortex-a53, espressoBin, OpenWrt master and 21.02)

Description:
crowdsec-firewall-bouncer initd/service do not start correctly.
the binary name has changed and is bad referenced in the initd script.

Resolved-by: https://github.com/openwrt/packages/pull/17614 (master)

[2022-01-18 19:58] wehkah commented on #17225
Been there, done that... That was also my first thought, and I even tried two different ways of deinstalling and reinstalling: via web GUI and via command line. But neither way doesn't make any difference: the start script fails, while starting the service by

`/usr/bin/python3 -m radicale -C /var/etc/radicale2/config &`

does work. Until I will find the solution to this, I put the above command i

[2022-01-18 19:58] WildPenquin opened #17641 "ddns-scripts [nsupdate]: impossible to configure nsupdate with ipv6 without (a single) forced update"
Maintainer:  feckert
Environment: 21.02.1

Description:

It is impossible to configure ddns-scripts-nsupdate for IPv6 protocol so that no forced updates happen *and* the ip address is till checked at intervals. This is because run-once is always enabled if and only if forced is disabled (set to 0). See: https://openwrt.org/docs/guide-user/services/ddns/client .

This is in conflict of nsupdate ter

[2022-01-18 20:07] WildPenquin commented on #17641
A log snippet demonstrating a forced update when setting `forced_interval=0` (also containing my configuration):

[code]
To elaborate:

**Steps to reproduce:**
set forced_interval=0

**Observed behavior:**
the scripts runs once with a forced update!

**Expected behavior:**
The script should run at check intervals. Alternatively, it should ran once without a forced update (i.e. not update if IP add

[2022-01-18 20:36] NoctivagusObitus opened #17642 "prometheus-node-exporter-lua: configure ipv6 listen address to use ULA"
Hi

currently it is possible to configure prometheus exporter to listen on a single interface or more precisely on one ip address of that interface. in my case this always is some ipv6 GUA address where i would prefer to use the ULA address of the same interface. my goal is to scrape the routers via a controlled path through vpn and vlan from some server in the internet to the router and back.

is

[2022-01-19 06:57] jefferyto commented on #17225
I have installed radicale2 on armvirt-32 (in qemu) and verified that it starts with no issue. The problem isn't the init script, something is wrong with your Python installation.

[2022-01-19 08:22] azure-xiii commented on #16973
@stintel Got the snapshot installed and configured with the new miniupnpd-nftables... However the issue still persists. You can easily check this on Windows 11 by running "Xbox Console Companion" and going to the network tab. It will run a test and come back as moderate. You can also watch in the LUCI gui that no ports are never opened.

[2022-01-19 08:31] aparcar commented on #16818
As discussed at yesterdays meeting I merged the changes. The next release will use `firewall4` as default and all packages incompatible (e.g. using `ipset`) should add a negative dependency. Our considerations are that the default (WiFI home router) setup works fine wir `firewall4` and special cases can always replace `firewall4` with `firewall3`, which should work at least until the upcoming 5.15

[2022-01-19 09:10] stintel commented on #16973
Are you using firewall4?

[2022-01-19 17:41] topiolli commented on #17234
Another data point on OpenWrt 21.02.1. Mounts hang even with an explicit fsid if ip-based access control is used. This doesn't work:

[code]

This works

[code]

The problem is I cannot specify client-specific rules.

[2022-01-19 18:43] salim-b commented on #17234
@topiolli I guess you're missing to specify the **netmask** besides the IP address. See the [manpage of `/etc/exports`](https://man.cx/exports).

I'm successfully using export entries like

[code]

[2022-01-19 18:51] topiolli commented on #17234
@salim-b Thanks for the suggestion, but "single host" is the first supported format listed on the man page. I however got it work with my original /etc/exports by downgrading to an older nfs-kernel-server version as suggested above. Exact steps in my case:

[code]

[2022-01-19 18:56] salim-b commented on #17234
My fault, you're right (those who can read have a clear advantage 🙈).

Happy to hear that downgrading at least helped.

[2022-01-19 19:22] neheb commented on #17588
You want $(INTL_DEPENDS)

[2022-01-19 19:48] wehkah commented on #17225
I removed radicale2 and every python package that was installed. After that, I re-installed radicale2, and it automatically installed these packages:

[code]
After that, radicale2 still would not start using the starting script. Then I remembered reading something about starting problems when bcrypt was not installed, so I did

[code]
But still, radicale2 will only start when I use the command lin

[2022-01-19 22:01] stangri commented on #16818
Paul, could you please clarify/elaborate on the `ipset` incompatibility with `firewall4`?

[2022-01-19 22:48] stangri commented on #16818
The [dnsmasq-full](https://github.com/openwrt/openwrt/blob/d2d0044ebf01b71f63cde609e09f6ac68cdfeccb/package/network/services/dnsmasq/Makefile) still builds with `ipset` support. Is there a plan to switch to 2.87 which seems to be on the way of supporting nft sets?

This concerns me because of the policy routing packages which use dnsmasq ability to populate ipsets extensively. I don't mind looking

[2022-01-20 09:41] TTornblom opened #17652 "ddns-scripts: Allow specifying port to use with bind-nsupdate"
# Issue template (remove lines from top till here)

Maintainer: @hgl
Environment: arm, wrt3200acm, 19.07.6 (ROOTer)

Description:
I have an internal DNS server on which I would like to be able to update an A address from a remote OpenWRT router.
This DNS server can be updated through a port different from 53, however the bind-nsupdate service has no provision for specifying which port to use.
I wo

[2022-01-20 09:56] hgl commented on #17652
Sorry, but I’m not the maintainer.

[2022-01-20 12:35] ANARHIST1984 opened #17654 "Docker/Dockerd does not start"
docker process not starting
Kernel log
  425.598851] overlayfs: filesystem on '/opt/docker/check-overlayfs-support208694860/upper' not supported as upperdir
[  425.627067] overlayfs: filesystem on '/opt/docker/check-overlayfs-support376011361/upper' not supported as upperdir
[ 6822.601602] ath10k_ahb a000000.wifi: htt tx: fixing invalid VHT TX rate code 0xff
[10357.388840] overlayfs: filesystem on

[2022-01-20 13:28] bpados opened #17656 "collectd-mod-netlink package removal"
Maintainer: @\<github-user> (find it by checking history of the package Makefile)
Environment: 21.02

Description:
After removing of collectd-mod-netlink package, configuration entries are left over in /etc/collectd.conf, which block to start collectd process.

[code]

[2022-01-20 15:56] stintel commented on #16818
#4977

[2022-01-20 16:14] kamasudo commented on #16818
The nat6-script needs also an update: https://openwrt.org/docs/guide-user/network/ipv6/ipv6.nat6

[2022-01-21 04:58] alexknop opened #17663 "igmpproxy:Older version in opkg (0.2 vs 0.3)"
Maintainer: @\ja-pa
Environment: (OpenWrt 21.01)

Description:
Hello,

I am wondering what it would take to get the updated package of igmpproxy (0.3) from its source [****](https://github.com/pali/igmpproxy)

There's an important commit in there which would allow me to pass SSDP packets (Needed for my project which is to have a Sonos speaker on a different VLAN than the Devices which have the Son

[2022-01-21 06:54] azure-xiii commented on #16973
@stintel Yes, it looks like firewall4 is what is installed by default on the snapshots. Is there some extra config I need to do?

[2022-01-21 07:09] azure-xiii commented on #16973
On the Stable releases with the old miniupnpd... I could atleast get it to open the ports every once ina awhile (25% of the time) With the new snapshot builds, I haven't seen it open ports once.

[2022-01-21 07:12] wehkah commented on #17225
Some additional information:

Although the init script fails, it tells me that radicale2 is running:

[code]

That statement is not true:

[code]

Where does the init script that information? I can not find any pid file for this.

If I use the argument "trace" I get this error message:

[code]

Followed by the same error messages as shown above ("traceback...") about the crash loop. But still, the

[2022-01-21 08:00] azure-xiii commented on #16973
So I went back to stable openwrt... installed the new 2.2.3 (Iptables version since stable is on the old firewall). And same issue. UPNP never works. If I use the the 2.2.1 version... it works sometimes. Keep in mind UPNP has been busted since during the 18.06 updates.

[2022-01-21 09:09] stintel commented on #16973
At the time you wrote you installed a snapshot with miniupnpd-nftables, firewall4 had only just been made the default so there is no way a snaphost image could have been using it already.

2.2.3 defaults to IGDv1 when an MS client is detected, see https://github.com/miniupnp/miniupnp/issues/539. I guess you should start by checking if the user-agent is microsoft in Destiny's UPnP request. I only h

[2022-01-21 10:13] erdoukki commented on #17637
Resolved-by: https://github.com/openwrt/packages/pull/17666

[2022-01-21 10:48] tiagogaspar8 commented on #16818
Hi @aparcar
I have a question. I'm working on porting jool to a version that isn't dependant on iptables.

Jool by default supports two modes:
- iptables mode
- netfilter mode

Netfilter mode works on both iptables and neftables via the netlink API.

The iptables mode obviously only works with iptables.

My question is, since we're inevitably dropping iptables, when porting jool do I make a packag

[2022-01-21 10:52] aparcar commented on #16818
I'd suggest to go with `netfilter` only but if you want to support people that need `iptables`, you'd need both. I don't know how much work it is so I'd focus for now on `netfilter`.

[2022-01-21 13:50] azure-xiii commented on #16973
I did indeed update to the Jan 20th snapshot before checking the firewall. I would think that the xbox companion app on windows 10/11 would be using the MS client. I don't have an xbox to test it.

I tried a bunch of stuff last night and the only routers that trigger it are Stock Firmware Archer A7, stock firmware Asus AC86U, and my stock firmware Netgear R7800.

As soon as I try openwrt on any of

[2022-01-21 16:27] svlobanov opened #17669 "OpenWrt build status on macos"
Currently there are many packages with compilation issues on macos.

From Openwrt base (11 packages):
[code]
(elfutils and a lot of selinux-related stuff)

From "packages" feed: 99 packages
From "telephony" feed: 11 packages
From "routing" feed: 2 packages

Most difficult to fix:
glib2,
packages related to selinux,
boost (many packages depend on boost),
python-cffi,
packages that use host kernel h

[2022-01-21 16:39] neheb commented on #17669
boost is surprising. glib2 is difficult, yes. I tried editing libiconv and gettext-full to be built as shared libraries as macOS demands but it didn't work.

[2022-01-21 16:41] champtar commented on #17669
We don't have MacOS CI and we can't right now has we don't have MacOS OpenWrt SDK. Also Mac are not always available so it's complicated to ask maintainers to carry patches they can't test ...

Maybe send an email to the mailing list to see what other Mac users are doing.

[2022-01-21 17:04] stintel commented on #16973
I would suggest you build miniupnpd with this change applied to the Makefile:

[code]
This will enable the following log line: https://github.com/miniupnp/miniupnp/blob/61059fcd0b724874f7b2d672249ddce96b3f607c/miniupnpd/upnphttp.c#L473

[2022-01-21 17:15] tiagogaspar8 commented on #16818
That's the question, netfilter is done, iptables is the one giving me a lot of work... I'll make a pull request then 😁😁😁

[2022-01-21 17:41] svlobanov commented on #17669
just a link to CI discussion: #17423 (to link this issue and CI issue)

yes, I understand it and most probably macos will never be officially supported even I (or someone else) fix all the issues

I will continue fixing macos build issues. This issue might be a place to discuss general ideas (related to macos build) with another users

[2022-01-21 19:21] azure-xiii commented on #16973
Ok I will work on trying to build this. I haven't dug into building things out from openwrt yet.

[2022-01-21 21:42] lucize commented on #17149
@feckert this should be fixed now, seems that octeonplus and glibc still has issues

[2022-01-21 21:49] hnyman commented on #16818
Related to discussion at #17671

Good question.
So far there is not much info about the usage of iptables-nft in the OpenWrt context.

@aparcar enabled some iptables option with https://github.com/openwrt/openwrt/commit/0637093e8cb0e4cfb94dfcfe7b57afc23bf88852 in order to provide some nftables compatibility, but I don't think that the option actually installs iptables-nft. I had to install it sepa

[2022-01-21 22:15] dangowrt commented on #16818
We could use `ALTERNATIVES` for that, see e.g. openssh vs. dropbear packages both providing candidates for `scp` and the package manager takes care of maintaining a symlink.

[2022-01-21 22:54] melsem opened #17673 "Triggerhappy added support for pure REL/ABS devices."
Please add a patch for TriggerHappy.

[Tried pull-request but don't know how to use github. ](https://github.com/openwrt/packages/pull/14945)

Developer: https://github.com/trurle

https://github.com/wertarbyte/triggerhappy/pull/31
**Wertarbyte** does not answer. [Last commit by **wertarbyte** committed on 6 Sep 2016](https://github.com/wertarbyte/triggerhappy/commits/master)

/packages/utils/trig

[2022-01-22 07:04] httpstorm commented on #17669
@svlobanov @neheb @champtar
How did so many packages break all at the same time? Were they all updated or do they actually depend on another package which did? What I would usually do is start with two commits A and Z, where A works, Z doesn't. Then check the commit in the middle, etc. performing a binary search. Once I know which commit broke it, I would look into it. If a package was updated, I

[2022-01-22 07:20] neheb commented on #17669
No they were always broken. Very few actually build on macOS.

[2022-01-22 07:33] champtar commented on #17669
See #17423

[2022-01-22 09:44] nautiluschan opened #17674 "transmission-daemon: Transmission/Can't verify the torrents"
Description:
After I change my router deviece frome Netgear R8000 to NanoPi R4s,  the transmission can't work well. Although I keep all the config files, resume files , and  torrents files, the USB disks are mouted as the same path(such as /mnt/sda1/PT), I still get "no data found" error. I have set "chown -R transmission:transmission /mnt ". I have tried to re-add the torrents, but the torrents c

[2022-01-22 10:29] httpstorm commented on #17669
Compile successfully on macOS 11.6.2
* make -j 16 `firmware image`
* package/libs/elfutils
* package/libs/libselinux
* package/utils/checkpolicy
* package/utils/secilc
* package/feeds/packages/boost
* package/feeds/packages/glib2
* package/feeds/packages/mariadb
* package/feeds/packages/python-cffi

Failed host packages
* package/libs/libselinux/host `avc_internal.c:21:10: fatal error: 'linux/type

[2022-01-22 13:48] tiagogaspar8 commented on #16818
Jool netfilter is merged, you can cross off jool @aparcar
Thanks for the help!

[2022-01-22 14:59] feckert commented on #17149
@lucize Thanks for your work to fix this issue.
So the build with my target lantiq_xrx200 is fixed.
Should I close the ticket or should we still let them open for the `octeonplus`.
But I do not have this target.
If not we close this, we have to update the issue header.

[2022-01-22 15:15] feckert commented on #17506
I think you have solved your problem

[2022-01-22 15:15] #17506 closed

[2022-01-22 15:25] erdoukki commented on #17506
I find a solution, but it is still an issue...

[2022-01-22 17:01] hnyman commented on #16818
Regarding module dependencies, some interesting stuff pops up, when packages are tried to be modified.
E.g. SQM was tried to be straightened out by @tohojo , but SQM selecting iptables-nft instead of iptables caused a circular dependency.

[code]

Change in SQM Makefile causing circular:
[code]
I think that we (currently) need to also select the old iptables, as iptables-nft has for some strange r

[2022-01-23 08:13] azure-xiii commented on #16973
So I haven't been able to rebuild a package yet. Tried to do it in WSL but it appears I didn't set it up right. (I never use linux so having to learn all of this)

HOWEVER I found a igdv1 only build of miniupnpd on the forums. This 80% fixed Destiny 2(still doesn't open everytime) but did not fix Xbox Live on Windows 10/11 (can be tested from the settings menu under Gaming in win10. You need the X

[2022-01-23 09:00] aparcur commented on #16818
@aparcar why don't we make the jump to `firewall5` aka `eBPF` instead of `nftables`?

`nftables` 🤢🤮

[2022-01-23 10:36] erdoukki opened #17681 "crowdsec/geoipupdate: enhancement request for offline database download"
Maintainer: Gérald Kerma / @erdoukki
Compile tested: (aarch64_cortex-a53, espressoBin, OpenWrt master and 21.02)
Run tested: (aarch64_cortex-a53, espressoBin, OpenWrt 21.02.x, tests done)

Description:

As refereed in [Idea/GeoIP: offline/update/share database](https://github.com/crowdsecurity/crowdsec/issues/1196)

Thanks to @clayface the package geoipupdate is available since PR: https://github.

[2022-01-23 14:00] tiagogaspar8 commented on #16818
As I've read many times, eBPF isn't ready for production and stable environments for now, maybe in a year or two we can have this headache porting everything to eBPF 😆

[2022-01-23 15:52] PolynomialDivision commented on #16818
We just noticed that regex matching in firewall rules is no longer supported?

For example all wireguard interfaces with naming should be included in the zone `freifunk`:
[code]

CC: @spolack

[2022-01-23 16:21] champtar commented on #16818
@PolynomialDivision try * instead of +

[2022-01-23 21:52] oskarirauta commented on #15096
There's also larger namespacing issues with Openwrt/containers - also private networking (rootfull) is broken. Connection from sub namespace to master can't be stopped without firewall rules.

[2022-01-23 23:44] dangowrt commented on #15096
Network namespaces in general work fine and are isolated properly, I'm using that every day with procd-ujail and uxc. To allow traffic from sub-namespace to parent, `veth` interface needs to be created, otherwise no route exists. Probably the problem is specific to `cni`...

[2022-01-24 20:25] stangri commented on #16818
Wouldn't the maturity of eBPF just coincide perfectly with the next stable OpenWrt release timing then?

[2022-01-24 20:39] neheb commented on #16818
nope. I don't think eBPF is available for all OpenWrt supported platforms.

[2022-01-24 20:42] spolack commented on #16818
This wont work, as nftables doesnt support wildcard matching withing sets.

[2022-01-25 05:44] oskarirauta opened #17692 "samba4: python module(s) not found"
Maintainer: Andy Walsh @Andy2244
Environment: x86_64, recent git

Description:

Experimental Active Directory support does not find required python module(s).
Also, python-markdown is not in list of decencies.

[code]

[2022-01-25 06:22] zcy85611 opened #17693 "Hardware flow offloading fails on the new fw4"
I've noticed recently the firewall has upgraded from fw3 to fw4

under fw4, the option Hardware flow offloading is no longer working, after enable the rule and start the firewall

it gives the following

/proc/self/fd/0:9:12-13: Error: Could not process rule: Not supported

/proc/self/fd/0:54:29-44: Error: Could not process rule: No such file or directory

I don't know if it's firewall or the Hard

[2022-01-25 07:31] champtar commented on #17693
Hi @zcy85611
For now bug for core packages need to be reported at https://bugs.openwrt.org/ (it might move to GitHub openwrt/openwrt in a near future)
@jow- fyi

[2022-01-25 07:31] #17693 closed

[2022-01-25 15:39] nitroshift commented on #17501
@NautilusChan

Revert https://github.com/openwrt/packages/commit/6786e35ff87c4f72ec5343a9f3815842367b3c84#diff-3dc735e7e3d28d09b2f110d6d92050af27a448236d24f10ab3984074498f1fd9

[2022-01-25 17:44] #16540 closed

[2022-01-25 17:44] tiagogaspar8 commented on #16540
Not seen anymore

[2022-01-25 17:57] daiaji opened #17696 "ddns-scripts:Doesn't seem to work for me."
Maintainer: @feckert
Environment: x86_64, generic, HEAD (3d3d03479d)

Description:
I use PPPoE to dial up the Internet and cloudflare as the domain name resolution service provider. DDNS doesn't seem to work.

Detailed description in openwrt forum.
https://forum.openwrt.org/t/weird-bug-in-ddns-script/118302

[2022-01-25 18:03] TheB1gG commented on #16818
Wouldn't it be usefull to do that than only for supported plattforms like already done for the kernel? Looking at the possible performance gains eBPF could be usefull for plattforms in enviroments which work with 1-25 gbps. That speeds are not so uncommon for consumers anymore.

[2022-01-25 18:09] neheb commented on #16818
IIRC, x86, ARM, and MIPS currently have eBPF support. No idea about PowerPC or older ARM. ARC is non existent.

[2022-01-25 18:14] jow- commented on #16818
Please move the eBPF discussion elsewhere it is offtopic here.

[2022-01-25 18:20] SiNONiMiTY opened #17697 "samba4: newer versions are available."
Maintainer: Andy Walsh @Andy2244
Environment: ARMv8 | OpenWrt SNAPSHOT, r18609-266b5c83c3

If possible, can the newer versions be integrated on the snapshot builds? Currently, we are sitting at 4.14.7, the latest released is at 4.15.4.

The difference is already months ago and there are several security issues that were patched in between.

[2022-01-25 18:26] jow- commented on #16818
Not all peculiarities can be perfectly translated. The `+` notation for device names is certainly an iptables specific detail which happened to work because fw3 passed through the values as-is without validation, it doesn't mean that it was ever a supported configuration. It also far from being a standard configuration.

I'll look into handling this corner case though to avoid further surprises.

[2022-01-25 19:33] brada4 commented on #16818
Actually there is nft_compat module which handles ipset-s just fine, approx 20kB sized on Debian.

[2022-01-25 19:34] satmandu commented on #11814
Here is a little script that can be used if you're expecting ipv6 to suddenly break (say if you're setting up tunnelbroker.)

[code]

[2022-01-25 19:51] stangri commented on #16818
Thank you! @jow- @aparcar can you please give me an idea on direction for the ipset and nftset support in dnsmasq in the future? Is there a chance there would be both a `dnsmasq-full-ipset` and `dnsmasq-full-nftset`?

If there would be an option in snapshots/next release to have a system with either iptables/ipset support (or emulation) or nftables/nftset support that'd be great.

[2022-01-25 20:21] jow- commented on #16818
@hnyman - I won't have time for that, someone else has to look into it.

[2022-01-25 22:18] jow- commented on #16818
@PolynomialDivision @spolack - wildcard translation implemented with https://git.openwrt.org/?p=project/firewall4.git;a=commitdiff;h=0bc844ba02ae460d4a895878b9136ba5d8e09b37, please test and report back if is not working.

[2022-01-26 09:08] erdoukki commented on #17681
Build: ok
Install: ok

[code]

Is there any recommendation about maximum file size ?

Another potential issue is the license about redistribution of the DB, can anyone help to understand if there is any issue and if the package may be valid to be proposed upstream ?

[2022-01-26 12:42] GitArUs opened #17703 "shorewall - missing dependencies (have to be installed manually)"
Maintainer: @wvdakker
Environment: OpenWRT 21.02.1

Description:
Shorewall needs perl modules Sys::Hostname and sort. These are included in packages perlbase-sys and perlbase-sort respectively. I think those two packages should be listed as dependencies and should be installed automatically with shorewall.

[2022-01-26 13:18] tiagogaspar8 commented on #16818
I switched yesterday to nftables completely and I'm facing an issue with the hw_offloading option. When enabled this option stops firewall4 from starting leaving nftables rules empty, software offloading isn't facing this issue. Any thoughts on this?

[2022-01-26 13:20] tiagogaspar8 commented on #16818
BTW, I have submitted a pull request that fixes n-conntrack-netlink and nf-nathelper-extra dependencies so that all nftables kmods can be enabled without selecting any iptables kmods.
About tc, I managed to build it without the iptables dependency and it is working very well, I'll package it up and submit a pull request as soon as I can.

[2022-01-26 14:04] champtar commented on #16818
For reference the dependencies fix PR: #4986

[2022-01-26 14:28] champtar commented on #16818
Here is how I would debug it:
[code]
see what doesn't apply and maybe open a new report at https://bugs.openwrt.org/

[2022-01-26 15:22] tiagogaspar8 commented on #16818
This is what I get:
[code]
As per your recommendation here is it's output:

[code]

[2022-01-26 20:16] hnyman commented on #17506
I have recently started to run this sometimes, when compiling individual packages.
Strange.

[2022-01-26 23:04] champtar commented on #16818
@tiagogaspar8 please open a bug report and include the list of installed packages

[2022-01-26 23:44] tiagogaspar8 commented on #16818
Will do

[2022-01-27 05:14] mfoxworthy opened #17708 "mwan3: START=19 when netify-fwa START=50. Creates a conflict."
Maintainer: @feckert
Environment: ipq4018 openwrt 20.02.1

Description: When mwan3 starts, it doesn't have access to the netify-fwa ipset lists.

Mwan3 start at 19 and netify-fwa starts at 50. When netify-fwa starts, it registers a set of ipset lists. Those lists are then used by mwan3 to classify traffic. However, since mwan3 starts first, those lists are not in the ipset list yet and those rules

[2022-01-27 05:37] #17708 closed

[2022-01-27 05:38] mfoxworthy commented on #17708
I saw another post after searching even more. But I still don't think it's fixed. I will tag the other issue.

[2022-01-27 05:40] mfoxworthy commented on #15640
I think it takes a while to set the ipsets. I have changed the order and I still see the issue. I set mwan3 to 99, and it still misses them. Please reopen this issue.

[2022-01-27 12:37] tiagogaspar8 commented on #16818
It seems that there is an issue open already, if anyone has the same issue please check it out:
https://bugs.openwrt.org/index.php?do=details&task_id=4239

[2022-01-27 17:04] svlobanov commented on #17669
@httpstorm
I can confirm that boost can be compiled on macos x86_64 for openwrt x86_64 target, I will also try for another targets, but my x86_64 mac is very slow and requires much time to compile anything

Also, @nbd168  added three new patches for macos:
https://github.com/openwrt/openwrt/commit/53ebacacf93278c6e71052eb5b3708c599129e55
https://github.com/openwrt/openwrt/commit/1d4750fd50eeadad64

[2022-01-27 22:53] okibcn opened #17710 "nano: some key default key binds are missing and there is no way to add them after deployment."
Maintainer: @hnyman
Environment:  openwrt-21.02.1-ramips-mt76x8

Description: nano package doesn't have all the key binds. There are some missing key binds such as M-A, ^6, M-6 for select and copy selection when not all the line is selected, or multiple lines are selected. Without that feature, the nano editor package is severely limited.

An easy solution to that would be replacing --enable-tiny

[2022-01-28 01:46] neheb commented on #17669
@svlobanov ccache can help a lot.

[2022-01-28 05:12] Andy2244 commented on #17697
Will see what i can do, have not much time atm so probably will just bump to the latest 4.14.x for now, since 4.15.x requires more work and tests.

[2022-01-28 05:52] SiNONiMiTY commented on #17697
@Andy2244 thank you for your hard work on this package.

[2022-01-28 08:22] graysky2 commented on #16818
@aparcar - Should you add `tc-tiny` and `tc-full` to this list?

[2022-01-28 08:26] champtar commented on #16818
@graysky2 this is packages repo

[2022-01-28 08:28] graysky2 commented on #16818
@champtar - I did not see a corresponding task against openwrt/openwrt at least with the keyword "firewall4" ... can you point me to one?

[2022-01-28 09:07] champtar commented on #16818
Not sure people open tracking task on flyspray, but @tiagogaspar8 got you covered for tc: https://github.com/openwrt/openwrt/pull/5007

[2022-01-28 10:47] brada4 commented on #17423
Those configure scripts are typically generated by auto* tools, it is not something that should be patched around downstream on every package.

[2022-01-28 10:54] svlobanov commented on #17423
@brada4 you can check my PRs related to macos https://github.com/openwrt/packages/pulls?page=1&q=is%3Apr+author%3Asvlobanov+macos . Some packages don't have ./configure scripts, some packages use system ar/ranlib instead of openwrt toolchain ar/ranlib and so on. Most of patches are trivial, but some packages require more time to fix.

[2022-01-28 11:59] oskarirauta commented on #16818
Newer podman does not want to work with Nftables, iptables-nft does not support comments (it should at least ignore them)

[2022-01-28 12:16] champtar commented on #16818
I'm working on iptables-nft/netfilter packaging, might finish tonight

[2022-01-28 14:37] daiaji commented on #17696
@LugicoHDPlayer

[2022-01-28 21:01] brada4 commented on #17423
@svlobanov I am just saying that in cases where it is about patching configure a more pragmatic approach would be to try newer autotools and pass the news upstream instead. It takes longer for initial fix of OSX build but requires no maintenance work after.

[2022-01-28 21:08] brada4 commented on #16818
Debian way it does. Not sure what is the magic sauce added there though.

[2022-01-30 12:18] hnyman commented on #17710
I think that I will take another approach:

I will create a new "nano-plus" variant that removes the "tiny" build option to enable the key bindings that you are interested in, but also enables a few more selected features: multiple open files, nanorc, help, justify.

See #17736

There will be
* old nano package, same as now, roughly 62 kB
* new nano-plus package, roughly 120 kB

[2022-01-31 07:15] neheb opened #17742 "boringssl fails on arm fa526"
https://downloads.openwrt.org/snapshots/faillogs/arm_fa526/packages/boringssl/compile.txt

Maintainer: @martinschneider

[2022-01-31 07:54] wulfy23 commented on #16007
tested mac-limit yesterday and worked perfectly ok

this can be closed imho and thankyou @champtar for the fix...

[2022-01-31 16:13] hnyman commented on #17710
Closed via 85cb71d8d

[2022-01-31 16:13] #17710 closed

[2022-02-01 04:33] arkanoid87 commented on #17284
I'm facing same issue with glinet_gl-x300b

firmware just built snapshot with `openwrt-imagebuilder-ath79-generic.Linux-x86_64`:
[code]

[code]

[2022-02-01 09:05] brada4 commented on #17413
REF: https://www.bleepingcomputer.com/news/security/277-000-routers-exposed-to-eternal-silence-attacks-via-upnp/

[2022-02-01 09:58] champtar commented on #16818
@oskarirauta if you can test openwrt/openwrt#5004 that would be great

[2022-02-01 10:01] toby-griffiths commented on #13511
Thanks for your support with this issue.  I'm experiencing this today, so guessing the issue of bandwidth hasn't been resolved.  I don't suppose you have details of the server setup needed for tests, do you?  Perhaps we could make a Docker image available, so people could spin up their own test servers when they need them?

[2022-02-01 10:45] qiuzi opened #17766 "dockerd compatibility problem with nftables"
@G-M0N3Y-2503 @neheb
In the future, iptables will be replaced. Will dockerd be perfectly compatible with nftables?

[2022-02-01 12:31] richb-hanover commented on #13511
I have turned back on the default netperf server (new month, new bandwidth limit). Let me know if you can't test against it.

That's an intriguing idea to create a Docker image. It looks as if someone has already beaten you to the idea:

- https://hub.docker.com/r/paultiplady/netperf
- https://hub.docker.com/r/alectolytic/netperf

[2022-02-01 23:41] jauntywunderkind opened #17773 "Tinc: Makefile syntax error"
Maintainer: @neheb
Environment: ipq8064, netgear r7800 (nighthawk x4s), trunk
trunk r7800

Description:

Trying to build tinc produces this error:

[code]

Fuller log:

[code]

[2022-02-02 00:19] neheb commented on #17773
Strange. Never seen this.

[2022-02-02 07:58] daiaji commented on #17652
It's strange that I didn't get any response to the BUG of ddns-scripts.

[2022-02-02 08:52] BKPepe commented on #17773
@jauntywunderkind Can you share your Makefile, which you try to compile?

[2022-02-02 17:21] nmeyerhans commented on #17080
With the release of bind 9.18.0, the 21.02 has switched to that release series as of #17774

[2022-02-02 17:21] #17080 closed

[2022-02-02 17:56] #17637 closed

[2022-02-02 17:58] arkanoid87 commented on #17284
Thanks to @lkundrak we've reduced the issue to:
- dbus-daemon answers little endian messages
- dbus-daemon closes the connection upon getting a big-endian Hello right away
- dbus-send utility sends little endian messages on big endian device
- ModemManager sends big endian messages

AFAIK there is an endianess compatibility layer in glib, but apparently something is not working correctly

How to r

[2022-02-02 19:19] arkanoid87 commented on #17284
I've tried compiling glib2 with the proposed (quick & dirty) patch from @lkundrak

[code]

Now modemmanager sends little endian `Hello` message instead of big endian, but dbus refuses to answer and closes the socket just like previous big endian case.

[code]
[code]

[code]

[code]

[2022-02-02 19:32] tapper82 commented on #17697
Updated to 4.14.12
      https://github.com/openwrt/packages/commit/1fa70d6a3c68bc49bdeae4d505f2e41ff3a0b906

[2022-02-02 20:45] aleksander0m commented on #17284
If the system is BE, shouldn't dbus-daemon expect BE and dbus-send utility send BE? I think the error could be in how the dbus daemon, libs and utils are built, maybe they're not correctly detecting endianness during the build for some reason?

If the system is BE, and MM/glib sends BE, that looks fine to me.

Or am I missing something? Is this system not BE?

[2022-02-02 20:48] aleksander0m commented on #17284
What other small program makes it work? please note that dbus-send is likely built along the dbus-daemon itself, they both link to libdbus. If there's an issue here with the endianess expected by both those tools, it may very well be the same single issue.

[2022-02-02 20:51] arkanoid87 commented on #17284
The system I'm testing on is BE
according to https://serverfault.com/questions/163487/how-to-tell-if-a-linux-system-is-big-endian-or-little-endian
I get:
[code]

[2022-02-02 20:53] arkanoid87 commented on #17284
I agree that there should be an all BE or all LE message passing here, but @lkundrak told me there's a compatibility layer inside gnome, but the but may well be there

[2022-02-02 21:03] arkanoid87 commented on #17284
We need a gnome dev here

dependency tree is:

modemmanager -> [libc, librt, libpthread, **glib2**, **dbus**, ppp, libmbim, libqmi]
dbus -> [libc, librt, libpthread, libexpat, **libdbus**]
dbus-utils -> [libc, librt, libpthread, **dbus**]
libdbus -> [libc, libpthread]
glib2 -> [libc, zlib, libpthread, libffi, libattr]

follows that if dbus-send sending a *LE* Hello on a *BE* system is wrong, so th

[2022-02-02 21:09] aleksander0m commented on #17284
The dbus dependency for ModemManager is really a runtime dependency, not a build dependency per se. The ModemManager implementation relies exclusively on glib2's GDBus implementation.

[2022-02-02 22:14] arkanoid87 commented on #17284
I've to enable CONFIG_BUILD_LOG in make config first and rebuild everything. Doing right now.

[2022-02-02 23:17] toby-griffiths commented on #13511
Ah ha!  Awesome.  I didn't realise it was just a standard netperf tool server (I'm still new to all this networking stuff).  But love the great information available out there.
I'm off ot bed now, but good ot know I can fire up some docker containers should the bandwidth run out by the time I get round to testing again.  Thank you for this, and your open source work! 🙏🏼

[2022-02-03 03:41] arkanoid87 commented on #17284
After returning to the unpatched glib2, I decoded/unmarshalled manually some message buffers according to the [dbus specification](https://dbus.freedesktop.org/doc/dbus-specification.html).

TL;DR; conclusions at the bottom.

### Ubuntu 20.04 on x86_64 - dbus-send
The result does fit perfectly with specification

`# dbus-send --system --print-reply --type=method_call --dest=org.freedesktop.DBus /o

[2022-02-03 14:42] arkanoid87 commented on #17284
In the meanwhile, I got suggestion from IRC to try compiling dbus adding this line in Makefile:
[code]
just before `CMAKE_OPTIONS`

and I got ModemManager booting on gl-x300b!

[code]

[2022-02-03 14:46] aleksander0m commented on #17284
Yey! So this is an issue in the openwrt packaging of dbus, which uses CMAKE, and likely broken. Can you report this as a new bug against the dbus package?

[2022-02-03 15:16] arkanoid87 opened #17780 "dbus: switch from cmake to autotools for packaging"
Maintainer: @feckert
Environment: mips_24kc, gl-x300b (all *big endian* devices affected), snapshot

Description:

while debugging a problem on ModemManager not booting on *big endian* platforms, it ended up as a build issue with `dbus` that does not define `WORDS_BIGENDIAN` when built with cmake instead of autotools

The current dbus build writes and reads malformed messages. This causes correctl

[2022-02-03 16:19] aleksander0m commented on #17780
Worth noting that upstream stated that the cmake port was targeting Windows setups. I would definitely switch to autotools instead of adding the `TARGET_CFLAGS` workaround, which has all the proper bits and pieces to detect BE systems. Also, who knows what else is not covered by the cmake port :/

[2022-02-03 16:21] aleksander0m commented on #17284
I think this issue can be closed now.
@arkanoid87 thanks for all the debugging done, you nailed it!

[2022-02-04 00:38] oskarirauta commented on #16818
@champtar sorry, I've been busy lately and didn't even see this until now - I reviewed your patch quickly and it seems solid with exception that I don't see it fixing problem I brought up..

iptables-nft does not support _-m comment --comment "this is comment"_
instead a error message is displayed. Not sure if nftables even have support for comments, but if not or for now, comments should be disre

[2022-02-04 03:34] wulfy23 opened #17783 "https-dns-proxy: stale dhcp config on upgrade"
Maintainer: @stangri
Environment: most

Description:

When upgrading a router which has https-dns-proxy installed and running, the upgrade
image MUST have https-dns-proxy inside it and enabled, if not, modded dhcp config is
potentially carried within the upgrade backup, and dns fails to operate once the router
reboots...

[code]

p.s. simple-adblock afaik is also susceptible to same stale dhcp con

[2022-02-04 03:42] champtar commented on #16818
@oskarirauta I specifically tested comment and they work for me. Maybe try 'make package/iptables/clean'

[2022-02-04 04:05] wulfy23 commented on #17783
p.s. short term a note in the docs and investigation into the commit
(or philosophy of) below regarding graceful service stop is likely the
best course of action:

https://github.com/openwrt/openwrt/commit/b118aba8cbac58a45d4882cd79e18e56c3fbdc70#diff-38127ce853b8e5ef79dd810535d70712cad40c646ffc70bdb3f6d7b742bcb87e

[2022-02-04 04:32] #17783 closed

[2022-02-04 05:52] pgaskin commented on #16818
`sqm-scripts`: https://github.com/openwrt/packages/pull/17671

[2022-02-04 07:05] feckert commented on #17284
@arkanoid87 Thank you for taking on this matter.
I almost suspected something like this.
But I am not a glib2 expert.

If we port this back to Autotools, then we also need to port it back to 21.02, then it will work again in this branch.

[2022-02-04 07:05] #17284 closed

[2022-02-04 08:11] arkanoid87 commented on #17780
In the meanwhike, the ticket https://gitlab.freedesktop.org/dbus/dbus/-/issues/375
Changed title in "cmake build effectively assumes all platforms are little-endian"

[2022-02-04 08:32] feckert commented on #17780
So that we can fix this as soon as possible.
Because this also effects the openwrt-21.02 stable branch.
I think we have to switch from cmake to autotools for the modemmanager packages.
How are we going to do that?
@arkanoid87 Are you planning the changeover? Don't want us to do the work twice.

[2022-02-04 10:06] arkanoid87 commented on #17780
modemmanager package does not need any change, as ModemManager uses glib2 to build the messages sent to dbus and I've checked that they are correct on both LE and BE platforms. It's just dbus that needs to move from cmake to autotools to fix BE issue.

Answering you question specifically, I lack the knowledge to write a Makefile (it would be my first ever).

[2022-02-04 10:13] feckert commented on #17780
@arkanoid87 Sorry, I misspoke. I meant dbus, of course.
Ok, then I'll do that migrade cmak to autotools.
I will create a PR, it would be nice if you could test it.

[2022-02-04 10:26] arkanoid87 commented on #17780
Sure! Thanks

[2022-02-04 13:30] feckert commented on #17780
Please have a look at https://github.com/openwrt/packages/pull/17792

[2022-02-04 14:55] #17780 closed

[2022-02-04 14:56] feckert commented on #17780
It looks like openwrt-21.02 is not affected, as it still relies on autotools.
https://github.com/openwrt/packages/blob/openwrt-21.02/utils/dbus/Makefile

[2022-02-04 15:08] brada4 commented on #16818
@oskarirauta See here - https://packages.debian.org/bullseye/iptables open "debian" tarball, there you find "debian/rules" file that is build commands, no patch whatsoever?

[2022-02-04 16:22] arkanoid87 commented on #17780
on the bright side, I've potentially spotted a serious issue for upcoming releases
on the dark side, I'd have saved many hours just by git dissecting, or trying stable first.

But my the page for my device says it wants snapshot, so I did.

[2022-02-04 18:58] gfrancesco commented on #17674
Hi, what version of transmission are you using? I have a maybe related issue after upgrading to 3.00 (I'm on OpenWRT snapshot) from 2.94.

In short the problem I'm facing is that all my shared torrents where the content is a symlink to another location outside the download folder are not working. I get a **no data found** error.
I fixed it by disabling the **procd jail** in the init script, see co

[2022-02-05 04:31] SiNONiMiTY opened #17803 "Installing grep package causes ssh startup to display an error message"
I needed to install grep that supports PCRE. Upon installing, everytime I connect to the shell, ash is giving an error that fgrep is missing.

[code]

[code]

The grep package should have symlinks for the functions it replaces.

Uninstalling the grep package will remove the error.

@Zokormazo

[2022-02-05 08:53] erdoukki opened #17804 "crowdsec-firewall-bouncer: API error: access forbidden when bouncer is not correctly registered"
Maintainer: me @erdoukki gandalf@gk2.net
Environment: (all, OpenWrt Master & 21.02.x)

Description:
I got an issue, which I resolved with as small modification on the script (look from OpenWrt side)

While the api_key is already defined in `crowdsec-firewall-bouncer.yaml` the grep on `{API_KEY}` will not success.
It may be normal behaviour, but in case the bouncer is not actually registered, becau

[2022-02-05 13:28] arkanoid87 commented on #14096
Well this is a serious issue. I've just found this in OpenWrt snapshot on my router.

I had the same problem every 4h using uqmi protocol and I solved it using watchcat to reboot the router on ping fail. An overkill that works, but leaves with some downtime every 240mins.

I switched to ModemManager protocol just to solve this (I use it extensively and successfully on Debian based distros), but ap

[2022-02-05 17:47] neheb commented on #17803
that is extremely strange. Try editing:

[code]

that's /etc/profile on the router.

[2022-02-05 20:48] aleksander0m commented on #14096
I believe we have a way forward to fix this issue, introducing support in MM to run dispatcher scripts on certain events (e.g. connection up, connection down...). For context, https://bugs.openwrt.org/index.php?do=details&task_id=3499 and https://lists.freedesktop.org/archives/modemmanager-devel/2022-January/009075.html

[2022-02-05 21:09] pprindeville opened #17806 "asterisk: console logging truncated for lines above 996 characters"
# Issue template (remove lines from top till here)

Maintainer: @jslachta
Environment: x86_64, generic, HEAD

Description:

I'm seeing truncated output when tracing PJSIP such as:
[code]

Note the incomplete last line.

[2022-02-05 22:38] jslachta commented on #17806
Hi @pprindeville,

this issue should go to the OpenWrt/telephony repository.

Please, try to replicate this issue on the non-OpenWrt system to determine whether it is an asterisk packaging/compilation issue or an upstream issue. If this is an Asterisk-related OpenWrt-only issue, please report an issue here https://github.com/openwrt/telephony.

I am closing this issue.

Thank you.

Kind regards,
J

[2022-02-05 22:38] #17806 closed

[2022-02-06 03:27] arkanoid87 commented on #14096
How does NetworkManager does it?
Can't ModemManager take care of "keeping up" the connection without external intervention?

[2022-02-06 03:39] VA1DER opened #17809 "ddns-scripts: Request addition of DDNS provider PAIRDOMAINS.COM"
Maintainer: @moormaster
Environment: All

Description:

Request addition of ddns provider pairdomains.com.  They are a dyndns2-compatible provider.  Config file as follows:
**pairdomains.com.json**
[code]
[pairdomains.com.json.zip](https://github.com/openwrt/packages/files/8009366/pairdomains.com.json.zip)

[2022-02-06 05:39] SiNONiMiTY commented on #17803
@neheb editing that line fixes the issue. Thanks for pushing a quick fix.

[2022-02-06 07:07] moormaster commented on #17809
@feckert I think the mention in the issue description was meant for you :)

[2022-02-06 10:51] aleksander0m commented on #14096
NM monitors the connection state reported by MM. If MM reports the connection is down, NM will trigger the autoconnection logic (if it was configured to autoconnect).

No, because that process may involve getting new IP settings to use after a reconnection, and MM doesn't touch the network interfaces, it only gathers the info from the modem and exposes it to upper layers (NM or netifd) so that the

[2022-02-06 12:14] arkanoid87 commented on #14096
It would be really nice!

There's an army of routers waiting for this.

I can test this patch if you want, or possibly do some scripting but I'm not really into ModemManager or netifd machinery right now (except for the dbus message passing I've recently debugged)

[2022-02-06 12:37] arkanoid87 commented on #14096
btw, I've testet that a simple `ifup <netifd interface>` on modemmanager protocol controlled interface is sufficient to restore Internet connection when this problem happens (and it does it in a fraction of a second). Possibly something that can be used in cron in the meanwhile.

[2022-02-06 15:43] BKPepe opened #17816 "[21.02] tvheadend: does not execute first run"
Maintainer: @M95D
Environment: OpenWrt 21.02.1, [Seeedstudio mini router](https://www.seeedstudio.com/Dual-GbE-Carrier-Board-with-4GB-RAM-32GB-eMMC-RPi-CM4-Case-p-5029.html) (Raspberry Pi 4 CM, bcm27xx/aarch64_cortex-a7)

Description:

Once I started tvheadend for the first time, it was asking me for credentials, which I dont have.
[code]

[2022-02-06 17:34] pprindeville commented on #17806
Moved to [#737](https://github.com/openwrt/telephony/issues/737)

[2022-02-06 20:23] M95D commented on #17816
Already fixed here:
https://github.com/openwrt/packages/pull/16475

[2022-02-06 21:23] BKPepe commented on #17816
I am afraid that it is fixed only for OpenWrt master, which makes this issue still valid for OpenWrt 21.02.

[2022-02-06 23:08] M95D commented on #17816
I don't think I can help with that.

[2022-02-07 02:07] wackejohn commented on #9538
@feckert
Hi,
Now I'm trying to save the incoming IP, and force the wireguard to use it as source IP (the original wireguard just always reset the source IP to 0.0.0.0), so there don't need any other mwan3 rule for this.

I'm not good at coding, my patch was only tested for my use cases, hoping improvements for this patch.

The patch:
[code]

[2022-02-07 04:16] neheb commented on #17803
fix was merged upstream. closing.

[2022-02-07 04:16] #17803 closed

[2022-02-07 08:58] wbsdty331 commented on #16645
Looks like 21.02.1 fixed

[2022-02-07 08:58] #16645 closed

[2022-02-07 10:42] SiNONiMiTY commented on #17697
Closing this one as we are already up to date with the 4.14.x branch.

@Andy2244 if you have spare time, a 4.15.x catch-up release would be awesome. Thanks :)

[2022-02-07 10:42] #17697 closed

[2022-02-07 11:37] BKPepe commented on #17816
Hmm. So, the issue is in the stable branch. What can be done about it:

1. Someone can send a pull request against that branch
2. Should we, I mean me, cherry-pick it from ``master`` branch to ``openwrt-21.02`` branch?
I didn't look at it closely, but in the pull request, you added tvheadend user and use it. Is it possible that some permissions migration would be necessary or not?

[2022-02-07 12:56] BKPepe commented on #17773
Closing due to inactivity.

[2022-02-07 12:56] #17773 closed

[2022-02-07 16:25] oskarirauta commented on #16818
@champtar sounds great..

@brada4 ok, maybe- I checked out difference between Debian's iptables-nft which seemed to contain same items from opener's iptables-nft and xtables-addons, differences that I found, was that Debian shipped with many other libraries which where not available for openwrt's (excluded in configuration?) xtables-addons package. Among with missing libraries is one that has comm

[2022-02-07 19:02] blsz opened #17823 "ddns-scripts fails to autostart with Event Network set to "@wan". "wan" option is missing."
In LuCI DDns Service service > Edit > Advanced Settings, the Event Network option, once changed, does not include the 'wan' interface in the drop down list.  Only the '@wan' alias is listed.   dynamic_dns_updater.sh does not autostart on boot when Event Network is set to '@wan'.

The documentation does not explain the Event Network option and the implications of choosing 'eth0.2', 'wan' or '@wan'.

[2022-02-08 01:07] 532910 opened #17826 "grep: fgrep / egrep uses /bin/bash"
Maintainer: @Zokormazo
Environment: miwifi mini, OpenWrt 21.02.1, r16325-88151b8303

Description:
[code]
[code]
[code]

So at log in I get:
[code]

[2022-02-08 06:52] SiNONiMiTY commented on #17826
might be related
https://github.com/openwrt/packages/issues/17803

To resolve, try editing /etc/profile and replace the usage of fgrep to grep -F
[code]

[2022-02-08 10:50] brada4 commented on #17766
What is the exact compatibility problem you are referring to in the title? Docker works on all major Linux distributions, all of them being NFT for few years now.

[2022-02-08 10:53] brada4 commented on #17826
Suggestion:
[code]

[2022-02-08 11:08] qiuzi commented on #17766
@brada4  should be transitioned to nftables use, iptables will slowly be phased out
the current startup script can remove iptables dependencies and reduce redundant components

[2022-02-08 11:37] G-M0N3Y-2503 commented on #17766
Thanks for the thought-provoking question, I'm moving house ATM so I haven't had much time to look into this.
I did find https://github.com/moby/moby/issues/26824 that I am yet to read, but, it might provide some guidance on this question in the interim.

[2022-02-08 13:12] brada4 commented on #16818
@oskarirauta get well quick, ill try to bisect down to which exact dependency is needed for more liberal conf parser.

[2022-02-08 17:51] oskarirauta commented on #16818
I managed to do so that I have a fresh tree building atm- not sure when I have a chance to do some testing with it, but halfway there..

I checked xtables-addons and libxt_comment is not part of it, nor is most modules on the list- they belong to iptables.
`
[osku@arch target-x86_64_musl]$ find .|grep libxt|grep comment
./linux-x86_64/iptables-1.8.7/extensions/libxt_comment.man
./linux-x86_64/ipta

[2022-02-08 18:43] gfrancesco opened #17832 "samba4: file transfer hangs with default configuration"
Maintainer: @Andy2244
Environment: ARMv5TE, ZyXEL NSA325-Feroceon 88FR131, OpenWrt SNAPSHOT r18717-0e32c6baf3

Description:
Hi, I cannot copy files from/to a share using a freshly installed `samba4-server` default configuration without modifications in the `smb.conf.template` file.
I can access and list the directories, but copying files hangs and then terminates with an error.
Very small files (f

[2022-02-08 18:50] Andy2244 commented on #17832
The "io_uring module found, enabling VFS io_uring" is just about finding the module and adding it to the list automatically. If samba actually uses io_uring may depend on other setting as well, so you would have to debug samba and see if it spits out some errors in this case, since i don't know what actually happens in this case.
Also keep in mind for normal openwrt use cases io_uring will do noth

[2022-02-08 18:52] brada4 commented on #17766
Docker supports iptables command line only. Enough is emulated via NFT iptables wrappers on any (?other?) system out there.
Thats is a question to Docker Inc. to support some novelty environment.

[2022-02-08 18:54] champtar commented on #16818
Some extensions are built into iptables and not shipped as so
https://github.com/openwrt/openwrt/blob/0e32c6baf37688e8cefed5718afe13ec18f75233/package/network/utils/iptables/Makefile#L574

[2022-02-08 18:57] jow- commented on #16818
That is likely the main culprit... we probably need to disable the builtin extension hacks to ensure that all common iptables extensions are available as loadable shared objects.

[2022-02-08 18:59] champtar commented on #16818
@jow- yup, `nft` need the .so to display everything correctly

[2022-02-08 19:12] oskarirauta commented on #16818
yup - there's your problem....

[2022-02-08 21:00] rucketeg opened #17833 "openssh-server: fails in failsafe mode"
Maintainer: @SibrenVasse
Environment:
OPENWRT_BOARD="ramips/mt7621"
OPENWRT_ARCH="mipsel_24kc"
OPENWRT_RELEASE="OpenWrt SNAPSHOT r18773-04ed224543"

Description:

Custom build with openssh-server instead of dropbear. After starting the system in failsafe mode, the ssh attempt fails with:

[code]

[2022-02-08 21:18] rucketeg commented on #17833
As a side note, it seems that the following line:
[code]
from [here](https://github.com/openwrt/packages/blob/6a0a55a5ed1dea0be1f87cc86a64634c434dc729/net/openssh/files/sshd.failsafe#L11) is not needed, as `/etc/shadow` looks like follows under preinit environment:
[code]

[2022-02-08 21:28] rucketeg commented on #17833
The error seems to be issued here](https://github.com/openssh/openssh-portable/blob/a1bcbf04a7c2d81944141db7ecd0ba292d175a66/session.c#L1447).

[2022-02-08 22:08] rucketeg commented on #17833
And caused by wrong path to the `passwd` binary used by openssh [here](https://github.com/openssh/openssh-portable/blob/2dc328023f60212cd29504fc05d849133ae47355/pathnames.h#L169).

[2022-02-08 23:06] rucketeg commented on #17833
Created #17834 for this issue.

[2022-02-09 11:53] BKPepe opened #17835 "postfix: can not find ccache_cc-ar"
Maintainer: @Shulyaka
The issue caused by: https://github.com/openwrt/packages/pull/17650
Issue introduced by: @svlobanov
Environment: All Turris routers, OpenWrt master as for building Turris OS, we are using by default ccache.

Locally reproduced on Turris Omnia, mvebu/cortex-a9, OpenWrt master

[code]

The temporary workaround that worked for me locally was to revert the commit from referenced

[2022-02-09 11:57] svlobanov commented on #17835
got it, I will rework my patch

@BKPepe  thank you for mentioning me

[2022-02-09 13:12] BKPepe commented on #17288
Maybe @neheb might know what to do with this.

[2022-02-09 16:30] blackie333 opened #17837 "uacme: ualpn binary missing from the package"
Maintainer: Lucian Cristian <lucian.cristian@gmail.com>
Environment: Lantiq/XRX200 target OpenWrt 21.02.1 r16325-88151b8303

Description: ualpn files (binary + script) are missing from the uacme package.
Are required for tls-alpn-01 challenge mode (on port 443).
uacme developer suggests to include the files to the package:
https://forum.openwrt.org/t/new-lightweight-lets-encrypt-client/36192/23
Ne

[2022-02-09 17:02] masato-yoshi-dnsalias-com opened #17838 "bind 9.18.0 : does not accept requests from ipv6 clients."
The name resolution request from the IPv6 client becomes REFUSED.
This is probably because (--enable-ipv6) is not set in the compile options.

[2022-02-09 20:30] neheb commented on #17288
My suggestion is to replace the build system with meson.

[2022-02-09 22:19] mpromonet commented on #17288
v0.1.8 add -fPIC, maybe upgrading to v0.1.8 solve the problem ?

[2022-02-09 22:20] BKPepe commented on #17288
Hmm, I will try it and let you know if it works. Otherwise, I will disable ASLR_PIE as suggested.

[2022-02-09 22:31] lucize commented on #17837
I'll try to look into it

[2022-02-10 11:39] mbargo23 commented on #16868
Anything new with this issue?

[2022-02-10 13:29] #17838 closed

[2022-02-11 05:04] neheb opened #17848 "openvpn-easy-rsa is unreproducible"
Maintainer: @luizluca
Environment: master

https://tests.reproducible-builds.org/openwrt/dbd/packages/i386_pentium4/packages/openvpn-easy-rsa_3.0.8-3_all.ipk.html

[2022-02-11 05:09] #17288 closed

[2022-02-11 21:20] luizluca opened #17851 "mwan3: cannot force output interface for targets in connected networks"
Maintainer: @feckert @aaronjg
Environment: 21.02.1 x86_64, mwan 2.10.13-1

Description:
Even specifying a rule to exclusively direct a route through an interface, the router is still using other interface when the target is in its same network.

[code]

In my case, C1 has a rule to always use eth1. When I ping R1 from C1, the router is still sending traffic through eth0 and not eth1.
It looks like

[2022-02-12 20:43] rucketeg commented on #17833
Unfortunately this is still not fixed.

When I tested the patch I noticed password change prompt on connection attempt and I was happy that sshd was finally able to find the `passwd` binary.
But now there is new problem - `passwd` binary is unable to change the password because / is mounted read-only:
[code]

Similarly any changes to the /etc/shadow of /etc/passwd from inside the sshd initscript (

[2022-02-13 04:06] predators46 opened #17856 "boost error: array: No such file or directory"
I'm using boost-1.59.0 and openwrt 19.07.x. the reason i use boost-1.59.0 i made mysql-5.7 in openwrt. how to fix this error

`target-aarch64_generic_glibc/usr/include/boost/lexical_cast/detail/converter_lexical.hpp:47:10: fatal error: array: No such file or directory
 #include <array>`

[2022-02-13 11:46] rucketeg commented on #17833
According to [shadow(5)](https://linux.die.net/man/5/shadow), the 3rd field in this file is:

**date of last password change**
 - (...)
 - The value 0 has a special meaning, which is that the user should change her pasword the next time she will log in the system.
 - An empty field means that password aging features are disabled.

The default shadow file, as provided in the [base-files](https://gi

[2022-02-13 12:07] tiagogaspar8 commented on #16818
I tried to do that and the output was some major dependency issues

[2022-02-13 12:59] oskarirauta commented on #16818
Where were those dependency issues, compile time or during use?

I have some work in progress that so far seems to be working, but I am only on build phase - trying to add few new iptables-mods that in legacy variant are listed in builtin mods..

[2022-02-13 15:10] champtar commented on #16818
@oskarirauta can you push the modified openwrt branch instead of just the Makefile ? so we can easily see the diff.

[2022-02-13 15:28] hnyman commented on #16818
@oskarirauta

Without even trying to get find out the diff:
at the first glance, variants are probably wrongly defined...

`Package/iptables/Default `contains `VARIANT:=legacy` although that section is later also included by `Package/iptables-nft` that defines `VARIANT:=nftables`

[code]

Also the nft variants of modules seem to include that "Default" with the legacy variant definition.
E.g.
[code

[2022-02-13 15:54] oskarirauta commented on #16818
@champtar rather not until it's in state where it could be PR'd..

@hnyman

Idea is to default to legacy variant, that's why it is in common default. But yes, libxtables should use variant nftables..

[2022-02-13 19:33] httpstorm commented on #17669
Hi @svlobanov !
I see you, Rosen and Felix made some good progress.
Yes, I compile the x86_64 target on MacBook Pro 2019 x64. I just upgraded to macOS 12.2.1. The list of packages I build for my servers is here: https://httpstorm.com/openwrt/x64/2022-02-13.r18804/ see `config.buildinfo`.

[code]

Another issue I have during build is with `staging_dir/toolchain-x86_64_gcc-11.2.0_musl/libexec/gcc/x8

[2022-02-13 21:21] svlobanov commented on #17669
@httpstorm
I'm working on elfutils fix. It is not easy because a lot of GNU extensions are missing on macos. BTW, elfutils/host is required only for FRR. If I can't fix elfutils, maybe I will ask FRR developers to make an ability to use both methods for FRR build (new one - using elfutils and old one - using some python libs). They use elfutils (libelf) on compile time due to their old method was

[2022-02-14 01:28] httpstorm commented on #17669
@svlobanov
While building `coreutils`, I ran into a problem where the built-in `cp` and `bison` do not support new features, so I linked them ahead in the path. The main issue I face is when a script references `/bin/sh` or friends using an absolute path. Makes me wonder if it is possible to redirect this to the version installed by `brew`? I know `/bin` is read only. I'm rather thinking about `mo

[2022-02-14 10:54] ptpt52 commented on #16818
how to do equivalent to `/etc/firewall.user` ?
what if I want to insert some custom rules into the fw4?

[2022-02-14 10:55] ptpt52 commented on #16818
and for more case, firewall script supported?
or equivalent
[code]

[2022-02-14 11:04] walterav1984 commented on #16500
Network - Interfaces - Devices (tab) - "br-lan" - Configure - Check "Enable multicast support" - Save & Apply
There's also "Enable multicast querier" - I don't know what that is, but it may help.

This checkbox is currently activated by default in snapshot but doesn't help detecting satip tuners!

Also noticed this strange popup about applying changes to network interface in that section of luci ,

[2022-02-14 13:23] walterav1984 commented on #17816
I can confirm this is currently an issue on Raspberry Pi 1 with 21.02.1 release, but I'm almost certain this worked at the end of august 2021 as in 4.0 (old/previous tvheadend 4.0.x on 19.07.x style/way meaning running as ROOT no hdhomerun nor satipclient) or maybe an early 4.2.x version without @M95D improvements?

Than at that time in august 27 2021 the master branch of OpenWrt got a updated tvh

[2022-02-14 13:39] NautilusChan commented on #17674
@gfrancesco  The version of transmission which I am using is 3.00(bb6b5a062e). I can download new data, but I can't verify the data whic I had download before.

[2022-02-14 13:45] NautilusChan commented on #17674
@gfrancesco  Unbelievable!  The transmission can verify the data when I run the transmission by ./etc/init.d/transmission trace .But I use "trace" instead of "start"  just beacuase I want to get the detail log of the verify process.

[2022-02-14 13:45] oskarirauta commented on #16818
I've updated my Iptables Makefile - I removed variants, instead I made it to compile twice. Once with module set that allows building shared modules and second that builds like it used to, to get legacy iptables as before.

[2022-02-14 18:50] neheb commented on #17856
ping @ClaymorePT what a strange error...

[2022-02-14 23:03] oskarirauta commented on #16818
@tiagogaspar8 no - I was able to avoid that.

Anyway, I made some more modifications which I did not push to my mini-repo, but finally I decided to give up this for a moment. I worked my way with podman after all with nftables cni plugin, as it seemed to constantly just bring new issues with iptables-nft. Hopefully some of my work helps to push things forward here..

[2022-02-14 23:17] svlobanov commented on #17669
I will try to check it a bit later.

I think, we need to implement it as a configurable feature (maybe as ./configure option) and send this to upstream.

BTW, OpenWrt recommends to use HFS+ sparse image so it is better to follow the recommendation. https://openwrt.org/docs/guide-developer/toolchain/buildroot.exigence.macosx

[2022-02-15 07:41] reinerotto opened #17869 "PHP7 Keep it, please"
Please make sure that the issue subject starts with `<package-name>: `

Also make sure that the package is maintained in this repository and not in base which should be submitted at https://bugs.openwrt.org or in the LuCI repository which should be submitted at https://github.com/openwrt/luci/issues.

Issues related to releases below 18.06 and forks are not supported or maintained and will be clos

[2022-02-15 09:07] brada4 commented on #17869
PHP8 release notes describe on how to disable new security to make PHP7 code work.
You still got time until upstream EOL on 28/11.

[2022-02-15 09:56] zhihuiyuze commented on #17851
Hi,
   I have the same issues. When I start mwan3, OpenWRT will still use the route table the locate the flow. And not using the mwan3 policy at all. And also I have turned on nohostroute option.
[code]

As you could see, hk_1_vpn has a high metric. So the flow goes there. And no matter I have the rule to let it go  pppoe-wan.
![image](https://user-images.githubusercontent.com/38281461/154037207-4

[2022-02-15 12:16] M95D commented on #17816
There is a problem with v4.2.8 and in current tvheadend master branch too. The usual command run by openwrt package to create a new config with admin account is **tvheadend -C -A**, but tvheadend aborts before saving the new configuration to /etc/tvheadend. It's a tvheadend bug, not package or openwrt.
I included a workaround in https://github.com/openwrt/packages/pull/16475 , but that pull reques

[2022-02-15 13:22] BrainSlayer commented on #17245
`--- lib/xref.h  (revision 48380)
+++ lib/xref.h  (working copy)
@@ -122,7 +122,7 @@
 extern void xref_block_add(struct xref_block *block);
 extern void xref_gcc_workaround(const struct xref *xref);

-#ifndef HAVE_SECTION_SYMS
+#if !defined(HAVE_SECTION_SYMS) || defined(__mips64)
 /* we have a build system patch to use GNU ld on Solaris;  if that doesn't
  * work we end up on Solaris ld which does

[2022-02-15 13:39] BKPepe commented on #17869
@reinerotto You didn't even bother to fill the pull request template. :-( You just write your own pull request title, and that's it.

PHP7 is in OpenWrt 19.07 and OpenWrt 21.02 branches. It was removed in the master branch (daily snapshots). For example, the version used in 19.07 is deprecated out of date. Would you like to take of maintainership?

~ Closing for given reasons.

[2022-02-15 13:39] #17869 closed

[2022-02-15 13:40] #17835 closed

[2022-02-15 14:19] escape0707 opened #17871 "miniupnpd-nftables: rules are created but no traffic is being forwarded"
### Maintainer

@stintel @ldir-EDB0 @neheb

### Environment

* Model | Xiaomi Redmi Router AC2100
* Architecture | MediaTek MT7621 ver:1 eco:3
* Target Platform | ramips/mt7621
* Firmware Version | OpenWrt SNAPSHOT r18806-2120cad38d / LuCI Master git-22.025.79016-22e2bfb
* Kernel Version | 5.10.100

### Description

As the title says, miniupnpd can't map requested ports successfully for applicatio

[2022-02-15 14:27] stintel commented on #17871
Redirects are there:
[code]
Please report a LuCI issue instead.

[2022-02-15 14:41] escape0707 commented on #17871
@stintel Could you suggest me some more accurate ways to test which part is malfunctioning? Thanks!

[2022-02-15 14:42] stintel commented on #17871
Don't trust the application, trust tcpdump. I actually verified miniupnpd-nftables like that recently, because somewhere in some horrible 1500+ message thread in the forum where different issues are discussed, making it impossible to follow anything, and reminding me why I used to stay away from forums, someone complained that it didn't work.

On a remote host:
[code]

[code]

[2022-02-15 14:43] escape0707 commented on #17871
I'll go and learn about this tool now! Thanks for the information!

[2022-02-15 14:45] stintel commented on #17871
If in fact that confirms the port forward doesn't work, please change the title of this issue to reflect just that. The fact that LuCI doesn't show the redirects should be fixed in LuCI so is not relevant for this issue (tracker).

[2022-02-15 14:46] escape0707 commented on #17871
Duly noted

[2022-02-15 15:19] stintel commented on #17871
My gut feeling says it's related to using ppp. @dangowrt reported a similar problem [here](https://github.com/openwrt/packages/pull/17094#issuecomment-968299497).

[2022-02-15 15:25] escape0707 commented on #17871
Do you think if I "use another router to do the PPPoE dial, connect my Redmi OpenWRT router to the first one's LAN port and use DHCP to connect to the Internet, then manually forward all ports from the first router to OpenWRT" will help diagnose this problem?

[2022-02-15 15:27] escape0707 commented on #17871
I'll have to try that tomorrow, parents are about to sleep. Thank you for helping me trouble shooting, nice sir!

[2022-02-15 16:01] lucize commented on #17245
thanks !
can you open an issue about this on frr ?

[2022-02-15 16:57] predators46 commented on #17856
Fix thanks

[2022-02-15 17:11] predators46 commented on #17856
i just finished making it and now i try it and it works

`root@OpenWrt:~# ./mysql -V
./mysql  Ver 14.14 Distrib 5.7.10, for Linux (aarch64) using  EditLine wrapper
root@OpenWrt:~# ./mysqld
mysqld: Can't change dir to '/usr/data/' (Errcode: 2 - No such file or directory)
2022-02-15T17:06:39.300869Z 0 [Warning] TIMESTAMP with implicit DEFAULT value is deprecated. Please use --explicit_defaults_for_t

[2022-02-15 17:23] predators46 commented on #17856
Hy @ClaymorePT

Can you help me. I want to use boost-1.59.0 on openwrt 21 I see python2 is gone. i have changed boost makefile and deleted python2 and i rebuilt boost without python2 but it didn't work. can you help me to remove python2 in boost 1.59.0. thanks

[Makefile](https://github.com/ClaymorePT/packages/blob/fff766fecdc2f1906e6bc9d5aa4ca61ddff72b1f/libs/boost/Makefile)

[2022-02-15 20:55] M95D commented on #17816
Good news: I just found out I can create pull requests to specific branches of openwrt. :-)
I also reported the problem to tvheadend bug tracker: https://tvheadend.org/issues/6140 . Let's hope someone there has the time to investigate and fix it.

[2022-02-16 00:12] lepeuvedic opened #17875 "ddns-scripts: Simultaneous update of A and AAAA records - Broken IPv6 support on dyn.com"
Maintainer: @\svlobanov
Environment: Linux OpenWrt 4.14.221 #0 SMP Mon Feb 15 15:22:37 2021 armv7l GNU/Linux
                      OpenWrt 19.07.7 r11306-c4a6851c72
                      ddns-scripts 2.7.8-14
Description:

The script dynamic_dns_updater.sh does not support updating both the A records, and the AAAA record.
With at last dyn.com, the two updates cannot be made independently.
If myip=

[2022-02-16 00:41] #17848 closed

[2022-02-16 01:01] ClaymorePT commented on #17856
Try this [Makefile](https://github.com/ClaymorePT/packages/blob/boost_1.59.0_no_python2/libs/boost/Makefile). If it does not work, please tell me the target to which you are trying to build boost to.

I simple grabbed the most recent version and changed the version and checksum to the right values for boost 1.59.0 . I did not test this since this was just an over-the-knee fix.

[2022-02-16 02:10] NautilusChan commented on #16972
@siwind  I meet a issue with verifing the torrents ( https://github.com/openwrt/packages/issues/17674 ). Although I can run normally after I uesed " /etc/init.d/transmission trace". But I don't know the difference between "start" and "trace". Can you help me ? thx~

[2022-02-16 02:53] escape0707 commented on #17871
Sadly, with this config, I get a lot of:

[code]

[2022-02-16 03:44] snakwu commented on #17871
me too！openwrt pppoe

[2022-02-16 04:28] escape0707 commented on #17871
@snakwu I think you are facing a completely different problem. You should open an independent issue addressing it.

[2022-02-16 04:52] escape0707 commented on #17871
Actually, I don't know what's the meaning of this table:

[code]

The default policy in its base chain is `ACCEPT`, while all rules in it says `ACCEPT`, too. What does the `@nh` filtering verifies? This table currently does nothing because so far there isn't anything malicious that needed to be rejected, yet?

[2022-02-16 05:09] escape0707 commented on #17871
I manually specified my `external_ip` in `/etc/config/upnpd` and UPnP set up the firewall rules successfully now. But I'm still getting the similar behavior that tcpdump shows incoming testing packets only on `wan` not `br-lan`.

[2022-02-16 05:39] escape0707 commented on #17871
See https://stackoverflow.com/questions/38162173/how-is-the-order-of-tables-chains-in-nftables-arranged

I think the reason this won't work is that currently `fw4` and `miniupnpd` both create their own (ipv4) table, which both contain a `hook prerouting priority dstnat` base chain. Then, one of them is ignored. It seems that the `miniupnpd` one comes later, so it is ignored.

[2022-02-16 07:22] M95D commented on #16500
As I said, I don't have any SAT>IP available to test, but adding a route may upset other packages that use multicast, maybe even tvheadend's iptv.
Can you try to see if binding tvheadend to local IP works?
- Open the router's console (ssh or serial).
- Stop tvheadend server:
**/etc/init.d/tvheadend stop**
- Run the server with this command:
**tvheadend -c /etc/tvheadend -u tvheadend -g dvb -B --sa

[2022-02-16 08:29] escape0707 commented on #17871
I think I know where the problem is. If I add any port forward rule manually and UPnP seems to work. but I still need to do more tests.

[2022-02-16 08:37] jow- commented on #17871
When at least one port forward is defined, certain additional rules are enabled by firewall4, like the rule that automatically accepts all inbound traffic that is related to a DNAT'ed connection

[2022-02-16 08:52] escape0707 commented on #17871
Yes, I diffed those nft rulesets and saw several 		`ct status dnat accept`. That is the reason why only enabling miniupnpd is not working.

[2022-02-16 08:57] predators46 commented on #17856
i will try it now. and soon I will report the results. Thank you

[2022-02-16 09:18] predators46 commented on #17856
doesn't seem to work. there is no dependency creation process that is done by boost. boost is made immediately. and python3 not created

[2022-02-16 14:24] dim6003 commented on #15633
idem on TP-Link Archer C2600 with OpenWrt 19.07.7 r11306-c4a6851c72 / LuCI openwrt-19.07 branch git-22.045.73925-36e5c1c, kernel 4.14.221.
Not tested (yet?) @blairfancy's trick.

[2022-02-16 14:26] escape0707 commented on #17871
After set up UPnP and add any firewall rules through LuCI, everything works just fine.

[2022-02-16 15:50] Menomenic opened #17883 "Bug in the openvpn package"
I like to say that there is a problem with openvpn when you have more than one vpn in the list and you click on the start/stop button the vpn is reacting strange.

If you click on the button of the first vpn the second react or if you click again the first vpn reacts, and when clicking again both vpn are enabled just clicking the start/stop button of the first vpn?

This could also if you click th

[2022-02-16 20:06] walterav1984 commented on #17816
@BKPepe and @M95D this is indeed fixed now for 21.02.1 tested on the RPi1 by removing the earlier broken tvheadend package and deleting its settings, after that it just did a succesful 1st run to setup the config folder:
[code]

[2022-02-16 20:20] walterav1984 commented on #16500
Dear @M95D this "option bindaddr" in /etc/config/tvheadend with the lan-address is indeed the solution and works both for the the current snapshot but also the current stable OpenWrt 21.02.1 which is now also able to detect and use both HDHomeRun and SAT-IP tuners.

Now its not even required to add the "multicast route" discussed earlier, which had no effect at all on 21.02.1.

Starting up the ser

[2022-02-16 21:08] M95D commented on #16500
Glad to see that --bindaddr works. I already asked in OpenWrt forum and Jow's answer explained a lot. I'll try to make a script that sets bindaddr to LAN IP, following Jow's advice, but it's complicated and I never done this before. It will take a while.

[2022-02-16 21:08] M95D commented on #16500
https://forum.openwrt.org/t/bind-service-to-local-ip/120436

[2022-02-16 21:24] predators46 commented on #17856
Hy @neheb

i was forced to use python2 to boost no other option. but i found problem when i build python2 on openwrt 21.02.1. how to add zlib dependencies in python-base-src

`Package python-base-src is missing dependencies for the following libraries:
libz.so.1`

[2022-02-16 21:27] walterav1984 commented on #16500
Indeed the comprehensive solution is to make it flexable to changes of the lan ipaddress or device even when these gets altered after tvheadend has been installed. I can only confirm that `uci get network.lan.ipaddr` works for both br-lan or lan.

[2022-02-16 21:30] neheb commented on #17856
ping @jefferyto

[2022-02-16 21:51] walterav1984 commented on #16500
Permanent dynamic Fix by only editing the "--bindaddr" option /etc/init.d/tvheadend and neglecting /etc/config/tvheadend, this makes it immune to changes of lan ip-address/ranges after tvheadend has been installed:
[code]

[2022-02-16 23:08] ClaymorePT commented on #17856
@predators46 let me see what I can do on my side. I don't have much free time at the moment, but it should be possible to build boost 1.59 in recent openwrt versions.

[2022-02-17 03:52] predators46 commented on #17856
this problem has been solved

[2022-02-17 04:10] lucize commented on #17245
made a PR also opened an issue with frr

[2022-02-17 06:15] #17149 closed

[2022-02-17 06:15] #17245 closed

[2022-02-17 06:16] #17837 closed

[2022-02-17 06:24] escape0707 commented on #17871
@jow-
I mean, when I only installled `luci-app-upnp` and enabled upnp, then launch an app (qbittorrent) to make upnp port forward request, I will get a nftables ruleset like this:

<summary><details>
<pre><code>
table inet fw4 {
	chain input {
		type filter hook input priority filter; policy accept;
		iifname "lo" accept comment "!fw4: Accept traffic from loopback"
		ct state established,related a

[2022-02-17 08:26] BrainSlayer commented on #17245
consider that i'm a the dd-wrt developer. i have no time to maintain yet another patch discussion. i just want to give a hint how a possible solution could look like. so please be so kind and manage this by yourself

[2022-02-17 08:55] ggg17226 commented on #15668
i had fix it on x86_64 with openwrt 21.02, i think it will also work for you.
[pr link](https://github.com/openwrt/packages/pull/17881)

[2022-02-17 12:06] dangowrt commented on #17871
@stintel I'm not using PPPoE, got IPoE FTTH with the ISP-provided router operating in bridge-mode and OpenWrt device connected to it receiving a public IPv4 via DHCP. Yet rules added by miniupnpd didn't have any effect.

[2022-02-17 12:25] tiagogaspar8 commented on #17871
Same here, but my issue is with PCP and ipv6.
I see miniupnpd responding to the port open request, and I see the rules in nftables yet they do nothing.

Also, the lease file stays empty (I believe this is another separate issue)

[2022-02-17 12:41] stintel commented on #17871
@jow already explained the reason [here](https://github.com/openwrt/packages/issues/17871#issuecomment-1041242806)
I have static port forwards so I have that rule and that's why things work for me.

[2022-02-17 15:16] predators46 commented on #17856
i've overcome boost python2. I will close this

@neheb @ClaymorePT  thanks

[2022-02-17 15:16] #17856 closed

[2022-02-17 17:11] lucize commented on #17837
no such binary, but I guess we need a config option to enable it ?

[2022-02-17 19:05] lucize commented on #17837
@blackie333 so there is not proper way to have this available by default because libcurl defaults to wolfssl and that is not supported by ualpn, so you'll have to build your image with libcurl-gnutls or libcurl-openssl for this to work
#17884

[2022-02-17 21:37] stintel opened #17888 "prometheus-node-exporter-lua: snmp6 plugin tries to read nonexistent proc files"
Maintainer: @champtar
Environment: OpenWrt master r18878-a93dfff10e on qoriq

Description:

The snmp6 plugin tries to read /proc/net/dev_snmp6/$device even if this file does not exist. Can be reproduced with this config:

[code]

[code]

[2022-02-17 21:54] ClaymorePT commented on #17856
@predators46 cool!

[2022-02-17 22:29] tiagogaspar8 commented on #17871
I'm sorry, I'm confused, do we need to add something then?

I also saw that miniupnpd v2.3.0 fixes some issues with nftables and might be related to this, no?

[2022-02-18 00:38] kayfab3 opened #17890 "vnstat: see ticket #16986 - Request backport and cherry pick pull request #16950 from vnstat2"
Maintainer: @janh @jow
Environment: mvebu, OpenWrt 21.02.x, vnstat2 2.7-1, vnstat 1.18-2

Description: As of OpenWrt 21.02 vnstat and vnstat2 packages do not respect user defined configuration of interfaces. Database configuration does not survive a router reboot.  After each router reboot, configuration of interfaces set either manually or configured by /etc/config/vnstat and /etc/vnstat.conf is

[2022-02-18 01:19] escape0707 commented on #17871
@tiagogaspar8 https://github.com/openwrt/packages/issues/17871#issuecomment-1042615077

I think those rules added by luci firewall setting is the key point.

[2022-02-18 01:25] tiagogaspar8 commented on #17871
Yes, but what I mean is that I bleive the new release of miniupnpd fixes this issue because it corrects the location and the jumps that are currently broken.

Also, the port forwarding rules don't explain the reason why ipv6 PCP doesn't work.

[2022-02-18 01:27] escape0707 commented on #17871
Oh, I don't have IPv6 currently. And i guess i should update my OpenWrt and miniupnpd to test it again.

[2022-02-18 01:56] tiagogaspar8 commented on #17871
Yeah, I wanted to update my miniupnpd version too to see if this issue is fixed magically (hoping)

If you'd like you can try ipv6 with a he.net free tunnel 😁

[2022-02-18 12:40] walterav1984 commented on #16500
Another interesting fact... :facepalm: :facepalm: :facepalm:

I did most of the testing on a offline/passive connected RPi1 with its only ethernet interface being temporary used as a "wan" client to the internet for doing the `opkg update;opkg install tvheadend` than reverting to a single port  "lan" config with only `dhcp server ignore 1` on a static ip matching and bridged with my current LAN se

[2022-02-18 13:03] tiagogaspar8 commented on #17871
So, I updated upnpd to the latest version and it built without issue.
Yet, now it is giving me errors:
[code]
Just to clarify, these errors are new:
[code]

And these were present in the previous version:
`Fri Feb 18 12:53:18 2022 daemon.err miniupnpd[9995]: Failed to remove PCP mapping internal port 31425, protocol TCP`

[2022-02-18 13:37] predators46 commented on #17856
i tried mysql 8 with boost-1.68.0

`
BusyBox v1.30.1 () built-in shell (ash)

  _______                     ________        __
 |       |.-----.-----.-----.|  |  |  |.----.|  |_
 |   -   ||  _  |  -__|     ||  |  |  ||   _||   _|
 |_______||   __|_____|__|__||________||__|  |____|
          |__| W I R E L E S S   F R E E D O M
 -----------------------------------------------------
 OpenWrt 19.07.4

[2022-02-18 14:52] trippleflux opened #17892 "share-mime-info: linking error"
Maintainer : @flyn-org
error when linking, because of lintl not found?
[code]

[2022-02-18 15:26] tiagogaspar8 commented on #17871
Another update, managed to get miniupnp to work with the 2.3 version, I had to add the following lines to the configuration file:
upnp_table_name=fw4
upnp_nat_table_name=fw4
upnp_forward_chain=forward_wan

That fixed the forwarding and the "new" issues with the miniupnpd adding the rules, yet it didn't fix the failed to remove error.
Now, we can't just add these lines like they are to the config f

[2022-02-18 17:25] flyn-org commented on #17892
Would you kindly provide a little more context? I just built shared-mime-info using a fresh SDK from the snapshot builds, and it worked fine. I built for x86_64.

[2022-02-18 17:27] BKPepe commented on #17892
I see that for Turris OS, we have the same issue. We are using full NLS.

[code]

I think I know what could be wrong, I will send PR.

[2022-02-18 19:18] walterav1984 commented on #16500
Zyxel OpenWrt router tested with a complete default config first post edited with details but the result remains  still the same... Tvheadend won't detect SATIP tuners without the --bindaddr fix.

[2022-02-18 22:27] ClaymorePT commented on #17856
@predators46 Doesn't really ring a bell. Maybe running mysql with root permissions requires special configurations, as indicated in the error message.

[2022-02-18 22:27] BKPepe commented on #17890
Done.

Commits:
- https://github.com/openwrt/packages/commit/f8820d2aeb650d215035e87fd59acc0020bbe12c
- https://github.com/openwrt/packages/commit/42f35cdda75ea3322e0f41996e71918b53def1bb

[2022-02-18 22:27] #17890 closed

[2022-02-18 22:32] predators46 commented on #17856
no problem. what I'm showing is just a quick try. Thanks

[2022-02-18 23:17] jamesmacwhite commented on #14332
Unfortunately, the same behaviour happens on 21.02. I've finally made the jump and done all the DSA conversion.

My L2TP IPv6 is timing out on a LAN client every other reply, but it is not happening when pinging with the router directly

[code]

I'm now thinking there is something in 2.10.x compared to 2.8.x that is causing this, but it may be specific to L2TP.

Works fine on 19.07.x with mwan3 2.

[2022-02-19 09:24] M95D commented on #16500
Yes, you are correct. It probably sends multicasts on the interface that has the default route (route to 0.0.0.0). It might not even be an issue specific to tvheadend. Probably all linux multicasts go out on the the interface having the default route, unless the app binds some another interface. And routers usually have 0.0.0.0 go out on the wan interface (because that's where the internet is).
I

[2022-02-19 10:04] walterav1984 commented on #16500
Thanks, I will test and close this ticket as soon it as been merged master and backported to stable 21.02.x.

[2022-02-19 10:37] #17892 closed

[2022-02-19 12:16] walterav1984 commented on #16500
Tested successful both on RaspberryPi1(LAN-ip client active/passive) and Zyxel P-2812HNU-F1(normal router WAN/LAN config) running OpenWrt 21.02.2 with Tvheadend package are able to instantly detect SATIP-tuner (fritzbox 6490 v07.29, with static ip-address matching the LAN interface subnet of the OpenWrt devices) with this patch.

[2022-02-19 12:27] walterav1984 commented on #16500
Since a fix for 21.02.x and master branch is available, should we still care about 19.07.x and add a `--satip_xml ` option to `/etc/config/tvheadend` this is easier for users than editing `/etc/init.d/tvheadend` and won't interfere with your patch?

I already succesful tested having this option active in 19.07.8 by adding the following code to `/etc/init.d/tvheadend`:
[code]

Than adding the speci

[2022-02-19 15:45] M95D commented on #16500
It would be better to update tvheadend version.

[2022-02-19 18:10] trippleflux opened #17905 "miniupnpd-iptables: chain MINIUPNPD not found"
Environment:
[code]
Description:

Getting the following while
[code]

The chain is exist already in the iptables :
[code]

/etc/config/upnpd
[code]
Config file:
[.config.zip](https://github.com/openwrt/packages/files/8102723/default.config.zip)

[2022-02-20 07:42] wulfy23 commented on #17905
let me guess you installed sqm-scripts?

[code]

[2022-02-20 12:55] dangowrt commented on #17674
Using `trace` skips all jail restrictions and writes a list of syscalls used for future use a seccomp filter.

However, this issue is not related to seccomp but rather a consequence of mount namespace ie. filesystem restrictions.
I guess the torrent data is not located in a folder which is made available to transmission by ujail, only `download_dir` is.
You can add
[code]
to the init script to mak

[2022-02-20 13:12] trippleflux commented on #17905
Yes, but previously self-compiled OpenWRT snapshot is working fine with SQM & SQM-extra being enabled.

**fgrep -r iptables /usr/lib/opkg/info/*.control** :
[code]

[2022-02-21 00:55] aaronjg commented on #9538
If you have a patch for wireguard, can you please submit it upstream with the wireguard developers? We are not really equipped to do a proper security audit that would be necessary to accept a P/R that touches the core wireguard code.

[2022-02-21 01:09] wackejohn commented on #9538
Hi,
I think the wireguard dev won't accept my patch, and for this patch, my only purpose is to share my experience for users who want to use wireguard server with multi wan.  So maybe I should close this issue?

[2022-02-21 01:18] #9538 closed

[2022-02-21 08:42] D43m0n opened #17912 "findutils on OpenWRT 21.02 fails to compile"
Maintainer: @bernhard-voelker
Environment: armv7, Netgear R7800, OpenWRT 21.02.1

Description:
I cloned a [repository of OpenWRT 21.02](https://github.com/ACwifidude/openwrt), I then checked out [a branch](https://github.com/ACwifidude/openwrt/tree/openwrt-21.02-nss-qsdk11.0) of the 21.02 stable release. I then updated feeds, installed feeds, applied my .config and made a definitive config:

[code

[2022-02-21 10:33] bernhard-voelker commented on #17912
[adding @neheb ]
First of all, I'm **not** the maintainer here.  Instead, I'm a upstream GNU findutils maintainer.
I don't know anything about building for OpenWRT, and it seems that the build there is quite special.

The problem seems to arise from the fact that the function getpwent() is not defined.
Still, code in parser.c looks a bit odd.  Does the following work for you?

[code]

[2022-02-21 12:34] gfrancesco commented on #17674
That was also my guess, I think that your solution might be useful. It will partially fix my problem, but I can probably adapt my download folder structure to make it work with additional read-only paths.
I still cannot explain how my configuration was working fine with transmission 2.94 which, as far as I can understand, was also using procd jails.

[2022-02-21 12:38] dangowrt commented on #17674
Probably `procd-ujail` was not installed and now became a part of the default OpenWrt build. In case of `procd-uajil` missing, processes are just run without jail.
Once I find time for that I'll add an option (or rather: a list) for additional read-only paths to `/etc/config/transmission`, so people (including myself) won't have to edit the init script.

[2022-02-21 12:40] gfrancesco commented on #17674
That explain it, thanks for your help!

[2022-02-21 18:55] D43m0n commented on #17912
I’m sorry if I tagged you by mistake, should I have tagged @BKPepe instead when creating this issue?

[2022-02-21 18:56] BKPepe commented on #17912
Why me? I am not findutils maintainer. :-)

[2022-02-21 19:11] D43m0n commented on #17912
To be honest; I’m trying to contribute by following a template when creating an issue. The template suggests to find the package maintainer by looking at it’s Makefile.

To get some sort of an authoritative lead on that, I searched for the package `findutils` on OpenWRT’s [package search](https://openwrt.org/packages/table/start?dataflt%5BName_pkg-dependencies*%7E%5D=Findutils). On the result page

[2022-02-21 19:18] neheb commented on #17912
@D43m0n what system is this on? This is for tools/findutils , not the findutils package.

I can whip up a patch based on @bernhard-voelker 's suggestion, but I need more information.

[2022-02-21 19:46] D43m0n commented on #17912
I’m compiling an OpenWRT 21.02 build for a [Netgear R7800](https://openwrt.org/toh/netgear/r7800). This is a device with a Qualcomm Atheros IPQ8065 chipset with a ARMv7 Processor rev 0 (v7l), arm_cortex-a15_neon-vfpv4 architecture.

Is this the kind of information you are looking for?

Are you the package maintainer for findutils on OpenWRT?

[2022-02-21 19:47] neheb commented on #17912
No and No.
I’m looking for host OS information.

[2022-02-21 20:54] maertsen opened #17915 "mdnsresponder: mdnsd (IETF104-4) segfaults on startup on 21.02.2"
Maintainer: @neheb ?
Environment: x86/64, 21.02.2

Description:
I've used the combination of mdnsd and ohybridproxy for multiple years. I recently upgraded from 19.07 to 21.02.2 and now see mdnsd segfaulting on startup.
[code]
I'm not familiar with debugging of software in the C family of languages, but certainly willing to provide additional information to further narrow this down. I could use so

[2022-02-21 21:01] D43m0n commented on #17912
I’m trying to compile this on a Ubuntu 20.04 lts host (x86_64)

[2022-02-21 21:06] BKPepe commented on #17912
You should rather use upstream repositories instead of forked, outdated repository.

[2022-02-21 21:15] D43m0n commented on #17912
The fork I’m referring too has 3 additional branches, the last rebase on the branch I referred to was last rebased 25 days ago, on a stable release of 21.02.1. The 21.02.2 service release (stable) is about to be announced, based on conversations on the OpenWRT forum. I wouldn’t qualify that as outdated?

[2022-02-21 21:51] jamesmacwhite commented on #9538
@wackejohn Most of the patches and changes are over my head in terms of understanding, but certainly appreciate your efforts. I'd hope the Wireguard devs would reconsider them, given I think Wireguard does have issues with multi WAN environments.

[2022-02-21 23:49] neheb commented on #17912
@D43m0n try testing @bernhard-voelker 's patch.

[2022-02-22 03:14] wackejohn commented on #9538
@jamesmacwhite I've hoped for years already, but nothing happend, then I have to tried myself.

All of my thinking was based on a patch from mailing list:
`https://lists.zx2c4.com/pipermail/wireguard/2021-September/007157.html`

When receiving connection, the original wireguard will reset the incoming fwmark (but all the incoming connection info is in kernel sk buffer) then use the 0.0.0.0 as resp

[2022-02-22 06:40] neheb commented on #17915
If I had to guess it broke because of a musl update. I don't use this software so I can't really help.

[2022-02-22 07:51] D43m0n commented on #17912
I don't know how to apply that patch in this large tree for OpenWRT, for a learning curve it's one of the steepest I can think off.

[2022-02-22 08:59] zf1976 opened #17919 "Is the team considering adapting to the rust language?"

[2022-02-22 09:00] neheb commented on #17912
In your openwrt tree, run

[code]

[2022-02-22 09:15] jow- commented on #17919
Not at the moment.

[2022-02-22 09:15] #17919 closed

[2022-02-22 17:43] leonpano2006 opened #17922 "xz dosen't have xzcat only have xz"
E: Extracting .//var/cache/apt/archives/base-files_11ubuntu5_arm64.deb requires the xzcat command, which is not available
MastermixStudios@GT-AX11000-A2B0:/mnt/JFFS# opkg install xz
Package xz (5.2.5-3) installed in root is up to date.
MastermixStudios@GT-AX11000-A2B0:/mnt/JFFS# xz
xz: Compressed data cannot be written to a terminal
xz: Try `xz --help' for more information.
MastermixStudios@GT-AX1

[2022-02-22 19:22] emdete opened #17923 "collectd rrd files lost with reboot"
# Issue template

Maintainer: @\<jow->
Environment: arch Atheros AR7161 rev 2, model Netgear WNDR3700, OpenWrt version 21.02.1

Description:

In `/etc/collectd.conf` the "DataDir" is set to "/tmp/rrd" which is a ramdisk and the database is lost on a reboot. I think this is not desired.

So i set that setting to "/var/lib/collectd" (after creating that directory) and restarted the service.

The pat

[2022-02-22 21:35] jow- commented on #17923
This is intentional to avoid flash wear.

[2022-02-22 21:35] #17923 closed

[2022-02-23 03:02] daiaji opened #17925 "Please add package kmod-virtiofs."
Basically [virtiofs](https://virtio-fs.gitlab.io/) is a replacement for 9p, and in linux5.4
has been added to the kernel.
[code]

[2022-02-23 10:53] emdete commented on #17923
how about copying it back&forth on start/stop of the service? would that be a solution (at least for ordinary reboots)?

[2022-02-23 10:55] jow- commented on #17923
Many devices do not have enough overlay space available to store the RRD archives. There really is no suitable global default, you do need to adjust the configuration to your needs.

[2022-02-23 15:06] brianjmurrell opened #17926 "msmtp-nossl: /etc/msmtprc has SSL enabled"
Maintainer: @BKPepe
Environment: 21.02.2

Description:
The msmtp-nossl package installs an `/etc/msmtprc` which requires SSL to be compiled in due to `tls on` being the default in the `/etc/msmtprc`.  This should be set to `tls off` in the _-nossl_ variant of this package.

[2022-02-23 16:08] it-jonas opened #17927 "unbound: /var/lib/unbound/unbound.conf differs from /etc/config/unbound"
Maintainer: @EricLuehrsen
Environment: AMD GX-412TC SOC  OpenWrt 21.02.0, r16279-5cc0535800

Description:
The content of the config which was set within luci differs from the generated config.
![Screenshot from 2022-02-23 15-00-42](https://user-images.githubusercontent.com/20993035/155358571-9ba4bcbb-2724-4061-961b-5dd1fe6a2984.png)
![Screenshot from 2022-02-23 15-00-56](https://user-images.github

[2022-02-24 11:32] brada4 commented on #17927
I assume it maintains focus on embedded systems, multi-thread option is there for testing its stability while most systems will be saturated by default anyway.
https://github.com/openwrt/packages/blob/94858ece3120a866da97e0b891f313fd032c7bc6/net/unbound/files/unbound.sh#L706
You can edit that uci script and measure throughput (cached), it needs no iptables and multiqueue netcard to jump above 10k

[2022-02-24 21:09] clayface commented on #17674
@dangowrt one issue in particular is blocklist files. These are first downloaded to `config_dir` before being moved. This is the error I receive when trying with procd-ujail enabled:
`Feb 24 20:48:23 OpenWrt-RB5009 transmission-daemon[16060]: [2022-02-24 20:48:23.728] Couldn't save file "/tmp/transmission/blocklist.tmp.XXXXXX": Bad file descriptor (rpcimpl.c:1696)`

No blocklist is downloaded subs

[2022-02-25 08:25] pipiche38 opened #17938 "Some plugin do need to have write access in their directory"
I'm maintaining the Domoticz for Zigbee plugin, and this plugin needs to have write access in the following folder

Conf/
Logs/
Reports/
Data/

Some openwrt looks having issues

[2022-02-25 08:29] #17938 closed

[2022-02-25 09:15] alpha197 opened #17939 "netifd: Use uqmi timeout option (-t) in qmi.sh"
Description:
When devices with Quectel LTE modules loose connectivity (e.g. due to weak LTE cell connectivity) we observe that reconnects fail because an uqmi  process (triggered by netifd/qmi.sh) stucks. This can be tracked down to some kind of "stall" mode of Quectel LTE modems as already described [here](https://git.openwrt.org/?p=project/uqmi.git;a=commit;h=0a19b5b77140465c29e2afa7d611fe93abc9

[2022-02-25 11:47] Qosifyck commented on #16818
Please @aparcar, can you migrate OpenWrt to [odhcpd + unbound](https://openwrt.org/docs/guide-user/services/dns/dot_unbound#command-line_instructions) by default and remove dnsmasq (because it's garbage) and if you do it would be the biggest change (for better) in OpenWrt since its founding.

@aparcar you once asked it in the forum:
- [Odhcpd by default? - OpenWrt Forum](https://forum.openwrt.org/

[2022-02-25 16:38] egorenar opened #17942 "openssh-server: libcrypto error at startup"
Maintainer: @tripolar
Environment: OpenWrt SNAPSHOT r18992-a5c8ef7de12a ARM v7 Netgear R9000

Description:

The OpenSSH server stopped working since about a week and
i get the following error message:

[code]

I'll try to find out more information.

Regards
Alex

[2022-02-25 17:35] nicefile commented on #17871
Adding valid manual portforward via "http://router/cgi-bin/luci/admin/network/firewall/forwards" make upnpd-nftables starting to actually forward traffic. I learned this by accident now confirmed in this thread
OpenWrt SNAPSHOT, r18809-5a0975f7ef @mt7621

[2022-02-25 19:19] maertsen commented on #17915
I looked into this. This is a null-pointer dereference while looping over all available interfaces during setup. I happen to have an interface without an assigned address. There is a missing NULL check and this was previously found and fixed in https://github.com/IETF-Hackathon/mDNSResponder/commit/1fb07b9524b4afed3a826c087db4dc48a7bfdb8. That repo appears to be the (newer) upstream for this code,

[2022-02-25 19:30] Abhayakara commented on #17915
The best place to put a PR would be here:

https://github.com/Abhayakara/mdnsresponder

I think this is a known issue, and may even be fixed there, but it doesn't hurt to submit a pull request if the fix isn't present in the repo. We don't have a formal process for keeping this repo in sync with our internal repo, so the fix for the issue might well not be in the above repo (or I might be wrong th

[2022-02-25 19:56] egorenar commented on #17942
nevermind, my fault, sorry for the noise.
i enabled crypto engines and my hw crypto driver was enabled as well. this doesn't work yet it seems.
Disabling engines in /etc/config/openssl fixed the issue.

[2022-02-25 19:56] #17942 closed

[2022-02-25 20:40] maertsen commented on #17915
thanks @Abhayakara, it is indeed fixed in that repo. And it appears https://github.com/Abhayakara/mdnsresponder has much more recent work and should be the correct upstream for this package in openwrt in master. Would the https://github.com/Abhayakara/mdnsresponder/releases/tag/20201119-release release make sense?

The open question that remains for my personal use-case is how to get the fix for t

[2022-02-25 20:55] Abhayakara commented on #17915
The release tags are not particularly major, so actually ToT might be better. I can put a tag on it if that makes it easier to use as an upstream.

[2022-02-27 12:54] D43m0n commented on #17912
compile succeeds, thanks!

[2022-02-27 12:54] #17912 closed

[2022-02-27 18:06] brianjmurrell commented on #17926
Indeed, your proposed solution is good.  I would concur on editing the example file rather than shipping a whole own config.

Not really necessary in a trusted (i.e. home LAN) network and on embedded devices every byte saved is a precious byte that can be used somewhere else.

[2022-02-28 15:15] oskarirauta commented on #16818
I created a modified version of cni-plugins-nft and made a PR here for it, since it didn't work out very well-
there were few problems, like it did not use inet class, instead it used ip4 and ip6 - openwrt fw4 uses inet. Second, it used different table names than fw4, so my version is like original, except it is forced to use inet class and table is always fw4 instead of NAT, and I also added defa

[2022-02-28 20:05] rucketeg commented on #17833
Fixed in commit [e040d31](https://github.com/openwrt/openwrt/commit/e040d31177b1507ccac965adc18f2e968310b5c3).

[2022-02-28 20:05] #17833 closed

[2022-03-01 02:12] yousong commented on #16818
Shadowsocks-libev (ss-rules) has been rewritten to using nft (#17937)

pppossh can be ignored here.  The iptables commands in README.md were presented as tips to be run on remote systems

[2022-03-01 08:12] ldir-EDB0 opened #17964 "shorewall6: recursive dependency errors"
make defconfig is reporting recursive dependency errors:

[code]

[2022-03-01 12:05] WAN-Noob commented on #17964
Can confirm. Started happening today. Getting the same error.

[code]

[2022-03-01 18:39] test012012 commented on #17964
Sorry, I can't investigate this issue in a short time. Please revert my change

@zhanhb @stintel

[2022-03-01 18:40] svlobanov commented on #17964
Sorry, I can't investigate this issue in a short time. Please revert my change

@zhanhb @stintel

[2022-03-02 16:47] notthinkingtinker opened #17971 "auc : Segmentation fault when trying to update Linksys WRT1200 AC"
Maintainer: @aparcar  (find it by checking history of the package Makefile)
Environment: Openwrt 21.02.1

Description:
root@Openwrt~# auc
auc (0.2.4-4)
Server:    chef.libremesh.org
Running:   21.02.1 r16325-88151b8303 on mvebu/cortexa9 (linksys,wrt1200ac)
Segmentation fault

[2022-03-02 18:44] Jeronimo17 commented on #16652
OpenWrt 21.02.2 Still the same, same trick use curl from 19.07.1

[2022-03-02 18:56] luizluca opened #17972 "mwan3: services accessing localhost (i.e.: dns) fails with use"
Maintainer: @feckert

Hello,

I'm using mwan3 2.10.13-1 in an openwrt 21.02.1 x86_64. Any program that directly queries localhost service (like dig, host, nslookup), fails with 'mwan3 use'.

[code]

It does not make much sense to query localhost DNS server using "mwan3 use" but some testing client might directly resolve dns before accessing the internet.

Could 127.0.0.1/8 and ::1 be exempted from

[2022-03-02 20:59] stangri commented on #16652
Tagging maintainer: @cotequeiroz.

I believe there were multiple changes necessary (on top of updating wolfssl) for a range of issues reported about same time as this, I'm not sure if the support for alt chains and static rsa has been enabled in master?

[2022-03-03 08:54] BKPepe opened #17978 "apfree-wifidog requires libiptext library from iptables"
Maintainer: @liudf0716
Environment: Turris Omnia, mvebu/cortex-a9, OpenWrt master and Turris MOX, mvebu/cortex-a53, OpenWrt master

Description:

[code]

Same happens on [buildbots](https://downloads.openwrt.org/snapshots/faillogs/aarch64_cortex-a53/packages/apfree-wifidog/compile.txt):

[code]

Related to switch to nftables instead of iptables:
https://github.com/openwrt/packages/issues/16818

[2022-03-03 10:45] hsghost opened #17979 "aria2 generally breaks as of the employment of jail"
**Maintainer**: @kuoruan
**Environment**: Snapshot@2022-02-27 on _GL.iNet GL-B1300_

### Description:
The init script of aria2 is basically not working as of the current snapshots. It meant to run this program as a service while it fails under current builds. The log complaints about missing arguments (at least one URL blablalba...). I can see that although there are code in the script assigning p

[2022-03-03 13:23] justinkb commented on #17964
oddly enough, reverting those recent commits from @svlobanov doesn't get rid of this issue for me

[2022-03-03 14:09] Acris commented on #17979
Same as: https://github.com/openwrt/packages/issues/16963

[2022-03-03 14:37] justinkb commented on #17964
@champtar tagging you

[2022-03-03 14:43] champtar commented on #17964
Thanks, will try to have a look

[2022-03-03 14:47] justinkb commented on #17964
https://github.com/openwrt/packages/blob/master/net/shorewall6/Makefile#L40 start here I suppose?

[2022-03-03 16:16] ne20002 commented on #17681
I just tried to install CrowdSec packages  and faild on WRT3200ACM. The avaialable space for packages ins 55MB and with downloading the GeoLite2-City.mmdb with 26.3 MB size the installation failed with no space left on device.

I suggest to only install a minimum on OpenWrt and make it either downloadable after installation or even have it in a seperate package for installation (so it's optional f

[2022-03-03 16:22] ne20002 opened #17981 "Request Luci package and firewall rule for CrowdSec"
There is no luci package for crowdsec.

I would like to request the following:
* a page where I can enable disable CrowdSec
* a way to configure the interfaces for the bouncer on which to block (for me only WAN and WAN6 is neccessary) or
* a firewall block rule where I can define the interfaces to be applied on and that I can move in the firewall rules in the correct position

The ipset block shal

[2022-03-03 20:09] champtar commented on #16818
@AQPSal have you tried latest master ? Both iptables-legacy and -nft create iptables symlinks (and same for ip6tables).

[2022-03-03 20:12] AQPSal commented on #16818
I believe I am on the latest master - SNAPSHOT r19039-8235723c78. I double checked by doing opkg files iptables-nft:

`Package iptables-nft (1.8.7-3) is installed on root and has the following files:
/usr/sbin/xtables-nft-multi
/usr/sbin/iptables-restore-translate
/usr/sbin/iptables-translate
/usr/sbin/iptables-nft-save
/usr/sbin/iptables-nft-restore
/usr/sbin/iptables-nft`

[2022-03-03 20:13] hnyman commented on #16818
Symlink is in ip6tables-nft via alternatives

https://github.com/openwrt/openwrt/blob/8235723c78b535635ef47951ec8fa61d6a4f3593/package/network/utils/iptables/Makefile#L454-L462

[2022-03-03 20:14] AQPSal commented on #16818
Sorry - I had not realized there was a separate ip6tables-nft package.

[2022-03-04 05:33] erdoukki commented on #17681
Thanks.for your feedback.
As this issue was open about particular problem of GeoIP download and time issue, you point a more bad effect of GeoIP size.
I will link your issue with upstream and look to a solution as you proposed.
They both make sense in terms of users view, but GeoIP is only a script call at install.
In this particular case you point that GeoIP have to be optional.

[2022-03-04 06:12] rabits opened #17984 "obfs4proxy: Golang strip & upx"
Actually this is pretty generic question, so not sure the package is relevant... Anyway - why golang packages (like obfs4proxy) don't use strip and upx to lower the disk space requirements?

For example what I've done to install obfs4proxy to my router:
[code]

The original obfs4proxy from obfs4proxy_0.0.11-1_mips_24kc.ipk is 6.3M.

Thank you

[2022-03-04 08:45] erdoukki commented on #17681
I install by default the linux collection which contains :
-> https://hub.crowdsec.net/author/crowdsecurity/collections/linux
Which contains the geoip-enrich
-> https://hub.crowdsec.net/author/crowdsecurity/configurations/geoip-enrich

I will remove this from the post install script.

Thanks @ne20002

[2022-03-04 12:36] ne20002 commented on #17406
Do we have a chance to get this into 21.02 as well? The size of the GeoIp database downloaded with the main program is too much for my WRT3200ACM and I just need the baouncer anyway.

[2022-03-04 12:48] erdoukki commented on #17406
Sure, thanks @ne20002 to ask, it was just missed for 21.02.

I also plan to propose today, actually testing the fix
see https://github.com/openwrt/packages/issues/17681#issuecomment-1058958900

[2022-03-04 12:58] erdoukki commented on #17406
Done: https://github.com/openwrt/packages/pull/17986

[2022-03-04 14:28] #17915 closed

[2022-03-04 21:50] NightBlues commented on #17571
I've run into the same trouble. After a small investigation I've found that the real problem here is that autoreconf can not generate proper configure script because of missing gettext, motion's Makefile has include for nls.mk and adds `+BUILD_NLS:libintl-full` into dependencies list, docs for BUILD_NLS symbols says that it enables gettext support `instead of the default OpenWrt stubs`. Not sure h

[2022-03-05 03:31] jefferyto commented on #17984
If you have [searched](https://github.com/openwrt/packages/search?q=upx&type=issues) here for "upx" you would have found #8000 - I suggest you read that first.

OpenWrt uses compressed file systems. You need to look at the actual disk space used, not the reported size of the binary.

[2022-03-05 03:37] jefferyto commented on #17984
Also, all binaries built for OpenWrt are stripped by default, unless you manually selected [`CONFIG_NO_STRIP`](https://github.com/openwrt/openwrt/blob/c2d7896a650edd6ff4f37dbb33d45027001c23f4/config/Config-build.in#L169). I suggest you examine the ipk binary for symbols, instead of just looking at file size.

[2022-03-05 07:32] hsghost commented on #17979
Got it fixed. Thanks.

[code]

[2022-03-05 07:32] #17979 closed

[2022-03-05 11:23] oskarirauta opened #17991 "libreswan: build fails, missing unbound depency"
Maintainer: Lucian Christian / @lucize
Environment: x86_64, recent snapshot

Description:

libreswan fails to build. unbound library is required by libreswan but there are options for **libunbound**, one of them is being
`CONFIG_PACKAGE_libunbound_libevent` which must be set **Y** otherwise you will face up following build log and failed libreswan compilation.

[code]

[2022-03-05 15:21] erdoukki commented on #17681
https://github.com/openwrt/packages/pull/17989
this PR may fix the issue.

[2022-03-05 19:26] BabochkaAce commented on #16818
[odhcpd](https://github.com/libremesh/lime-packages/issues/294) or unbound support nftables?

[2022-03-05 21:31] rabits commented on #17984
Oh I see, thank you for clarification with #8000 and stripping.

In general I was not able to squeeze the original binary to my 2.4 MB of overlay (even if there is compression) - so the only quick option for me was to build it myself (because I had to use the client static port https://github.com/rabits/obfs4/commit/231dd59117caa5289592bd0fe8efd8b1bdb4346d) - and upx really helped to pack it tight

[2022-03-06 08:39] hnyman commented on #17981
LuCI is handled in its own repo, so this should be there.

But I do not think that any of the active LuCI developers is using that crowdsec app, so it is mainly upto somebody using the app to craft the LuCI support for it and then issue PR in the LuCI repo.

[2022-03-06 08:39] #17981 closed

[2022-03-06 09:36] hnyman opened #17997 "OpenWrt 22.03 has branched!!"
OpenWrt will likely branch for the new 22.0x release in late March.

Packages/features/fixes to be included in the 22.0x branch (likely 22.03) should be merged well in advance of the branching.
Stuff that is merged after the branching will need to be backported to the new release branch.

PRs containing experimental stuff would preferably be merged to master **after the branching**, so that the ne

[2022-03-06 10:49] lucize commented on #17991
from what I see:

[code]
so unless you had modified your config, this should work by default, this is not possible without making libunbound_libevent as a standalone package or I guess I could make libreswan-nolibunbound package variant

[2022-03-06 11:19] predators46 commented on #17997
@hnyman

https://github.com/openwrt/openwrt/issues/9365

[2022-03-06 12:41] ne20002 commented on #17406
Hi
Dependency is gone and space seems to be no problem now.

The installation ends with an error message.

![grafik](https://user-images.githubusercontent.com/39007279/156923655-aeb15bda-80d5-4ecc-8ca3-93dc5218eb10.png)

[2022-03-06 13:35] ne20002 opened #18003 "package ipset is missing for mvebu/cortexa9"
WRT3200ACM with 21.02.2:

![grafik](https://user-images.githubusercontent.com/39007279/156925565-bb99ec61-8f19-4fbc-b64b-0836d616dc2a.png)

[2022-03-06 14:15] BKPepe commented on #18003
Since you removed the issue template:

**Sorry, but posting screenshots is not enough. We don't have a crystal magic ball here to know what is going on, and even from the title, it seems you are wrong.** This is something to do with the kernel. Which version of kernel do you have, and which version does it want to install?

Would it be possible to use SSH, connect to your router, and use:
[code]

[2022-03-06 15:16] erdoukki commented on #17406
two points here.
first:
crowdsec, because of cscli tool *is* required !
the crowdsec service may be disabled in your case.
I will revert the dependency remove !
Packaging only the cscli tool is not a good alternative but I will look also at it.

second:
your problem with ipset is an openWrt issue, maybe...
 not specific to CrowdSec.

[2022-03-06 15:24] BKPepe commented on #17922
@leonpano2006 What are you trying to do? I see that you are running unknown OpenWrt version and you are trying to something with ``.deb`` package.

I see that xzcat is compiled as subpackage:
https://github.com/openwrt/packages/blob/3e75dc582e1cc68da20c42f90160c45a1b38cc20/utils/xz/Makefile#L119

For me, it is not clear if you installed xz-utils or not.

Please next time, try to fill at least the

[2022-03-06 15:24] #17922 closed

[2022-03-06 15:58] ne20002 commented on #18003
Sorry, I hoped that this may also pop up for other users.
[code]

It's a Linksys WRT3200ACM, upgraded from 21.02.1 to 21.02.2 with 'Attended Sysupgrade'.

[2022-03-06 16:16] ne20002 commented on #18003
Ok,
as this wasn't an obvious bug, I tried the following:
- made a backup of settings
- rebooted to alternate partition (which is still on 21.02.1)
- generated a new 'Attended Sysupgrade' and installed with keeping settings

Now the dependency is shown. So it seems it was a problem with the previous sysupgrade build

Sorry for inconvenience.

I'll close it.

[2022-03-06 16:16] #18003 closed

[2022-03-06 16:25] ne20002 commented on #17406
Fixed the dependency problem.

If the dependency is really required for installing only a bouncer ... ok for me. But for Openwrt devices I assume the install including the geoIp database is too much. Routers usually don't have that much free space.

Anyway: thank you for your work and help.

[2022-03-06 16:31] erdoukki commented on #17406
the issue about geoip database is also resolved in a PR of CrowdSec package already proposed and waiting for review.
the default will be, now without geoip, which must be, if needed and possible, installed manually

[2022-03-06 16:42] ne20002 commented on #17406
I'll wait and give it a try when it's available. :)

Also: current crowdsec pakage is 16.7 MB ... I still think a minimum package for only a bouncer talking to a lapi on another device would be a good thing for a router.

[2022-03-06 18:01] trippleflux commented on #17871
Does anyone have any progress?

@tiagogaspar8

I assume the configuration file that you were referring is ../files/miniupnpd.init?

[2022-03-07 03:05] champtar commented on #17964
https://github.com/openwrt/openwrt/issues/9407

[2022-03-07 07:36] jglooije opened #18011 "minidlna fails after ffmpeg update to 5.0"
Maintainer: @\Ted Hess <thess@kitschensync.net>, Ian Leonard <antonlacon@gmail.com>
Environment: Openwrt trunk (latest 6 march 2022)

Description:

Minidlna fails after update ffmpeg v5.0, after reverting this patch minidlna was working again.

Error loading shared library libavformat.so.58: No such file or directory (needed by /usr/sbin/minidlnad)
Error loading shared library libavcodec.so.58: No

[2022-03-07 08:07] erdoukki commented on #17406
a cscli command line only package will be proposed and added to the CrowdSec package.
Instead of a revert of the removal of crowdsec "full" package dependency, this may give a solution of the usages of bouncer only.
A depends of crowdsec *or* crowdsec-cli will be added to the bouncers (actually only crowdsec-firewall-bouncer is the only merged in master).

[2022-03-07 08:30] ne20002 commented on #17406
This sounds like a good solution.

[2022-03-07 08:49] erdoukki commented on #17406
on the actual (tests) build on mvebu / armada37xx, I get the two packages as:
[code]

[2022-03-07 09:09] erdoukki commented on #17406
https://github.com/openwrt/packages/pull/17989

[2022-03-07 09:40] stintel commented on #17871
This is a bad idea, as restarting fw4 will result in all rules added by miniupnpd being removed. One of the advantages that nftables brings is that you do *not* need to use the same table.

[2022-03-07 13:05] ne20002 commented on #17406
I'll wait for the new packages and give it a try on my Wrt3200ACM, Thank you very much.

I still wonder if the cscli is really neccesary. I'm new to Crowdsec and just setting this up for my network, I indeed love the concept. Isn't the cscli only required for registering the bouncer at the lapi? If so, I believe this can be done manually on the lapi and copying the credentials to the bouncer's con

[2022-03-07 13:43] erdoukki commented on #17406
I will remove the cscli command from the firewall-bouncer if the cscli command line is not present, then without forced dependency to crowdsec or crowdsec-cli, it will get all uses cases possible.
If crowdsec-cli cli only) is installed, the cscli command line will be used to register locally the bouncer.
If crowdsec (full agent) is present, the normal registering will work.
If no cscli command lin

[2022-03-07 19:10] leonpano2006 commented on #17922
not openwrt
is asuswrt
and deb just example how it should be

[2022-03-07 19:52] leonpano2006 commented on #17922
is not openwrt
is asuswrt
and that .deb is for debootstrap to make debian chroot

[2022-03-07 20:41] user2084 opened #18020 "banip: Fails to create report via CLI, while the luci app works"
**Maintainer**: @dibdot
**Environment**: MikroTik RouterBOARD 750Gr3, OpenWrt 21.02.1 r16325-88151b8303

**Description**:
`/etc/init.d/banip report gen` does not generate a new report. I have to run LUCI banip app -> IPSet Report -> "Refresh" (which however seems to just call that command via [fs.exec_direct()](https://github.com/openwrt/luci/blob/2044c3439df08b2f7bf1dcdbb9b41621431d24fb/applicati

[2022-03-07 22:20] oskarirauta opened #18022 "silencer: new fail2ban / banip replacement?"
Maintainer: Oskari Rauta \ @oskarirauta
Environment: any?

I was looking for a replacement for banip due to missing nftables/fw4 support- and found crowdsec. After awhile I came to conclusion that it is way too complex, although it's probably very good when perfectly setup- I just couldn't be sure if I had set it up at all so it would work- also, I ditched idea of fail2ban. So I started searching

[2022-03-08 09:50] #18022 closed

[2022-03-08 09:53] oskarirauta commented on #17991
Yes, I opted it out in the configuration. You do not need to split packages; just make sure option is selected if user wants libreswan. For some reason I opted it out.. Can't remember why..

[2022-03-08 09:56] #17692 closed

[2022-03-08 10:09] Nimrod-666 opened #18023 "Country block don't works"
Hi, i tried to set up the country blockling with banip but it don't works, or it don't works like expected. I would expect that it'll block outgoing and incoming http/https requests to countries that are blacklisted by banip.

So as a test i added poland unter "Country Selection" and reloaded the list. Then i looked after a well known polish website like "allegro.pl", made a dns lookup on the uri

[2022-03-08 11:02] G-M0N3Y-2503 commented on #16818
Is anyone familiar with the capabilities/limitations of `iptables-nft`?
As far as I am aware docker depends on `iptables` quite heavily in its default configuration so the compatibility layer is its best hope for now.
As a quick hack, I've made `dockerd` depend on `iptables-nft` and all the `kmod-nf-*` and I'm getting the following error.
[code]
I also take it that the `kmod-ipt-*` packages are de

[2022-03-08 11:32] brada4 commented on #16818
It works just fine on CentOS8 and Debian 10,11, with iptables-nft.

[2022-03-08 11:58] user2084 commented on #18020
`/usr/bin/banip.sh report gen` as cronjob works fine. [Running manually with cron environment](https://serverfault.com/a/691030) via CLI fails.
Examples from above show different results as cronjob:
[code]
So it seems a general linux/ash thing. I can live with the cronjob solution for now. As it is not really banip related, I am going to close this issue.

[2022-03-08 11:58] #18020 closed

[2022-03-08 11:58] dangowrt commented on #16818
@G-M0N3Y-2503 When using podman there are cni-plugins (iptables) and cni-plugins-nft (nftables) package, so you can choose which firewall API you would like yo use.

[2022-03-08 17:37] erdoukki commented on #17804
resolve by : https://github.com/openwrt/packages/pull/18015

[2022-03-08 17:37] #17804 closed

[2022-03-08 18:32] trippleflux commented on #17871
My WAN is a PPPOE client, when miniupnpd-nftables bring up somehow my ext_ifname inside /var/etc/miniupnpd.conf is "br-lan", after quick search, found out the following to fixes my ext_ifname & ext_ifname6 :
[code]

Environments :
[code]

[2022-03-08 22:36] G-M0N3Y-2503 commented on #16818
@dangowrt, it looks like docker doesn't integrate with CNI unfortunately, but that might be a good workaround if needed.
But, @brada4, you have a point, I'll see how those distros make it work.
Thanks, guys.

[2022-03-09 01:39] martinschneider commented on #17742
Duplicate of #17152.

[2022-03-09 02:20] #17742 closed

[2022-03-09 04:02] BabochkaAce commented on #16818
[odhcpd](https://github.com/libremesh/lime-packages/issues/294) or unbound support nftables?

[2022-03-09 08:36] martinschneider commented on #17232
I cannot reproduce this. My steps are:

[code]

This successfully creates `bin/packages/mipsel_24kc/packages/boringssl_20210608-1_mipsel_24kc.ipk`.

Is there anything I'm missing?

[2022-03-09 08:40] brada4 commented on #16818
@BabochkaAce those high level network servers have no intersection with low level packet manipulation. You can check upstreams btw

[2022-03-09 08:47] #18023 closed

[2022-03-09 08:50] Nimrod-666 opened #18035 "banip: Country block don't work as expected"
Maintainer: @dibdot
Environment: OpenWrt 21.02.2 on Linksys EA8300

Description:

Hi, i tried to set up the country blockling with banip but it don't works, or it don't works like expected. I would expect that it'll block outgoing and incoming http/https requests to countries that are blacklisted by banip.

So as a test i added poland unter "Country Selection" and reloaded the list. Then i looked

[2022-03-09 09:38] BabochkaAce commented on #16818
@brada4 I don't understand

[odhcpd](https://github.com/libremesh/lime-packages/issues/294) or unbound support nftables?

YES OR NOT

[2022-03-09 10:04] neheb commented on #17232
sounds like adding volatile will fix it.

[2022-03-09 10:12] walterav1984 commented on #16500
This current merged [fix](https://github.com/openwrt/packages/pull/17896) has been tested and verified working both under "OpenWrt SNAPSHOT r19075-ed364cd4b0" as of today master branch and "manually patched" 21.02.2 branch using a Raspberry Pi1 as OpenWrt router and Fritzbox 6490 as Satip server&tuner.

It however still needs backporting to 21.02.x branch with simply a cherrypick and no further ch

[2022-03-09 10:14] neheb commented on #16500
Typically the former.

[2022-03-09 10:35] feckert commented on #16818
I am currently testing the mwan3 for nftables.
Since it is not possible to rewrite into native nftables in the short time, I am using iptables-nft translation.
So far everything seems to work for ipv4.
But I have problems loading the icmp6 rules.
https://github.com/openwrt/packages/blob/de9fce568b4d1a2a12cd67312449b0825880c89b/net/mwan3/files/lib/mwan3/mwan3.sh#L274-L277

I always get the follwing

[2022-03-09 10:44] brada4 commented on #16818
@BabochkaAce these two applications are in no way related to network filtering. NO they do not support iptables in any form, never did, never will. YES there is no problem whatsoever.

[2022-03-09 11:47] ArrogantDevelopers commented on #16818
@brada4 thanks for answering my simple question, almost two weeks and none of the developers answered the question and they just ignored it.

then they become the victims when they are the ones who create the problems.

[2022-03-09 18:09] BKPepe commented on #18011
Caused by this: https://github.com/openwrt/packages/pull/17968

ping: @graysky2 , @neheb

cc: @diizzyy

[2022-03-09 20:57] dibdot commented on #18035
Most probably a configuration issue, provide your banIP config.

[2022-03-10 01:28] martinschneider commented on #17152
This is https://bugs.chromium.org/p/boringssl/issues/detail?id=485 in the BoringSSL bug tracker, but it is [not a priority](https://boringssl.googlesource.com/boringssl/) and might require some efforts from the OpenWrt community to fix.

Alternatively, I am considering marking [this target](https://www.yumpu.com/en/document/read/49005004/fa526-32-bit-risc-cpu-faraday-technology-corporation) as not

[2022-03-10 04:49] predators46 opened #18039 "OpenLDAP 2.6 libldap_r.so is missing"
I found a solution. did openwrt fix this?

https://github.com/python-ldap/python-ldap/issues/432#issuecomment-974799221

[2022-03-10 06:30] erdoukki commented on #16818
If I can ask for a "refresh" ?

Today (20220310) on Master:
[code]

[code]

[2022-03-10 06:34] jefferyto commented on #18039
It appears that is a workaround for python-ldap - since there is no python-ldap package here currently, there is nothing to work around for.

[2022-03-10 06:46] predators46 commented on #18039
I mean openldap must be repaired because when the process of making openldap in openwrt using openldap-2.6 libldap_r.so does not exist. all this openldap problem in version 2.5 and 2.6. I include the link for openldap repair reference

[2022-03-10 06:58] jefferyto commented on #18039
Why do you need libldap_r.so? What software are you using that needs this?

[2022-03-10 08:18] tirzasrwn commented on #7083
Thanks, this also work for me.

[2022-03-10 09:15] Nimrod-666 commented on #18035
Hi @dibdot, here's my config. Do you need something in particular?

`root@openwrt:~# uci show | grep banip
banip.global=banip
banip.global.ban_debug='0'
banip.global.ban_logsrc_enabled='0'
banip.global.ban_logdst_enabled='0'
banip.global.ban_autoblacklist='1'
banip.global.ban_autowhitelist='1'
banip.global.ban_nice='0'
banip.global.ban_maxqueue='4'
banip.global.ban_global_settype='src+dst'
banip.g

[2022-03-10 09:25] dibdot commented on #18035
You haven't enabled the source "country" in the Sources Selection.

[2022-03-10 14:25] Nimrod-666 commented on #18035
Hi, oh my bad! But it's active now but for a tast i added poland and tried "allegro.pl" again, without any change. I can still reach the website. I made a traceroute and the first hop is my openwrt router. Please tell me what logs you need for a debugging.

[2022-03-10 14:28] BerrybuttMontana commented on #16818
u miss add[ kmod-sched](url) and` tc-full` in the package list....

[2022-03-10 14:28] BerrybuttMontana commented on #16818
u miss add[ kmod-sched](url) and` tc-full` in the package list....

[2022-03-10 16:18] dibdot commented on #18035
Most probably you've misconfigured your banIP interfaces too, usually that's your wan interface(s) (and not lan or guest etc.). Maybe you should start with the interface autodetection and go from there ...

[2022-03-10 23:08] neheb commented on #17308
is this still an issue?

[2022-03-10 23:16] neheb commented on #17669
I have a potential fix for glib2: https://github.com/neheb/openwrt/commit/4127e3435203a7da3992928aa8e54070273177e2

@httpstorm can you test?

[2022-03-11 04:31] httpstorm commented on #17669
@neheb Hi Rosen! No difference, unfortunately: https://pastebin.com/Tgfkb7nL
I applied your changes on top of a freshly cloned master. I could not checkout the commit directly, because it does not belong to a branch.

[2022-03-11 04:35] neheb commented on #17669
Unfortunate.

[2022-03-11 04:58] neheb commented on #17669
[code]

[code]

is needed here. It's specified in HOST_LDFLAGS. Wonder why it's missing...

Although currently libiconv-full/host is not built as a shared library to avoid any rpath hackery.

Then again, I also remember macOS not liking static libraries for some reason.